/* Resets
/* ------------------------------------------------- */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
html {
	height: 100%;
}
html, body {
	margin: 0;
	padding: 0;
	background: @maingray;
}
html, body {
	 color: @gray20;
}
body {
	color: @gray50;
	font-family: @mainfont;
	font-size: 100%;
	font-weight: 300;
	overflow: hidden;
	.fadein;
}
.cf:before,
.cf:after {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}

/* Common UI Elements */
a,
button {
	outline: 0;
	cursor: pointer;
}

a, a:hover {
	text-decoration: none;
}

a {
	color: @accent;
	text-decoration: none;
	&:hover {
		color: @accenthover;
	}
}
a,
a:before,
a:after {
	.trans;
}
a:hover,
a:focus,
a:active,
input,
input:focus,
button,
button:active {
	outline: 0;
}
input,
button,
textarea,
select {
	font-family: @mainfont;
	margin: 0;
	outline: 0;
}
iframe {
	width: 100%;
	min-height: 100%;
	border: 0;
	background: transparent;
}
ul {
	.ulist
}
::selection {
	background: @gray75;
	text-shadow: none;
}

/* Placeholder styling */
::-webkit-input-placeholder {
   color: @gray70 !important;
}
:-moz-placeholder {
   color: @gray70 !important; 
}
::-moz-placeholder {
   color: @gray70 !important;  
}
:-ms-input-placeholder {  
   color: @gray70 !important;  
}

/* Color swatch styling */
::-webkit-color-swatch-wrapper {
	padding: 0;
}
::-webkit-color-swatch {
	border: none;
}