/* Resets
/* ------------------------------------------------- */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
html {
	height: 100%;
}
html, body {
	margin: 0;
	padding: 0;
	background: @gray5;
}
html, body, p, div {
	 color: @gray20;
}
body {
	font-family: @mainfont;
	font-size: 100%;
	.fade-in;
	overflow: hidden;
}

/* Common UI Elements */
a,
button {
	cursor: pointer;
}

a, a:hover {
	text-decoration: none;
}

a {
	color: @accent;
	text-decoration: none;
	&:hover {
		color: @accenthover;
	}
}
a,
a:before,
a:after {
	.trans;
}
a:hover,
a:focus,
a:active,
input,
input:focus,
button,
button:active {
	outline: 0;
}
input,
button,
textarea,
select {
	font-family: @mainfont;
	margin: 0;
	outline: 0;
	box-shadow: none !important;
}
iframe {
	width: 100%;
	min-height: 100%;
	border: 0;
	background: transparent;
}
ul {
	.ulist
}

/* Placeholder styling */
::-webkit-input-placeholder {
   color: red;
}
:-moz-placeholder {
   color: red;  
}
::-moz-placeholder {
   color: red;  
}
:-ms-input-placeholder {  
   color: red;  
}