/* Resets */
/* ------------------------------------------------- */

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
html, body {
  background: @bgcolor;
  overflow-x: hidden;
}
body {
  font-family: @mainfont;
  font-size: 100%;
  color: #444;
  .fade-in;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
img {
  width: 100%;
}
a,
button {
  cursor: pointer;
}

a, a:hover {
  text-decoration: none;
}

a {
  color: @accent;
  text-decoration: none;
  .trans;
  &:hover {
    color: @accenthover;
  }
}
a:hover,
a:focus,
a:active,
input,
input:focus,
button,
button:active {
  outline: 0;
}

a,
a:link,
a:visited,
a:active,
a img,
a .icon {
  -webkit-transition-duration: 0.33s;
  -webkit-transition-property: color, background, text-shadow, border, opacity, text-decoration;
  -moz-transition-duration: 0.33s;
  -moz-transition-property: color, background, text-shadow, border, opacity, text-decoration;
  -o-transition-duration: 0.33s;
  -o-transition-property: color, background, text-shadow, border, opacity, text-decoration;
  transition-duration: 0.33s;
  transition-property: color, background, text-shadow, border, opacity, text-decoration;
  text-decoration: none;
}

input,
button,
select {
  margin: 0;
  outline: 0;
}
iframe {
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
}

/* Selection */
::selection {
  background: @accent;
  color: #FFF;
  text-shadow: none;
}

/* Table Styling */

table {
width: 100%;
text-align: left;
border-collapse: collapse;
border-spacing: 0;
}
table th {
color: @gray12;
.smallcaps;
}
table td {
color: @gray20;
cursor: pointer;
.trans;
}
table th, table td,
table.dataTable tbody th, table.dataTable tbody td {
padding: 1em .8em!important;
}

table tr.odd td {
background: @gray5;
}

table tr:hover td {
color: #FFF;
}

table.dataTable tbody tr {
  background-color: transparent!important;
  border-color: transparent!important;
}

table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td, 
table.dataTable.display tbody th, 
table.dataTable.display tbody td,
table.dataTable thead td,
table.dataTable thead th   {
  border-color: transparent!important;
}

table.dataTable thead th {
  border-top: 1px solid @dkgray!important;
}

/* Expand/Collapse icon */
table td a.icon-plus2 {
display: block;
text-align: center;
margin: 0 auto;
}

td.details-control i.icon-add2:before {
  color: @accent;
}

table.dataTable.no-footer {
  border-bottom: 1px solid @dkgray!important;  
}

/* Search Field */

.dataTables_filter input {
.round-radius;
background: @gray5;
border-color: transparent;
}

.dataTables_wrapper .dataTables_paginate {
  padding: 0px!important;
}

.btn.btn-csv {
  margin: 20px 0px;
  padding: .53em 1.2em;
}

.dataTables_info {
  margin-top: 15px;
}

.pagination>li>a, .pagination>li>span {
  background: @gray20;
  border-color: transparent;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
   background: @gray5;
  border-color: transparent;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  border-color: transparent;
  background: @dkgray;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
 color: @gray20!important; 
}

.table-scrollable {
    margin-top: 30px;
}

/* Donors List Search */
.donors-list > input {
  background: @gray5;
  width: 90%!important;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: @gray5;
  color: @gray80;
  .round-radius;
  border-color: transparent;
  padding: 6px 12px;
  }