/* Campaigns Sidebar List Styling */

.campaigns-list-wrap {
    width: @campaigns-list-wrap-width;
    height: 100%;
    position: fixed;
    top: @top-menu-height;
    left: @primary-nav-width;
    background-color: @dkgray;
}

.campaigns-list-wrap h2 {
    font-size: 24px;
    color: @accent;
    line-height: @top-menu-height;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
}

.campaigns-list-wrap .campaign-quicknav {
    width: 100%;
    line-height: 50px;
    height: 50px;
    border-bottom: solid 1px @bgcolor;
}

.campaigns-list-wrap .campaign-quicknav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.campaigns-list-wrap .campaign-quicknav ul li, .campaigns-list-wrap .campaign-quicknav ul li a  {
    display: inline-block;
}

.campaigns-list-wrap .campaign-quicknav ul li a {
    padding: 6px 10px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
    color: @gray20;;
}

.campaigns-list-wrap .campaign-quicknav ul li a:hover, .campaigns-list-wrap .campaign-quicknav ul li a.active {
	color: @white;
}

.campaign-item {
    padding: 15px 25px;
    margin: 0px;
    position: relative;
    display: block;
    width: 100%;
}

.campaign-item.active {

}

.campaign-item.active:before {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent @bgcolor transparent transparent;
  position: absolute;
  right: 0px;
  top: 40%;
}

.campaign-item h3 {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    font-size: 16px;
    font-weight: 400;
}

.campaign-item h4   {
    font-size: 14px;
    color: @gray20;
}

.campaign-item p {
    margin-top: 10px;
    color: @accent;
    margin-bottom: 0px;
}


/* Campaign Edit Styling */

.campaign-actions {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  background: @gray5;

  .campaign-nav {

    padding-left: 0px;
    padding-right: 0px;

  }

    ul {

        li {

        display: block;
        float: left;

            a {
            display: block;
            float: left;
            font-size: 12px;
            height: 50px;
            color: @gray20;
            text-transform: uppercase;
            letter-spacing: 1px;

                .icon {
                font-size: 18px;
                font-weight: bold;
                line-height: 50px;
                color: @gray20;
                }

            }

            a:hover, a:hover .icon {
                color: @white;
            }

        }

    }

    .campaign-quick-links {
        
        list-style: none;
        text-align: left;
        padding-right: 0px;
        padding-left: 0px;
            
        li {
            a {
                width: 50px;
                border-right: 1px solid @bgcolor;
                text-align: center;
            }
        }

        li.active a {
            background: @bgcolor;
            color: @white;
        }

        li.active .icon {
            color: @white;
        }
    }

    .campaign-buttons {
        list-style: none;
        text-align: right;
        padding-right: 0px;
        padding-left: 0px;
        float: right;
        margin-bottom: 0px;

        li {
            a {
                padding-right: 20px;
                padding-left: 20px;
                border-left: 1px solid @bgcolor;
                text-align: center;
                line-height: 50px;

                .icon {
                    float: left;
                    line-height: 46px;
                    padding-right: 10px;
                }
            }
        }
    }

}


.campaign-edit-wrap {
  padding: 60px;
}

/* Campaign View Styling */

.campaings-view-wrap {
  width: 100%;
  padding-left: @campaigns-list-wrap-width + @primary-nav-width;
}

.campaign-view-selected {
  padding: 60px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

}

.donation-overview {
position: relative;
text-align: center;
margin-bottom: 3em;
.border-radius;
background: @gray5;
overflow: hidden;
}
.donation-overview .d-figure {
float: left;
color: @gray30;
padding: 1.6em 2em;
width: 25%;
width: -webkit-calc(100% / 4);
width: calc(100% / 4);
border-left: solid 1px @bgcolor;
}
.donation-overview div:first-child {
border: 0;
}
.donation-overview .d-figure span {
display: block;
color: @gray80;
font-size: 2.6em;
font-weight: 300;
letter-spacing: -1px;
}
.donation-overview .d-figure.raised-total span {
color: @accent;
}

.progress {
    border-radius: 0px;
    margin-bottom: 0px;
    background: @gray20;
}

.progress-line {
    position: relative;
    color: #FFF;
    height: 20px;
    .smallcaps;
    background: @accent;
    -webkit-animation: animate-bar 1s 1 ease;
    animation: animate-bar 1s 1 ease;
}

/* Top Donor */

.top-donor {
  border-top: solid 1px @bgcolor;
  padding: 1.6em 2em;
}


/* Donations & Campaigns Table Styling */

.campaign-view-selected {
    .table-scrollable {
        margin-top: 30px;
    }
}