/* Campaigns Sidebar List Styling */

.campaigns-list-wrap {
    width: @campaigns-list-wrap-width;
    height: 100%;
    position: fixed;
    top: @top-menu-height;
    left: @primary-nav-width;
    background-color: @dkgray;
}

.campaigns-list-wrap h2 {
    font-size: 24px;
    color: @accent;
    line-height: @top-menu-height;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
}

.campaigns-list-wrap .campaign-quicknav {
    width: 100%;
    line-height: 50px;
    height: 50px;
}

.campaigns-list-wrap .campaign-quicknav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.campaigns-list-wrap .campaign-quicknav ul li, .campaigns-list-wrap .campaign-quicknav ul li a  {
    display: inline-block;
}

.campaigns-list-wrap .campaign-quicknav ul li a {
    padding: 6px 10px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
}

.campaigns-list-wrap .campaign-quicknav ul li a:hover, .campaigns-list-wrap .campaign-quicknav ul li a.active {
	color: @darklinkhover;
}

.campaign-item {
    padding: 15px 25px;
    margin: 0px;
    position: relative;
    display: block;
    width: 100%;
}

.campaign-item.active {

}

.campaign-item.active:before {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent @gray20 transparent transparent;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-bottom: -50%;
}

.campaign-item h3 {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    font-size: 16px;
    font-weight: 400;
}

.campaign-item h4   {
    font-size: 14px;
}

.campaign-item p {
    margin-top: 10px;
    color: #fff;
    margin-bottom: 0px;
}


/* Campaign Edit Styling */

.campaign-actions {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  background: @gray5;

    ul {

        li {

        display: inline-block;

            a {
            display: inline-block;
            font-size: 12px;
            height: 50px;
            color: @gray70;
            text-transform: uppercase;
            letter-spacing: 1px;

                .icon {
                font-size: 18px;
                font-weight: bold;
                line-height: 50px;
                color: @gray70;
                }

            }

            a:hover, a:hover .icon {
                color: @white;
            }

        }

    }

    .campaign-quick-links {
        
        list-style: none;
        text-align: left;
        padding-right: 0px;
        padding-left: 0px;
            
        li {
            a {
                width: 50px;
                border-right: 1px solid @bgcolor;
                text-align: center;
            }
        }

    }

    .campaign-buttons {
        list-style: none;
        text-align: right;
        padding-right: 0px;
        padding-left: 0px;

        li {
            a {
                padding-right: 20px;
                padding-left: 20px;
                border-left: 1px solid @bgcolor;
                text-align: center;
            }
        }
    }

}


.campaign-edit-wrap {
  padding: 60px;
}

.campaings-view-wrap {
  width: 100%;
  padding-left: @campaigns-list-wrap-width + @primary-nav-width;
}

.campaign-view-selected {
  padding: 60px;
}

.donor-view-wrap, #sidepanel, .account-settings {
	width: 100%;
	padding-left: @campaigns-list-wrap-width + @primary-nav-width + 60px;
	padding-top: 30px;
	padding-right: 60px;
	padding-bottom: 60px;
}

.account-settings {
	width: 100%;
	padding-left: @primary-nav-width + 60px;
	padding-top: 30px;	
	padding-bottom: 60px;
}
