/* line 4, /usr/share/nginx/html/pullr/common/web/css/common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/html\/pullr\/common\/web\/css\/common\.less}line{font-family:\000034}}
form input,
form select {
  max-width: 400px;
}
/* line 8, /usr/share/nginx/html/pullr/common/web/css/common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/html\/pullr\/common\/web\/css\/common\.less}line{font-family:\000038}}
form fieldset {
  margin-bottom: 10px;
}
/* line 9, /usr/share/nginx/html/pullr/common/web/css/common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/html\/pullr\/common\/web\/css\/common\.less}line{font-family:\000039}}
form fieldset legend {
  color: #ffffff;
}
