@import "variables.less";

form {
    input, select{
        max-width: 400px;
    }
    
    fieldset{
        legend {
            color: @pullr-text-color;
        }
        margin-bottom: 10px;
    }
}