@import "pullr-variables.less";
@import "pullr-type.less";
@import "app-styles/variables.less";
@import "app-styles/forms.less";
@import "app-styles/charts.less";
@import "app-styles/nav.less";
@import "app-styles/dashboard.less";
@import "app-styles/pages.less";
@import "app-styles/donations.less";
@import "app-styles/account.less";
@import "app-styles/login.less";
@import "app-styles/campaigns.less";
@import "app-styles/main.less";
@import "app-styles/tables.less";
@import "app-styles/animations.less";

/* Base Styles */

html {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    text-rendering:optimizeLegibility; 

}

html,
body {
    background-color: @bgcolor;
    .main();
}

body {
    font-size: 14px;
    color: #4e4e4e;
}

a, a:link, a:visited, a:active {
    -webkit-transition-duration: 0.33s;
    -webkit-transition-property: color, background, text-shadow, border, opacity, text-decoration;
    -moz-transition-duration: 0.33s;
    -moz-transition-property: color, background, text-shadow, border, opacity, text-decoration;
    -o-transition-duration: 0.33s;
    -o-transition-property: color, background, text-shadow, border, opacity, text-decoration;
    transition-duration: 0.33s;
    transition-property: color, background, text-shadow, border, opacity, text-decoration;
    text-decoration: none;

}

.navbar-fixed-top {
    display: none;
}

.page-container{
    margin-left: 260px;
    color: white;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

form {
    input, select, textarea,.form-row, .user-images, .alert{
        max-width: 400px;
    }

    fieldset{
        margin-bottom: 10px;
    }
}

/*modal form have different with*/
.modal form{
    .alert{
        max-width: none;
    }
}
.dataTable{
    .odd{
        a{
            color: lighten(@pullr-link-color, 15%);
        }
    }
}

.content-container{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}

@pull-layout-icon-size: 40px;
.content-container-layout{


    .pullr-layout-container{
        padding: 0px;

        .pullr-layout{
            background-color: lighten(@pullr-background, 20%);
            min-height: 150px;
            /*padding-top: 50px;*/
            /*padding-left: 10px;*/
            margin: 10px;
            position: relative;
            .main-info{
                position: absolute;
                background-color: lighten(@pullr-background, 20%);
                left: 0px;
                top: 0px;
                .layout-type{
                    color: #000;
                }
                transition: 0.5s;
                padding-top: 50px;
                padding-left: 10px;
                min-height: 130px;
            }
            .change-icons{
                padding-left: 15px;
                font-size: 1.2em; 
                padding-top: 35px;
                width: @pull-layout-icon-size;
            }
        }

        .pullr-layout:hover{
            .main-info{
                left: @pull-layout-icon-size;
            }
        }
    }
}

.page-wrapper.charity-expand, .page-wrapper.charity-expand {
    margin-left: 30%;
}

.table-cell{
    display: table-cell;
    float: none;
}

.modal{
    color: #000;
}

.twitchLogin{
    color: red;
}

@campaigns-left-menu-width : 300px;
.campaigns-left-menu{
    float: left;
    width: @campaigns-left-menu-width;
    height: 100%;
    border-right: #000 3px solid;

    .btn-group{
        margin-top: 20px;
    }

    .campaigns-list{
        margin-top: 30px;
    }

    .campaigns-list>a{
        display: table;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: #000 2px solid;
    }
    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
    .campaigns-list>a:hover, .campaigns-list>a.active{
        background-color: #fff;
    }
    .trash{
        float: right;
        margin-top: 28px;
        margin-right: 10px;
        color: #888;
        font-size: 1.2em;
    }
    .trash.active{
        color: #fff;
        font-weight: bold;
    }
}

@border : #000 2px solid;
.campaings-view-selected{
    overflow: hidden;
    margin-left: @campaigns-left-menu-width;
    .campaign-actions{
        margin: 10px auto;
        max-width: 800px;

    }

    .campaign-overview-tops{
        .col-xs-6 div:first-child{
            font-size: 1.6em;
        }
        .col-xs-6:first-child{
            border-right: @border;
        }

        .col-xs-6{
            padding: 20px 0px;
        }
    }

    .campaign-overview-general-number{
        padding: 40px 50px; 
        border-bottom: @border;
        .col-xs-3 div:first-child{
            font-size: 2em;
            font-weight: bold;
        }
    }

    #campaign-donations_wrapper, #campaign-overview{
        border: @border;
        margin: 20px 10px; 
    }
}