@import "base.less";
@import "variables.less";
@import "type.less";
@import "forms.less";


/* Global Styles */
/* ------------------------------------------------- */
body {
	font-size: @basefontsize;
	height: 100%;
}
.streamboardContainer {
	height: 100%;
}
	body.campaignflow {
		overflow: auto;
	}


/* Components */
/* ------------------------------------------------- */
.pane {
	bottom: 0;
	.slowtrans;
}
.hide {
	display: none;
}
.large {
	font-size: 2em;
}
.highlight {
	color: @accent !important;
}

/* Buttons */
/* ------------------------------------------------- */
.btn {
	font-family: @mainfont;
	font-size: 1em;
	outline: 0;
	margin: 0 .1em;
	border: 0;
	.border-radius();
	.slowtrans();
	&:hover {
		color: @white;
		outline: 0;
		border: 0;
	}
	&:focus,
	&:active,
	&:active:focus {
		outline: 0;
		box-shadow: none;
	}
	&:not(.btn-xs):not(.btn-sm):not(.bnt-lg){
	  font-weight: 600;
	  line-height: 46px;
	  padding: 0 1.4em;
	  height: 46px;
	}
}
.btn-default {
	background-color: @accent;
	color: @white;
	&:hover {
		background-color: @accenthover;
	}
}
.btn-primary {
	background-color: @accent;
	color: @white;
	&:hover {
		background-color: @accenthover;
	}
}
.btn-secondary {
	background-color: @gray75;
	color: @gray30;
	&:hover {
		color: @gray30;
		background-color: @gray70;
	}
}
.btn-sm {
	font-size: @smalltext;
	line-height: 33px;
	padding: 0 1.4em;
	height: 33px;
}
.btn-link {
	padding: 0;
}
.btn-csv {
	float: right;
	color: @white;
	margin-right: 20px;
	background: @gray60;
}
.btn-container {
	text-align: center;
	padding-top: @halfgutter;
}


/* Main Data Containers */
/* ------------------------------------------------- */
.stats-overview {
	text-align: center;

	h5 {
		margin-top: .2em;
	}

	/* Main Number Values */
	&.main-values {
		background: @accent;

		.stats-box {
			width: 50%;
			border-left: solid 1px @dkaccent;
		}
		h1,
		h2 {
			color: @white;
			margin: 0;
		}
		h5 {
			color: @dkraccent;
		}
	}

	.stats-box {
		padding: 1.4em 0;
		min-height: 110px;
		border-left: solid 1px @gray75;
		&:first-child {
			border-left: 0px;
		}

		h2,
		h3 {
			display: block;
			color: @gray20;
			font-weight: 300;
			margin: 0;

			span {
				position: relative;
				top: -2px;
				display: inline-block;
				color: @gray20;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.4em;
				padding: 0 .6em;
				margin-left: 3px;
				background: @gray75;
				.round-radius;
			}
		}
		&.raised-total,
		&.top-donation {
			border-left: 0;
		}
		&.top-donor,
		&.top-donation {
			border-top: solid 1px @gray75;
		}
	}
	.progress-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		.progress {
			position: relative;
			font-weight: 600;
			width: 100%;
			height: 6px;
			z-index: 1;
			overflow: visible;

			.progress-line {
				line-height: 6px;

				span {
					display: block;
					height: 6px;
					width: 100%;
				}
			}
		}
		.tooltip {
			right: -25px;
			left: auto !important;
			text-align: center;
			width: 50px;

			.tooltip-inner {
				padding: 5px 0;
				background: @dkraccent;
			}
			&.top .tooltip-arrow {
				border-top-color: @dkraccent;
			}
		}
	}
}

/* Progress Bars */
/* ------------------------------------------------- */
.progress {
	border-radius: 0px;
	margin-bottom: 0px;
	height: 20px;
	background: @dkaccent;

	.progress-line {
		position: relative;
		color: #FFF;
		text-align: right;
		line-height: 20px;
		height: 20px;
		max-width: 100%;
		.smallcaps;
		background: @dkraccent;
		.animate-bar;
	}
}


/* Content Navigation */
/* ------------------------------------------------- */
ul.content-nav {
	height: @sidenavheight;
	background: @offwhite;
	border-bottom: solid 1px @gray75;

	li {
		position: relative;
		float: left;
		display: inline-block;
		border: 0;
		border-right: solid 1px @gray75;
		&.active a,
		&.active a:hover {
			color: @gray40;
			background: @white;
		}
		a {
			display: block;
			color: @gray60;
			font-weight: 600;
			line-height: @sidenavheight;
			padding: 0 20px;
			width: 100%;
		}
	}
}


/* Sidebar Navigation */
/* ------------------------------------------------- */
ul.panel-nav {
	line-height: @top-menu-height;
	height: @top-menu-height;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	background: @maingray;
	z-index: 9999;
	overflow: hidden;

	li {
		position: relative;
		float: left;
		overflow: hidden;

		&.active a {
			color: @white;
			-webkit-box-shadow: inset 0 -5px 0 0 @accent;
			-moz-box-shadow: inset 0 -5px 0 0 @accent;
			box-shadow: inset 0 -5px 0 0 @accent;
		}
		a {
			display: block;
			color: @gray30;
			font-size: 18px;
			font-weight: 400;
			line-height: @top-menu-height;
			width: 100%;
			&:hover {
				color: @white;
			}
		}
	}
}


/* Sidebar Components */
/* ------------------------------------------------- */
h3.list-title {
	color: @gray30;
	margin-bottom: 2px;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.2em;
	.trans;
}
p.list-total {
	display: inline-block;
	color: @gray30;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4em;
	margin-top: 6px;
	margin-bottom: 0;
	padding: 0 .8em;
	background: @gray12;
	.round-radius;
	.trans;
}
span.list-info {
	font-size: @fineprint;
}


/* Tooltips */
/* ------------------------------------------------- */
.tooltip {
	font-size: @smalltext;

	&.tooltip.in {
		opacity: 1;
	}
	.tooltip-inner {
		padding: @halfgutter;
		background: @gray20;
	}
}
.tooltip.top .tooltip-arrow {
	border-top-color: @gray20;
	border-width: 5px 5px 0;
}
.tooltip.right .tooltip-arrow {
	border-right-color: @gray20;
	border-width: 5px 5px 5px 0;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: @gray20;
	border-width: 0 5px 5px;
}


/* Content Loader */
/* ------------------------------------------------- */
.spinner-wrap {
	background: @offwhite;
}
.spinner-wrap,
.spinner {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9999;	
}
.spinner {
	width: 60px;
	height: 32px;
	margin: 20% auto;

	div {
		display: inline-block;
		height: 30px;
		width: 6px;
		background: @gray70;
		.stretchdelay;
	}
	.rect2 {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	.rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
    .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
    .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
}

@import "app-styles/modals.less";
@import "responsive.less";