/* Forms */
/* ------------------------------------------------- */
input.form-control,
textarea.form-control,
select.form-control {
	color: @gray10;
	font-size: @basefontsize;
	outline: 0;
	padding: 0 @halfgutter;
	min-height: 45px;
	border: 2px solid @gray75;
	box-shadow: none;
	&:focus {
		border: 2px solid @gray50;
	}
}
select.form-control {
	height: 42px;
	line-height: 42px;
	background: @gray72;
}
textarea.form-control {
	padding: @halfgutter;
}
legend,
label {
	color: @gray60;
	font-weight: 400;
}
.icon-help {
	color: @gray60;
	font-size: 14px;
	margin-left: @iconspace;
}

/* Search Field Styling */
input[type='search'],
.select2-search input {
	font-weight: 400;
	min-height: 36px;
	padding: 0 @halfgutter 0 40px;
	.round-radius;
	background: @white;
	border: 0 !important;
}

/* Color Picker */
input[type='color'] {
	position: relative;
	top: 4px;
	width: 20px;
	height: 20px;
	padding: 0;
	margin-left: @iconspace;
	border: 0;
	.round-radius;
	overflow: hidden;
	cursor: pointer;
}

/* Checkboxes */
.radio,
.checkbox {
	padding: 0;
}

/* Switch Buttons */
.bootstrap-switch {
	display: block;
	max-width: 120px;
	border: solid 2px @gray75 !important;
}

/* Bootstrap Overrides */
.form-group {
	margin-bottom: @gutter;
}
.form-group .form-group,
.help-block {
	padding: 0;
	margin-bottom: @halfgutter;
}
.form-control {
	height: auto;
}