/*
/* Pullr Color Pallette
/* -------------------------------------------------------- */

/* -- Dark Grays -- */
@pullr-main-bg : #2c2d2f; 	/* Charcoal gray */
@pullr-dark-bg : #222325; 	/* Dark gray */
@pullr-link-color : #000;
@pullr-background: #2C2D2F;

/* Accents */
@pullr-text-color : #fff; /* */
@pullr-bg-lighter : #666;
@pullr-link-color : #000;
@pullr-background: #2C2D2F;
@pullr-element-background: lighten(@pullr-background, 20%);
