/* Icon fonts */
/* ------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-udazva');
  src:url('../fonts/icomoon.eot?#iefix-udazva') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-udazva') format('woff'),
    url('../fonts/icomoon.ttf?-udazva') format('truetype'),
    url('../fonts/icomoon.svg?-udazva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', 'proxima-nova', Helvetica, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pullr-support:before {
  content: "\e650";
}
.icon-pullr:before {
  content: "\e651";
}
.icon-mobile:before {
  content: "\e603";
}
.icon-mail:before {
  content: "\e604";
}
.icon-pencil:before {
  content: "\e605";
}
.icon-paperclip:before {
  content: "\e606";
}
.icon-reply:before {
  content: "\e607";
}
.icon-reply-all:before {
  content: "\e608";
}
.icon-forward:before {
  content: "\e609";
}
.icon-user:before {
  content: "\e60a";
}
.icon-users:before {
  content: "\e60b";
}
.icon-user-add:before {
  content: "\e60c";
}
.icon-vcard:before {
  content: "\e60d";
}
.icon-export:before {
  content: "\e60e";
}
.icon-heart:before {
  content: "\e60f";
}
.icon-heart2:before {
  content: "\e657";
  font-weight: 600;
}
.icon-star:before {
  content: "\e610";
}
.icon-thumbsup:before {
  content: "\e611";
}
.icon-thumbsdown:before {
  content: "\e612";
}
.icon-chat:before {
  content: "\e613";
}
.icon-comment:before {
  content: "\e614";
}
.icon-popup:before {
  content: "\e615";
}
.icon-search:before {
  content: "\e616";
}
.icon-bell:before {
  content: "\e617";
}
.icon-link:before {
  content: "\e618";
}
.icon-flag:before {
  content: "\e619";
}
.icon-cog:before {
  content: "\e61a";
}
.icon-trophy:before {
  content: "\e61b";
}
.icon-megaphone:before {
  content: "\e61c";
}
.icon-palette:before {
  content: "\e61d";
}
.icon-lifebuoy:before {
  content: "\e61e";
}
.icon-eye:before {
  content: "\e61f";
}
.icon-calendar:before {
  content: "\e620";
}
.icon-briefcase:before {
  content: "\e621";
}
.icon-gauge:before {
  content: "\e622";
}
.icon-rocket:before {
  content: "\e623";
}
.icon-cone:before {
  content: "\e624";
}
.icon-browser:before {
  content: "\e625";
}
.icon-publish:before {
  content: "\e626";
}
.icon-code:before {
  content: "\e627";
}
.icon-screen:before {
  content: "\e628";
}
.icon-light-bulb:before {
  content: "\e629";
}
.icon-creditcard:before {
  content: "\e62a";
}
.icon-clipboard:before {
  content: "\e62b";
}
.icon-box:before {
  content: "\e62c";
}
.icon-uniE62C:before {
  content: "\e62d";
}
.icon-statistics:before {
  content: "\e62e";
}
.icon-pie:before {
  content: "\e62f";
}
.icon-bars:before {
  content: "\e630";
}
.icon-graph:before {
  content: "\e631";
}
.icon-lock:before {
  content: "\e632";
}
.icon-lock-open:before {
  content: "\e633";
}
.icon-logout:before {
  content: "\e634";
}
.icon-login:before {
  content: "\e635";
}
.icon-checkmark:before {
  content: "\e636";
}
.icon-cross:before {
  content: "\e637";
}
.icon-plus:before {
  content: "\e655";
}
.icon-plus2:before {
  content: "\e638";
}
.icon-help:before {
  content: "\e639";
}
.icon-list:before {
  content: "\e63a";
}
.icon-add-to-list:before {
  content: "\e63b";
}
.icon-layout:before {
  content: "\e63c";
}
.icon-list2:before {
  content: "\e63d";
}
.icon-text:before {
  content: "\e63e";
}
.icon-archive:before {
  content: "\e63f";
}
.icon-trash:before {
  content: "\e640";
}
.icon-bookmark:before {
  content: "\e641";
}
.icon-play:before {
  content: "\e642";
}
.icon-pause:before {
  content: "\e643";
}
.icon-record:before {
  content: "\e656";
}
.icon-arrow-left:before {
  content: "\e644";
}
.icon-arrow-down:before {
  content: "\e645";
}
.icon-arrow-up:before {
  content: "\e646";
}
.icon-arrow-right:before {
  content: "\e647";
}
.icon-arrow-left2:before {
  content: "\e648";
}
.icon-arrow-down2:before {
  content: "\e649";
}
.icon-arrow-up2:before {
  content: "\e64a";
}
.icon-arrow-right2:before {
  content: "\e64b";
}
.icon-arrow-left3:before {
  content: "\e64c";
}
.icon-arrow-down3:before {
  content: "\e64d";
}
.icon-arrow-up3:before {
  content: "\e64e";
}
.icon-arrow-right3:before {
  content: "\e64f";
}
.icon-arrow-left4:before {
  content: "\e652";
}
.icon-arrow-right4:before {
  content: "\e653";
}
.icon-ellipsis:before {
  content: "\e654";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-facebook:before {
  content: "\e600";
}
.icon-googleplus:before {
  content: "\e602";
}



/* Primary Typography Styling */

.main() {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.secondary() {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tertiary() {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0em;
	.main();
}

p, ol, ul, blockquote, pre, code {
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;   
	line-height: 1.5em;
	color: #4e4e4e;
}

p ,ol, ul, blockquote {
	.secondary();
}

code {
	.tertiary();
}

h1 {
  font-size: 2.3333em;
  line-height: 1.2857em; 
  margin-top: 0.6429em;
}

h2 {
  font-size: 2em; 
  line-height: 1.5em;
  margin-top: 0.75em;
}

h3 {
  font-size: 1.6667em;
  line-height: 1.8em;
  margin-top: 0.9em;
}

h4 {
  font-size: 1.5em;
  line-height: 1.2em; 
  margin-top: 1em;
}

h5 {
  font-size: 1.3333em; 
  line-height: 1.125em;
  margin-top: 1.125em;
}

h6 {
  font-size: 1.1667em;
  line-height: 1.2857em; 
  margin-top: 1.2857em;
}