/* Problem Solving */
/* ------------------------------------------------- */
@media only screen and (min-width : 1200px) {
	.large-menu-toggled .stats-box.col-xs-3 {
		width: 25%;
	}
	.large-menu-toggled .main-values {
		width: 50%;
		.stats-box.col-xs-3 {
			width: 50%;
		}
	}
}

@media only screen and (min-width : 1200px) {
	.small-menu-toggled .stats-box.col-xs-3 {
		width: 25%;
	}
	.small-menu-toggled .main-values {
		width: 50%;
		.stats-box.col-xs-3 {
			
		}
	}
}


/* Mobile */
/* ------------------------------------------------- */