/* Problem Solving */
/* ------------------------------------------------- */
@media only screen and (min-width : 1800px) {
	.large-menu-toggled {
		.stats-overview {
			.total-donations,
			.total-donors,
			.top-donation,
			.top-donor {
				width: 25%;
			}
			.top-donation,
			.top-donor {
				border-left: solid 1px @gray75;
				border-top: 0;
			}
		}
	}
}

@media only screen and (min-width : 1600px) {
	.small-menu-toggled {
		.stats-box.col-xs-3 {
			width: 50%;
		}
		.stats-overview {
			.total-donations,
			.total-donors,
			.top-donation,
			.top-donor {
				width: 25%;
			}
			.top-donation,
			.top-donor {
				border-left: solid 1px @gray75;
				border-top: 0;
			}
			.top-donation,
			.top-donor {
				border-left: solid 1px @gray75;
				border-top: 0;
			}
		}
	}
}