/* Site Error */

.site-error {
    padding: 60px;
}

/* Buttons/Submits */
/* ------------------------------------------------- */
/* General */
button,
input[type="submit"] {
	color: #FFF;
	font-size: 1.2em;
	font-weight: 600;
	border: 0;
	.border-radius;
	background: @accent;
	&:hover {
		background: @accenthover;
	}
}
/* Standard Action */
a.btn,
button.btn {
	display: inline-block;
	color: #FFF;
	font-family: @mainfont;
	font-size: @smalltext;
	font-weight: 700;
	text-align: center;
	padding: .8em 1.2em;
	background: @accent;
	outline: 0;
	border: 0;
	.border-radius;
	&:hover {
		background: @accenthover;
	}
}

/* Top Menu */

.top-menu {
	background-color: @accent;
	width: 100%;
	position: fixed;
	z-index: 20;
	height: @top-menu-height;
	padding-right: 20px;

	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		float: left;

		li.branding {
			background: @dkaccent;
			width: @primary-nav-width;
			text-align: center;
			display: block;
			float: left;

			a {
				display: inline-block;
				line-height: @top-menu-height;
				width: @primary-nav-width;
				cursor: pointer;
				font-size: 40px;
				vertical-align: middle;
				padding: 0px;

				&:before {
					color: @white;
				}
			}
		}

		li.add-campaign {
			display: block;
			float: left;
			width: @campaigns-list-wrap-width;
			padding-left: 25px;
			padding-right: 25px;

			a {
				display: inline-block;
				line-height: @top-menu-height;
				color: @white;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 2px;
				width: 100%;
				height: @top-menu-height;

				.icon {
					display: block;
					float: right;
					text-align: center;
					height: 40px;
					width: 40px;
					line-height: 40px;
					margin-top: 15px;
					border-radius: 50%;
					background-color: @dkaccent;
					  -webkit-transition-duration: 0.33s;
					-webkit-transition-property: color, background, text-shadow, border, opacity, text-decoration;
					-moz-transition-duration: 0.33s;
					-moz-transition-property: color, background, text-shadow, border, opacity, text-decoration;
					-o-transition-duration: 0.33s;
					-o-transition-property: color, background, text-shadow, border, opacity, text-decoration;
					transition-duration: 0.33s;
					transition-property: color, background, text-shadow, border, opacity, text-decoration;

					&:before {
						color: @white;
						font-weight: bold;
						font-size: 13px;
						text-align: center;
						margin-left: 2px;
						vertical-align: middle;
						display: inline-block;
						  -webkit-transition-duration: 0.33s;
						-webkit-transition-property: color, background, text-shadow, border, opacity, text-decoration;
						-moz-transition-duration: 0.33s;
						-moz-transition-property: color, background, text-shadow, border, opacity, text-decoration;
						-o-transition-duration: 0.33s;
						-o-transition-property: color, background, text-shadow, border, opacity, text-decoration;
						transition-duration: 0.33s;
						transition-property: color, background, text-shadow, border, opacity, text-decoration;
					}

					&:hover {
						background-color: @white;

						&:before {
							color: @accent!important;
						}
					}

				}
			
			}

		}

	} /* End of quicknav */

	.avatar-container {
		float: right;
		height: @top-menu-height;
		display: block;
		position: relative;

		.avatar {

			span {
				height: @top-menu-height;
				display: block;
				line-height: @top-menu-height;
				
				img {
					border-radius: 50%;
					border: 2px solid @white;
					height: 40px;
					width: 40px;
				}
			}

		}

		.dropdown-menu {
			right: 0px;
		}

	}

}

/* Main Page Wraps */

.site-content {
	width: 100%;
	height: 100%;
	padding-top: @top-menu-height;
	position: absolute;
	top: 0px;
	left: 0px;
}

.page-content-wrap {
    width: 100%;
    padding-left: 141px;
}

.page-content {
    padding: 0px;
    height: 100%;
}

/* Primary Navigation */

.primary-navigation {
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
	position: fixed;
	height: 100%;
	top: 0px;
	padding-top: @top-menu-height;
	width: @primary-nav-width;

	nav.nav-top {

		width: 100%;

		ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
			width: 100%;
			display: block;

			li {
				display: block;
				padding: 0px;
				margin: 0px;
				width: 100%;

				a {
					display: block;
					padding: 28px 0px 29px 0px;
					text-align: center;
					font-size: 13px;
					color: @gray20;
					letter-spacing: 1px;

					&:before {
						font-size: 28px;
						line-height: 28px;
						display: block;
						padding-bottom: 10px;
						color: @gray20;
					}

				}

				a:hover, a:hover:before  {
					color: @white!important;
				}

				a.active, a.active:before {
					color: @white;
				}

			}
		}
	}

	.nav-bottom {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;

		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			display: block;
			width: 100%;
			float: left;

			li {
				display: block;
				margin: 0px;
				padding: 0px;
				width: 50%;
				float: left;
				text-align: center;

				a {
					display: block;
					text-align: center;
					padding: 10px 15px;
					width: 100%;

					&:before {
						font-size: 22px;
						line-height: 22px;
						display: block;
						padding-bottom: 10px;
					}
				}
			}
		}
	}
}

.donor-view-wrap, .account-settings {
	width: 100%;
	padding-left: @campaigns-list-wrap-width + @primary-nav-width + 60px;
	padding-top: 30px;
	padding-right: 60px;
	padding-bottom: 60px;
}

#sidepanel  {
    padding-left: @campaigns-list-wrap-width + @primary-nav-width;
}

.account-settings {
	width: 100%;
	padding-left: @primary-nav-width + 60px;
	padding-top: 30px;	
	padding-bottom: 60px;
}