/* Icon fonts */
/* ------------------------------------------------- */
@import "icons.less";


/* Primary Typography */
/* ------------------------------------------------- */
h1, h2, h3, h4, h5 {
	color: @gray20;
	font-family: @mainfont;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 2.8em;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 1.4em;
	margin-bottom: .2em;
	margin-bottom: 30px;
}
h2 {
	font-size: 2em;
	line-height: 1.2em;
	letter-spacing: -1px;
}
h3 {
	font-size: 1.3em;
	line-height: 1.6em;
}
h4 {
	color: @gray50;
	font-size: 1.1em;
	line-height: 1.6em;
}
h5 {
	color: @gray60;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: .6em;
}
p {
	line-height: 1.4em;
	margin-bottom: 1.4em;

	/* Terms & Conditions */
	&.info {
		color: @gray60;
		font-size: @fineprint;
		margin: 1.6em auto;
		max-width: 280px;
	}
}
i.icon {
	position: relative;
	top: 2px;
}