/* Icon fonts */
/* ------------------------------------------------- */

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?p7r03m');
  src:url('../fonts/icomoon.eot?#iefixp7r03m') format('embedded-opentype'),
    url('../fonts/icomoon.woff?p7r03m') format('woff'),
    url('../fonts/icomoon.ttf?p7r03m') format('truetype'),
    url('../fonts/icomoon.svg?p7r03m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  font-family: 'icomoon' 'proxima-nova', Helvetica, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-add:before {
  content: "\e600";
}
.i-add2:before {
  content: "\e601";
}
.i-announcement:before {
  content: "\e602";
}
.i-archive:before {
  content: "\e603";
}
.i-archivebox:before {
  content: "\e604";
}
.i-arrowbottom:before {
  content: "\e605";
}
.i-arrowbottom2:before {
  content: "\e607";
}
.i-arrowbottom3:before {
  content: "\e608";
}
.i-arrowleft:before {
  content: "\e609";
}
.i-arrowleft2:before {
  content: "\e60a";
}
.i-arrowleft3:before {
  content: "\e60b";
}
.i-arrowright:before {
  content: "\e60c";
}
.i-arrowright2:before {
  content: "\e60d";
}
.i-arrowright3:before {
  content: "\e60e";
}
.i-arrowtop:before {
  content: "\e60f";
}
.i-arrowtop2:before {
  content: "\e610";
}
.i-arrowtop3:before {
  content: "\e611";
}
.i-attachment:before {
  content: "\e612";
}
.i-award:before {
  content: "\e613";
}
.i-award2:before {
  content: "\e614";
}
.i-award3:before {
  content: "\e615";
}
.i-bargraph:before {
  content: "\e616";
}
.i-browser:before {
  content: "\e617";
}
.i-browser2:before {
  content: "\e618";
}
.i-browsercheck:before {
  content: "\e619";
}
.i-browserremove:before {
  content: "\e61a";
}
.i-brush:before {
  content: "\e61b";
}
.i-calendar:before {
  content: "\e61c";
}
.i-campaigns:before {
  content: "\e61d";
}
.i-cash:before {
  content: "\e61e";
}
.i-charity:before {
  content: "\e61f";
}
.i-chat:before {
  content: "\e620";
}
.i-chatblock:before {
  content: "\e621";
}
.i-chatblock2:before {
  content: "\e622";
}
.i-chatblocks:before {
  content: "\e623";
}
.i-chatbubble:before {
  content: "\e624";
}
.i-chatbubble2:before {
  content: "\e625";
}
.i-chatbubbles:before {
  content: "\e626";
}
.i-check:before {
  content: "\e627";
}
.i-check2:before {
  content: "\e628";
}
.i-clipboard:before {
  content: "\e629";
}
.i-clock:before {
  content: "\e62a";
}
.i-clock2:before {
  content: "\e62b";
}
.i-code:before {
  content: "\e62c";
}
.i-coin:before {
  content: "\e62d";
}
.i-coins:before {
  content: "\e62e";
}
.i-console:before {
  content: "\e62f";
}
.i-console2:before {
  content: "\e630";
}
.i-controller:before {
  content: "\e631";
}
.i-creditcard:before {
  content: "\e632";
}
.i-csv:before {
  content: "\e633";
}
.i-dashboard:before {
  content: "\e634";
}
.i-dots:before {
  content: "\e635";
}
.i-download:before {
  content: "\e636";
}
.i-edit:before {
  content: "\e637";
}
.i-enlarge:before {
  content: "\e638";
}
.i-file:before {
  content: "\e639";
}
.i-flag:before {
  content: "\e63a";
}
.i-flag2:before {
  content: "\e63b";
}
.i-folder:before {
  content: "\e63c";
}
.i-fullscreen:before {
  content: "\e63d";
}
.i-fullscreen2:before {
  content: "\e63e";
}
.i-gamecontroller:before {
  content: "\e63f";
}
.i-gridthumb:before {
  content: "\e640";
}
.i-heart:before {
  content: "\e641";
}
.i-image:before {
  content: "\e642";
}
.i-lab:before {
  content: "\e643";
}
.i-layout:before {
  content: "\e644";
}
.i-layout2:before {
  content: "\e645";
}
.i-link:before {
  content: "\e646";
}
.i-list:before {
  content: "\e647";
}
.i-listrow:before {
  content: "\e648";
}
.i-lock:before {
  content: "\e649";
}
.i-logout:before {
  content: "\e64a";
}
.i-mail:before {
  content: "\e64b";
}
.i-mailopen:before {
  content: "\e64c";
}
.i-maintenance:before {
  content: "\e64d";
}
.i-mic:before {
  content: "\e64e";
}
.i-minus:before {
  content: "\e64f";
}
.i-minus2:before {
  content: "\e650";
}
.i-mobile:before {
  content: "\e651";
}
.i-monitor:before {
  content: "\e652";
}
.i-mute:before {
  content: "\e653";
}
.i-pause:before {
  content: "\e654";
}
.i-piechart:before {
  content: "\e655";
}
.i-piechart2:before {
  content: "\e656";
}
.i-play:before {
  content: "\e657";
}
.i-playlist:before {
  content: "\e658";
}
.i-popout:before {
  content: "\e659";
}
.i-power:before {
  content: "\e65a";
}
.i-pullr:before {
  content: "\e65b";
}
.i-pullrsupport:before {
  content: "\e65c";
}
.i-recover:before {
  content: "\e65d";
}
.i-refresh:before {
  content: "\e65e";
}
.i-remove:before {
  content: "\e65f";
}
.i-remove2:before {
  content: "\e660";
}
.i-resizefull:before {
  content: "\e661";
}
.i-resizefull2:before {
  content: "\e662";
}
.i-resizenormal:before {
  content: "\e663";
}
.i-search:before {
  content: "\e664";
}
.i-settings:before {
  content: "\e665";
}
.i-share:before {
  content: "\e666";
}
.i-stack:before {
  content: "\e667";
}
.i-star:before {
  content: "\e668";
}
.i-stream:before {
  content: "\e669";
}
.i-streamboard:before {
  content: "\e66a";
}
.i-support:before {
  content: "\e66b";
}
.i-template:before {
  content: "\e66c";
}
.i-timer:before {
  content: "\e66d";
}
.i-trash:before {
  content: "\e66e";
}
.i-twitch:before {
  content: "\e66f";
}
.i-twitter:before {
  content: "\e670";
}
.i-unlock:before {
  content: "\e671";
}
.i-upload:before {
  content: "\e672";
}
.i-user:before {
  content: "\e673";
}
.i-useradd:before {
  content: "\e674";
}
.i-usercheck:before {
  content: "\e675";
}
.i-usergroup:before {
  content: "\e676";
}
.i-userremove:before {
  content: "\e677";
}
.i-view:before {
  content: "\e678";
}
.i-volume:before {
  content: "\e679";
}
.i-warning:before {
  content: "\e67a";
}
.i-windows:before {
  content: "\e67b";
}
.i-twitch2:before {
  content: "\e606";
}


/* Primary Typography Styling */

.main() {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.secondary() {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tertiary() {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	.secondary();
}

p, ol, ul, blockquote, pre, code {
  color: #85888e;
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}

p ,ol, ul, blockquote {
	.main();
}

h1 {
  font-size: 3.6em;
  font-weight: 100;
  letter-spacing: -1px;
  line-height: 1em;
  margin-bottom: .1em;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 1.2em;
}

h4 {
  color: #85888e;
  font-size: 1.1em;
  font-weight: 400;
}

h5 {
  color: #53555a;
  /* Small text in all caps */
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .6em;
}