/* Icon fonts */
/* ------------------------------------------------- */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?u7owa9');
	src:url('../fonts/icomoon.eot?#iefixu7owa9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?u7owa9') format('woff'),
		url('../fonts/icomoon.ttf?u7owa9') format('truetype'),
		url('../fonts/icomoon.svg?u7owa9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon', @mainfont;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-soundwave:before {
	content: "\e600";
}
.icon-tools:before {
	content: "\e601";
}
.icon-volume-level:before {
	content: "\e602";
}
.icon-youtube:before {
	content: "\e603";
}
.icon-youtube2:before {
	content: "\e604";
}
.icon-twitch:before {
	content: "\e605";
}
.icon-twitch2:before {
	content: "\e606";
}
.icon-pullr-logo2:before {
	content: "\e607";
}
.icon-pullr-logo:before {
	content: "\e608";
}
.icon-adduser:before {
	content: "\e609";
}
.icon-archive:before {
	content: "\e60a";
}
.icon-archiveit:before {
	content: "\e60b";
}
.icon-arrow-down:before {
	content: "\e60c";
}
.icon-arrow-down2:before {
	content: "\e60d";
}
.icon-arrow-down3:before {
	content: "\e60e";
}
.icon-arrow-left:before {
	content: "\e60f";
}
.icon-arrow-left2:before {
	content: "\e610";
}
.icon-arrow-left3:before {
	content: "\e611";
}
.icon-arrow-right:before {
	content: "\e612";
}
.icon-arrow-right2:before {
	content: "\e613";
}
.icon-arrow-right3:before {
	content: "\e614";
}
.icon-arrow-up:before {
	content: "\e615";
}
.icon-arrow-up2:before {
	content: "\e616";
}
.icon-arrow-up3:before {
	content: "\e617";
}
.icon-award:before {
	content: "\e618";
}
.icon-award2:before {
	content: "\e619";
}
.icon-award3:before {
	content: "\e61a";
}
.icon-award4:before {
	content: "\e61b";
}
.icon-back:before {
	content: "\e61c";
}
.icon-bargraph:before {
	content: "\e61d";
}
.icon-bell:before {
	content: "\e61e";
}
.icon-board:before {
	content: "\e61f";
}
.icon-board2:before {
	content: "\e620";
}
.icon-book:before {
	content: "\e621";
}
.icon-box-empty:before {
	content: "\e622";
}
.icon-box-full:before {
	content: "\e623";
}
.icon-bubble:before {
	content: "\e624";
}
.icon-bubble2:before {
	content: "\e625";
}
.icon-bubble3:before {
	content: "\e626";
}
.icon-bubble4:before {
	content: "\e627";
}
.icon-bubble5:before {
	content: "\e628";
}
.icon-bubble6:before {
	content: "\e629";
}
.icon-bug:before {
	content: "\e62a";
}
.icon-bugspray:before {
	content: "\e62b";
}
.icon-bulb:before {
	content: "\e62c";
}
.icon-calendar:before {
	content: "\e62d";
}
.icon-cart:before {
	content: "\e62e";
}
.icon-check-empty:before {
	content: "\e62f";
}
.icon-check-fill:before {
	content: "\e630";
}
.icon-check-round-fill:before {
	content: "\e631";
}
.icon-check-round-outline:before {
	content: "\e632";
}
.icon-clip:before {
	content: "\e633";
}
.icon-clipboard:before {
	content: "\e634";
}
.icon-clock:before {
	content: "\e635";
}
.icon-clock2:before {
	content: "\e636";
}
.icon-close-round:before {
	content: "\e637";
}
.icon-close:before {
	content: "\e638";
}
.icon-code:before {
	content: "\e639";
}
.icon-code2:before {
	content: "\e63a";
}
.icon-coin:before {
	content: "\e63b";
}
.icon-coins:before {
	content: "\e63c";
}
.icon-coinstack:before {
	content: "\e63d";
}
.icon-credit-card-accept:before {
	content: "\e63e";
}
.icon-credit-card:before {
	content: "\e63f";
}
.icon-dashboard:before {
	content: "\e640";
}
.icon-dashboard2:before {
	content: "\e641";
}
.icon-dashboard3:before {
	content: "\e642";
}
.icon-design:before {
	content: "\e643";
}
.icon-design2:before {
	content: "\e644";
}
.icon-design3:before {
	content: "\e645";
}
.icon-dollar:before {
	content: "\e646";
}
.icon-dollars:before {
	content: "\e647";
}
.icon-dots:before {
	content: "\e648";
}
.icon-download:before {
	content: "\e649";
}
.icon-download2:before {
	content: "\e64a";
}
.icon-eye:before {
	content: "\e64b";
}
.icon-facebook:before {
	content: "\e64c";
}
.icon-file:before {
	content: "\e64d";
}
.icon-files:before {
	content: "\e64e";
}
.icon-filter:before {
	content: "\e64f";
}
.icon-fingerprint:before {
	content: "\e650";
}
.icon-flag-outline:before {
	content: "\e651";
}
.icon-flag:before {
	content: "\e652";
}
.icon-folder:before {
	content: "\e653";
}
.icon-gamepad:before {
	content: "\e654";
}
.icon-gamepad2:before {
	content: "\e655";
}
.icon-gamepad3:before {
	content: "\e656";
}
.icon-gamepad4:before {
	content: "\e657";
}
.icon-gamepad5:before {
	content: "\e658";
}
.icon-gamepad6:before {
	content: "\e659";
}
.icon-gamepad7:before {
	content: "\e65a";
}
.icon-gamepad8:before {
	content: "\e65b";
}
.icon-gamepad9:before {
	content: "\e65c";
}
.icon-gamepad10:before {
	content: "\e65d";
}
.icon-gamepad11:before {
	content: "\e65e";
}
.icon-gamepad12:before {
	content: "\e65f";
}
.icon-gamepad13:before {
	content: "\e660";
}
.icon-gamepad14:before {
	content: "\e661";
}
.icon-gamer:before {
	content: "\e662";
}
.icon-google-plus:before {
	content: "\e663";
}
.icon-heart-outline:before {
	content: "\e664";
}
.icon-heart:before {
	content: "\e665";
}
.icon-help-outline:before {
	content: "\e666";
}
.icon-help:before {
	content: "\e667";
}
.icon-lab:before {
	content: "\e668";
}
.icon-lab2:before {
	content: "\e669";
}
.icon-link:before {
	content: "\e66a";
}
.icon-list-drop:before {
	content: "\e66b";
}
.icon-list:before {
	content: "\e66c";
}
.icon-lock-accept:before {
	content: "\e66d";
}
.icon-lock:before {
	content: "\e66e";
}
.icon-logout:before {
	content: "\e66f";
}
.icon-mail-social:before {
	content: "\e670";
}
.icon-mail:before {
	content: "\e671";
}
.icon-menu:before {
	content: "\e672";
}
.icon-microphone:before {
	content: "\e673";
}
.icon-minus-round:before {
	content: "\e674";
}
.icon-minus:before {
	content: "\e675";
}
.icon-money:before {
	content: "\e676";
}
.icon-monitor:before {
	content: "\e677";
}
.icon-notify:before {
	content: "\e678";
}
.icon-paypal-outline:before {
	content: "\e679";
}
.icon-paypal:before {
	content: "\e67a";
}
.icon-pencil:before {
	content: "\e67b";
}
.icon-phone:before {
	content: "\e67c";
}
.icon-picture:before {
	content: "\e67d";
}
.icon-piechart:before {
	content: "\e67e";
}
.icon-piechart2:before {
	content: "\e67f";
}
.icon-pinterest:before {
	content: "\e680";
}
.icon-plane:before {
	content: "\e681";
}
.icon-play-icon:before {
	content: "\e682";
}
.icon-play:before {
	content: "\e683";
}
.icon-plus-round:before {
	content: "\e684";
}
.icon-plus:before {
	content: "\e685";
}
.icon-print:before {
	content: "\e686";
}
.icon-radio-empty:before {
	content: "\e687";
}
.icon-radio-fill:before {
	content: "\e688";
}
.icon-recover:before {
	content: "\e689";
}
.icon-reload:before {
	content: "\e68a";
}
.icon-removeuser:before {
	content: "\e68b";
}
.icon-reports:before {
	content: "\e68c";
}
.icon-rocket:before {
	content: "\e68d";
}
.icon-search:before {
	content: "\e68e";
}
.icon-send:before {
	content: "\e68f";
}
.icon-settings:before {
	content: "\e690";
}
.icon-share:before {
	content: "\e691";
}
.icon-shield:before {
	content: "\e692";
}
.icon-star-outline:before {
	content: "\e693";
}
.icon-star:before {
	content: "\e694";
}
.icon-stream:before {
	content: "\e695";
}
.icon-stream2:before {
	content: "\e696";
}
.icon-support:before {
	content: "\e697";
}
.icon-timer:before {
	content: "\e698";
}
.icon-trash:before {
	content: "\e699";
}
.icon-trophy:before {
	content: "\e69a";
}
.icon-trophy2:before {
	content: "\e69b";
}
.icon-trophy3:before {
	content: "\e69c";
}
.icon-trophy4:before {
	content: "\e69d";
}
.icon-twitter:before {
	content: "\e69e";
}
.icon-twitter2:before {
	content: "\e69f";
}
.icon-unlock:before {
	content: "\e6a0";
}
.icon-upload:before {
	content: "\e6a1";
}
.icon-upload2:before {
	content: "\e6a2";
}
.icon-user:before {
	content: "\e6a3";
}
.icon-users:before {
	content: "\e6a4";
}
.icon-users2:before {
	content: "\e6a5";
}
.icon-volume-more:before {
	content: "\e6a6";
}
.icon-volume-mute:before {
	content: "\e6a7";
}
.icon-volume:before {
	content: "\e6a8";
}
.icon-warning-outline:before {
	content: "\e6a9";
}
.icon-warning:before {
	content: "\e6aa";
}


/* Primary Typography */
/* ------------------------------------------------- */
h1, h2, h3, h4, h5 {
	color: @gray10;
	font-family: @mainfont;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 3em;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 1.4em;
	margin-bottom: .2em;
	margin-bottom: 30px;
}
h2 {
	font-size: 2em;
	line-height: 1.4em;
	letter-spacing: -1px;
}
h3 {
	font-size: 1.5em;
	line-height: 1.6em;
}
h4 {
	color: @gray40;
	font-size: 1.2em;
}
h5 {
	color: @gray60;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: .6em;
}
p {
	line-height: 1.4em;
	margin-bottom: 1.4em;
}
	p.info {
		font-size: @fineprint;
	}