/* Colors */
/* ------------------------------------------------- */
/*
/* Pullr Color Pallette
/* -------------------------------------------------------- */

/* -- Dark Grays -- */
@pullr-main-bg : #2c2d2f; 	/* Charcoal gray */
@pullr-dark-bg : #222325; 	/* Dark gray */
@pullr-link-color : #000;
@pullr-background: #2C2D2F;

/* Accents */
@pullr-text-color : #fff; /* */
@pullr-bg-lighter : #666;

/* Base */
@base: #222225;
@white: #FFF;

/* Main Accent */
@accent: #1dbc9c;	/* Primary accent */
@accenthover: lighten(@accent, 5%); /* Primary accent hover state */

@dkaccent: darken(@accent, 5%);

@dkaccent3: darken(@accent, 3%);
@dkaccent9: darken(@accent, 9%);
@dkaccent15: darken(@accent, 15%);
@dkaccent20: darken(@accent, 20%);
@dkaccent30: darken(@accent, 30%);

/* Other Colors */
@twitchpurple: #6441a5; /* Twitch purple */
@twitchhover: #714EB2; /* Twitch hover state */
@twitchaccent: #B18EF2; /* Twitch purple */

/* Gray Sets */
@maingray: lighten(@base, 5%);
@dkgray: darken(@base, 2%); /* 2% darker than background */
@gray3: lighten(@base, 3%); /* 2% gray background */
@gray10: lighten(@base, 10%); /* 10% gray background */
@gray15: lighten(@base, 15%); /* 15% gray background */
@gray17: lighten(@base, 17%); /* 17% gray background */
@gray20: lighten(@base, 20%); /* 20% gray background */
@gray25: lighten(@base, 25%); /* 25% gray background */
@gray30: lighten(@base, 30%); /* 30% gray background */
@gray40: lighten(@base, 40%); /* 40% gray background */
@gray50: lighten(@base, 50%); /* 50% gray background */
@gray60: lighten(@base, 60%); /* 60% gray background */
@gray70: lighten(@base, 70%); /* 70% gray background */
@gray72: lighten(@base, 72%); /* 72% gray background */
@gray75: lighten(@base, 78%); /* 78% gray background */
@gray80: lighten(@base, 80%); /* 80% gray background */

@bgwhitefade: rgba(255,255,255,.5); /* Faded light background */
@bglightwhitefade: rgba(255,255,255,.1); /* Faded light background */
@bgblackfade: rgba(34,35,37,.8); /* Faded dark background */
@bglightblackfade: rgba(34,35,37,.5); /* Faded dark background */

/* Element Colors */
@inputbg: @gray10; /* Background for inputs */


/* Backgrounds */
/* ------------------------------------------------- */
.background { /* Default background set */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Typography */
/* ------------------------------------------------- */
@mainfont: 'Source Sans Pro', Helvetica, Arial, sans-serif;

@basefontsize: 16px;
@smalltext: .9em;
@fineprint: .8em;

.smallcaps {
	font-size: @smalltext;
	text-transform: uppercase;
	letter-spacing: 1px;
}


/* Links */
/* ------------------------------------------------- */
@darklink: #444; /* Link color for white on dark */
@darklinkhover: #FFF; /* Hover state for white on dark */


/* General */
/* ------------------------------------------------- */
@width: 90%; /* Default width */
@maxwidth: 1140px; /* Default width */
@sidepanelwidth: 250px; /* Sidebar width */
@top-menu-height: 68px; /* Top bar height */
@primary-nav-width: 78px; /* Navigation width */
@primary-nav-lg-width: 190px; /* Large Primary Navigation Width */
@gutter: 30px; /* Default spacing between main elements */
@halfgutter: 15px; /* Half the gutter spacing */

.nowrap{
  white-space: nowrap;
}


/* Lists */
/* ------------------------------------------------- */
.ulist {
	padding: 0;
	margin: 0;
	list-style: none;
}


/* Borders & Box shadows */
/* ------------------------------------------------- */
.border-radius (@radius: 3px) {
	border-radius: @radius;
	background-clip: padding-box;
}
.element-radius (@radius: 8px) {
	border-radius: @radius;
}
.round-radius (@radius: 30px) {
	border-radius: @radius;
	background-clip: padding-box;
}
.box-shadow (@shadow: 0 0 2px rgba(0,0,0,.1)) {
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
	box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
}


/* Arrows */
/* ------------------------------------------------- */
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right {
	content: '';
	position: absolute;
	width: 0; 
	height: 0; 
	border-style: solid;
}
.arrow-up {
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent @white transparent;
}
.arrow-down {
	border-width: 10px 10px 0 10px;
	border-color: @white transparent transparent transparent;
}
.arrow-left {
	border-width: 10px 10px 10px 0;
	border-color: transparent @white transparent transparent;
}
.arrow-right {
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent @white;
}


/* Transitions/Animations */
/* ------------------------------------------------- */
.trans (@trans: linear .08s) {
	-webkit-transition: @trans;
	-moz-transition: @trans;
	-ms-transition: @trans;
	transition: @trans;
}
.slowtrans (@slowtrans: all ease-in-out .2s) {
	-webkit-transition: @slowtrans;
	-moz-transition: @slowtrans;
	-ms-transition: @slowtrans;
	transition: @slowtrans;
}
.trans-opacity (@trans-opacity: opacity .16s) {
	-webkit-transition: @trans-opacity;
	-moz-transition: @trans-opacity;
	-ms-transition: @trans-opacity;
	transition: @trans-opacity;
}
.trans-width (@trans-width: width .8s ease-in-out) {
	-webkit-transition: @trans-width;
	-moz-transition: @trans-width;
	-ms-transition: @trans-width;
	transition: @trans-width;
}
.fadein (@fade-in: fadein .3s) {
	-webkit-animation: @fade-in;
	-moz-animation: @fade-in;
	-ms-animation: @fade-in;
	animation: @fade-in;
}
.longfadein (@fade-in: fadein 6s) {
	-webkit-animation: @fade-in;
	-moz-animation: @fade-in;
	-ms-animation: @fade-in;
	animation: @fade-in;
}
.animate-bar (@animate-bar: animate-bar 1s 1 ease) {
	-webkit-animation: @animate-bar;
	-moz-animation: @animate-bar;
	-ms-animation: @animate-bar;
	animation: @animate-bar;
}


/* Progress Bar Animations */
/* ------------------------------------------------- */

/* Animate Bar */
@keyframes animate-bar {
  0% { width: 0%; }
}
@-moz-keyframes animate-bar {
  0% { width: 0%; }
}
@-webkit-keyframes animate-bar {
  0% { width: 0%; }
}
@-ms-keyframes animate-bar {
  0% { width: 0%; }
}

/* Fade In */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.25); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.25); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}
