/* Colors */
/* ------------------------------------------------- */
/*
/* Pullr Color Pallette
/* -------------------------------------------------------- */

/* -- Dark Grays -- */
@pullr-main-bg : #2c2d2f; 	/* Charcoal gray */
@pullr-dark-bg : #222325; 	/* Dark gray */
@pullr-link-color : #000;
@pullr-background: #2C2D2F;

/* Accents */
@pullr-text-color : #fff; /* */
@pullr-bg-lighter : #666;

/* Base */
@base: #222225;
@white: #FFF;
@offwhite: darken(@white, 3%);

/* Main Accent */
@accent: #1dbc9c;	/* Primary accent */
@accenthover: lighten(@accent, 5%); /* Primary accent hover state */
@dkaccent: darken(@accent, 4%);
@dkraccent: darken(@accent, 16%);

/* Other Colors */
@twitchpurple: #6441a5; /* Twitch purple */
@twitchhover: lighten(@twitchpurple, 5%); /* Twitch hover state */
@twitchdark: lighten(@twitchpurple, 20%); /* Twitch purple */

/* Gray Sets */
@maingray: lighten(@base, 5%);
@dkgray: darken(@base, 1%); /* 2% darker than background */
@gray10: lighten(@base, 10%); /* 10% gray background */
@gray12: lighten(@base, 13%); /* 12% gray background */
@gray15: lighten(@base, 15%); /* 15% gray background */
@gray20: lighten(@base, 20%); /* 20% gray background */
@gray25: lighten(@base, 25%); /* 25% gray background */
@gray30: lighten(@base, 30%); /* 30% gray background */
@gray40: lighten(@base, 40%); /* 40% gray background */
@gray50: lighten(@base, 50%); /* 50% gray background */
@gray60: lighten(@base, 60%); /* 60% gray background */
@gray70: lighten(@base, 70%); /* 70% gray background */
@gray72: lighten(@base, 74%); /* 72% gray background */
@gray75: lighten(@base, 78%); /* 78% gray background */

@bgwhitefade: rgba(255,255,255,.7); /* Faded light background */
@bglightwhitefade: rgba(255,255,255,.2); /* Faded light background */
@bgblackfade: rgba(34,34,37,.7); /* Faded dark background */
@bglightblackfade: rgba(34,34,37,.2); /* Faded dark background */

/* Element Colors */
@inputbg: @gray10; /* Background for inputs */
@modulegray: @gray72; /* Background for module headers */

/* Errors */
@errorred: #e74c3c;
@success: #2ecc71;


/* Backgrounds */
/* ------------------------------------------------- */
.background { /* Default background set */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Typography */
/* ------------------------------------------------- */
@mainfont: 'Source Sans Pro', Helvetica, Arial, sans-serif;
@secfont: 'Varela Round', 'Source Sans Pro', Helvetica, Arial, sans-serif;

@basefontsize: 16px;
@smalltext: .9em;
@fineprint: .8em;

.smallcaps {
	font-size: @fineprint;
	font-weight: 600;
	text-transform: uppercase;
}

/* Icons */
@iconspace: 3px; /* Right margin for icons on buttons */


/* Links */
/* ------------------------------------------------- */
@darklink: #444; /* Link color for white on dark */
@darklinkhover: #FFF; /* Hover state for white on dark */


/* General */
/* ------------------------------------------------- */
@width: 90%; /* Default width */
@maxwidth: 1140px; /* Default width */
@sidepanelwidth: 255px; /* Sidebar width */
@sidenavheight: 50px; /* Sidebar width */
@top-menu-height: 62px; /* Top bar height */
@primary-nav-width: 78px; /* Navigation width */
@primary-nav-lg-width: 180px; /* Large Primary Navigation Width */
@campain-name-height: 58px; /* Top bar height */

/* Padding */
@gutter: 30px; /* Default spacing between main elements */
@halfgutter: 15px; /* Half the gutter spacing */

/* Streamboard */
@streamboardgutter: 10px;

.nowrap{
  white-space: nowrap;
}


/* Lists */
/* ------------------------------------------------- */
.ulist {
	padding: 0;
	margin: 0;
	list-style: none;
}


/* Borders & Box shadows */
/* ------------------------------------------------- */
.border-radius (@radius: 4px) {
	border-radius: @radius;
	background-clip: padding-box;
}
.element-radius (@radius: 10px) {
	border-radius: @radius;
}
.round-radius (@radius: 30px) {
	border-radius: @radius;
	background-clip: padding-box;
}
.topcut-radius (@radius: 10px) {
	border-top-left-radius: @radius;
	background-clip: padding-box;
}
.tab-radius (@radius: 10px) {
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
}
.box-shadow (@shadow: 0 0 2px rgba(0,0,0,.1)) {
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.15);
}


/* Arrows */
/* ------------------------------------------------- */
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right {
	content: '';
	position: absolute;
	width: 0; 
	height: 0; 
	border-style: solid;
}
.arrow-up {
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent @white transparent;
}
.arrow-down {
	border-width: 10px 10px 0 10px;
	border-color: @white transparent transparent transparent;
}
.arrow-left {
	border-width: 10px 10px 10px 0;
	border-color: transparent @white transparent transparent;
}
.arrow-right {
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent @white;
}


/* Transitions/Animations */
/* ------------------------------------------------- */
.trans (@trans: linear .08s) {
	-webkit-transition: @trans;
	-moz-transition: @trans;
	-ms-transition: @trans;
	transition: @trans;
}
.slowtrans (@slowtrans: all ease-in-out .2s) {
	-webkit-transition: @slowtrans;
	-moz-transition: @slowtrans;
	-ms-transition: @slowtrans;
	transition: @slowtrans;
}
.trans-opacity (@trans-opacity: opacity .16s) {
	-webkit-transition: @trans-opacity;
	-moz-transition: @trans-opacity;
	-ms-transition: @trans-opacity;
	transition: @trans-opacity;
}
.trans-width (@trans-width: width .8s ease-in-out) {
	-webkit-transition: @trans-width;
	-moz-transition: @trans-width;
	-ms-transition: @trans-width;
	transition: @trans-width;
}
.fadein (@fade-in: fadein .3s) {
	-webkit-animation: @fade-in;
	-moz-animation: @fade-in;
	-ms-animation: @fade-in;
	animation: @fade-in;
}
.longfadein (@fade-in: fadein 1s) {
	-webkit-animation: @fade-in;
	-moz-animation: @fade-in;
	-ms-animation: @fade-in;
	animation: @fade-in;
}
.animate-bar (@animate-bar: animate-bar 1s 1 ease) {
	-webkit-animation: @animate-bar;
	-moz-animation: @animate-bar;
	-ms-animation: @animate-bar;
	animation: @animate-bar;
}
.adjusthue (@adjusthue: 6s ease 0s alternate none infinite adjustHue) {
	-webkit-animation: @adjusthue;
	-moz-animation: @adjusthue;
	-ms-animation: @adjusthue;
	animation: @adjusthue;
}
.stretchdelay (@stretchdelay: stretchdelay 1.2s infinite ease-in-out) {
	-webkit-animation: @stretchdelay;
	-moz-animation: @stretchdelay;
	-ms-animation: @stretchdelay;
	animation: @stretchdelay;
}
.animInitialHeader (@animInitialHeader: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both) {
	-webkit-animation: @animInitialHeader;
	-moz-animation: @animInitialHeader;
	-ms-animation: @animInitialHeader;
	animation: @animInitialHeader;
}
.animLoadedLogo (@animLoadedLogo: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards) {
	-webkit-animation: @animLoadedLogo;
	-moz-animation: @animLoadedLogo;
	-ms-animation: @animLoadedLogo;
	animation: @animLoadedLogo;
}
.animLoadedLoader (@animLoadedLoader: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards) {
	-webkit-animation: @animLoadedLoader;
	-moz-animation: @animLoadedLoader;
	-ms-animation: @animLoadedLoader;
	animation: @animLoadedLoader;
}
.marquee (@marquee: marquee infinite linear) {
	-webkit-animation: @marquee;
	-moz-animation: @marquee;
	-ms-animation: @marquee;
	animation: @marquee;
}


/* Progress Bar Animations */
/* ------------------------------------------------- */

/* Animate Bar */
@keyframes animate-bar {
  0% { width: 0%; }
}
@-moz-keyframes animate-bar {
  0% { width: 0%; }
}
@-webkit-keyframes animate-bar {
  0% { width: 0%; }
}
@-ms-keyframes animate-bar {
  0% { width: 0%; }
}

/* Fade In */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Adjust Hue */
@-webkit-keyframes adjustHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
  }
  50% {
    -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
  75% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  100% {
    -webkit-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
  }
}

/* Content Loader */
@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
    	transform: scaleY(0.4);
    	-webkit-transform: scaleY(0.4);
	} 20% {
    	transform: scaleY(1.0);
    	-webkit-transform: scaleY(1.0);
	}
}

/* Marquee (Streamboard) */
@keyframes marquee {
    0% { text-indent: 100% }
    100% { text-indent: 0}
}
@-webkit-keyframes marquee {
    0% { text-indent: 100% }
    100% { text-indent: 0 }
}

/* Streamboard Loader */
@-webkit-keyframes animInitialHeader {
	from {opacity: 0; -webkit-transform: translate3d(0,800px,0);}
}
@keyframes animInitialHeader {
	from {opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0);}
}
@-webkit-keyframes animLoadedLogo {
	to {-webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1);}
}
@keyframes animLoadedLogo {
	to {-webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1);}
}
@-webkit-keyframes animLoadedLoader {
	to {-webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1);}
}
@keyframes animLoadedLoader {
	to {-webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1);}
}