/* Colors */
/* ------------------------------------------------- */
@accent: #1dbc9c;	/* Primary accent */
@accenthover: lighten(@accent, 10%); /* Primary accent hover state */
@dkaccent: darken(@accent, 7%);

.accent{
  color: @accent;
}

/* Gray Sets */
@gray5:  lighten(@bgcolor, 5%); /* 5% gray background */
@gray8:  lighten(@bgcolor, 8%); /* 8% gray background */
@gray10: lighten(@bgcolor, 10%); /* 10% gray background */
@gray12: lighten(@bgcolor, 12%); /* 12% gray background */
@gray20: lighten(@bgcolor, 20%); /* 20% gray background */
@gray30: lighten(@bgcolor, 30%); /* 30% gray background */
@gray40: lighten(@bgcolor, 40%); /* 40% gray background */
@gray50: lighten(@bgcolor, 50%); /* 50% gray background */
@gray60: lighten(@bgcolor, 60%); /* 60% gray background */
@gray70: lighten(@bgcolor, 70%); /* 70% gray background */
@gray75: lighten(@bgcolor, 78%); /* 78% gray background */
@gray80: lighten(@bgcolor, 80%); /* 80% gray background */
@gray90: lighten(@bgcolor, 80%); /* 90% gray background */
@gray100: lighten(@bgcolor, 100%); /* white background */

@dkgray:	darken(@bgcolor, 2%); /* 2% darker than background */
@dkrgray:	darken(@bgcolor, 5%); /* 5% darker than background */
@white: 	#FFF;

/* Backgrounds */
/* ------------------------------------------------- */
/* Main Background */
@bgcolor: #222325;
.background { /* Default background set */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Transparent Backgrounds */
@bgwhitefade: rgba(255,255,255,.5); /* Faded light background */
@bgblackfade: rgba(34,35,37,.8); /* Faded dark background */

/* Inputs */
@inputbg: @gray10; /* Background for inputs */


/* Typography */
/* ------------------------------------------------- */
@mainfont: 'proxima-nova', Helvetica, Arial, sans-serif; /* Proxima Nova */
@secfont: 'proxima-nova-condensed', Helvetica, Arial, sans-serif; /* Proxima Nova Condensed */

@smalltext: .9em;
.smallcaps {
	font-size: @smalltext;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
@fineprint: .8em;


/* Links */
/* ------------------------------------------------- */
@darklink: #444; /* Link color for white on dark */
@darklinkhover: #FFF; /* Hover state for white on dark */


/* Borders & Box shadows */
/* ------------------------------------------------- */
.border-radius (@radius: 3px) {
	border-radius:		@radius;
	background-clip:		padding-box;
}
.round-radius (@radius: 30px) {
	border-radius:		@radius;
	background-clip:		padding-box;
}
.box-shadow (@shadow: 0 0 2px rgba(0,0,0,.1)) {
	box-shadow:			@shadow;
}


/* Arrows */
/* ------------------------------------------------- */
.arrow-up {
	content: '';
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid;
}
.arrow-down {
	content: '';
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid;
}
.arrow-left {
	content: '';
	position: absolute;
	width: 0; 
	height: 0; 
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
	border-right: 12px solid;
}
.arrow-right {
	content: '';
	position: absolute;
	width: 0; 
	height: 0; 
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
	border-left: 12px solid;
}

/* Transitions/Animations */
/* ------------------------------------------------- */
.trans (@trans: linear .08s) {
	transition: @trans;
}
.slowtrans (@slowtrans: all ease-in-out .2s) {
	transition: @slowtrans;
}
.trans-opacity (@trans-opacity: opacity .16s) {
	transition: @trans-opacity;
}
.trans-width (@trans-width: width .8s ease-in-out) {
	transition: @trans-width;
}
.fade-in (@fade-in: fadein .3s) {
	animation: @fade-in;
}
.animate-bar (@animate-bar: animate-bar 1s 1 ease) {
	animation: @animate-bar;
}


/* General */
/* ------------------------------------------------- */
@width: 90%; /* Default width */
@maxwidth: 1140px; /* Default width */

@sidepanelwidth: 280px; /* Sidebar width */

@top-menu-height: 60px;
@primary-nav-width: 64px;


/* Lists */
/* ------------------------------------------------- */
.ulist {
	padding: 0;
	margin: 0;
	list-style: none;
}


/* Progress Bar Animations */
/* ------------------------------------------------- */
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}