@import "../variables.less";

html, body {
	background: @base;
}

.intro-content-wrapper {
	display: table;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;

	.intro-content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		h1 {
			margin: 0;
		}
		p {
			color: @gray30;
			font-size: @fineprint;
			max-width: 220px;
			margin: 15px auto;
			a {
				color: @white;
				&:hover {
					color: @white;
				}
			}
		}
		.form-control {
			width: 100%;
			display: inline-block;
		}
		.checkbox {
			display: inline-block;
		}

		.login-box {
			text-align: center;
			padding: @gutter + @halfgutter;
			margin: 0 auto;
			width: 90%;
			max-width: 380px;
			.border-radius;
			-webkit-animation-duration: .3s;
			animation-duration: .3s;

			.site-login {
				position: relative;
				padding: @gutter @halfgutter;
				background: @maingray;
				.border-radius;
				.dark-shadow;
				&:before {
					.arrow-up;
					top: -10px;
					left: 50%;
					margin-left: -10px;
					border-color: transparent transparent @maingray transparent;
				}
			}
			a.login-logo {
				display: inline-block;
				color: @white;
				font-size: 56px;
				margin-bottom: .4em;
			}
			a.btn {
				margin: .2em 0;
				min-width: 220px;
				
				i {
					margin-right: @iconspace;
				}

				&.twitchLogin {
					display: inline-block;
					margin-bottom: .3em;
					background: @twitchpurple;
					&:hover {
						background: @twitchhover;
					}
				}
				&.hitboxLogin {
					background: @hitboxgreen;
					opacity: .1;
					&:hover {
						background: @hitboxhover;
					}
				}
			}
			p {
				display: block;
				color: @gray30;
				margin: 0 0 1em;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}