@import "../variables.less";
/* Login and Signup Page */

body, html {
  background: @base;
}

.intro-content-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
  left: 0px;
  top: 0px;
}

.intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.intro-content .form-control {
  width: 100%;
  display: inline-block;
}

.intro-content .checkbox {
  display: inline-block;
}

a.login-logo.icon-pullr {
  color: @darklinkhover;
  font-size: 60px;
}

a.login-logo.icon-pullr:before {
  color: @darklinkhover;
}

a.twitchLogin {
  display: inline-block;
  width: 100%;
  margin: 1.2em 0;
  max-width: 180px;
}

.intro-content p {
  max-width: 360px;
  margin: 15px auto;
}