@import "../variables.less";

html, body {
	background: @base;
}

.intro-content-wrapper {
	display: table;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
	.intro-content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		h1 {
			margin: 0;
		}
		p {
			color: @gray30;
			font-size: @fineprint;
			max-width: 220px;
			margin: 15px auto;
			a {
				color: @white;
				&:hover {
					color: @white;
				}
			}
		}
		.form-control {
			width: 100%;
			display: inline-block;
		}
		.checkbox {
			display: inline-block;
		}

		.login-box {
			padding: @gutter + @halfgutter;
			margin: 0 auto;
			width: 90%;
			max-width: 400px;
			background: @bglightblackfade;
			.element-radius;
			.box-shadow;

			.site-login {
				margin-top: 1.8em;
			}
		}
	}

a.login-logo.icon-pullr {
	color: @white;
	font-size: 48px;
}
a.twitchLogin {
	display: inline-block;
	margin-bottom: .3em;
	background: @twitchpurple;
	&:hover {
		background: @twitchhover;
	}

	i {
		margin-right: @iconspace;
	}
}
.login-back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background-color: @maingray;
	background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(@base), to(@maingray));
	background-image: -webkit-radial-gradient(50% 50%, @maingray, @base);
	background-image: -moz-radial-gradient(50% 50%, @maingray, @base);
	background-image: -o-radial-gradient(50% 50%, @maingray, @base);
	background-image: -ms-radial-gradient(50% 50%, @maingray, @base);
	background-image: radial-gradient(50% 50%, @maingray, @base);
	.fadein;
}

/* temp */
.alert {
	display: none;
}