/* Base */
/* ------------------------------------------------- */
/* Accents */
/* */
/* Base */
/* Main Accent */
/* Primary accent */
/* Primary accent hover state */
/* Other Colors */
/* Twitch purple */
/* Twitch hover state */
/* Twitch purple */
/* Gray Sets */
/* 3% darker than background */
/* 10% gray background */
/* 12% gray background */
/* 15% gray background */
/* 20% gray background */
/* 25% gray background */
/* 30% gray background */
/* 40% gray background */
/* 50% gray background */
/* 60% gray background */
/* 70% gray background */
/* 72% gray background */
/* 78% gray background */
/* Faded light background */
/* Faded light background */
/* Faded dark background */
/* Faded dark background */
/* Social Icons */
/* Structure */
/* Typography */
.smallcaps {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}
/* Icons */
/* Lists */
.ulist {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Borders & Box shadows */
/* Arrows */
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.arrow-up {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}
.arrow-down {
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}
.arrow-left {
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.arrow-right {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* Transitions/Animations */
/* Progress Bar Animations */
/* ------------------------------------------------- */
/* Animate Bar */
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
/* Fade In */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Adjust Hue */
@-webkit-keyframes adjustHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
  }
  50% {
    -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
  75% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  100% {
    -webkit-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
  }
}
/* Headings */
small,
.font_small {
  font-size: 0.618em;
}
/* Icons */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?7zw7ol');
  src: url('../fonts/icomoon.eot?#iefix7zw7ol') format('embedded-opentype'), url('../fonts/icomoon.woff?7zw7ol') format('woff'), url('../fonts/icomoon.ttf?7zw7ol') format('truetype'), url('../fonts/icomoon.svg?7zw7ol#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  position: relative;
  top: 1px;
  margin-right: 3px;
}
.icon-add:before {
  content: "\e600";
}
.icon-add2:before {
  content: "\e601";
}
.icon-announcement:before {
  content: "\e602";
}
.icon-archive:before {
  content: "\e603";
}
.icon-archivebox:before {
  content: "\e604";
}
.icon-arrowbottom:before {
  content: "\e605";
}
.icon-arrowbottom2:before {
  content: "\e607";
}
.icon-arrowbottom3:before {
  content: "\e608";
}
.icon-arrowleft:before {
  content: "\e609";
}
.icon-arrowleft2:before {
  content: "\e60a";
}
.icon-arrowleft3:before {
  content: "\e60b";
}
.icon-arrowright:before {
  content: "\e60c";
}
.icon-arrowright2:before {
  content: "\e60d";
}
.icon-arrowright3:before {
  content: "\e60e";
}
.icon-arrowtop:before {
  content: "\e60f";
}
.icon-arrowtop2:before {
  content: "\e610";
}
.icon-arrowtop3:before {
  content: "\e611";
}
.icon-attachment:before {
  content: "\e612";
}
.icon-award:before {
  content: "\e613";
}
.icon-award2:before {
  content: "\e614";
}
.icon-award3:before {
  content: "\e615";
}
.icon-bargraph:before {
  content: "\e616";
}
.icon-browser:before {
  content: "\e617";
}
.icon-browser2:before {
  content: "\e618";
}
.icon-browsercheck:before {
  content: "\e619";
}
.icon-browserremove:before {
  content: "\e61a";
}
.icon-brush:before {
  content: "\e61b";
}
.icon-calendar:before {
  content: "\e61c";
}
.icon-campaigns:before {
  content: "\e61d";
}
.icon-cash:before {
  content: "\e61e";
}
.icon-charity:before {
  content: "\e61f";
}
.icon-chat:before {
  content: "\e620";
}
.icon-chatblock:before {
  content: "\e621";
}
.icon-chatblock2:before {
  content: "\e622";
}
.icon-chatblocks:before {
  content: "\e623";
}
.icon-chatbubble:before {
  content: "\e624";
}
.icon-chatbubble2:before {
  content: "\e625";
}
.icon-chatbubbles:before {
  content: "\e626";
}
.icon-check:before {
  content: "\e627";
}
.icon-check2:before {
  content: "\e628";
}
.icon-clipboard:before {
  content: "\e629";
}
.icon-clock:before {
  content: "\e62a";
}
.icon-clock2:before {
  content: "\e62b";
}
.icon-code:before {
  content: "\e62c";
}
.icon-coin:before {
  content: "\e62d";
}
.icon-coins:before {
  content: "\e62e";
}
.icon-console:before {
  content: "\e62f";
}
.icon-console2:before {
  content: "\e630";
}
.icon-controller:before {
  content: "\e631";
}
.icon-creditcard:before {
  content: "\e632";
}
.icon-csv:before {
  content: "\e633";
}
.icon-dashboard:before {
  content: "\e634";
}
.icon-dots:before {
  content: "\e635";
}
.icon-download:before {
  content: "\e636";
}
.icon-edit:before {
  content: "\e637";
}
.icon-enlarge:before {
  content: "\e638";
}
.icon-file:before {
  content: "\e639";
}
.icon-flag:before {
  content: "\e63a";
}
.icon-flag2:before {
  content: "\e63b";
}
.icon-folder:before {
  content: "\e63c";
}
.icon-fullscreen:before {
  content: "\e63d";
}
.icon-fullscreen2:before {
  content: "\e63e";
}
.icon-gamecontroller:before {
  content: "\e63f";
}
.icon-gridthumb:before {
  content: "\e640";
}
.icon-heart:before {
  content: "\e641";
}
.icon-image:before {
  content: "\e642";
}
.icon-lab:before {
  content: "\e643";
}
.icon-layout:before {
  content: "\e644";
}
.icon-layout2:before {
  content: "\e645";
}
.icon-link:before {
  content: "\e646";
}
.icon-list:before {
  content: "\e647";
}
.icon-listrow:before {
  content: "\e648";
}
.icon-lock:before {
  content: "\e649";
}
.icon-logout:before {
  content: "\e64a";
}
.icon-mail:before {
  content: "\e64b";
}
.icon-mailopen:before {
  content: "\e64c";
}
.icon-maintenance:before {
  content: "\e64d";
}
.icon-mic:before {
  content: "\e64e";
}
.icon-minus:before {
  content: "\e64f";
}
.icon-minus2:before {
  content: "\e650";
}
.icon-mobile:before {
  content: "\e651";
}
.icon-monitor:before {
  content: "\e652";
}
.icon-mute:before {
  content: "\e653";
}
.icon-pause:before {
  content: "\e654";
}
.icon-piechart:before {
  content: "\e655";
}
.icon-piechart2:before {
  content: "\e656";
}
.icon-play:before {
  content: "\e657";
}
.icon-playlist:before {
  content: "\e658";
}
.icon-popout:before {
  content: "\e659";
}
.icon-power:before {
  content: "\e65a";
}
.icon-pullr:before {
  content: "\e65b";
}
.icon-pullrsupport:before {
  content: "\e65c";
}
.icon-recover:before {
  content: "\e65d";
}
.icon-refresh:before {
  content: "\e65e";
}
.icon-remove:before {
  content: "\e65f";
}
.icon-remove2:before {
  content: "\e660";
}
.icon-resizefull:before {
  content: "\e661";
}
.icon-resizefull2:before {
  content: "\e662";
}
.icon-resizenormal:before {
  content: "\e663";
}
.icon-search:before {
  content: "\e664";
}
.icon-settings:before {
  content: "\e665";
}
.icon-share:before {
  content: "\e666";
}
.icon-stack:before {
  content: "\e667";
}
.icon-star:before {
  content: "\e668";
}
.icon-stream:before {
  content: "\e669";
}
.icon-streamboard:before {
  content: "\e66a";
}
.icon-support:before {
  content: "\e66b";
}
.icon-template:before {
  content: "\e66c";
}
.icon-timer:before {
  content: "\e66d";
}
.icon-trash:before {
  content: "\e66e";
}
.icon-twitch:before {
  content: "\e66f";
}
.icon-twitter:before {
  content: "\e670";
}
.icon-unlock:before {
  content: "\e671";
}
.icon-upload:before {
  content: "\e672";
}
.icon-user:before {
  content: "\e673";
}
.icon-useradd:before {
  content: "\e674";
}
.icon-usercheck:before {
  content: "\e675";
}
.icon-usergroup:before {
  content: "\e676";
}
.icon-userremove:before {
  content: "\e677";
}
.icon-view:before {
  content: "\e678";
}
.icon-volume:before {
  content: "\e679";
}
.icon-warning:before {
  content: "\e67a";
}
.icon-windows:before {
  content: "\e67b";
}
.icon-twitch2:before {
  content: "\e606";
}
.icon-facebook:before {
  content: "\e67d";
}
.icon-youtube:before {
  content: "\e67e";
}
.icon-help:before {
  content: "\e67c";
}
h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-weight: inherit;
  line-height: 1.2;
  margin: 0.6em 0 0.5em;
}
h1 {
  margin-top: 0;
  font-size: 3em;
  font-weight: 300;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.4em;
}
small,
.font_small {
  font-size: 0.618em;
}
p,
ol,
ul,
blockquote,
pre,
code {
  color: #ffffff;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
body {
  font-family: 'Lato', sans-serif;
  background: #222225;
}
/* Palette */
/* ------------------------------------------------- */
/* Palette Styling */
/* Header */
/* ------------------------------------------------- */
header {
  width: 100%;
  overflow: hidden;
  /* Logo */
  /* Right Menu */
}
header .logo {
  float: left;
}
header .logo a {
  height: 48px;
  font-size: 2em;
  line-height: 48px;
}
header .logo a:hover {
  cursor: pointer;
}
header .menu-actions {
  position: absolute;
  top: 0;
  right: 0;
}
header .menu-actions a {
  position: relative;
  display: inline-block;
  font-weight: 500;
  line-height: 48px;
  padding: 0 1.6em 0 1.3em;
  background: transparent;
}
header .menu-actions a:before {
  height: 0;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  border-left: 24px solid transparent;
  border-bottom: 56px solid transparent;
  top: 0;
  left: -24px;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
header {
  position: absolute;
  background: rgba(14, 15, 17, 0.3);
  z-index: 9999;
}
header .logo a {
  color: #ffffff;
  height: 42px;
  line-height: 42px;
}
header .menu-actions a {
  color: #ffffff;
  line-height: 42px;
}
/* Main */
/* ------------------------------------------------- */
.container {
  padding: 0 15px;
}
/* Buttons */
.btn {
  color: #ffffff;
  position: relative;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 45px;
  width: auto;
  outline: 0 !important;
  background: #1dbc9c;
  border: 0;
  border-radius: 6px;
  background-clip: padding-box;
  box-shadow: 0;
}
/* Social Links */
a.icon-twitch2 {
  color: #643ca8;
}
a.icon-twitch2:hover {
  color: #7d55c2 !important;
}
a.icon-twitter {
  color: #50abf1;
}
a.icon-twitter:hover {
  color: #7fc2f5 !important;
}
a.icon-youtube {
  color: #cf1c11;
}
a.icon-youtube:hover {
  color: #ed3126 !important;
}
a.icon-facebook {
  color: #3c5690;
}
a.icon-facebook:hover {
  color: #4b6cb4 !important;
}
/* Info */
.info h4 {
  color: #1dbc9c;
}
/* Buttons */
.btn {
  padding: 0 15px;
  min-width: 120px;
  border-radius: 30px;
  background-clip: padding-box;
}
.btn:hover {
  opacity: .9;
}
/* Image Container */
.header-wrap {
  position: relative;
}
.header-wrap .overlay-fade {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 35, 37, 0)), to(#222325));
  background-image: -webkit-linear-gradient(top, rgba(34, 35, 37, 0), #222325);
  background-image: linear-gradient(top, rgba(34, 35, 37, 0), #222325);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#222325', EndColorStr='#222325');
  z-index: 0;
}
/* Main Stats */
.stats {
  position: relative;
  padding: 8em 0 3em;
  z-index: 1;
  /* Avatar */
  /* Numbers */
  /* Progress Bar */
}
.stats h5 {
  color: #ffffff;
}
.stats img.avatar {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 100px;
  width: 100px;
  background: #ffffff;
  border: solid 4px #ffffff;
  border-radius: 50%;
}
.stats .donate-button {
  padding: 30px;
}
.stats .donor-stats {
  position: relative;
  display: block;
  background: #222225;
  overflow: hidden;
}
.stats .donor-stats .col-md-4 {
  position: relative;
  padding: 15px;
  border-right: 1px solid #2e2e32;
}
.stats .donor-stats .col-md-4:last-child {
  border-right: 0;
}
.stats .donor-stats .col-md-4.donors span {
  line-height: 30px;
}
.stats .donor-stats .icon-holder {
  display: inline-block;
  float: left;
  height: 100%;
}
.stats .donor-stats .icon-holder i {
  color: #3a3a40;
  font-size: 2em;
  line-height: 36px;
  margin-right: 0.4em;
  padding-top: 0;
}
.stats .donor-stats span {
  display: inline-block;
  margin-right: 0.8em;
  line-height: 1.1em;
  color: #ffffff;
  padding-top: 0.2em;
  max-width: 60px;
}
.stats .donor-stats h1 {
  display: inline-block;
  font-size: 2.4em;
  font-style: italic;
  text-align: right;
  position: absolute;
  right: 0.4em;
}
.stats .amount-progress {
  text-align: center;
  width: 100%;
  z-index: 9999;
  background: transparent;
}
.stats .amount-progress .project-progress {
  position: relative;
  content: '';
  height: 6px;
  width: 100%;
  z-index: 10;
  background: rgba(14, 15, 17, 0.7);
}
.stats .amount-progress .project-progress .project-progressbar {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #1dbc9c;
  -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
}
.stats .amount-progress .project-progress .project-progressbar span {
  display: block;
  position: absolute;
  top: -7px;
  right: 0;
  color: #ffffff;
  font-weight: 600;
  margin-left: -30px;
  height: 20px;
  width: 20px;
  border: 4px solid #ffffff;
  border-radius: 30px;
  background-clip: padding-box;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* Layout */
/* ------------------------------------------------- */
.stream-wrap {
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
.stream-wrap #stream {
  position: relative;
  margin: 0 auto;
  z-index: 10;
}
.stream-wrap #stream #featured {
  position: relative;
  overflow: hidden;
}
.stream-wrap #stream #featured .featuredstreamcontainer {
  position: relative;
  float: left;
  width: 65%;
  z-index: 10;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.stream-wrap #stream #featured .featuredchat {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  min-width: 300px;
  z-index: 1;
}
.stream-wrap #stream #featured .featuredchat iframe {
  height: 100%;
  width: 100%;
  min-height: 335px;
}
.stream-wrap #stream #featured .biggerFeaturedStream {
  width: 100%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.stream-wrap #stream a.togglechat {
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.stream-wrap .user-details {
  padding: 1em 15px;
}
.stream-wrap {
  background: #222225;
}
.stream-wrap a.togglechat {
  position: absolute;
  bottom: -26px;
  right: 0;
  padding: 0 15px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* Campaign Description */
.campaign-description {
  background: #ffffff;
}
/* Footer */
/* ------------------------------------------------- */
footer {
  text-align: center;
  padding: 2em 0;
  /* Powered */
}
footer h5 {
  color: #d4d4d8;
  font-size: .7em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .4em;
}
footer a.logo {
  font-size: 2em;
}
footer span.copy {
  display: block;
  font-size: 0.8em;
  padding: 1em 0;
}
footer h5 {
  color: #53535a;
}
footer a.logo {
  color: #53535a;
}
footer a.logo:hover {
  color: #ffffff;
}
footer span.copy {
  color: #47474d;
}
footer span.copy a {
  color: #47474d;
}
footer span.copy a:hover {
  color: #ffffff;
}
