/* Palette Styling */



@body_bg_color:						#373238;
@c1:								#1dbc9c;
@c2:								#373737;
@c3:								#454046;
@c4:								#2d292e;
@lightest:							#ffffff;
@nav_bg:							rgba(36,33,37,0.9);
