/* DONATION FORMS */
/* Resets
/* ------------------------------------------------- */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #2e3032;
}
html,
body,
p,
div {
  color: #53555a;
}
body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 100%;
  overflow: hidden;
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  animation: fadein 0.3s;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
/* Common UI Elements */
a,
button {
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #1dbc9c;
  text-decoration: none;
}
a:hover {
  color: #2ddfbb;
}
a,
a:before,
a:after {
  -webkit-transition: linear 0.08s;
  -moz-transition: linear 0.08s;
  -ms-transition: linear 0.08s;
  transition: linear 0.08s;
}
a:hover,
a:focus,
a:active,
input,
input:focus,
button,
button:active {
  outline: 0;
}
input,
button,
textarea,
select {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0;
  outline: 0;
  box-shadow: none !important;
}
iframe {
  width: 100%;
  min-height: 100%;
  border: 0;
  background: transparent;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
::selection {
  background: #eaeaeb;
  text-shadow: none;
}
/* Placeholder styling */
::-webkit-input-placeholder {
  color: rgba(34, 35, 37, 0.5) !important;
}
:-moz-placeholder {
  color: rgba(34, 35, 37, 0.5) !important;
}
::-moz-placeholder {
  color: rgba(34, 35, 37, 0.5) !important;
}
:-ms-input-placeholder {
  color: rgba(34, 35, 37, 0.5) !important;
}
/* Colors */
/* ------------------------------------------------- */
/* Base */
/* Main Accent */
/* Primary accent */
/* Primary accent hover state */
/* Other Colors */
/* Twitch purple */
/* Twitch hover state */
/* Twitch purple */
/* Gray Sets */
/* 2% darker than background */
/* 2% gray background */
/* 10% gray background */
/* 15% gray background */
/* 20% gray background */
/* 25% gray background */
/* 30% gray background */
/* 40% gray background */
/* 50% gray background */
/* 60% gray background */
/* 70% gray background */
/* 72% gray background */
/* 78% gray background */
/* 80% gray background */
/* Faded light background */
/* Faded light background */
/* Faded dark background */
/* Faded dark background */
/* Element Colors */
/* Background for inputs */
/* Backgrounds */
/* ------------------------------------------------- */
.background {
  /* Default background set */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Typography */
/* ------------------------------------------------- */
.smallcaps {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* Links */
/* ------------------------------------------------- */
/* Link color for white on dark */
/* Hover state for white on dark */
/* General */
/* ------------------------------------------------- */
/* Default width */
/* Default width */
/* Sidebar width */
/* Top bar height */
/* Navigation width */
/* Large Primary Navigation Width */
.nowrap {
  white-space: nowrap;
}
/* Lists */
/* ------------------------------------------------- */
.ulist {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Borders & Box shadows */
/* ------------------------------------------------- */
/* Arrows */
/* ------------------------------------------------- */
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.arrow-up {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}
.arrow-down {
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}
.arrow-left {
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.arrow-right {
  border-width: 10px 0 10px 0;
  border-color: transparent transparent transparent #ffffff;
}
/* Transitions/Animations */
/* ------------------------------------------------- */
.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 5000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* Progress Bar Animations */
/* ------------------------------------------------- */
/* Animate Bar */
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-moz-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
/* Fade In */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.25);
  }
  50% {
    -webkit-transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.25);
  }
  80% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
/* Icon fonts */
/* ------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?u7owa9');
  src: url('../fonts/icomoon.eot?#iefixu7owa9') format('embedded-opentype'), url('../fonts/icomoon.woff?u7owa9') format('woff'), url('../fonts/icomoon.ttf?u7owa9') format('truetype'), url('../fonts/icomoon.svg?u7owa9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\e600";
}
.icon-add2:before {
  content: "\e601";
}
.icon-announcement:before {
  content: "\e602";
}
.icon-archive:before {
  content: "\e603";
}
.icon-archivebox:before {
  content: "\e604";
}
.icon-arrowbottom:before {
  content: "\e605";
}
.icon-arrowbottom2:before {
  content: "\e607";
}
.icon-arrowbottom3:before {
  content: "\e608";
}
.icon-arrowleft:before {
  content: "\e609";
}
.icon-arrowleft2:before {
  content: "\e60a";
}
.icon-arrowleft3:before {
  content: "\e60b";
}
.icon-arrowright:before {
  content: "\e60c";
}
.icon-arrowright2:before {
  content: "\e60d";
}
.icon-arrowright3:before {
  content: "\e60e";
}
.icon-arrowtop:before {
  content: "\e60f";
}
.icon-arrowtop2:before {
  content: "\e610";
}
.icon-arrowtop3:before {
  content: "\e611";
}
.icon-attachment:before {
  content: "\e612";
}
.icon-award:before {
  content: "\e613";
}
.icon-award2:before {
  content: "\e614";
}
.icon-award3:before {
  content: "\e615";
}
.icon-bargraph:before {
  content: "\e616";
}
.icon-browser:before {
  content: "\e617";
}
.icon-browser2:before {
  content: "\e618";
}
.icon-browsercheck:before {
  content: "\e619";
}
.icon-browserremove:before {
  content: "\e61a";
}
.icon-brush:before {
  content: "\e61b";
}
.icon-calendar:before {
  content: "\e61c";
}
.icon-campaigns:before {
  content: "\e61d";
}
.icon-cash:before {
  content: "\e61e";
}
.icon-charity:before {
  content: "\e61f";
}
.icon-chat:before {
  content: "\e620";
}
.icon-chatblock:before {
  content: "\e621";
}
.icon-chatblock2:before {
  content: "\e622";
}
.icon-chatblocks:before {
  content: "\e623";
}
.icon-chatbubble:before {
  content: "\e624";
}
.icon-chatbubble2:before {
  content: "\e625";
}
.icon-chatbubbles:before {
  content: "\e626";
}
.icon-check:before {
  content: "\e627";
}
.icon-check2:before {
  content: "\e628";
}
.icon-clipboard:before {
  content: "\e629";
}
.icon-clock:before {
  content: "\e62a";
}
.icon-clock2:before {
  content: "\e62b";
}
.icon-code:before {
  content: "\e62c";
}
.icon-coin:before {
  content: "\e62d";
}
.icon-coins:before {
  content: "\e62e";
}
.icon-console:before {
  content: "\e62f";
}
.icon-console2:before {
  content: "\e630";
}
.icon-controller:before {
  content: "\e631";
}
.icon-creditcard:before {
  content: "\e632";
}
.icon-csv:before {
  content: "\e633";
}
.icon-dashboard:before {
  content: "\e634";
}
.icon-dots:before {
  content: "\e635";
}
.icon-download:before {
  content: "\e636";
}
.icon-edit:before {
  content: "\e637";
}
.icon-enlarge:before {
  content: "\e638";
}
.icon-file:before {
  content: "\e639";
}
.icon-flag:before {
  content: "\e63a";
}
.icon-flag2:before {
  content: "\e63b";
}
.icon-folder:before {
  content: "\e63c";
}
.icon-fullscreen:before {
  content: "\e63d";
}
.icon-fullscreen2:before {
  content: "\e63e";
}
.icon-gamecontroller:before {
  content: "\e63f";
}
.icon-gridthumb:before {
  content: "\e640";
}
.icon-heart:before {
  content: "\e641";
}
.icon-image:before {
  content: "\e642";
}
.icon-lab:before {
  content: "\e643";
}
.icon-layout:before {
  content: "\e644";
}
.icon-layout2:before {
  content: "\e645";
}
.icon-link:before {
  content: "\e646";
}
.icon-list:before {
  content: "\e647";
}
.icon-listrow:before {
  content: "\e648";
}
.icon-lock:before {
  content: "\e649";
}
.icon-logout:before {
  content: "\e64a";
}
.icon-mail:before {
  content: "\e64b";
}
.icon-mailopen:before {
  content: "\e64c";
}
.icon-maintenance:before {
  content: "\e64d";
}
.icon-mic:before {
  content: "\e64e";
}
.icon-minus:before {
  content: "\e64f";
}
.icon-minus2:before {
  content: "\e650";
}
.icon-mobile:before {
  content: "\e651";
}
.icon-monitor:before {
  content: "\e652";
}
.icon-mute:before {
  content: "\e653";
}
.icon-pause:before {
  content: "\e654";
}
.icon-piechart:before {
  content: "\e655";
}
.icon-piechart2:before {
  content: "\e656";
}
.icon-play:before {
  content: "\e657";
}
.icon-playlist:before {
  content: "\e658";
}
.icon-popout:before {
  content: "\e659";
}
.icon-power:before {
  content: "\e65a";
}
.icon-pullr:before {
  content: "\e65b";
}
.icon-pullr2:before {
  content: "\e67f";
}
.icon-pullrsupport:before {
  content: "\e65c";
}
.icon-recover:before {
  content: "\e65d";
}
.icon-refresh:before {
  content: "\e65e";
}
.icon-remove:before {
  content: "\e65f";
}
.icon-remove2:before {
  content: "\e660";
}
.icon-resizefull:before {
  content: "\e661";
}
.icon-resizefull2:before {
  content: "\e662";
}
.icon-resizenormal:before {
  content: "\e663";
}
.icon-search:before {
  content: "\e664";
}
.icon-settings:before {
  content: "\e665";
}
.icon-share:before {
  content: "\e666";
}
.icon-stack:before {
  content: "\e667";
}
.icon-star:before {
  content: "\e668";
}
.icon-stream:before {
  content: "\e669";
}
.icon-streamboard:before {
  content: "\e66a";
}
.icon-support:before {
  content: "\e66b";
}
.icon-template:before {
  content: "\e66c";
}
.icon-timer:before {
  content: "\e66d";
}
.icon-trash:before {
  content: "\e66e";
}
.icon-twitch:before {
  content: "\e66f";
}
.icon-twitch2:before {
  content: "\e606";
}
.icon-twitter:before {
  content: "\e670";
}
.icon-unlock:before {
  content: "\e671";
}
.icon-upload:before {
  content: "\e672";
}
.icon-user:before {
  content: "\e673";
}
.icon-useradd:before {
  content: "\e674";
}
.icon-usercheck:before {
  content: "\e675";
}
.icon-usergroup:before {
  content: "\e676";
}
.icon-userremove:before {
  content: "\e677";
}
.icon-view:before {
  content: "\e678";
}
.icon-volume:before {
  content: "\e679";
}
.icon-warning:before {
  content: "\e67a";
}
.icon-windows:before {
  content: "\e67b";
}
/* Primary Typography */
/* ------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  color: #3a3c40;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3.4em;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 1em;
  margin-bottom: .2em;
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  font-size: 2.4em;
  line-height: 1.4em;
  letter-spacing: -1px;
}
h3 {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6em;
}
h4 {
  color: #85888e;
  font-size: 1.2em;
}
h5 {
  color: #9fa2a7;
  font-size: 1em;
  text-transform: lowercase;
  margin-bottom: .6em;
}
p {
  color: #9fa2a7;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}
p.info {
  font-size: 0.8em;
}
/* Forms */
/* ------------------------------------------------- */
input.form-control,
textarea.form-control,
select.form-control {
  color: #85888e;
  font-size: 15px;
  outline: 0;
  padding: 0 16px;
  min-height: 45px;
  border: 1px solid #d4d5d8;
  box-shadow: none;
}
select.form-control {
  height: 42px;
  line-height: 42px;
}
textarea.form-control {
  padding: 14px 16px;
}
legend,
label {
  color: #6b6e75;
  font-size: 14px;
}
/* Search Field Styling */
input[type='search'] {
  font-weight: 400;
  min-height: 36px;
  border-radius: 30px;
  background-clip: padding-box;
  background: #FFF;
  border-color: transparent;
  border-color: #eaeaeb;
}
/* Checkboxes */
.checkbox label {
  float: left;
  display: block;
  position: static;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  text-indent: -36px;
  text-align: left;
  width: auto;
  padding-top: 2px;
  padding-left: 2.3em;
  white-space: normal;
  cursor: pointer;
}
.checkbox label:before {
  content: "\e013";
  position: relative;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: 'Glyphicons Halflings';
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 18px;
  text-align: center;
  text-indent: 0;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-clip: padding-box;
  display: inline-block;
  margin-right: 10px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #babcbf;
}
.checkbox label:hover:before {
  color: #eaeaeb;
}
.checkbox label.focused:before {
  border: 1px solid #6b6e75;
}
.checkbox label.on:before {
  color: #6b6e75;
  border: 1px solid #6b6e75;
}
.checkbox input {
  position: absolute;
  left: -9999px;
}
/* Selects (Select2) */
.select2-container {
  display: block;
}
.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices {
  color: #85888e;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 15px;
  border: solid 1px #d4d5d8 !important;
  box-shadow: none !important;
}
.select2-container .select2-choices .select2-search-field input:focus,
.select2-container .select2-choice:focus,
.select2-container .select2-choices:focus {
  outline: 0 !important;
}
.select2-drop {
  box-shadow: none;
}
.select2-drop.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active {
  border: solid 1px #d4d5d8;
  box-shadow: none;
}
.select2-search input {
  margin-top: 4px;
}
.select2-results {
  padding: 0;
  margin: 4px 0;
}
.select2-results .select2-highlighted {
  background: #d4d5d8;
}
.select2-results .select2-result-label {
  padding: 3px 12px 4px;
}
/* Bootstrap Overrides */
.form-group {
  margin-bottom: 20px;
}
.form-group .form-group,
.help-block {
  margin: 0;
}
/* Modals */
/* ------------------------------------------------- */
.popup {
  color: #FFF;
  position: relative;
  padding: 4em;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
}
.popup h2 {
  color: #FFF;
  text-align: center;
}
.popup .field {
  padding: .2em 0;
  width: 100%;
}
.modal-dialog {
  position: absolute;
  top: 10%;
  left: 7.5%;
  bottom: 10%;
  right: 5.5%;
  margin: 0;
  width: auto;
  background: #FFF;
}
.modal-content {
  border-radius: 0;
  box-shadow: none;
}
/* Global Styles */
/* ------------------------------------------------- */
body {
  font-size: 15px;
}
body.campaignflow {
  overflow: auto;
}
/* Components */
/* ------------------------------------------------- */
.pane {
  height: 100%;
}
/* Buttons */
/* ------------------------------------------------- */
.btn {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 46px;
  padding: 0 1.6em;
  height: 46px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.btn:hover {
  color: #ffffff;
  outline: 0;
  border: 0;
}
.btn-default {
  background-color: #1dbc9c;
  color: #ffffff;
}
.btn-default:hover {
  background-color: #2ddfbb;
}
.btn-primary {
  background-color: #1dbc9c;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #2ddfbb;
}
.btn-secondary {
  background-color: #6b6e75;
  color: #ffffff;
}
.btn-secondary:hover {
  background-color: #85888e;
}
.btn-sm {
  font-size: 0.9em;
  line-height: 33px;
  padding: 0 1.4em;
  height: 33px;
}
.btn-link {
  color: #ffffff;
  text-decoration: underline;
}
.btn-csv {
  float: right;
  margin: 20px 20px 20px 0;
  background: #babcbf;
}
/* Tables */
/* ------------------------------------------------- */
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  /* Expanding child table */
}
table th {
  color: #9fa2a7;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
table tr:hover td {
  color: #222325;
}
table td {
  color: #53555a;
  cursor: pointer;
  -webkit-transition: linear 0.08s;
  -moz-transition: linear 0.08s;
  -ms-transition: linear 0.08s;
  transition: linear 0.08s;
}
table td.raised {
  color: #1dbc9c !important;
}
table th,
table td,
table.dataTable tbody th table.dataTable tbody td {
  padding: 1em 6% !important;
}
table.dataTable.display tbody td[colspan~="4"] {
  padding-top: 0 !important;
  border: 0;
}
table.dataTable td.details-control {
  padding: 0 !important;
  cursor: pointer;
}
table.dataTable td.details-control.drop i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
table.dataTable td.details-control i {
  display: block;
  text-align: center;
  padding: 1em 6%;
  -webkit-transition: linear 0.08s;
  -moz-transition: linear 0.08s;
  -ms-transition: linear 0.08s;
  transition: linear 0.08s;
}
table.dataTable td.details-control i:before {
  height: 16px;
  width: 16px;
}
table.dataTable thead th {
  border-bottom: solid 1px #eaeaeb;
}
table.dataTable tbody tr {
  background-color: transparent !important;
  border-color: transparent !important;
}
table.childTable tr.open-row td {
  display: block;
  color: #85888e;
  padding: .3em 0 !important;
}
table.dataTable.no-footer {
  border: 0;
}
.dataTables_wrapper,
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td,
table.dataTable thead td {
  border-top: solid 1px #eaeaeb;
}
.dataTables_info {
  color: #85888e !important;
  font-size: .9em;
  margin-top: 15px;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #53555a !important;
}
.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_processing label,
.dataTables_wrapper .dataTables_paginate label {
  margin: 0;
}
.dataTables_wrapper .dataTables_paginate {
  padding: 0px !important;
}
.dataTables_wrapper select.form-control {
  text-indent: 0;
  height: 38px;
}
.table-header,
.table-footer {
  background: #eaeaeb;
}
.table-header .select2-container,
.table-footer .select2-container {
  margin-right: 6px;
}
.table-header label,
.table-footer label {
  color: #85888e;
}
.row {
  margin: 0;
  padding: 16px 6%;
  border-bottom: solid 1px #ffffff;
}
/* Statistics Global Styling */
.stats-overview {
  position: relative;
  text-align: center;
  padding: 0;
  border-top: solid 1px #eaeaeb;
  overflow: hidden;
}
.stats-overview .stats-box {
  padding: 1.6em 2em;
  border-left: solid 1px #eaeaeb;
}
.stats-overview .stats-box:first-child {
  border-left: 0px;
}
.stats-overview .stats-box h2,
.stats-overview .stats-box h3 {
  display: block;
  font-weight: 400;
}
.stats-overview .stats-box.raised-total {
  border-left: 0 !important;
}
.stats-overview .stats-box.raised-total h1,
.stats-overview .stats-box.raised-total h2 {
  color: #1dbc9c;
  font-weight: 400;
  margin: 0;
}
.stats-overview .progress-wrap {
  position: relative;
}
.stats-overview .progress-wrap .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 6px;
}
/* Progress Bars */
/* ------------------------------------------------- */
.progress {
  border-radius: 0px;
  margin-bottom: 0px;
  height: 20px;
  background: #eaeaeb;
}
.progress-line {
  position: relative;
  color: #FFF;
  text-align: right;
  padding-right: 5px;
  line-height: 20px;
  height: 20px;
  max-width: 100%;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #1dbc9c;
  -webkit-animation: animate-bar 1s 1 ease;
  -moz-animation: animate-bar 1s 1 ease;
  -ms-animation: animate-bar 1s 1 ease;
  animation: animate-bar 1s 1 ease;
}
/* Tabs Override (for Bootstrap) */
/* ------------------------------------------------- */
.nav-tabs > li > a {
  margin: 0;
}
.nav-tabs > li > a:before {
  padding-right: 6px;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
}
.nav-tabs {
  border-color: transparent;
}
/* General */
/* ------------------------------------------------- */
body {
  font-size: 16px;
  background: #ffffff;
}
input,
textarea {
  color: #53555a;
  font-size: 1.1em;
  font-weight: 500;
  padding: 1em;
  width: 100%;
  border: solid 1px #d4d5d8;
  outline: 0;
  background: #FFF;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input:focus,
textarea:focus {
  border: solid 1px #53555a;
}
textarea {
  max-width: 100%;
  min-height: 160px;
  max-height: 220px;
}
label {
  display: inline-block;
  color: #53555a;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .4em;
}
select {
  position: relative;
  color: #FFF;
  font-size: 0.9em;
  padding-right: 2em;
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  z-index: 1;
  cursor: pointer;
}
button.donate {
  font-size: 1.4em;
  margin: .3em 0;
}
.field {
  position: relative;
  margin-bottom: .6em;
  width: 100%;
}
.field.comments span.counter {
  float: right;
  color: #53555a;
  font-size: .8em;
}
/* Icon Fonts */
/* ------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?u7owa9');
  src: url('../../fonts/icomoon.eot?#iefixu7owa9') format('embedded-opentype'), url('../../fonts/icomoon.woff?u7owa9') format('woff'), url('../../fonts/icomoon.ttf?u7owa9') format('truetype'), url('../../fonts/icomoon.svg?u7owa9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Name */
/* ------------------------------------------------- */
h1.campaign-name {
  color: #3a3c40;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 3.4em;
  margin-bottom: .2em;
}
h3.charity-name {
  color: #85888e;
  font-size: 1.3em;
  margin-bottom: 0;
}
span.approved {
  display: inline-block;
  color: #1dbc9c;
  font-size: .9em;
  font-weight: 600;
  margin-left: .4em;
}
/* Progress Bar */
/* ------------------------------------------------- */
.form-progress {
  text-align: center;
}
.form-progress .totals {
  color: #babcbf;
  font-size: 1.1em;
  font-weight: 400;
  padding: .3em 0;
}
.form-progress .totals span.total {
  color: #1dbc9c;
}
.form-progress-wrap {
  position: relative;
  text-align: center;
  height: 28px;
  width: 100%;
  background: #efeff0;
}
.form-progress-wrap .progress {
  height: 100%;
  max-width: 100%;
  background: #1dbc9c;
  -webkit-animation: animate-bar 1s 1 ease;
  animation: animate-bar 1s 1 ease;
}
/* Separators */
.separation {
  position: absolute;
  bottom: 0;
  height: 10px;
  overflow: hidden;
  width: 100%;
}
.separation .separation-left,
.separation .separation-right {
  position: absolute;
  width: 50%;
  height: 30px;
  top: 0;
  left: 0;
  background: #ffffff;
  margin-left: -12px;
}
.separation .separation-left:after,
.separation .separation-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: -90px;
  height: 0;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 60px solid #ffffff;
}
.separation .separation-right {
  left: 50%;
  margin-left: 12px;
}
.separation .separation-right:after {
  left: -90px;
}
/* Footer */
/* ------------------------------------------------- */
footer {
  text-align: center;
  padding-bottom: 2em;
}
footer h5 {
  color: #d4d5d8;
  font-size: .6em;
  margin-bottom: .1em;
}
footer a.logo:before {
  color: #d4d5d8;
  font-size: 2.4em;
}
footer a.logo:before:hover:before {
  color: #53555a;
}
/* Responsive */
/* ------------------------------------------------- */
@media only screen and (max-width: 480px) {
  h1.campaign-name {
    font-size: 2.4em;
  }
  h3.charity-name {
    font-size: 1em;
  }
  button.donate {
    width: 100%;
  }
}
/* Tip Jar Donation Form */
/* ------------------------------------------------- */
.tip-jar {
  text-align: center;
  padding: 6em 5% 2em;
  /* Donation Input */
}
.tip-jar form {
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
}
.tip-jar .donation-amount input {
  padding: 1em 3.2em 1em 2em;
}
.tip-jar .donation-amount span {
  position: absolute;
  top: 1.25em;
  color: #53555a;
}
.tip-jar .donation-amount span.preamt {
  position: absolute;
  left: 1.2em;
}
.tip-jar .donation-amount span.currency {
  position: absolute;
  right: 1.2em;
}
/* Events Donation Form */
/* ------------------------------------------------- */
.events-form {
  text-align: center;
  padding: 6em 5% 2em;
  /* Amount Selections */
}
.events-form form {
  margin: 0 auto;
  width: 100%;
  max-width: 680px;
}
.events-form #donation-amount {
  position: relative;
  margin: 2em auto 3em;
}
.events-form #donation-amount .fieldamount {
  position: relative;
  float: left;
  display: inline-block;
  text-align: center;
  margin: 0 .5%;
  width: 16%;
  width: -webkit-calc(15.66666667%);
  width: calc(15.66666667%);
  overflow: hidden;
  -webkit-transition: linear .1s;
  transition: linear .1s;
}
.events-form #donation-amount .fieldamount label {
  color: #6b6e75;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: -1px;
  margin: 0;
  width: 100%;
  background: #efeff0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
  cursor: pointer;
}
.events-form #donation-amount .fieldamount label:hover {
  background: #d4d5d8;
}
.events-form #donation-amount .fieldamount label.active {
  color: #ffffff !important;
  background: #1dbc9c !important;
}
.events-form #donation-amount .fieldamount label.other {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0;
}
.events-form #donation-amount .fieldamount input[type="radio"] {
  position: absolute;
  left: -999px;
}
.events-form #donation-amount #other {
  position: absolute;
  top: 0;
  left: .5%;
  right: 17%;
  background: #ffffff;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #d4d5d8;
  overflow: hidden;
}
.events-form #donation-amount #other a.closethis {
  position: absolute;
  top: 0;
  right: 32px;
  color: #d4d5d8;
  font-size: 1.4em;
  line-height: 100px;
  z-index: 100;
}
.events-form #donation-amount #other a.closethis:hover {
  color: #53555a;
}
.events-form #donation-amount #other span.dollar-sign {
  position: absolute;
  left: 6.5%;
  color: #53555a;
  z-index: 900;
  font-size: 2em;
  line-height: 100px;
}
.events-form #donation-amount #other .field {
  position: relative;
  margin: 0;
}
.events-form #donation-amount #other .field input {
  font-size: 2em;
  line-height: 44px;
  width: 100%;
  padding: .85em 10% !important;
  border: 0;
  text-indent: 6%;
}
/* Responsive Styles */
@media only screen and (max-width: 540px) {
  .events-form #donation-amount .fieldamount {
    margin: .12em .5%;
    width: 33%;
    width: -webkit-calc(32.33333333%);
    width: calc(32.33333333%);
  }
  .events-form #donation-amount #other {
    right: .5%;
  }
  .events-form #donation-amount #other .field input {
    text-indent: 18%;
    padding: .9em 10% !important;
  }
  .form-wrapper {
    padding: 0;
  }
}
/* Dark Styles (if opted) */
/* ------------------------------------------------- */
html.dark,
html.dark body {
  background: #222325;
}
/* Progress Bar */
html.dark .form-progress .totals {
  color: #53555a;
}
html.dark .form-progress-wrap {
  background: #3a3c40;
}
html.dark div.separation > div.separation-left,
html.dark div.separation > div.separation-right {
  background: #222325;
}
html.dark div.separation > div.separation-left:after,
html.dark div.separation > div.separation-right:after {
  border-bottom: 60px solid #222325;
}
/* General */
html.dark h1.campaign-name {
  color: #ffffff;
}
/* Forms */
html.dark input,
html.dark textarea {
  color: #ffffff;
  border: 0;
  background: #2e3032;
}
html.dark .events-form #donation-amount .fieldamount label {
  color: #85888e;
  background: #2e3032;
}
html.dark .events-form #donation-amount .fieldamount label:hover {
  background: #3a3c40;
}
html.dark .events-form #donation-amount #other {
  background: #2e3032;
  border: solid 1px #2e3032;
}
html.dark .events-form #donation-amount #other a.closethis {
  color: #6b6e75;
}
html.dark .events-form #donation-amount #other a.closethis:hover {
  color: #ffffff;
}
html.dark .events-form #donation-amount #other span.dollar-sign {
  color: #6b6e75;
}
/* Footer */
html.dark h5 {
  color: #3a3c40;
}
html.dark footer a.logo:before {
  color: #3a3c40;
}
html.dark footer a.logo:hover:before {
  color: #ffffff;
}
/* Payment Section */
/* ------------------------------------------------- */
.payment .group {
  background: #ffffff;
  margin: 0 auto;
  width: 100%;
}
.payment fieldset {
  border: 0;
}
/* Animations */
/* ------------------------------------------------- */
/* Fade */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animate Progress Bars */
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}
