/* Resets
/* ------------------------------------------------- */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #2e2e32;
}
html,
body,
p,
div {
  color: #53535a;
}
body {
  color: #9f9fa7;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  overflow: hidden;
  -webkit-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  animation: fadein 0.3s;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
/* Common UI Elements */
a,
button {
  outline: 0;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #1dbc9c;
  text-decoration: none;
}
a:hover {
  color: #20d2ae;
}
a,
a:before,
a:after {
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
a:hover,
a:focus,
a:active,
input,
input:focus,
button,
button:active {
  outline: 0;
}
input,
button,
textarea,
select {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0;
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
iframe {
  width: 100%;
  min-height: 100%;
  border: 0;
  background: transparent;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
::-moz-selection {
  background: #eaeaeb;
  text-shadow: none;
}
::selection {
  background: #eaeaeb;
  text-shadow: none;
}
/* Placeholder styling */
::-webkit-input-placeholder {
  color: #9f9fa7 !important;
}
:-moz-placeholder {
  color: #9f9fa7 !important;
}
::-moz-placeholder {
  color: #9f9fa7 !important;
}
:-ms-input-placeholder {
  color: #9f9fa7 !important;
}
/* Color swatch styling */
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-color-swatch {
  border: none;
}
/* Colors */
/* ------------------------------------------------- */
/*
/* Pullr Color Pallette
/* -------------------------------------------------------- */
/* -- Dark Grays -- */
/* Charcoal gray */
/* Dark gray */
/* Accents */
/* */
/* Base */
/* Main Accent */
/* Primary accent */
/* Primary accent hover state */
/* Other Colors */
/* Twitch purple */
/* Twitch hover state */
/* Gray Sets */
/* 2% darker than background */
/* 10% gray background */
/* 12% gray background */
/* 15% gray background */
/* 20% gray background */
/* 25% gray background */
/* 30% gray background */
/* 40% gray background */
/* 50% gray background */
/* 60% gray background */
/* 70% gray background */
/* 72% gray background */
/* 78% gray background */
/* Faded light background */
/* Faded light background */
/* Faded dark background */
/* Faded dark background */
/* Element Colors */
/* Background for inputs */
/* Background for module headers */
/* Backgrounds */
/* ------------------------------------------------- */
.background {
  /* Default background set */
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover cover;
          background-size: cover;
}
/* Typography */
/* ------------------------------------------------- */
.smallcaps {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* Icons */
/* Right margin for icons on buttons */
/* Links */
/* ------------------------------------------------- */
/* Link color for white on dark */
/* Hover state for white on dark */
/* General */
/* ------------------------------------------------- */
/* Default width */
/* Default width */
/* Sidebar width */
/* Sidebar width */
/* Top bar height */
/* Navigation width */
/* Large Primary Navigation Width */
/* Padding */
/* Default spacing between main elements */
/* Half the gutter spacing */
.nowrap {
  white-space: nowrap;
}
/* Lists */
/* ------------------------------------------------- */
.ulist {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Borders & Box shadows */
/* ------------------------------------------------- */
/* Arrows */
/* ------------------------------------------------- */
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.arrow-up {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}
.arrow-down {
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}
.arrow-left {
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.arrow-right {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* Transitions/Animations */
/* ------------------------------------------------- */
/* Progress Bar Animations */
/* ------------------------------------------------- */
/* Animate Bar */
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
/* Fade In */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Adjust Hue */
@-webkit-keyframes adjustHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
  }
  50% {
    -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
  75% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  100% {
    -webkit-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
  }
}
/* Content Loader */
@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* Icon fonts */
/* ------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?u7owa9');
  src: url('../fonts/icomoon.eot?#iefixu7owa9') format('embedded-opentype'), url('../fonts/icomoon.woff?u7owa9') format('woff'), url('../fonts/icomoon.ttf?u7owa9') format('truetype'), url('../fonts/icomoon.svg?u7owa9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-adduser:before {
  content: "\e609";
}
.icon-approved:before {
  content: "\e6ab";
}
.icon-archive:before {
  content: "\e60a";
}
.icon-archiveit:before {
  content: "\e60b";
}
.icon-arrow-down:before {
  content: "\e60c";
}
.icon-arrow-down2:before {
  content: "\e60d";
}
.icon-arrow-down3:before {
  content: "\e60e";
}
.icon-arrow-left:before {
  content: "\e60f";
}
.icon-arrow-left2:before {
  content: "\e610";
}
.icon-arrow-left3:before {
  content: "\e611";
}
.icon-arrow-right:before {
  content: "\e612";
}
.icon-arrow-right2:before {
  content: "\e613";
}
.icon-arrow-right3:before {
  content: "\e614";
}
.icon-arrow-up:before {
  content: "\e615";
}
.icon-arrow-up2:before {
  content: "\e616";
}
.icon-arrow-up3:before {
  content: "\e617";
}
.icon-award:before {
  content: "\e618";
}
.icon-award2:before {
  content: "\e619";
}
.icon-award3:before {
  content: "\e61a";
}
.icon-award4:before {
  content: "\e61b";
}
.icon-back:before {
  content: "\e61c";
}
.icon-bargraph:before {
  content: "\e61d";
}
.icon-bell:before {
  content: "\e61e";
}
.icon-board:before {
  content: "\e61f";
}
.icon-board2:before {
  content: "\e620";
}
.icon-book:before {
  content: "\e621";
}
.icon-box-empty:before {
  content: "\e622";
}
.icon-box-full:before {
  content: "\e623";
}
.icon-bubble:before {
  content: "\e624";
}
.icon-bubble2:before {
  content: "\e625";
}
.icon-bubble3:before {
  content: "\e626";
}
.icon-bubble4:before {
  content: "\e627";
}
.icon-bubble5:before {
  content: "\e628";
}
.icon-bubble6:before {
  content: "\e629";
}
.icon-bug:before {
  content: "\e62a";
}
.icon-bugspray:before {
  content: "\e62b";
}
.icon-bulb:before {
  content: "\e62c";
}
.icon-calendar:before {
  content: "\e62d";
}
.icon-cart:before {
  content: "\e62e";
}
.icon-check:before {
  content: "\e6ac";
}
.icon-check-empty:before {
  content: "\e62f";
}
.icon-check-fill:before {
  content: "\e630";
}
.icon-check-round-fill:before {
  content: "\e631";
}
.icon-check-round-outline:before {
  content: "\e632";
}
.icon-clip:before {
  content: "\e633";
}
.icon-clipboard:before {
  content: "\e634";
}
.icon-clock:before {
  content: "\e635";
}
.icon-clock2:before {
  content: "\e636";
}
.icon-close-round:before {
  content: "\e637";
}
.icon-close:before {
  content: "\e638";
}
.icon-code:before {
  content: "\e639";
}
.icon-code2:before {
  content: "\e63a";
}
.icon-coin:before {
  content: "\e63b";
}
.icon-coins:before {
  content: "\e63c";
}
.icon-coinstack:before {
  content: "\e63d";
}
.icon-credit-card-accept:before {
  content: "\e63e";
}
.icon-credit-card:before {
  content: "\e63f";
}
.icon-dashboard:before {
  content: "\e640";
}
.icon-dashboard2:before {
  content: "\e641";
}
.icon-dashboard3:before {
  content: "\e642";
}
.icon-design:before {
  content: "\e643";
}
.icon-design2:before {
  content: "\e644";
}
.icon-design3:before {
  content: "\e645";
}
.icon-dollar:before {
  content: "\e646";
}
.icon-dollars:before {
  content: "\e647";
}
.icon-dots:before {
  content: "\e648";
}
.icon-download:before {
  content: "\e649";
}
.icon-download2:before {
  content: "\e64a";
}
.icon-eye:before {
  content: "\e64b";
}
.icon-facebook:before {
  content: "\e64c";
}
.icon-file:before {
  content: "\e64d";
}
.icon-files:before {
  content: "\e64e";
}
.icon-filter:before {
  content: "\e64f";
}
.icon-fingerprint:before {
  content: "\e650";
}
.icon-flag-outline:before {
  content: "\e651";
}
.icon-flag:before {
  content: "\e652";
}
.icon-folder:before {
  content: "\e653";
}
.icon-gamepad:before {
  content: "\e654";
}
.icon-gamepad2:before {
  content: "\e655";
}
.icon-gamepad3:before {
  content: "\e656";
}
.icon-gamepad4:before {
  content: "\e657";
}
.icon-gamepad5:before {
  content: "\e658";
}
.icon-gamepad6:before {
  content: "\e659";
}
.icon-gamepad7:before {
  content: "\e65a";
}
.icon-gamepad8:before {
  content: "\e65b";
}
.icon-gamepad9:before {
  content: "\e65c";
}
.icon-gamepad10:before {
  content: "\e65d";
}
.icon-gamepad11:before {
  content: "\e65e";
}
.icon-gamepad12:before {
  content: "\e65f";
}
.icon-gamepad13:before {
  content: "\e660";
}
.icon-gamepad14:before {
  content: "\e661";
}
.icon-gamer:before {
  content: "\e662";
}
.icon-google-plus:before {
  content: "\e663";
}
.icon-heart-outline:before {
  content: "\e664";
}
.icon-heart:before {
  content: "\e665";
}
.icon-help-outline:before {
  content: "\e666";
}
.icon-help:before {
  content: "\e667";
}
.icon-lab:before {
  content: "\e668";
}
.icon-lab2:before {
  content: "\e669";
}
.icon-link:before {
  content: "\e66a";
}
.icon-list-drop:before {
  content: "\e66b";
}
.icon-list:before {
  content: "\e66c";
}
.icon-lock-accept:before {
  content: "\e66d";
}
.icon-lock:before {
  content: "\e66e";
}
.icon-logout:before {
  content: "\e66f";
}
.icon-mail-social:before {
  content: "\e670";
}
.icon-mail:before {
  content: "\e671";
}
.icon-menu:before {
  content: "\e672";
}
.icon-microphone:before {
  content: "\e673";
}
.icon-minus-round:before {
  content: "\e674";
}
.icon-minus:before {
  content: "\e675";
}
.icon-money:before {
  content: "\e676";
}
.icon-monitor:before {
  content: "\e677";
}
.icon-notify:before {
  content: "\e678";
}
.icon-paypal-outline:before {
  content: "\e679";
}
.icon-paypal:before {
  content: "\e67a";
}
.icon-pencil:before {
  content: "\e67b";
}
.icon-phone:before {
  content: "\e67c";
}
.icon-picture:before {
  content: "\e67d";
}
.icon-piechart:before {
  content: "\e67f";
}
.icon-piechart2:before {
  content: "\e67e";
}
.icon-pinterest:before {
  content: "\e680";
}
.icon-plane:before {
  content: "\e681";
}
.icon-play-icon:before {
  content: "\e682";
}
.icon-play:before {
  content: "\e683";
}
.icon-plus-round:before {
  content: "\e684";
}
.icon-plus:before {
  content: "\e685";
}
.icon-print:before {
  content: "\e686";
}
.icon-pullr-logo2:before {
  content: "\e607";
}
.icon-pullr-logo:before {
  content: "\e608";
}
.icon-radio-empty:before {
  content: "\e687";
}
.icon-radio-fill:before {
  content: "\e688";
}
.icon-recover:before {
  content: "\e689";
}
.icon-reload:before {
  content: "\e68a";
}
.icon-removeuser:before {
  content: "\e68b";
}
.icon-reports:before {
  content: "\e68c";
}
.icon-rocket:before {
  content: "\e68d";
}
.icon-search:before {
  content: "\e68e";
}
.icon-send:before {
  content: "\e68f";
}
.icon-settings:before {
  content: "\e690";
}
.icon-share:before {
  content: "\e691";
}
.icon-shield:before {
  content: "\e692";
}
.icon-soundwave:before {
  content: "\e600";
}
.icon-star-outline:before {
  content: "\e693";
}
.icon-star:before {
  content: "\e694";
}
.icon-stream:before {
  content: "\e695";
}
.icon-stream2:before {
  content: "\e696";
}
.icon-support:before {
  content: "\e697";
}
.icon-timer:before {
  content: "\e698";
}
.icon-tools:before {
  content: "\e601";
}
.icon-trash:before {
  content: "\e699";
}
.icon-trophy:before {
  content: "\e69a";
}
.icon-trophy2:before {
  content: "\e69b";
}
.icon-trophy3:before {
  content: "\e69c";
}
.icon-trophy4:before {
  content: "\e69d";
}
.icon-twitch:before {
  content: "\e605";
}
.icon-twitch2:before {
  content: "\e606";
}
.icon-twitter:before {
  content: "\e69e";
}
.icon-twitter2:before {
  content: "\e69f";
}
.icon-unlock:before {
  content: "\e6a0";
}
.icon-upload:before {
  content: "\e6a1";
}
.icon-upload2:before {
  content: "\e6a2";
}
.icon-user:before {
  content: "\e6a3";
}
.icon-users:before {
  content: "\e6a4";
}
.icon-users2:before {
  content: "\e6a5";
}
.icon-volume-more:before {
  content: "\e6a6";
}
.icon-volume-mute:before {
  content: "\e6a7";
}
.icon-volume:before {
  content: "\e6a8";
}
.icon-volume-level:before {
  content: "\e602";
}
.icon-warning-outline:before {
  content: "\e6a9";
}
.icon-warning:before {
  content: "\e6aa";
}
.icon-youtube:before {
  content: "\e603";
}
.icon-youtube2:before {
  content: "\e604";
}
/* Primary Typography */
/* ------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  color: #53535a;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2.8em;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 1.4em;
  margin-bottom: .2em;
  margin-bottom: 30px;
}
h2 {
  font-size: 2em;
  line-height: 1.2em;
  letter-spacing: -1px;
}
h3 {
  font-size: 1.4em;
  line-height: 1.6em;
}
h4 {
  color: #9f9fa7;
  font-size: 1.2em;
  line-height: 1.6em;
}
h5 {
  color: #bababf;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: .6em;
}
p {
  line-height: 1.4em;
  margin-bottom: 1.4em;
}
p.info {
  font-size: 0.8em;
}
i.icon {
  position: relative;
  top: 2px;
}
/* Forms */
/* ------------------------------------------------- */
input[type="text"],
textarea,
select {
  color: #3a3a40;
  font-size: 16px;
  outline: 0;
  padding: 0 15px;
  min-height: 45px;
  border: 2px solid #eaeaeb;
  background: #eaeaeb;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input[type="text"]:focus,
textarea:focus,
select:focus {
  border: 2px solid #bababf;
}
select {
  height: 42px;
  line-height: 42px;
  background: #dfdfe2;
}
textarea {
  padding: 15px;
}
legend,
label {
  color: #bababf;
  font-weight: 400;
}
.icon-help {
  color: #bababf;
  font-size: 14px;
  margin-left: 3px;
}
/* Search Field Styling */
input[type='search'],
.select2-search input {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  min-height: 36px;
  padding: 0 15px 0 40px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  background: #ffffff;
  border: 0 !important;
}
/* Color Picker */
input[type='color'] {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 3px;
  border: 0;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  overflow: hidden;
  cursor: pointer;
}
/* Selects (Select2) */
/* ------------------------------------------------- */
.select2-container {
  position: relative;
  display: block;
}
.select2-container:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
  top: 50%;
  right: 15px;
  margin-top: -4px;
  border-width: 6px 4px 0 4px;
  border-color: #bababf transparent transparent transparent;
}
.select2-container.select2-dropdown-open a.select2-choice {
  background: #d4d4d8;
}
.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices {
  color: #53535a;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #eaeaeb;
  border: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.select2-container .select2-choices .select2-search-field input:focus,
.select2-container .select2-choice:focus,
.select2-container .select2-choices:focus {
  outline: 0 !important;
}
.select2-container .select2-choices .select2-search-field input:hover,
.select2-container .select2-choice:hover,
.select2-container .select2-choices:hover {
  background: #d4d4d8;
}
.select2-container .select2-choice {
  height: 45px;
}
.select2-container .select2-choice > span:first-child,
.select2-container .select2-choices .select2-search-field input {
  padding: 11px 15px;
}
.select2-container .select2-choice .select2-arrow,
.select2-container .select2-choice div {
  border: 0;
  width: 20px;
}
.select2-container .select2-choice .select2-arrow b,
.select2-container .select2-choice div b {
  background: none !important;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 0;
  background: #eaeaeb;
}
.select2-drop {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.select2-drop.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active {
  border: 0;
  background: #d4d4d8;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.select2-search {
  position: relative;
  margin: 15px 0 0;
  padding: 0 15px;
}
.select2-search:before {
  position: absolute;
  top: 50%;
  content: '\e68e';
  color: #d4d4d8;
  font-family: 'icomoon';
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: -7px;
  width: 40px;
}
.select2-search input {
  margin-top: 4px;
}
.select2-results {
  padding: 0;
  margin: 4px 0;
}
.select2-results .select2-highlighted {
  background: #bababf;
}
.select2-results .select2-result-label {
  color: #ffffff;
  padding: 10px 15px;
}
.select2-results .select2-result-label:hover {
  background: #bababf;
}
.select2-results .select2-result-label span {
  color: #bababf !important;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  color: #d4d4d8;
  font-size: 0.9em;
  text-align: center;
  padding: 6px;
  background: transparent;
}
/* Checkboxes */
.checkbox {
  padding: 0;
}
.checkbox label {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
  float: left;
  cursor: pointer;
  width: auto;
  display: block;
  padding-top: 2px;
  text-indent: -36px;
  padding-left: 2.3em;
  white-space: normal;
}
.checkbox label:before {
  content: '\e6ac';
  position: relative;
  top: 1px;
  display: inline-block;
  color: #eaeaeb;
  font-family: 'icomoon';
  font-size: 16px;
  line-height: 18px;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  text-align: center;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-indent: 0;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  background: #eaeaeb;
}
.checkbox label:hover:before {
  color: #d4d4d8;
}
.checkbox label.on:before {
  color: #85858e;
}
.checkbox input {
  position: absolute;
  left: -9999px;
}
/* Switch Buttons */
.bootstrap-switch {
  display: block !important;
  max-width: 120px;
  border: solid 2px #eaeaeb !important;
}
/* Misc */
.help-block {
  position: absolute;
}
/* Bootstrap Overrides */
.form-group {
  margin-bottom: 20px;
}
.form-group .form-group,
.help-block {
  padding: 0;
  margin-bottom: 15px;
}
.form-control {
  height: auto;
}
/* Modals */
/* ------------------------------------------------- */
.popup {
  color: #FFF;
  position: relative;
  padding: 4em;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
}
.popup h2 {
  color: #FFF;
  text-align: center;
}
.popup .field {
  padding: .2em 0;
  width: 100%;
}
.modal-dialog {
  position: absolute;
  top: 10%;
  left: 7.5%;
  bottom: 10%;
  right: 5.5%;
  margin: 0;
  width: auto;
  background: #FFF;
  border-radius: 10px;
}
.modal-content {
  background: transparent;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.modal-backdrop {
  background: #2e2e32;
  z-index: 1000;
}
/* Global Styles */
/* ------------------------------------------------- */
body {
  font-size: 16px;
  height: 100%;
}
.streamboardContainer {
  height: 100%;
}
body.campaignflow {
  overflow: auto;
}
/* Components */
/* ------------------------------------------------- */
.pane {
  bottom: 0;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.hide {
  display: none;
}
/* Buttons */
/* ------------------------------------------------- */
.btn {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1em;
  outline: 0;
  border: 0;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.btn:hover {
  color: #ffffff;
  outline: 0;
  border: 0;
}
.btn:not(.btn-xs):not(.btn-sm):not(.bnt-lg) {
  font-weight: 700;
  line-height: 46px;
  padding: 0 1.4em;
  height: 46px;
}
.btn-default {
  background-color: #1dbc9c;
  color: #ffffff;
}
.btn-default:hover {
  background-color: #20d2ae;
}
.btn-primary {
  background-color: #1dbc9c;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #20d2ae;
}
.btn-secondary {
  background-color: #6b6b75;
  color: #ffffff;
}
.btn-secondary:hover {
  background-color: #85858e;
}
.btn-sm {
  font-size: 0.9em;
  line-height: 33px;
  padding: 0 1.4em;
  height: 33px;
}
.btn-link {
  padding: 0;
}
.btn-csv {
  float: right;
  margin-right: 20px;
  background: #bababf;
}
/* Main Data Containers */
/* ------------------------------------------------- */
.stats-overview {
  text-align: center;
  /* Main Number Values */
}
.stats-overview h5 {
  margin-top: .2em;
}
.stats-overview.main-values {
  background: #1dbc9c;
}
.stats-overview.main-values .stats-box {
  width: 50%;
  border-left: solid 1px #1aaa8d;
}
.stats-overview.main-values h1,
.stats-overview.main-values h2 {
  color: #ffffff;
  margin: 0;
}
.stats-overview.main-values h5 {
  color: #127561;
}
.stats-overview .stats-box {
  padding: 1.4em 0;
  min-height: 110px;
  border-left: solid 1px #eaeaeb;
}
.stats-overview .stats-box:first-child {
  border-left: 0px;
}
.stats-overview .stats-box h2,
.stats-overview .stats-box h4 {
  display: block;
  color: #53535a;
  font-weight: 300;
  margin: 0;
}
.stats-overview .stats-box.raised-total,
.stats-overview .stats-box.top-donor {
  border-left: 0;
}
.stats-overview .stats-box.top-donor,
.stats-overview .stats-box.top-donation {
  border-top: solid 1px #eaeaeb;
}
.stats-overview .progress-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.stats-overview .progress-wrap .progress {
  width: 100%;
  height: 6px;
}
/* Progress Bars */
/* ------------------------------------------------- */
.progress {
  border-radius: 0px;
  margin-bottom: 0px;
  height: 20px;
  background: #1aaa8d;
}
.progress-line {
  position: relative;
  color: #FFF;
  text-align: right;
  padding-right: 5px;
  line-height: 20px;
  height: 20px;
  max-width: 100%;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #127561;
  -webkit-animation: animate-bar 1s 1 ease;
  -ms-animation: animate-bar 1s 1 ease;
  animation: animate-bar 1s 1 ease;
}
/* Content Navigation */
/* ------------------------------------------------- */
ul.content-nav {
  height: 50px;
  background: #f7f7f7;
}
ul.content-nav li {
  position: relative;
  float: left;
  display: inline-block;
  border: 0;
  border-right: solid 1px #eaeaeb;
}
ul.content-nav li.active a,
ul.content-nav li.active a:hover {
  color: #3a3a40;
  background: #ffffff;
}
ul.content-nav li a {
  display: block;
  color: #bababf;
  font-weight: 600;
  line-height: 50px;
  padding: 0 30px;
  width: 100%;
}
/* Sidebar Navigation */
/* ------------------------------------------------- */
ul.panel-nav {
  line-height: 68px;
  height: 68px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background: #2e2e32;
  border-bottom: solid 1px #3f3f45;
  z-index: 9999;
  overflow: hidden;
}
ul.panel-nav li {
  position: relative;
  float: left;
  overflow: hidden;
}
ul.panel-nav li.active a {
  color: #ffffff;
  -webkit-box-shadow: inset 0 -5px 0 0 #1dbc9c;
  box-shadow: inset 0 -5px 0 0 #1dbc9c;
}
ul.panel-nav li a {
  display: block;
  color: #85858e;
  font-size: 18px;
  font-weight: 400;
  line-height: 68px;
  width: 100%;
}
ul.panel-nav li a:hover {
  color: #ffffff;
}
/* Tooltips */
/* ------------------------------------------------- */
.tooltip {
  font-size: 0.9em;
}
.tooltip.tooltip.in {
  opacity: 1;
}
.tooltip .tooltip-inner {
  padding: 15px;
  background: #53535a;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #53535a;
  border-width: 5px 5px 0;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #53535a;
  border-width: 0 5px 5px;
}
/* Content Loader */
/* ------------------------------------------------- */
.spinner-wrap {
  background: #ffffff;
}
.spinner-wrap,
.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 32px;
  height: 32px;
  margin: 40% auto;
}
.cube1,
.cube2 {
  background-color: #d4d4d8;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
/* Problem Solving */
/* ------------------------------------------------- */
@media only screen and (min-width: 1340px) {
  .large-menu-toggled .stats-overview .total-donations,
  .large-menu-toggled .stats-overview .total-donors,
  .large-menu-toggled .stats-overview .top-donation,
  .large-menu-toggled .stats-overview .top-donor {
    width: 25%;
  }
  .large-menu-toggled .stats-overview .top-donation,
  .large-menu-toggled .stats-overview .top-donor {
    border-left: solid 1px #eaeaeb;
    border-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .small-menu-toggled .stats-box.col-xs-3 {
    width: 50%;
  }
  .small-menu-toggled .stats-overview .total-donations,
  .small-menu-toggled .stats-overview .total-donors,
  .small-menu-toggled .stats-overview .top-donation,
  .small-menu-toggled .stats-overview .top-donor {
    width: 25%;
  }
  .small-menu-toggled .stats-overview .top-donation,
  .small-menu-toggled .stats-overview .top-donor {
    border-left: solid 1px #eaeaeb;
    border-top: 0;
  }
}
/* Mobile */
/* ------------------------------------------------- */
/* General */
/* ------------------------------------------------- */
body {
  background: #ffffff;
}
body.campaignflow {
  border-radius: 10px;
  overflow: hidden;
}
/* Forms */
/* ------------------------------------------------- */
label {
  display: inline-block;
  color: #53555a;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .4em;
}
.form-wrapper {
  margin: 0 auto;
  max-width: 460px;
}
.form-wrapper .form-group {
  margin: 0;
}
.form-wrapper .field {
  position: relative;
  margin-bottom: .6em;
  width: 100%;
}
.form-wrapper .field input[type="text"],
.form-wrapper .field textarea,
.form-wrapper .field select {
  font-size: 18px;
  padding: 15px;
  width: 100%;
  max-width: 100%;
}
.form-wrapper .field.comments {
  margin-bottom: 2em;
}
.form-wrapper .field.comments span.counter {
  float: right;
  color: #bababf;
  font-size: .8em;
}
.btn:not(.btn-xs):not(.btn-sm):not(.bnt-lg) {
  font-size: 1.4em;
  margin: .3em 0;
  padding: .4em 0;
  height: auto;
  width: 100%;
}
/* Icon Fonts */
/* ------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?u7owa9');
  src: url('../../fonts/icomoon.eot?#iefixu7owa9') format('embedded-opentype'), url('../../fonts/icomoon.woff?u7owa9') format('woff'), url('../../fonts/icomoon.ttf?u7owa9') format('truetype'), url('../../fonts/icomoon.svg?u7owa9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Name */
/* ------------------------------------------------- */
h1.campaign-name {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1;
  padding: 0 5%;
  margin: 0;
}
h3.charity-name {
  color: #bababf;
  font-size: 1.2em;
  padding: 0 5%;
  margin: .2em 0;
}
h3.charity-name span {
  color: #1dbc9c;
}
h3.charity-name span.approved {
  position: relative;
  top: 2px;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  margin-left: 3px;
}
/* Progress Bar */
/* ------------------------------------------------- */
.form-progress {
  text-align: center;
}
.form-progress .totals {
  color: #bababf;
  font-size: 1.1em;
  font-weight: 400;
  padding: .3em 0;
}
.form-progress .totals span.total {
  color: #1dbc9c;
}
.form-progress-wrap {
  position: relative;
  text-align: center;
  height: 30px;
  width: 100%;
  background: #eaeaeb;
}
.form-progress-wrap .progress {
  height: 100%;
  max-width: 100%;
  background: #1dbc9c;
  -webkit-animation: animate-bar 1s 1 ease;
  -ms-animation: animate-bar 1s 1 ease;
  animation: animate-bar 1s 1 ease;
}
/* Separators */
.separation {
  position: absolute;
  bottom: 0;
  height: 10px;
  overflow: hidden;
  width: 100%;
}
.separation .separation-left,
.separation .separation-right {
  position: absolute;
  width: 50%;
  height: 30px;
  top: 0;
  left: 0;
  background: #ffffff;
  margin-left: -12px;
}
.separation .separation-left:after,
.separation .separation-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: -90px;
  height: 0;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 60px solid #ffffff;
}
.separation .separation-right {
  left: 50%;
  margin-left: 12px;
}
.separation .separation-right:after {
  left: -90px;
}
/* Footer */
/* ------------------------------------------------- */
footer {
  text-align: center;
  padding-bottom: 2em;
}
footer h5 {
  color: #d4d5d8;
  font-size: .6em;
  margin-bottom: .1em;
}
footer a.logo:before {
  color: #d4d5d8;
  font-size: 2.4em;
}
footer a.logo:before:hover:before {
  color: #53555a;
}
/* Responsive */
/* ------------------------------------------------- */
@media only screen and (max-width: 480px) {
  h1.campaign-name {
    font-size: 2.4em;
  }
  h3.charity-name {
    font-size: 1em;
  }
  button.donate {
    width: 100%;
  }
}
/* Tip Jar Donation Form */
/* ------------------------------------------------- */
.tip-jar {
  text-align: center;
  padding: 6em 5% 2em;
  /* Donation Input */
}
.tip-jar form {
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
}
.tip-jar .donation-amount input {
  padding: 1em 3.2em 1em 2em;
}
.tip-jar .donation-amount span {
  position: absolute;
  top: 1.25em;
  color: #53555a;
}
.tip-jar .donation-amount span.preamt {
  position: absolute;
  left: 1.2em;
}
.tip-jar .donation-amount span.currency {
  position: absolute;
  right: 1.2em;
}
/* Events Donation Form */
/* ------------------------------------------------- */
.events-form {
  text-align: center;
  padding: 6em 5% 2em;
  /* Amount Selections */
}
.events-form form {
  margin: 0 auto;
  width: 100%;
  max-width: 680px;
}
.events-form #donation-amount {
  position: relative;
  margin: 3em auto;
}
.events-form #donation-amount .fieldamount {
  position: relative;
  float: left;
  display: inline-block;
  text-align: center;
  margin: 0 .5%;
  width: 16%;
  width: calc(15.66666667%);
  overflow: hidden;
  -webkit-transition: linear .1s;
  transition: linear .1s;
}
.events-form #donation-amount .fieldamount label {
  color: #6b6e75;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: -1px;
  margin: 0;
  width: 100%;
  background: #efeff0;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
  cursor: pointer;
}
.events-form #donation-amount .fieldamount label:hover {
  background: #d4d5d8;
}
.events-form #donation-amount .fieldamount label.active {
  color: #ffffff !important;
  background: #1dbc9c !important;
}
.events-form #donation-amount .fieldamount label.other {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0;
}
.events-form #donation-amount .fieldamount input[type="radio"] {
  position: absolute;
  left: -999px;
}
.events-form #donation-amount #other {
  position: absolute;
  top: 0;
  left: .5%;
  right: 17%;
  background: #ffffff;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #d4d5d8;
  overflow: hidden;
}
.events-form #donation-amount #other a.closethis {
  position: absolute;
  top: 0;
  right: 32px;
  color: #d4d5d8;
  font-size: 1.4em;
  line-height: 100px;
  z-index: 100;
}
.events-form #donation-amount #other a.closethis:hover {
  color: #53555a;
}
.events-form #donation-amount #other span.dollar-sign {
  position: absolute;
  left: 6.5%;
  color: #53555a;
  z-index: 900;
  font-size: 2em;
  line-height: 100px;
}
.events-form #donation-amount #other .field {
  position: relative;
  margin: 0;
}
.events-form #donation-amount #other .field input {
  font-size: 2em;
  line-height: 44px;
  width: 100%;
  padding: .85em 10% !important;
  border: 0;
  text-indent: 6%;
  background: #ffffff;
}
/* Payment Section */
/* ------------------------------------------------- */
.group {
  background: #ffffff;
  margin: 0 auto;
  width: 100%;
}
fieldset {
  border: 0;
}
/* Responsive */
/* ------------------------------------------------- */
@media only screen and (max-width: 540px) {
  .events-form #donation-amount .fieldamount {
    margin: .12em .5%;
    width: 33%;
    width: calc(32.33333333%);
  }
  .events-form #donation-amount #other {
    right: .5%;
  }
  .events-form #donation-amount #other .field input {
    text-indent: 18%;
    padding: .9em 10% !important;
  }
  .form-wrapper {
    padding: 0;
  }
}
/* Dark Styles (if opted) */
/* ------------------------------------------------- */
html.dark,
html.dark body {
  background: #222225;
}
/* Progress Bar */
html.dark .form-progress .totals {
  color: #53555a;
}
html.dark .form-progress-wrap {
  background: #3a3c40;
}
html.dark div.separation > div.separation-left,
html.dark div.separation > div.separation-right {
  background: #222325;
}
html.dark div.separation > div.separation-left:after,
html.dark div.separation > div.separation-right:after {
  border-bottom: 60px solid #222325;
}
/* General */
html.dark h1.campaign-name {
  color: #ffffff;
}
/* Forms */
html.dark input,
html.dark textarea {
  color: #ffffff;
  border: 0;
  background: #2e3032;
}
html.dark .events-form #donation-amount .fieldamount label {
  color: #85888e;
  background: #2e3032;
}
html.dark .events-form #donation-amount .fieldamount label:hover {
  background: #3a3c40;
}
html.dark .events-form #donation-amount #other {
  background: #2e3032;
  border: solid 1px #2e3032;
}
html.dark .events-form #donation-amount #other a.closethis {
  color: #6b6e75;
}
html.dark .events-form #donation-amount #other a.closethis:hover {
  color: #ffffff;
}
html.dark .events-form #donation-amount #other span.dollar-sign {
  color: #6b6e75;
}
/* Footer */
html.dark h5 {
  color: #3a3c40;
}
html.dark footer a.logo:before {
  color: #3a3c40;
}
html.dark footer a.logo:hover:before {
  color: #ffffff;
}
