/* Palette Styling */



@body_bg_color:						#f0ebf1;
@c1:								#1dbc9c;
@c2:								#c3c1c4;
@c3:								#454046;
@c4:								#c3c1c4;
@lightest:							#454046;
@nav_bg:							rgba(240,235,241,0.3);
