// Need to Call to Variables
@import "../variables.less";
// Scrollbar Styles
@import "../scrollbars.less";
// Navigation Styles
@import "../frontend/navigation.less";

/* Backend Wrap */

.admin-content-wrap {
    width: 100%;
    padding-left: @primary-nav-width + 60px;
    padding-top: 90px;  
    padding-bottom: 60px;
    padding-right: 60px;
    height: 100%;
    float: left;
}

#editCharity .smallPhoto{
    max-width: 100px;
    max-height: 100px;

}
#charities-management-table .microPhoto{
    max-width: 60px;
    max-height: 60px;
}

#charities-management-table td{
    vertical-align: middle;
}
.smallPhoto{
    max-width: 100px;
}

