.report
{
    .report-label{
        font-size: 16px;
    }
    .report-value{
        font-weight: bold;
        font-size: 34px;
    }

    fieldset > div:not(:last-child){
        border-bottom: 1px solid #fff;
    }
    fieldset > div{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    fieldset > div.row{
        margin-left: 0px;
        margin-right: 0px; 
    }
}



