/* Base */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/variables.less";
@import "../../../../global/themes/css/less/type.less";
@import "type.less";

body {
	.secondary();
	background: @base;
}

/* Palette */
/* ------------------------------------------------- */
@import "palette.less";


/* Header */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/header.less";

header {
	position: absolute;
	background: @bglightblackfade;
	z-index: 9999;

	.logo {
		a {
			color: @white;
			height: 42px;
			line-height: 42px;
		}
	}
	.menu-actions {
		a {
			color: @white;
			line-height: 42px;
		}
	}
}	


/* Main */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/elements.less";
@import "elements.less";

/* Common */
.holder {
	padding: 1%;
	.border-radius;

	&.pad {
		padding: 2.5%;
	}
	h4 {
		margin-bottom: 1em;
	}
}

/* Buttons */
.btn {
	padding: 0 @halfgutter;
	min-width: 120px;
	.round-radius;

	&:hover {
		opacity: .9;
	}
}

/* Image Container */
.header-wrap {
	position: relative;

	.overlay-fade {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50%;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 35, 37, 0.00)), to(rgba(34, 35, 37, 1.00)));
		background-image: -webkit-linear-gradient(top, rgba(34, 35, 37, 0.00), rgba(34, 35, 37, 1.00));
		background-image: -moz-linear-gradient(top, rgba(34, 35, 37, 0.00), rgba(34, 35, 37, 1.00));
		background-image: -o-linear-gradient(top, rgba(34, 35, 37, 0.00), rgba(34, 35, 37, 1.00));
		background-image: -ms-linear-gradient(top, rgba(34, 35, 37, 0.00), rgba(34, 35, 37, 1.00));
		background-image: linear-gradient(top, rgba(34, 35, 37, 0.00), rgba(34, 35, 37, 1.00));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#222325', EndColorStr='#222325');
		z-index: 0;
	}
}

/* Main Stats */
.stats {
	position: relative;
	padding: 8em 0 4em;
	z-index: 1;

	h1 {
		margin-bottom: 10px;
	}
	h5 {
		color: @white;
	}

	/* Avatar */
	img.avatar {
		margin-top: 1em;
		margin-bottom: 1em;
		height: 90px;
		width: 90px;
		background: @white;
		border: solid 4px @white;
		border-radius: 50%;
	}

	.donate-button {
		padding: @gutter @gutter @gutter+@halfgutter;
	}
	
	/* Numbers */
	.donor-stats {
		position: relative;
		display: block;
		background: @base;
		overflow: hidden;

		.col-md-4 {
			position: relative;
			padding: @halfgutter;
			border-right: 1px solid @maingray;

			&:last-child {
				border-right: 0;
			}
			&.donors {
				span {
					line-height: 30px;
				}
			}
		}
		.icon-holder {
			display: inline-block;
			float: left;
			height: 100%;
			
			i {
				color: @gray10;
				font-size: 2em;
				line-height: 36px;
				margin-right: 0.4em;
				padding-top: 0;
			}
		}
		span {
			display: inline-block;
			margin-right: 0.8em;
			line-height: 1.1em;
			color: @lightest;
			padding-top: 0.2em;
			max-width: 60px;
		}
		h1 {
			display: inline-block;
			font-size: 2.4em;
			font-style: italic;
			text-align: right;
			position: absolute;
			right: 0.4em;
		}
 	}

 	/* Progress Bar */
	.amount-progress {	
		text-align: center;
		width: 100%;
		z-index: 9999;
		background: transparent;

		.project-progress {
			position: relative;
			content: '';
			height: 6px;
			width: 100%;
			z-index: 10;
			background: @bgblackfade;
			
			.project-progressbar {
				content: '';
				position: relative;
				top: 0;
				left: 0;
				height: 100%;
				width: 0;
				max-width: 100%;
				background: @c1;
				-webkit-transition: width 0.7s ease-in-out;
				transition: width 0.7s ease-in-out;

				span {
					display: block;
					position: absolute;
					top: -7px;
					right: 0;
					color: @white;
					font-weight: 600;
					margin-left: -30px;
					height: 20px;
					width: 20px;
					border: 4px solid @white;
					.round-radius;
					-webkit-transition: opacity 0.7s;
					transition: opacity 0.7s;
					-webkit-transition-delay: 0.7s;
					transition-delay: 0.7s;
				}	
			}
		}
	}
}


/* Layout */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/singlestream.less";

.stream-wrap {
	background: @base;

	a.togglechat {
		position: absolute;
		bottom: -26px;
		right: 0;
		color: @white;
		padding: 0 @halfgutter;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;

		&.chatoff {
			color: @gray30;
		}
	}
}


/* Description/Donors */
/* ------------------------------------------------- */
.campaign-info {
	padding: 2em @halfgutter;
	
	.description {
		float: left;
		width: 64%;

		p {
			font-weight: 300;
			line-height: 1.6em;
			margin: 0;	
		}
	}
	.donor-wall {
		float: right;
		width: 34%;

		.dw-donor {
			padding: .4em 0;
			border-bottom: solid 1px @dkgray;

			h5.dw-name {
				float: left;
				color: @gray60;
				font-size: 1.1em;
				margin: 0;
			}
			span.dw-amount {
				display: inline-block;
				float: right;
				color: @gray60;
			}
		}
		a.dw-more {
			display: inline-block;
			color: @white;
			font-size: @smalltext;
			line-height: 2.8em;
		}
	}
}


/* Footer */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/footer.less";

footer {

	h5 {
		color: @gray20;
	}
	a.logo {
		color: @gray20;
		&:hover {
			color: @white;
		}
	}
	span.copy {
		color: @gray15;

		a {
			color: @gray15;
			&:hover {
				color: @white;
			}
		}
	}
}