/* Palette Styling */



@body_bg_color:						#212526;
@c1:								#1dbc9c;
@c2:								#0083c2;
@c3:								#454046;
@c4:								#2d292e;
@lightest:							#ffffff;
@nav_bg:							rgba(35,40,41,0.3);
