/* General */
/* ------------------------------------------------- */
#content.error {
	position: relative;
	padding: 0 0 0 @primary-nav-width;
	height: 100%;
}

/* Background video section */
/* ------------------------------------------------- */
.site-error {
	position: absolute;
	top: 0;
	left: @primary-nav-width;
	right: 0;
	height: 100%;
	background: @gray40;
}
.site-error-msg {
	position: fixed;
	bottom: 0;
	left: @primary-nav-width;
	right: 0;
	text-align: center;
	padding: 14px 0;
	background: @bgblackfade;

	h3 {
		color: @white;
		font-weight: 400;
	}
}
/* .mCSB_container {
	height: 100% !important;
} */