/* Background video section */
/* ------------------------------------------------- */
.video-js {
	position: fixed;
	background: @base;
	z-index: 1002;
}

/* Message */
.video-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	z-index: 1001;
}
.missing-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #222325;*/
	background-image: -webkit-gradient(radial, 90% 90%,0,90% 90%,200, from(rgba(0, 0, 0, 1)), to(rgba(34, 35, 37, 0.00)));
	background-image: -webkit-radial-gradient(90% 90%, rgba(34, 35, 37, 0.00), rgba(0, 0, 0, 1));
	background-image: -moz-radial-gradient(90% 90%, rgba(34, 35, 37, 0.00), rgba(0, 0, 0, 1));
	background-image: -o-radial-gradient(90% 90%, rgba(34, 35, 37, 0.00), rgba(0, 0, 0, 1));
	background-image: -ms-radial-gradient(90% 90%, rgba(34, 35, 37, 0.00), rgba(0, 0, 0, 1));
	background-image: radial-gradient(90% 90%, rgba(34, 35, 37, 0.00), rgba(0, 0, 0, 1));
	z-index: 9999;

	.missing {
		position: fixed;
		left: 0;
		bottom: 0;
		text-align: center;
		padding: 4em 5%;
		width: 100%;

		h2 {
			color: @white;
			letter-spacing: 0;
			margin-bottom: .2em;
		}
		a {
			font-weight: 600;
		}
	}
}