/* Campaigns Sidebar List Styling */

.campaigns-list-wrap {
    width: @campaigns-list-wrap-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: @primary-nav-width;
    padding: 60px 0px 0px 0px;
    background-color: @bgcolor;
    overflow: auto;

    .main-info {
        padding-left: 36px;
        padding-right: 36px;
    }

    h2 {
        font-size: 24px;
        color: @accent;
        line-height: @top-menu-height;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: normal;       
    }
}


/* Campaigns Quicknav */

.campaign-quicknav {
    width: 100%;
    line-height: 50px;
    height: 50px;
    border-bottom: solid 1px @bgcolor;

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        width: 100%;

        li {
            display: inline-block;

            a {
                display: inline-block;
                padding: 6px 10px;
                font-size: 12px;
                line-height: 12px;
                border-radius: 4px;
                color: @gray20;

                &:hover, &.active {
                    color: @white;
                }
            }
        }
    }

}

.campaign-item {
    padding: 15px 0;
    margin: 0px;
    position: relative;
    display: block;
    width: 100%;
    border-bottom: solid 1px @bgcolor;
    opacity: .3;

    &.active, &:hover {
        opacity: 1;
    }

    &.active:before {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent @gray80 transparent transparent;
        position: absolute;
        right: 0px;
        top: 40%;       
    }

    h3 {
        margin: 0px;
        padding: 0 0 2px 0;
        font-size: 18px;
        font-weight: 400;
    }

    h4 {
        font-size: 14px;
        color: @gray50;
    }

    p {
        margin-top: 4px;
        color: @accent;
        margin-bottom: 0px;
    }

}


/* Campaign View Styling */

.campaings-view-wrap {
  width: 100%;
  padding-left: @campaigns-list-wrap-width + @primary-nav-width;
}

.campaign-view-selected {
  padding: 60px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

}

.campaign-date {
    text-align: center;
    padding: 0px 0px 20px 0px;
}


/* Campaign Edit Styling */

.campaign-actions {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  background: @gray70;

  .campaign-nav {

    padding-left: 0px;
    padding-right: 0px;

  }

    ul {

        li {

        display: block;
        float: left;

            a {
            display: block;
            float: left;
            font-size: 12px;
            height: 50px;
            color: @gray40;
            text-transform: uppercase;
            letter-spacing: 1px;

                .icon {
                font-size: 18px;
                font-weight: bold;
                line-height: 50px;
                color: @gray40;
                }

            }

            a:hover, a:hover .icon {
                color: @white;
            }

        }

    }

    .campaign-quick-links {
        
        list-style: none;
        text-align: left;
        padding-right: 0px;
        padding-left: 0px;
            
        li {
            a {
                width: 50px;
                border-right: 1px solid @gray60;
                text-align: center;
            }
        }

        li.active a {
            background: @gray80;
            color: @white;
        }

        li.active .icon {

        }
    }

    .campaign-buttons {
        list-style: none;
        text-align: right;
        padding-right: 0px;
        padding-left: 0px;
        float: right;
        margin-bottom: 0px;

        li {
            a {
                padding-right: 20px;
                padding-left: 20px;
                border-left: 1px solid @gray60;
                text-align: center;
                line-height: 50px;

                .icon {
                    float: left;
                    line-height: 46px;
                    padding-right: 10px;
                }
            }
        }
    }

}



/* Top Donor */

.top-donor {
  border-top: solid 1px @bgcolor;
  padding: 1.6em 2em;
}

/* Donor List */

/* Campaign Edit Tabs */

.campaign-edit-wrap {
  padding: 60px;
}

.campaign-edit-wrap ul {
    margin-bottom: 30px;
    text-align: center;
}

.campaign-edit-wrap ul li {
    display: inline-block;
    text-align: center;
    float: none;
}

/* Tab Override */

.nav-tabs > li > a {
    background: @gray70;
    border-radius: 0px;
    color: @gray20;
    border-width: 0px;
}

.nav-tabs > li > a:before {
    padding-right: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: @gray5;
    border-color: @bgcolor;
    border-radius: 0px;
    color: @white;
    border-width: 0px;
}

.nav-tabs>li>a:hover {
    background: @gray20;
    border-radius: 0px;
    border-color: transparent;
    color: @white;
    border-width: 0px;
}

.nav-tabs {
    border-color: transparent;
}

/* Donor Styles */

.donor-email, .campaign-date {
    color: @gray20;
}
