#campaignEdit{
    
    #campaign-channelname, #campaign-channelteam, #campaign-multichannels{
        display: none;
    }

    [data-campaign-layoutType=SingleStream] #campaign-channelname{
        display: initial;
    }

    [data-campaign-layoutType=TeamStream] #campaign-channelteam{
        display: initial;
    }

    [data-campaign-layoutType=MultiStream] #campaign-multichannels{
        display: block;
    }
    #campaign-multichannels{
        margin-bottom: 10px;
        padding: 5px;
        
        div.label-danger{
            display: block;
            margin-bottom: 5px;
        }
        input{
            margin-left: 5px;
            /*margin-top: 10px;*/
            /*margin-bottom: 5px;*/
        }
        background-color: #ddd;
        ol{
            padding-left: 20px;
            list-style-type: none;
            li {
                padding-right: 10px;
                a{
                    margin-right: 5px;
                    float: right;
                }
                a.active{
                    color: red;
                }
            }
        }
    }

    #collapseTwo{
        .field-layout-eventid{
            display: none;
        }
        #layoutTeams {
            ol{
                padding: 0px;
                li{
                    border-bottom: 1px solid #000;
                }
                li:first-child{
                    margin-top: 10px;
                }
            }
        }
    }

    .logo{
        max-width: 100px;
        max-height: 100px;
        margin: 10px;
    }
    .file-preview-image{
        max-width: 200px;
    }
    #collapseThree{
        input[type=color]{
            float: right;
            margin-right: 15px;
        }
        .user-images{
            margin-top: 10px;
        }
    }
    
    #collapseFour{
        .field-campaign-twittername, .field-campaign-youtubeurl, .field-campaign-facebookurl{
            display: none;
        }
    }
    
    #collapseFour.twitterEnable{
        .field-campaign-twittername{
            display: block;
        }
    }
    
    #collapseFour.youtubeEnable{
        .field-campaign-youtubeurl{
            display: block;
        }
    }
    
    #collapseFour.facebookEnable{
        .field-campaign-facebookurl{
            display: block;
        }
    }
}

#modalThemes{
    @select-theme-height: 50px;
    .select-theme{
        min-height: @select-theme-height; 
        background-color: #ccc;
        padding-top: @select-theme-height / 2 - 10px;
    }
    .select-theme-container{
        a{
            display: none;
        }
    }
    .select-theme-container:hover{
        a{
            display: inline;
        }
    }
}

#campaignEdit{
    .field-campaign-paypaladdress{
        display: none;
    }
    #tieCampaignContainer{
        display: none;
    }
}

#campaignEdit[data-campaignType="Personal Tip Jar"]{
    .field-campaign-paypaladdress{
        display: block;
    }
    #startEndContainer{
        display: none;
    }
    
    #donationDestination{
        display: none;
    }
}

#campaignEdit[data-campaigntype="Charity Fundraiser"]{
   #campaign-edit-team, #campaign-edit-team-li {
        display: block;
   } 
}

#campaignEdit[data-campaigntype="Charity Event"]{
    .field-campaign-parentcampaignid{
        display: none;
    }
    
    #tieCampaignContainer{
        display: block;
    }
    
    .isTied{ 
        .field-campaign-parentcampaignid{
            display: block;
        }
        
        #notTiedCampaignContainer{
            display: none;
        }
    }
}
[data-donationDestination='Pre-approved Charities']{
    .customCharity{
        display: none;
    }
}

[data-donationDestination='Custom Fundraiser']{
    .preapprovedCharity{
        display: none;
    }
}

#modalCharity .microPhoto{
    max-width: 150px;
    max-height: 150px;
}

#modalCharity .select-charity-container{
    cursor: pointer;
    padding: 10px 0px 10px 0px;
}

#modalCharity .select-charity-container:hover{
    background-color: #ccc;
}

#campaign-edit-team, #campaign-edit-team-li {
    display: none;
}