body.dark {

/* Base */
/* ------------------------------------------------- */

/* Placeholder styling */
::-webkit-input-placeholder {
   color: @gray30 !important;
}
:-moz-placeholder {
   color: @gray30 !important; 
}
::-moz-placeholder {
   color: @gray30 !important;  
}
:-ms-input-placeholder {  
   color: @gray30 !important;  
}


/* Common */
/* ------------------------------------------------- */
.top-menu,
.site-content,
#content {
	background: @gray10;
}

/* Components */
#sidebar {
	background: @gray10;
}
.module {
	background: @gray12;
	box-shadow: none;

	h5.module-title {
		color: @white;
		background: @gray20;
		border: 0;
	}
}

ul.content-nav {
	background: @gray12;
	border-bottom-color: @gray10;

	li {
		&.active a {
			color: @white;
		}
		a {
			color: @gray30;
		}
	}
}

/* Tables */
.table-header {
	background: @gray15;
	border-bottom-color: @gray12;

	.btn {
		background: @gray30;
		&:hover {
			background: @gray40;
		}
	}
}
.dataTables_wrapper .dataTables_filter {

	&:before {
		color: @gray30;
	}
	input {
		background: @gray12;
	}
}
table.dataTable {
	th,
	thead th {
		background: @gray15;
		border-bottom: solid 1px @gray10;
	}
	tbody tr:hover,
	&.hover tbody tr:hover,
	&.hover tbody tr.odd:hover,
	&.hover tbody tr.even:hover,
	&.display tbody tr:hover,
	&.display tbody tr.odd:hover,
	&.display tbody tr.even:hover {
		background: @gray15 !important;
	}
	&.row-border tbody th,
	&.row-border tbody td,
	&.display tbody th,
	&.display tbody td,
	thead td {
		border-top-color: @gray10;
	}
	td.raised span {
		background: @gray10;
	}
	tbody tr.donation-entry.drop,
	tbody tr.donation-entry+tr td[colspan~="4"],
	tbody tr.donation-entry+tr td[colspan~="5"] {
		background: @gray15 !important;
	}
}
.table-footer {
	background: @gray15;
	border-top-color: @gray10;
}

/* Lists */
.list-search {
	border: 0;

	span {
		background: transparent;
	}
}


/* Forms */
/* ------------------------------------------------- */

/* Input */
input[type="text"],
input.form-control,
div.form-control,
textarea,
textarea.form-control,
select,
select.form-control,
.form-group.has-success input.form-control,
.form-group.has-success textarea.form-control {
	color: @white;
	border: solid 1px @gray30;
}
label,
legend,
.form-group.has-success label {
	color: @gray40;
}

/* Checboxes */
.checkbox {

	label {

		&:before {
			color: @gray75;
			background: @gray30;
	    }
    	&.on:before {
	        color: @gray30;
    	}
    }
}

/* Selects */


/* Buttons */
/* ------------------------------------------------- */
.btn-default {
	color: @white;
	background-color: @gray30;
	&:hover {
		color: @white;
		background-color: @gray40;
	}
}
.btn-container {
	background: @gray15;
	border-top-color: @gray10;
}


/* Navigation */
/* ------------------------------------------------- */
.primary-navigation {
	background: @maingray;
	border-right: solid 1px @maingray;

	.branding a {
		background: @maingray;
	}
}
.top-menu {

	&.shadow {
		border-bottom: solid 1px @shadowgray;
	}
	.avatar-container .avatar .user-photo-menu {

		img {
			border-color: @gray10;
		}
		&:after {
			border-color: @gray20 transparent transparent transparent;
		}
	}
}


/* Dashboard */
/* ------------------------------------------------- */
.dashboard-wrap {

	#content.dashboard {
		.stats-overview.other-raised-totals {
			background: @gray12;

			h2 {
				color: @white;
			}
		}
		.stats-overview.twitch-stats {

			i.group-header {
				color: @gray10;
				background: @gray12;
			}
		}
		span.stick {
			background: @gray12;
		}
	}
	#sidebar.dashboard {
		background: @gray10;

		.invites-wrap ul li .invite-actions {
			border-top-color: @gray10;

			a:first-child {
				border-right-color: @gray10;
			}
		}
		ul.activity-feed li {
			background: @gray12;
			border-bottom-color: @gray10;

			&:first-child {
				color: @white;
				background: @gray15;
			}
		}
	}
	.alert-info {
		background: @gray20;
	}
}


/* Campaign */
/* ------------------------------------------------- */

/* Main */
.list-wrap {
	background: @shadowgray;

	.campaign-item,
	.donor-item {
		border-bottom: solid 1px @maingray;

		h3.list-title,
		h5 {
			color: @gray20;
		}
		p.list-total {
			background: @gray10;
		}

		&.active,
		&:hover {

			h3.list-title {
				color: @white;
			}

			&:after {
				border-color: transparent @gray10 transparent transparent;
			}
		}
		&.active {
			p.list-total {
				background: @accent;
			}
		}
	}
}
ul.campaign-quicknav {
	border-bottom-color: @maingray;

	li {
		a {
			background: @shadowgray;
		}
	}
}
.view-actions {
	background: @gray15;
	box-shadow: none;

	h4,
	h4 a {
		color: @white;
	}
	a.view-campaign {
		background: @gray30;
		&:before {
			border-bottom-color: @gray30;
		}
		&:hover, {
			background: @gray40;
		}
		&:hover:before {
			border-bottom-color: @gray40;
		}
	}
	a.actions-toggle {
		color: @white;

		&:after {
			border-color: @white transparent transparent transparent;
		}
	}
}
.stats-overview {

	&.main-values {
		background: @accent;

		.stats-box {
			border-left-color: @gray10;
		}
	}
	span {
		color: rgba(255,255,255,.6) !important;
	}
	.stats-box {
		background: @gray15;
		border-left-color: @gray10;

		h2,
		h3 {
			color: @white;

			span {
				color: @gray50;
				background: @gray10;
			}
		}
		&.top-donor,
		&.top-donation {
			border-top-color: @gray10;
		}
	}
}

/* Campaign Edit */
#campaignEdit {
	.campaign-edit-wrap {
		.module {
			.module-inner {
				h5 {
					i {
						color: @gray30;
						border-color: @gray30;
					}
				}
			}
		}
	}
	.highlight-wrap {
		background: @gray20;

		&:before {
			border-color: transparent transparent @gray20 transparent;
		}
		input[type="text"],
		input.form-control {
			border-color: @gray30;
		}
	}
}


/* Content Loader */
/* ------------------------------------------------- */
.spinner-wrap {
	background: @gray10;
}
.spinner {

	div {
		background: @gray30;
	}
}




}