/* Main Dashboard Area */
/* ------------------------------------------------- */
.primary-navigation nav.nav-top ul li a.dashboard.active:after {
	border-color: transparent @white transparent transparent;	
}

.large-menu-toggled #content.dashboard {
	padding-left: @primary-nav-lg-width;
}
.small-menu-toggled #content.dashboard {
	padding-left: @primary-nav-width;
}

#content.dashboard {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: @sidepanelwidth;

	.stats-overview {
		margin: 0;
		border: 0;
		background: @white;

		h1,
		h2 {
			color: @white;
		}
		h1 {
			font-size: 4.8em;
		}
		h5 {
			color: @dkaccent15;
		}

		.stats-box {
			border: 0;

			/* Main Total Section */
			&.raised-total {
				position: relative;
				float: left;
				padding: 8em 0;
				height: 400px;
				width: 70%;
				background: @white;

				h1 {
					color: @accent;
				}

				h5 {
					color: @gray60;
				}

				i {
					color: @gray72;
					font-size: 3em;
				}
			}
		}

		/* Other Totals Section */
		.other-raised-totals {
			position: relative;
			float: left;
			width: 30%;
			margin-top: 52px;

			div {
				padding: 20px 0;
				border-bottom: solid 2px @white;

				&:last-child {
					border-bottom: none;
				}
			}
			h2 {
				color: @gray40;
			}

			h5 {
				color: @gray60;
			}
		}

		i.group-header {
			display: inline-block;
			float: left;
			color: @white;
			font-size: 1.8em;
			line-height: 123px;
			width: 10%;
			background: @bglightwhitefade;
		}

		.group-stats-wrap {
			float: right;
			width: 90%;
		}

		/* Amount Raised Bars */
		&.raised-group-stats {
			margin-top: 2px;

			.group-header {
				background: @accent;
			}

			h2 {
				color: @accent;
			}

			h5 {
				color: @dkaccent20;
			}
		}

		/* Twitch Bar */
		&.twitch-stats {
			background: @gray80;
			margin-top: 2px;
			margin-bottom: 2px;

			.group-header {
				background: @twitchpurple;
			}

			h2 {
				color: @twitchpurple;
			}

			h5 {
				color: @twitchaccent;
			}
		}
	}
}

/* Dashboard Stats */
.dashboard-data-wrap .nav-tabs {
	position: fixed;
	width: 100%;
	height: 50px;
	background: @gray75;
	z-index: 1000;

	li {
		float: left;
		display: inline-block;
		&.active a {
			color: @maingray;
			background: @white !important;
		}

		a {
			color: @gray30;
			line-height: 50px;
			padding: 0 20px;
			&:hover {
				background: @gray3;
			}
		}
	}

	/* Campaign Invites */
	.invites-wrap {
		position: relative;
		float: right;
		text-align: center;

		a.icon-announcement {
			display: inline-block;
			color: @gray30;
			font-size: 18px;
			line-height: 50px;
			width: 50px;
			&.full,
			&.full span {
				color: @white;
			}

			span {
				display: inline-block;
				font-size: 14px;
			}
		}
		.campaign-invites ul {
			position: absolute;
			right: 0;
			width: 240px;
			padding: 20px;
			background: @gray10;
			z-index: 9999;

			li {

				h4 {
					color: @white;
				}

				.invite-actions {
					display: inline-block;
					font-size: .9em;
					padding: 2px 12px;
					margin-top: 4px;
					background: @base;
					border-radius: 30px;
				}
			}
		}
	}
}


/* Activity Sidebar */
/* ------------------------------------------------- */
#sidebar.dashboard {
	right: 0;
	padding: 0px;
	background: @gray75;
	z-index: 1000;

	h5 {
		text-align: center;
		font-size: 17px;
		line-height: 17px;
		padding: 1em 30px;
		font-weight: 400;
		color: #fff;
		text-transform: none;
	}

	h4 {
		color: @dkaccent20;
	}

	i {
		display: block;
		font-size: 24px;
		line-height: 50px;
		text-align: center;
		margin: 0px;
		padding: 0px;
		background: @bglightwhitefade;
		border-bottom: solid 2px @dkaccent9;
		color: @white;
	}

	.invites-wrap {

		margin-bottom: 0px;
		padding-bottom: 0px;

		ul {

			li {
				text-align: center;
				color: @gray30;
				font-size: 13px;
				padding-left: 30px;
				padding-right: 30px;
				margin: 0px;	

				span {
					color: @gray75;
				}		
			}

			&:last-child {
				border-bottom: none;
			}
		}

		.campaign-invites {
			margin-bottom: 0px;
		}

	}

	/* Activity Feed */
	ul.activity-feed {

		border-top: 2px solid @bglightwhitefade;

		li {
		color: @dkaccent20;
		font-size: 13px;
		padding-left: 30px;
		padding-right: 30px;
		margin: 0px;
		border-bottom: 2px solid @bglightwhitefade;
		border-top: none;
		}

		&:first-child {
			color: @dkaccent20;
		}
	}
}


/* Alerts */
/* ------------------------------------------------- */
.alert-info {
	position: fixed;
	bottom: -44px;
	left: 0;
	right: 0;
	color: @white;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	height: 44px;
	margin: 0;
	padding: 0;
	background: @bgblackfade;
	border: 0;
	border-radius: 0;
	z-index: 9999;
	.slowtrans;
	&.slideup {
		bottom: 0;
	}

	button.close {
		position: absolute;
		right: 20px;
		color: @white !important;
		font-weight: 400;
		text-shadow: none;
		line-height: 44px;
		opacity: 1;
	}
}