/* Main Dashboard Area */
/* ------------------------------------------------- */
.dashboard-wrap {
	float: left;
	position: relative;
	width: 100%;
}
#content.dashboard {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: @sidepanelwidth;

	.stats-overview {
		padding: 0;

		h1,
		h2 {
			color: @white;
		}
		h1 {
			font-size: 4.8em;
			line-height: 1.2em;
		}
		h5 {
		}

		.stats-box {
			border: 0;

			/* Main Total Section */
			&.raised-total {
				position: relative;
				float: left;
				padding: 120px 0 120px 80px;

				h1 {
					color: @accent;
				}

				h5 {
					color: @gray60;
				}

				i {
					color: @gray72;
					font-size: 3.2em;
				}
			}
		}

		/* Other Totals Section */
		.other-raised-totals {
			position: relative;
			float: left;
			width: 30%;

			div {
				padding: 20px 0;
				border-bottom: solid 2px @white;

				&:last-child {
					border-bottom: none;
				}
			}
			h2 {
				color: @gray40;
			}

			h5 {
				color: @gray60;
			}
		}

		.group-stats-wrap {
			float: right;
			width: 90%;
		}

		/* Amount Raised Bars */
		&.raised-group-stats {

			.group-header {
				background: @accent;
			}

			h2 {
				color: @accent;
			}

			h5 {
			}
		}

		/* Twitch Bar */
		&.twitch-stats {

			.group-header {
				background: @twitchpurple;
			}

			h2 {
				color: @twitchpurple;
			}

			h5 {
				color: @twitchaccent;
			}
		}
	}
}

/* Dashboard Stats */
.dashboard-data-wrap {
	padding: 80px @gutter @gutter;

	.nav-tabs {
		position: fixed;
		top: @top-menu-height;
		left: ;
		width: 100%;
		height: 50px;
		background: @gray75;
		z-index: 1001;

		li {
			float: left;
			display: inline-block;
			&.active a {
				color: @maingray;
				background: @gray75 !important;
			}

			a {
				color: @gray30;
				line-height: 50px;
				padding: 0 20px;
				&:hover {
					background: @gray72;
				}
			}
		}
	}
}


/* Activity Sidebar */
/* ------------------------------------------------- */
#sidebar.dashboard {
	position: absolute;
	top: 0;
	right: 0;
	padding: 80px @gutter 0 0;
	z-index: 1000;
	background: @gray75;

	.invites-wrap {
		margin-bottom: 0px;
		padding-bottom: 0px;

		ul {
			li {
				color: @gray30;
				margin: 0px;
				padding-top: @halfgutter;
				&:last-child .invite-actions {
					border-bottom: 0;
				}
				p,
				span {
					margin: 0;
					padding: 0 @gutter;
				}

				span {
					color: @gray75;
				}

				.invite-actions {
					margin-top: @halfgutter;
					border-top: solid 1px @gray75;
					border-bottom: solid 1px @gray75;

					a {
						float: left;
						display: inline-block;
						font-size: @smalltext;
						font-weight: 600;
						text-align: center;
						padding: .6em 0;
						width: 50%;
						&:first-child {
							border-right: solid 1px @gray75;
						}
						i {
							margin-right: 2px;
						}
					}
				}
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	/* Activity Feed */
	ul.activity-feed {
		li {
			color: @gray30;
			font-size: @smalltext;
			padding: @halfgutter @gutter;
			margin: 0;
			border-bottom: solid 1px @gray75;
			&:first-child {
				color: @maingray;
			}
			&:last-child {
				padding-bottom: @gutter;
				border: 0;
			}
		}
	}
}

/* Toggle Changes */
.large-menu-toggled {
	#content.dashboard, {
		padding-left: @primary-nav-lg-width;
	}
	.dashboard-data-wrap .nav-tabs, {
		left: @primary-nav-lg-width;
	}
}
.small-menu-toggled {
	#content.dashboard {
		padding-left: @primary-nav-width;
	}
	.dashboard-data-wrap .nav-tabs, {
		left: @primary-nav-width;
	}
}


/* Alerts */
/* ------------------------------------------------- */
.alert-info {
	color: @white;
	font-weight: 400;
	padding: @halfgutter 45px @halfgutter @gutter;
	background: @gray60;
	border: 0;
	box-shadow: none;

	button.close {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 45px;
		color: @white !important;
		font-weight: 600;
		text-shadow: none;
		opacity: 1;
	}
}