/* Main Dashboard Area */
/* ------------------------------------------------- */

.large-menu-toggled #content.dashboard {
	padding-left: @primary-nav-lg-width;
}

.small-menu-toggled #content.dashboard {
	padding-left: @primary-nav-width;
}

#content.dashboard {
    padding-right: @sidepanelwidth;

    .alert {
    	margin-left: 65px;
    	margin-right: 65px;
    }
}

/* Activity Sidebar */
/* ------------------------------------------------- */
#sidebar.dashboard {
	right: 0;
	padding: 60px 30px 0;
}
.campaign-invites ul li {
	padding: 1em 0;
	border-bottom: solid 1px @dkgray;
}