/* Content */
/* ------------------------------------------------- */
.site-content {
	width: 100%;
	height: 100%;
	padding-top: @top-menu-height;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FFF;
}
#content {
	float: left;
    padding-left: @primary-nav-width + 60px;
    padding-right: @sidepanelwidth + 60px;
    padding-top: @top-menu-height;  
    padding-bottom: 60px;
    width: 100%;
}


/* Donor/Campaign Views */
/* ------------------------------------------------- */
.campaigns-view-wrap,
.donor-view-wrap {
	width: 100%;
	padding-left: @sidepanelwidth + @primary-nav-width;
}
.campaign-view-wrap,
.campaign-edit-wrap,
.donor-view-wrap {
	padding-top: @top-menu-height;

	h1 {
		margin: 0 auto 50px;
		max-width: 750px;
	}
}
.donor-view-wrap h1 {
	margin: 0 auto;
}
.campaign-date,
.donor-email {
	display: block;
	color: @gray20;
	font-size: 20px;
	line-height: 2em;
	letter-spacing: 0;
	margin-bottom: 50px;
}


/* Sidebar */
/* ------------------------------------------------- */
#sidebar {
	position: fixed;
	top: @top-menu-height;
	height: 100%;
	width: @sidepanelwidth;
	background: @gray5;

	h5 {
		margin-bottom: 1em;
	}
}
#sidepanel  {
	padding-left: @sidepanelwidth + @primary-nav-width;
}

/* Errors */
/* ------------------------------------------------- */

/* Pace Loader Bar */
/* ------------------------------------------------- */
.pace .pace-progress {
	background: @white;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 1px;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}

.pace-inactive {
	display: none;
}

/* Misc */
/* ------------------------------------------------- */
.blur {
	-webkit-filter: blur(16px);
	-moz-filter: blur(16px);
	filter: blur(16px);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: .8;
}