/* Main Page Wraps */

.site-content {
	width: 100%;
	height: 100%;
	padding-top: @top-menu-height;
	position: absolute;
	top: 0px;
	left: 0px;
}

.page-content-wrap {
    width: 100%;
    padding-left: 141px;
}

.page-content {
    padding: 0px;
    height: 100%;
}


#sidepanel  {
    padding-left: @campaigns-list-wrap-width + @primary-nav-width;
    background: @gray80;
}

/* Site Error */

.site-error {
    padding: 60px;
}

/* Pace Styles */

.pace .pace-progress {
  background: @white;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 1px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

/* Blur */
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: .6;
}