/* Content */
/* ------------------------------------------------- */
.site-content {
	width: 100%;
	padding-top: @top-menu-height;
	position: absolute;
	top: 0px;
	left: 0px;
	background: @gray75;
}
#content {
	float: left;
	padding-right: @sidepanelwidth + 60px;
	padding-top: @top-menu-height;  
	padding-bottom: 60px;
	width: 100%;
	background: @white;
}


/* Donor/Campaign Views */
/* ------------------------------------------------- */
.campaigns-view-wrap,
.donor-view-wrap {
	width: 100%;

	h1 {
		font-size: 2.6em;
		text-align: center;
		margin: 60px auto 60px;
	}
}
.donor-view-wrap h1 {
	margin: 60px auto 50px;
}
.campaign-date,
.donor-email {
	display: block;
	color: @gray40;
	font-size: 20px;
	line-height: 1.6em;
	letter-spacing: 0;
	margin-top: 2px;
}


/* Sidebar */
/* ------------------------------------------------- */
#sidebar {
	position: fixed;
	top: @top-menu-height;
	width: @sidepanelwidth;
	background: @gray15;
}

/* Toggle Content Changes */
.large-menu-toggled {
	#content {
		padding-left: @primary-nav-lg-width + 60px;
	}
	#sidepanel {
		padding-left: @sidepanelwidth + @primary-nav-lg-width;
	}
	.campaigns-view-wrap,
	.donor-view-wrap {
		padding-left: @sidepanelwidth + @primary-nav-lg-width;
	}
}
.small-menu-toggled {
	#content {
		padding-left: @primary-nav-width + 60px;
	}
	#sidepanel {
		padding-left: @sidepanelwidth + @primary-nav-width;
	}
	.campaigns-view-wrap,
	.donor-view-wrap {
		padding-left: @sidepanelwidth + @primary-nav-width;
	}
}


/* Errors/Alerts */
/* ------------------------------------------------- */


/* Pace Loader Bar */
/* ------------------------------------------------- */
.pace .pace-progress {
	background: @white;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	height: 1px;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}

.pace-inactive {
	display: none;
}

/* Misc */
/* ------------------------------------------------- */