@import "../variables.less";
@import "../scrollbars.less";
@import "navigation.less";

/* Main Content */
/* ------------------------------------------------- */
.site-content {
	position: absolute;
	top: @top-menu-height;
	left: 0;
	width: 100%;
	height: 100%;
	background: @gray75;
	overflow: hidden;
}
#content {
	position: fixed;
	top: @top-menu-height;
	right: @sidepanelwidth;
	background: @gray75;
	.slowtrans;

	&.adv {
		right: 0;

		&.red {
			top: @top-menu-height;

			.list-search {
				top: @top-menu-height;
			}
		}
	}
	&.blank {
		bottom: 0;
	}
}
.content-wrap {
	padding: @gutter @gutter 0;
	overflow: hidden;
}

/* Modules */
.module {
	position: relative;
	margin-bottom: @gutter;
	background: @white;
	.box-shadow;
	.border-radius;
	overflow: hidden;
	
	&.table {
		background: @offwhite;
	}
	h5 {
		color: @gray30;
		font-size: 1.1em;
		font-weight: 500;
		margin-bottom: @gutter;

		&.module-title {
			line-height: 55px;
			padding: 0 @gutter;
			margin: 0;
			background: @offwhite;
			border-bottom: solid 1px @gray75;
		}
	}
	.module-inner {
		padding: @gutter;
	}
}


/* Sidebar */
/* ------------------------------------------------- */
#sidebar {
	position: fixed;
	top: @top-menu-height;
	width: @sidepanelwidth;
	z-index: 900;

	.module {
		margin-top: @gutter;

		h5.module-title {
			font-size: @smalltext;
			line-height: 40px;
			margin: 0;
			padding: 0 @gutter;
		}
	}
}


/* Donor/Campaign Views */
/* ------------------------------------------------- */
.campaigns-view-wrap,
.donor-view-wrap {
	width: 100%;
	background: @gray75;

	h1.donor-name {
		text-align: center;
		margin: 0 auto @gutter;
	}
}
.donor-view-wrap h1 {
	margin-top: 40px;
}
.campaign-date,
.donor-email {
	display: block;
	color: @gray50;
	font-size: @basefontsize;
	font-weight: 400;
	line-height: 1.6em;
	letter-spacing: 0;
}
.campaign-date {
	display: none;
}


/*  Side Listings */
.list-wrap {
	position: fixed;
	top: @top-menu-height;
	width: @sidepanelwidth;
	background: @gray15;
	overflow: auto;

	.main-info {
		padding: 0 @gutter+@gutter 0 @gutter;
	}
	h2 {
		font-size: 24px;
		color: @accent;
		line-height: @top-menu-height;
		padding-left: @halfgutter;
		padding-right: @halfgutter;
		font-weight: normal;       
	}
	&.campaign-status-pending,
	&.campaign-status-deleted {
		.inner-list-wrap {
			padding-top: @top-menu-height;
		}
	}
	.inner-list-wrap {
		.none {
			color: @gray40;
			font-size: @smalltext;
			padding: @gutter 0;
		}
	}

	/* donor specific */
	&.donors {

		.list-search {
			top: 0;
		}
	}
}

/* List Search */
.list-search {
	position: fixed;
	top: @top-menu-height;
	height: @top-menu-height;
	width: @sidepanelwidth;
	z-index: 1000;
	border-top: solid 1px @maingray;
	&:before {
		position: absolute;
		top: 50%;
		left: 30px;
		content: '\e65f';
		color: @gray30;
		font-family: 'icons';
		font-size: 16px;
		margin-top: -10px;
	}

	span {
		display: block;
		padding: 12px @halfgutter;
		width: 100%;
		height: 100%;
		background: @gray10;
	}
	input[type='search'] {
		color: @white;
		background: @gray12;
		border-color: transparent;
	}
}


/* Toggle Content Changes */
/* ------------------------------------------------- */
.large-menu-toggled {
	.branding {
		width: @primary-nav-lg-width;
	}
	.top-menu {
		left: @primary-nav-lg-width;
		&.indent {
			left: @primary-nav-lg-width + @sidepanelwidth;
		}
	}
	#content {
		left: @primary-nav-lg-width;
		&.adv {
			left: @primary-nav-lg-width + @sidepanelwidth;
		}
	}
	#sidepanel {
		padding-left: @sidepanelwidth + @primary-nav-lg-width;
	}
	.dashboard-wrap,
	.list-wrap,
	.settings-wrap {
		left: @primary-nav-lg-width;
	}
	.campaigns-view-wrap,
	.donor-view-wrap {
		padding-left: @sidepanelwidth + @primary-nav-lg-width;
	}
	.corner {
		left: @primary-nav-lg-width;
	}
}
.small-menu-toggled {
	.branding {
		width: @primary-nav-width;

		a {
			font-size: 26px;
		}
	}
	.top-menu {
		left: @primary-nav-width;
		&.indent {
			left: @primary-nav-width + @sidepanelwidth;
		}
	}
	#content {
		left: @primary-nav-width;
		&.adv {
			left: @primary-nav-width + @sidepanelwidth;
		}
	}
	#sidepanel {
		padding-left: @sidepanelwidth + @primary-nav-width;
	}
	.dashboard-wrap,
	.list-wrap,
	.settings-wrap {
		left: @primary-nav-width;
	}
	.campaigns-view-wrap,
	.donor-view-wrap {
		padding-left: @sidepanelwidth + @primary-nav-width;
	}
	.corner {
		left: @primary-nav-width;
	}
}


/* Drop Down */
/* ------------------------------------------------- */
.dropdown {
	padding: 0;

	/* when dropped */
	&.drop,
	&.open {

		ul {
			opacity: 1;
			top: 65px;
			webkit-transition: opacity .1s ease-in-out,top .1s ease-in-out,left 0s ease-in-out,right 0s ease-in-out;
			-moz-transition: opacity .1s ease-in-out,top .1s ease-in-out,left 0s ease-in-out,right 0s ease-in-out;
			-o-transition: opacity .1s ease-in-out,top .1s ease-in-out,left 0s ease-in-out,right 0s ease-in-out;
			transition: opacity .1s ease-in-out,top .1s ease-in-out,left 0s ease-in-out,right 0s ease-in-out;
		}
	}
	ul {
		position: absolute;
		top: 80px;
		padding: 10px 0;
		min-width: 160px;
		background: @white;
		.border-radius;
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
		opacity: 0;
		z-index: 9999;
		-webkit-transition-delay: 0s,0s,.1s;
		-webkit-transition: opacity .1s ease-in-out,top .1s ease-in-out,left 0s linear,right 0s linear;
		-moz-transition: opacity .1s ease-in-out,top .1s ease-in-out,left 0s linear .1s,right 0s linear .1s;
		-o-transition: opacity .1s ease-in-out,top .1s ease-in-out,left 0s linear .1s,right 0s linear .1s;
		transition: opacity .1s ease-in-out,top .1s ease-in-out,left 0s linear .1s,right 0s linear .1s;
		&:before {
			.arrow-up;
			top: -8px;
		}

		li {
			a {
				display: block;
				color: @gray40;
				font-weight: 400;
				line-height: 40px;
				padding: 0 @gutter;
				width: 100%;

				&:hover {
					background: @offwhite;
				}
				i.icon {
					color: @gray40;
					font-size: 18px;
					line-height: 40px;
					margin-right: 8px;
				}
			}
		}
	}
}


/* Pace Loader Bar */
/* ------------------------------------------------- */
.pace .pace-progress {
	background: @white;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	height: 1px;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}

.pace-inactive {
	display: none;
}


/* Tables */
/* ------------------------------------------------- */
table.dataTable {
	padding: 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;

	table {
		padding: 0;
		width: 100%;
	}
	th {
		background: @modulegray;
	}
	td {
		color: @gray40;
		border-top: solid 1px @gray75;
		cursor: pointer;
		.trans;
		&.raised {
			span {
				padding: 0 .6em;
				background: @gray75;
				.round-radius;
			}
		}
	}
	th,
	td,
	tbody th
	tbody td {
		padding: .9em 4% !important;
	}
	th,
	thead th {
		color: @gray50;
		font-size: 14px;
		font-weight: 500;
		padding: .6em 4% !important;
		border-bottom: solid 1px @modulegray;
	}
	tbody tr {
		background-color: transparent !important;
		border-color: transparent !important;
		.trans;
		&:hover {
			background: @white !important;
		}
		&.donation-entry {
			&.drop,
			+ tr td[colspan~="4"],
			+ tr td[colspan~="5"] {
				padding: .3em 0 !important;
				background: @white !important;
				border-top: 0;
			}
			i {
				float: left;
			}
			&.drop td.details-control i.mdi-navigation-expand-more {
				transform:rotate(180deg);
				-ms-transform:rotate(180deg);
				-webkit-transform:rotate(180deg);
			}
			td.details-control a {
				color: @gray40;
				&:hover {
					color: @gray30;
				}
			}
		}
	}
	td.details-control {
		padding: 0 !important;
		cursor: pointer;

		i {
			display: block;
			text-align: center;
			padding: 1em 6%;
			.trans;
			&:before {
				height: 16px;
				width: 16px;
			}
		}
	}
	&.display tbody td[colspan~="4"] {
		padding: 0 !important;
		border: 0;
		&.dataTables_empty {
			padding: .9em 4% !important;
		}
	}
	&.no-footer {
		border: 0;
	}
	&.row-border tbody th,
	&.row-border tbody td,
	&.display tbody th,
	&.display tbody td,
	thead td {
		border-top: solid 1px @gray75;
	}
}
.dataTables_info {
	color: @gray60 !important;
	font-size: .9em;
	padding: .4em !important;
}
.dataTables_wrapper {

	.dataTables_length,
	.dataTables_filter,
	.dataTables_processing,
	.dataTables_paginate {
		color: @gray20 !important;

		label {
			margin: 0;
	 	}
	}
	.dataTables_filter {
		position: relative;
		&:before {
			position: absolute;
			top: 50%;
			left: 26px;
			content: '\e65f';
			color: @gray70;
			font-family: 'icons';
			font-size: 16px;
			margin-top: -10px;
		}
		input {
			max-width: 160px;
			min-height: 34px;
		}
	}
	.dataTables_paginate {
		padding: 0px !important;
	}
	select.form-control {
		text-indent: 0;
		height: 38px;
	}
}
.row {
	margin: 0;
	padding: 12px 0;
}
.table-header,
.table-footer {
	.select2-container {
		margin-right: 0;
		margin-right: 4px;
		min-height: 0;
		&:after {
			right: 10px;
		}

		&.select2-dropdown-open a.select2-choice {
			background: transparent;
		}
		.select2-choice {
			font-size: @basefontsize;
			font-weight: 400;
			line-height: 34px;
			height: 34px;
			> .select2-chosen {
				margin-right: 20px;
			}
		}
		.select2-choices .select2-search-field input,
		.select2-choice, .select2-choices {
			background: transparent;
		}
		.select2-choice > span:first-child,
		.select2-choices .select2-search-field input {
			padding: 0 6px;
		}
	}
	label {
		color: @gray50;
	}
	.pagination {
		margin: 0;
	}
}
.table-header {
	padding: 10px @halfgutter;
	background: @modulegray;
	border-bottom: solid 1px @gray70;

	.btn {
		float: left;
		color: @white;
		margin: 0;
		margin-right: .6em;
		background: @gray60;
		&:hover {
			background: @gray50;
		}
	}
}
.table-footer {
	text-align: center;
	padding: @halfgutter @gutter;
	border-top: solid 1px @gray75;

	a.btn {
		float: none;
		margin: 10px 4px;
	}
}

@import "campaign/campaign.less";
@import "dashboard.less";
@import "settings.less";
@import "404.less";