/* Top Menu */
/* ------------------------------------------------- */

.large-menu-toggled li.branding {
	width: @primary-nav-lg-width;
}

.small-menu-toggled li.branding {
	width: @primary-nav-width;
}

.top-menu {
	background-color: @gray5;
	width: 100%;
	position: fixed;
	top: 0;
	height: @top-menu-height;
	z-index: 9999;

	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		float: left;

		li.branding {
			text-align: center;
			display: block;
			float: left;

			a {
				display: inline-block;
				line-height: @top-menu-height;
				width: 100%;
				cursor: pointer;
				font-size: 26px;
				vertical-align: middle;
				padding: 0px;
				transition: none;
				&:before {
					color: @white;
				}
				&.icon-pullr {
					font-size: 34px;
				}
			}
		}

		li.add-campaign {
			display: block;
			float: left;
			width: @sidepanelwidth;
			height: @top-menu-height;
			color: @white;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
			line-height: @top-menu-height;

			a {
				display: inline-block;
				margin-top: 20px;
				font-size: 18px;
				font-weight: bold;
				color: @accent;

				&:hover {
					color: @accenthover;
				}
			}
		}
	}

	.avatar-container {
		float: right;
		height: @top-menu-height;
		display: block;
		position: relative;
		cursor: pointer;

		.avatar {

			span {
				display: inline-block;
				color: @white;
				line-height: @top-menu-height;
				height: @top-menu-height;
				padding: 0 .8em;
				
				img {
					border-radius: 50%;
					height: 32px;
					width: 32px;
				}
			}
		}
		.avatar,
		ul.avatar-submenu {
			float: right;
		}
		ul.avatar-submenu {
			margin-right: -200px;
			-webkit-transition: all ease-in-out 0.2s;
			transition: all ease-in-out 0.2s;

			li {
				float: left;
				line-height: @top-menu-height;
				height: @top-menu-height;

				a {
					display: inline-block;
					padding: 0 .8em;
					border-left: 1px solid @gray5;
					font-size: 18px;
					color: @white;
				}
			}
		}
		&.open ul.avatar-submenu {
			margin-right: 0;
		}
	}
}

/* Primary Navigation */
/* ------------------------------------------------- */
.primary-navigation {
	position: fixed;
	height: 100%;
	top: 0;
	padding-top: @top-menu-height;
	background: @gray5;
	z-index: 1000;

	nav.nav-top {
		width: 100%;

		ul {
			margin: 0;
			padding: 20px 0 0;
			list-style: none;
			width: 100%;
			display: block;

			li {
				display: block;
				padding: 0px;
				margin: 0px;
				width: 100%;
				line-height: 60px;

				a {
					display: block;
					color: @gray30;
					position: relative;
					padding: 0 24px;
					height: 60px;
					&:before {
						display: block;
						padding-bottom: 10px;
					}

					&.active:after {
						content: " ";
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 10px 10px 0;
						border-color: transparent @gray5 transparent transparent;
						position: absolute;
						right: 0px;
						top: 36%;       
					}

					.icon {
						font-size: 22px;
						vertical-align: middle;
						display: inline-block;
						padding-right: 10px;
					}

					.nav-label {
						font-size: 14px;
						font-weight: 400;
						vertical-align: middle;
						height: 60px;
						display: inline-block;
					}
				}

				a.icon-settings.active:after,
				a.dashboard.active:after,
				a.settings.active:after {
					border-color: transparent @white transparent transparent;	
				}

				a:hover,
				a.active {
					color: @white;
				}
			}
		}

	}
	.primary-nav-toggle {
		display: block;
		padding: 16px 0px;
		text-align: center;
		font-size: 18px;
		line-height: 20px;
		color: @gray20;
		position: absolute;
		bottom: 0px;
		left: 0px;
		text-align: center;
		cursor: pointer;
		transition: none;
		&:hover {
			color: @white;
		}
	}
}

.small-menu-toggled .primary-navigation {
	width: @primary-nav-width;

	nav.nav-top ul li a  { 
		text-align: center; 

		.nav-label {
			display: none;
		}
	}

}
.small-menu-toggled .primary-nav-toggle {
	width: @primary-nav-width;
}
.large-menu-toggled .primary-navigation {
	width: @primary-nav-lg-width;
}
.large-menu-toggled .primary-nav-toggle {
	width: @primary-nav-lg-width;
}