/* Top Menu */
/* ------------------------------------------------- */
.top-menu {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0 @gutter;
	height: @top-menu-height;
	background: @gray75;
	z-index: 1000;
	box-shadow: none;
	.slowtrans;
	&.shadow {
		box-shadow: 0 0 3px rgba(0,0,0,.3);
	}
	&.indent {
		left: @primary-nav-width + @sidepanelwidth;
	}
	
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		float: left;

		/* Add Campaign Button */
		li.add-campaign {
			display: block;
			float: left;
			width: @sidepanelwidth;
			font-weight: 700;
			line-height: @top-menu-height;

			span {
				float: left;
				color: @gray30;
				font-size: 1.1em;
				font-weight: 600;
				line-height: @top-menu-height;
			}
			a {
				float: left;
				display: inline-block;
				color: @gray60;
				font-size: 20px;
				text-align: center;
				margin: 21px 10px;

				&:hover {
					color: @accent;
				}
			}
		}
	}

	/* User Avatar Area */
	.avatar-container {
		float: right;
		height: @top-menu-height;
		display: block;
		position: relative;
		cursor: pointer;
		&.open ul.avatar-submenu.right {
			right: 0;
			top: 75px;
		}
		ul.avatar-submenu {
			&.right {
				top: 65px;
				right: -5000px;
				&:before {
					right: @gutter;
				}
			}
		}
		&.open .user-photo-menu:after {
			border-color: @gray60 transparent transparent transparent !important;
		}

		.avatar {
			float: right;

			.user-photo-menu {
				position: relative;
				display: inline-block;
				color: @gray30;
				line-height: @top-menu-height;
				height: @top-menu-height;
				padding-right: 1.4em;
				&:after {
					.arrow-down;
					top: 50%;
					right: 0;
					border-width: 6px 6px 0 6px;
					border-color: @gray70 transparent transparent transparent;
				}
				&:hover:after {
					border-color: @gray60 transparent transparent transparent;
				}
				span {
					color: @white;
					font-size: 14px;
					margin-right: 6px;
				}
				
				img {
					height: 36px;
					width: 36px;
					border: solid 3px @gray72;
					border-radius: 50%;
				}
			}
		}
	}
}

/* Primary Navigation */
/* ------------------------------------------------- */
.primary-navigation {
	position: fixed;
	top: 0;
	height: 100%;
	background: @maingray;
	z-index: 999;
	overflow: hidden;
	.slowtrans;

	.branding {
		display: block;
		text-align: center;
		height: @top-menu-height;
		.slowtrans;

		a {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			cursor: pointer;
			font-size: 32px;
			line-height: @top-menu-height;
			padding: 0px;
			background: @maingray;
			&:before {
				color: @white;
			}
			&.icon-pullr {
				font-size: 34px;
			}
		}
	}

	nav.nav-top {
		position: relative;
		width: 100%;
		z-index: 1000;

		ul {
			margin: 0;
			padding: @gutter 0 0;
			list-style: none;
			width: 100%;
			display: block;

			li {
				display: block;
				padding: 0px;
				margin: 0px;
				width: 100%;
				line-height: 60px;

				a {
					position: relative;
					display: block;
					color: @gray20;
					font-weight: 600;
					padding: 0 26px;
					height: 60px;
					&:before {
						display: block;
						padding-bottom: 10px;
					}

					.icon {
						float: left;
						display: inline-block;
						font-size: 26px;
						line-height: 58px;
						vertical-align: middle;
					}

					.nav-label {
						position: absolute;
						left: 62px;
						display: inline-block;
						vertical-align: middle;
						height: 60px;
						opacity: 1;
						.trans-opacity;
					}
				}
				a.dashboard.active:after {
					border-color: transparent @accent transparent transparent;	
				}
				a.campaign-link.active:after, a.donor-link.active:after {
					border-color: transparent @dkaccent transparent transparent;	
				}

				a:hover,
				a.active {
					color: @white;
				}
			}
		}
	}
	.primary-nav-toggle {
		display: block;
		padding: 16px 0px;
		text-align: center;
		font-size: 22px;
		line-height: 20px;
		color: @gray20;
		position: absolute;
		bottom: 0px;
		left: 0px;
		text-align: center;
		cursor: pointer;
		.slowtrans;
		&:hover {
			color: @white;
		}
	}
}

.small-menu-toggled .primary-navigation {
	width: @primary-nav-width;

	nav.nav-top ul li a  { 
		text-align: center; 

		.nav-label {
			opacity: 0;
		}
	}
}
.small-menu-toggled .primary-nav-toggle {
	width: @primary-nav-width;
}
.large-menu-toggled .primary-navigation {
	width: @primary-nav-lg-width;
}
.large-menu-toggled .primary-nav-toggle {
	width: @primary-nav-lg-width;
}