/* Top Menu */
/* ------------------------------------------------- */
.top-menu {
	background-color: @dkgray;
	width: 100%;
	position: fixed;
	top: 0;
	height: @top-menu-height;
	padding-right: 20px;
	z-index: 9999;

	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		float: left;

		li.branding {
			background: @dkaccent;
			width: @primary-nav-width;
			text-align: center;
			display: block;
			float: left;

			a {
				display: inline-block;
				line-height: @top-menu-height;
				width: 100%;
				cursor: pointer;
				font-size: 28px;
				vertical-align: middle;
				padding: 0px;
				&:before {
					color: @white;
				}
			}
		}

		li.add-campaign {
			display: block;
			float: left;
			width: @sidepanelwidth;
			padding-left: 34px;
			padding-right: 34px;
			height: @top-menu-height;
			color: @white;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
			line-height: @top-menu-height;

			a {
				display: block;
				float: right;
				margin-top: 20px;
				font-size: 18px;
				font-weight: bold;
				color: @accent;

				&:hover {
					color: @accenthover;
				}
			}
		}

	} /* End of quicknav */

	.avatar-container {
		float: right;
		height: @top-menu-height;
		display: block;
		position: relative;

		.avatar {

			span {
				height: @top-menu-height;
				display: block;
				line-height: @top-menu-height;
				
				img {
					border-radius: 50%;
					border: 2px solid @white;
					height: 32px;
					width: 32px;
				}
			}
		}
	}
}

/* Primary Navigation */
/* ------------------------------------------------- */
.primary-navigation {
	position: fixed;
	height: 100%;
	top: 0px;
	padding-top: @top-menu-height;
	width: @primary-nav-width;
	background: @accent;
	z-index: 1000;

	nav.nav-top {
		width: 100%;

		ul {
			margin: 0px;
			padding: 18px 0px 0px;
			list-style: none;
			width: 100%;
			display: block;

			li {
				display: block;
				padding: 0px;
				margin: 0px;
				width: 100%;

				a {
					display: block;
					padding: 24px 0px;
					text-align: center;
					font-size: 22px;
					line-height: 22px;
					color: @dkgray;
					position: relative;

					&:before {
						display: block;
						padding-bottom: 10px;
					}

					&.active:after {
					content: " ";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 10px 10px 0;
					border-color: transparent @gray5 transparent transparent;
					position: absolute;
					right: 0px;
					top: 36%;       
					}

				}

				a.icon-settings.active:after,
				a.dashboard.active:after,
				a.settings.active:after {
					border-color: transparent @white transparent transparent;	
				}

				a:hover {
					color: @white;
				}

				a.active {
					color: @white;
				}
			}
		}
	}

	.nav-bottom {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;

		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			display: block;
			width: 100%;
			float: left;

			li {
				display: block;
				margin: 0px;
				padding: 0px;
				width: 50%;
				float: left;
				text-align: center;

				a {
					display: block;
					text-align: center;
					padding: 10px 15px;
					width: 100%;

					&:before {
						font-size: 22px;
						line-height: 22px;
						display: block;
						padding-bottom: 10px;
					}
				}
			}
		}
	}
}