/* Main Settings Area */
/* ------------------------------------------------- */
.settings-wrap {
	position: fixed;
	top: @top-menu-height;
	right: 0;

	#content.settings {
		position: static;
		padding-right: @sidepanelwidth;

		a.account-deactivate {
			color: @gray60;
			font-size: @smalltext;
		}
		span#timezone {
			color: @gray30;
			font-size: 1.1em;
			font-weight: 500;
		}
		.dashboard-notifications,
		.email-notifications {
			.form-group {
				margin-bottom: @halfgutter;
			}
		}
	}
}


/* Plans Sidebar */
/* ------------------------------------------------- */
#sidebar.plans {
	text-align: center;
	right: 0;

	.plan {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 30px;
		.background;
	}
	.mCSB_container {
		height: 100% !important;
	}
	.account-action {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: @gutter;
	}
}

.plan-show-Basic,
.plan-show-Pro {
	.payment {
		display: none;
	}
	.plan-panel {

		i {
			font-size: 72px;
		}
		h3 {
			color: @gray20;
			font-weight: 500;
			line-height: 1.2em;
		}
	}
}

/* Basic */
.plan-show-Basic {
	.plan-panel {
		i {
			color: @accent;
			width: 160px;
			height: 160px;
			background: url(/images/gopro.jpg);
		}
		h3 {
			margin: 1em 0;
		}
		ul {
			li {
				color: @gray20;
				font-size: @smalltext;
				font-weight: 500;
				text-align: left;
				margin-bottom: .6em;
				padding-left: .3em;
			}
		}
	}
}

/* Pro */
.plan-show-Pro {

	.plan-pro-advertisement {
		display: none;
	}
	.account-confirmation {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		padding: 0 @gutter+@halfgutter;
		margin-top: -120px;

		i {
			color: @gray20;
		}
	}
	.account-action {
		color: @gray30;
		font-size: @fineprint;

		a {
			display: block;
			color: @gray60;
		}
	}
}

/* Payment */
.plan-show-payment {
	.plan-pro-advertisement {
		display: none;
	}

	.payment {
		select{
			color: #000;
		}
	}
	.plan-pro {
		display: none;
	}
}