/* Main Settings Area */
/* ------------------------------------------------- */
.settings-wrap {
	position: fixed;
	top: @top-menu-height;
	right: 0;

	#content.settings {
		position: static;
		padding-right: @sidepanelwidth;

		a.account-deactivate {
			color: @gray60;
			font-size: @smalltext;
		}
		span#timezone {
			color: @gray30;
			font-weight: 500;
		}
		.dashboard-notifications,
		.email-notifications {
			.form-group {
				margin-bottom: @halfgutter;
			}
		}
	}
}


/* Plans Sidebar */
/* ------------------------------------------------- */
#sidebar.plans {
	text-align: center;
	right: 0;

	.plan {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 30px;
		.background;
	}
	.mCSB_container {
		height: 100% !important;
	}
	.account-action {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: @gutter;
	}

	/* General Plan */
	.plan-show-Basic,
	.plan-show-Pro {
		.payment {
			display: none;
		}
		.plan-panel {

			i {
				font-size: 72px;
			}
			h3 {
				line-height: 1.2em;
			}
		}
	}

	/* Basic */
	.plan-show-Basic {
		.plan-panel {
			padding: @gutter @halfgutter;
			height: 100%;
			background-image: url(/images/gopro.jpg);
			background-position: center;
			background-size: cover;
			.border-radius;
			overflow: hidden;

			i {
				display: block;
				color: @white;
			}
			h3 {
				color: @white;
				font-weight: 700;
			}
			ul {
				padding: 3em 0;

				li {
					color: @white;
					font-size: @smalltext;
					line-height: 1.2em;
					margin-bottom: .6em;
					padding-bottom: .6em;
					border-bottom: solid 1px rgba(255,255,255,.1);
					&:last-child {
						border: 0;
					}
				}
			}
			.account-action {
				bottom: 30px;
			}
		}
	}

	/* Pro */
	.plan-show-Pro {

		.plan-pro-advertisement {
			display: none;
		}
		.plan-panel {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			padding: 0 @gutter+@halfgutter;
			margin-top: -120px;

			i {
				color: @gray20;
			}
			h3 {
				color: @gray20;
				font-weight: 500;
			}
		}
		.account-action {
			color: @gray30;
			font-size: @fineprint;

			a {
				display: block;
				color: @gray60;
			}
		}
	}

	/* Payment */
	.plan-show-payment {
		.plan-pro-advertisement {
			display: none;
		}

		.payment {
			select{
				color: #000;
			}
		}
		.plan-pro {
			display: none;
		}
	}
}