/* Main Settings Area */
/* ------------------------------------------------- */

/* Plans Sidebar */
/* ------------------------------------------------- */
#sidebar.plans {
	right: 0;

	.plan {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 30px;
		.background;
	}
	.mCSB_container {
		height: 100% !important;
	}
}

/* Basic users */
.plan-show-Basic {
	background-color: @accent;
	background-image: url(../../../../images/pullrbasic.jpg);

	.plan-pro-advertisement {

	}
	.payment {
		display: none;
	}
}

/* Payment info */
.plan-show-payment {
	.plan-pro-advertisement {
		display: none;
	}

	.payment {
		select{
			color: #000;
		}
	}
	.plan-pro {
		display: none;
	}
}

/* Pro users */
.plan-show-Pro {
	background-color: @accent;
	background-image: url(../../../../images/pullrpro.jpg);

	.plan-pro-advertisement {
		display: none;
	}
	.payment {
		display: none;
	}
}