@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,700italic);
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------*/
/* The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none */
/* Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse */
/* Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse */
/* Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>*/
/* Display Order
// - applies to: flex items
// <integer>*/
/* Flex grow factor
// - applies to: flex items
// <number>*/
/* Flex shr
// - applies to: flex itemsink factor
// <number> */
/* Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> */
/* Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around */
/* Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch */
/* Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch */
/* Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch */
/* Palette Styling */
/* Typography Styling */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?7zw7ol');
  src: url('fonts/icomoon.eot?#iefix7zw7ol') format('embedded-opentype'), url('fonts/icomoon.woff?7zw7ol') format('woff'), url('fonts/icomoon.ttf?7zw7ol') format('truetype'), url('fonts/icomoon.svg?7zw7ol#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  margin: 0.6em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Lato', serif;
}
p,
ol,
ul,
blockquote,
pre,
code {
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  color: #ffffff;
}
p,
ol,
ul,
blockquote {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
p,
ol,
ul,
blockquote,
pre,
code {
  color: #ffffff;
}
.stats h1 {
  font-family: 'Lato', sans-serif;
  padding: 0 0 .2em 0;
}
.feed-details h3 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  font-weight: normal;
}
.feed-details p {
  margin-top: 0;
  font-style: italic;
}
.charity-info h4,
.donor-info h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #0083c2;
}
h1 {
  margin-top: 0;
  font-size: 2.6em;
  font-weight: 300;
}
h2 {
  font-size: 2.2em;
  color: #0083c2;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.4em;
}
small,
.font_small {
  font-size: 0.618em;
}
date {
  color: #ffffff;
  font-weight: 700;
  display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\e600";
}
.icon-add2:before {
  content: "\e601";
}
.icon-announcement:before {
  content: "\e602";
}
.icon-archive:before {
  content: "\e603";
}
.icon-archivebox:before {
  content: "\e604";
}
.icon-arrowbottom:before {
  content: "\e605";
}
.icon-arrowbottom2:before {
  content: "\e607";
}
.icon-arrowbottom3:before {
  content: "\e608";
}
.icon-arrowleft:before {
  content: "\e609";
}
.icon-arrowleft2:before {
  content: "\e60a";
}
.icon-arrowleft3:before {
  content: "\e60b";
}
.icon-arrowright:before {
  content: "\e60c";
}
.icon-arrowright2:before {
  content: "\e60d";
}
.icon-arrowright3:before {
  content: "\e60e";
}
.icon-arrowtop:before {
  content: "\e60f";
}
.icon-arrowtop2:before {
  content: "\e610";
}
.icon-arrowtop3:before {
  content: "\e611";
}
.icon-attachment:before {
  content: "\e612";
}
.icon-award:before {
  content: "\e613";
}
.icon-award2:before {
  content: "\e614";
}
.icon-award3:before {
  content: "\e615";
}
.icon-bargraph:before {
  content: "\e616";
}
.icon-browser:before {
  content: "\e617";
}
.icon-browser2:before {
  content: "\e618";
}
.icon-browsercheck:before {
  content: "\e619";
}
.icon-browserremove:before {
  content: "\e61a";
}
.icon-brush:before {
  content: "\e61b";
}
.icon-calendar:before {
  content: "\e61c";
}
.icon-campaigns:before {
  content: "\e61d";
}
.icon-cash:before {
  content: "\e61e";
}
.icon-charity:before {
  content: "\e61f";
}
.icon-chat:before {
  content: "\e620";
}
.icon-chatblock:before {
  content: "\e621";
}
.icon-chatblock2:before {
  content: "\e622";
}
.icon-chatblocks:before {
  content: "\e623";
}
.icon-chatbubble:before {
  content: "\e624";
}
.icon-chatbubble2:before {
  content: "\e625";
}
.icon-chatbubbles:before {
  content: "\e626";
}
.icon-check:before {
  content: "\e627";
}
.icon-check2:before {
  content: "\e628";
}
.icon-clipboard:before {
  content: "\e629";
}
.icon-clock:before {
  content: "\e62a";
}
.icon-clock2:before {
  content: "\e62b";
}
.icon-code:before {
  content: "\e62c";
}
.icon-coin:before {
  content: "\e62d";
}
.icon-coins:before {
  content: "\e62e";
}
.icon-console:before {
  content: "\e62f";
}
.icon-console2:before {
  content: "\e630";
}
.icon-controller:before {
  content: "\e631";
}
.icon-creditcard:before {
  content: "\e632";
}
.icon-csv:before {
  content: "\e633";
}
.icon-dashboard:before {
  content: "\e634";
}
.icon-dots:before {
  content: "\e635";
}
.icon-download:before {
  content: "\e636";
}
.icon-edit:before {
  content: "\e637";
}
.icon-enlarge:before {
  content: "\e638";
}
.icon-file:before {
  content: "\e639";
}
.icon-flag:before {
  content: "\e63a";
}
.icon-flag2:before {
  content: "\e63b";
}
.icon-folder:before {
  content: "\e63c";
}
.icon-fullscreen:before {
  content: "\e63d";
}
.icon-fullscreen2:before {
  content: "\e63e";
}
.icon-gamecontroller:before {
  content: "\e63f";
}
.icon-gridthumb:before {
  content: "\e640";
}
.icon-heart:before {
  content: "\e641";
}
.icon-image:before {
  content: "\e642";
}
.icon-lab:before {
  content: "\e643";
}
.icon-layout:before {
  content: "\e644";
}
.icon-layout2:before {
  content: "\e645";
}
.icon-link:before {
  content: "\e646";
}
.icon-list:before {
  content: "\e647";
}
.icon-listrow:before {
  content: "\e648";
}
.icon-lock:before {
  content: "\e649";
}
.icon-logout:before {
  content: "\e64a";
}
.icon-mail:before {
  content: "\e64b";
}
.icon-mailopen:before {
  content: "\e64c";
}
.icon-maintenance:before {
  content: "\e64d";
}
.icon-mic:before {
  content: "\e64e";
}
.icon-minus:before {
  content: "\e64f";
}
.icon-minus2:before {
  content: "\e650";
}
.icon-mobile:before {
  content: "\e651";
}
.icon-monitor:before {
  content: "\e652";
}
.icon-mute:before {
  content: "\e653";
}
.icon-pause:before {
  content: "\e654";
}
.icon-piechart:before {
  content: "\e655";
}
.icon-piechart2:before {
  content: "\e656";
}
.icon-play:before {
  content: "\e657";
}
.icon-playlist:before {
  content: "\e658";
}
.icon-popout:before {
  content: "\e659";
}
.icon-power:before {
  content: "\e65a";
}
.icon-pullr:before {
  content: "\e65b";
}
.icon-pullrsupport:before {
  content: "\e65c";
}
.icon-recover:before {
  content: "\e65d";
}
.icon-refresh:before {
  content: "\e65e";
}
.icon-remove:before {
  content: "\e65f";
}
.icon-remove2:before {
  content: "\e660";
}
.icon-resizefull:before {
  content: "\e661";
}
.icon-resizefull2:before {
  content: "\e662";
}
.icon-resizenormal:before {
  content: "\e663";
}
.icon-search:before {
  content: "\e664";
}
.icon-settings:before {
  content: "\e665";
}
.icon-share:before {
  content: "\e666";
}
.icon-stack:before {
  content: "\e667";
}
.icon-star:before {
  content: "\e668";
}
.icon-stream:before {
  content: "\e669";
}
.icon-streamboard:before {
  content: "\e66a";
}
.icon-support:before {
  content: "\e66b";
}
.icon-template:before {
  content: "\e66c";
}
.icon-timer:before {
  content: "\e66d";
}
.icon-trash:before {
  content: "\e66e";
}
.icon-twitch:before {
  content: "\e66f";
}
.icon-twitter:before {
  content: "\e670";
}
.icon-unlock:before {
  content: "\e671";
}
.icon-upload:before {
  content: "\e672";
}
.icon-user:before {
  content: "\e673";
}
.icon-useradd:before {
  content: "\e674";
}
.icon-usercheck:before {
  content: "\e675";
}
.icon-usergroup:before {
  content: "\e676";
}
.icon-userremove:before {
  content: "\e677";
}
.icon-view:before {
  content: "\e678";
}
.icon-volume:before {
  content: "\e679";
}
.icon-warning:before {
  content: "\e67a";
}
.icon-windows:before {
  content: "\e67b";
}
.icon-twitch2:before {
  content: "\e606";
}
.icon-facebook:before {
  content: "\e67d";
}
.icon-youtube:before {
  content: "\e67e";
}
.icon-help:before {
  content: "\e67c";
}
* {
  box-sizing: border-box;
}
/* Base Styles */
html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 16px;
  background: #0f1015;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #212526), color-stop(1, #0f1015));
  background: -ms-linear-gradient(bottom, #212526, #0f1015);
  background: -moz-linear-gradient(center bottom, #212526 0%, #0f1015 100%);
  background: -o-linear-gradient(#0f1015, #212526);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f1015', endColorstr='#212526', GradientType=0);
  font-family: 'Lato', sans-serif;
}
a,
a:link,
a:visited,
a:active,
li,
:before {
  -webkit-transition-duration: 0.33s;
  -webkit-transition-property: color, background, background-image, text-shadow, border, opacity, text-decoration, background-size, fill;
  -moz-transition-duration: 0.33s;
  -moz-transition-property: color, background, background-image, text-shadow, border, opacity, text-decoration, background-size, fill;
  -o-transition-duration: 0.33s;
  -o-transition-property: color, background, background-image, text-shadow, border, opacity, text-decoration, background-size, fill;
  transition-duration: 0.33s;
  transition-property: color, background, background-image, text-shadow, border, opacity, text-decoration, background-size, fill;
  text-decoration: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
img {
  max-width: 100%;
  height: auto;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.btn {
  border: #1dbc9c 2px solid;
  background-image: -moz-linear-gradient(90deg, rgba(14, 89, 74, 0.2) 0%, rgba(29, 188, 156, 0.2) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(14, 89, 74, 0.2) 0%, rgba(29, 188, 156, 0.2) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(14, 89, 74, 0.2) 0%, rgba(29, 188, 156, 0.2) 100%);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ffffff;
  padding: 0.6em 2em;
  position: relative;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.btn:hover {
  color: #ffffff;
  background-image: -moz-linear-gradient(90deg, rgba(14, 89, 74, 0.6) 0%, rgba(29, 188, 156, 0.6) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(14, 89, 74, 0.6) 0%, rgba(29, 188, 156, 0.6) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(14, 89, 74, 0.6) 0%, rgba(29, 188, 156, 0.6) 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
.btn:active {
  top: 1px;
}
.overlay-bg {
  min-height: 1000px;
  background: url(images/bg.png) no-repeat #212526;
  background-size: 100%;
}
header {
  z-index: 1;
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background: rgba(35, 40, 41, 0.3);
  overflow: hidden;
  position: relative;
}
header .head {
  overflow: hidden;
  top: 0;
  left: 0;
}
header .head .logo {
  height: 54px;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}
header .head .logo:hover {
  color: #1dbc9c;
  cursor: pointer;
}
header .menu-actions {
  position: absolute;
  top: 0;
  right: 0;
}
header .menu-actions a {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0 2em 0 1.4em;
  background: transparent;
}
header .menu-actions a:hover {
  color: #1dbc9c;
}
header .menu-actions a:hover:before {
  background: transparent;
}
header .menu-actions a:before {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -16px;
  display: inline-block;
  width: 28px;
  background: transparent;
  transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  border-left: 1px solid #20d2ae;
  -webkit-transition: all 0.33 ease-out;
  -moz-transition: all 0.33 ease-out;
  -o-transition: all 0.33 ease-out;
  transition: all 0.33 ease-out;
}
.mc-hammer {
  z-index: 2;
  position: relative;
}
.stats {
  margin-top: 2.5em;
}
.stats .feed-details img {
  margin-top: 1em;
  margin-bottom: 1em;
}
.stats .donor-stats {
  background-image: -moz-linear-gradient(90deg, #262a2b 26%, #000000 100%);
  background-image: -webkit-linear-gradient(90deg, #262a2b 26%, #000000 100%);
  background-image: -ms-linear-gradient(90deg, #262a2b 26%, #000000 100%);
  position: relative;
  padding: 0.6em 0;
  margin-top: 1.8em;
  height: 100%;
  display: block;
  height: 70px;
  margin-left: 15px;
  margin-right: 15px;
}
.stats .donor-stats:after {
  -webkit-box-shadow: 0 36px 24px #000000;
  -moz-box-shadow: 0 36px 24px #000000;
  box-shadow: 0 36px 24px #000000;
  width: 100%;
  z-index: -1;
  position: absolute;
  content: "";
  height: 0.6em;
  box-shadow: 0 48px 24px #000;
  top: 3.6em;
  left: 0;
}
.stats .donor-stats .col-md-4 {
  position: relative;
  border-right: 1px solid #323232;
}
.stats .donor-stats .icon-holder {
  display: inline-block;
  height: 100%;
  float: left;
  padding-top: 0.2em;
}
.stats .donor-stats .icon-holder [class^="icon-"],
.stats .donor-stats .icon-holder [class*=" icon-"] {
  color: #1dbc9c;
  font-size: 2.6em;
  margin-right: 0.4em;
  padding-top: 0;
}
.stats .donor-stats span {
  display: inline-block;
  margin-right: 0.8em;
  line-height: 1.1em;
  color: #ffffff;
  padding-top: 0.4em;
}
.stats .donor-stats h1 {
  color: #0083c2;
  display: inline-block;
  font-style: italic;
  text-align: right;
  position: absolute;
  right: 0.4em;
}
.stats .amount-progress {
  text-align: center;
  width: 100%;
  z-index: 9999;
  background: transparent;
}
.stats .amount-progress .project-progress {
  position: relative;
  content: '';
  height: 6px;
  width: 100%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 10;
  background: #0083c2;
}
.stats .amount-progress .project-progress .project-progressbar {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #1dbc9c;
  -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
}
.stats .amount-progress .project-progress span {
  display: block;
  position: absolute;
  top: -44px;
  left: 0;
  opacity: 0;
  color: #FFF;
  font-weight: 600;
  margin-left: -30px;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.stats .amount-progress .project-progress.status .project-progressbar {
  width: 45%;
}
.stats .progress-marker {
  left: 45%;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 4px solid #ffffff;
  background: #1dbc9c;
  position: relative;
  top: -7px;
}
.feed {
  margin-top: 4.5em;
}
.feed .feed-details .sharing {
  display: inline-block;
  position: relative;
  right: 0;
  float: right;
}
.feed .feed-details .sharing button {
  background: #505a5d;
  border: none;
  color: #ffffff;
  padding: 4px 8px;
  margin-top: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.feed .feed-details .sharing .dropdown-menu {
  background: #505a5d !important;
  right: 0;
  left: auto;
}
.feed .feed-details .sharing .dropdown-menu li a {
  color: #ffffff;
}
.feed .feed-details .sharing .dropdown-menu li a:hover {
  background: #0072a9;
}
.feed .feed-meta {
  margin-top: 1em;
}
.feed .feed-meta .feed-meta-viewers p {
  margin-top: 0;
}
.feed .feed-donate .btn {
  width: 100%;
  padding: 1em 3em;
  max-width: 300px;
}
.feed .stream {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.feed .stream .feed #stream {
  transition: .2s linear;
  -webkit-transition: .2s linear;
}
.feed .stream #stream {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  border-radius: 3px;
  z-index: 10;
}
.feed .stream #stream #featured {
  position: relative;
  overflow: hidden;
}
.feed .stream #stream #featured .featuredstreamcontainer {
  position: relative;
  float: left;
  width: 100%;
  transition: width .2s linear;
  -webkit-transition: width .2s linear;
  z-index: 10;
}
.feed .stream #stream #featured .featuredchat {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 100%;
  width: 35%;
  min-width: 300px;
  z-index: 1;
  padding-bottom: 32%;
  min-height: 452px;
}
.feed .stream #stream #featured .featuredchat iframe {
  height: 100%;
  width: 100%;
  min-height: 335px;
}
.feed .stream #stream #featured .biggerFeaturedStream {
  width: 65%;
}
.feed .stream #stream .stream-controls {
  position: absolute;
  top: 0;
  right: -75px;
  bottom: 0;
  text-align: center;
  padding: 1.2em 0;
  clear: both;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.feed .stream #stream .stream-controls .togglechat {
  display: block;
  color: #FFF;
  width: 60px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  padding-top: 4px;
  margin: .4em .4em 2em .4em;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: .5;
  font-size: 1.2em;
}
.feed .stream #stream .stream-controls .togglechat:hover,
.feed .stream #stream .stream-controls .togglechat .chaton {
  opacity: 1 !important;
}
.charity-donors {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
}
.charity-donors .user-details {
  position: relative;
  flex-basis: 33.3333%;
  background: #475052;
  padding: 2em;
}
.charity-donors .user-details .username {
  display: inline-block;
}
.charity-donors .user-details .username .user-details-avatar {
  width: 2em !important;
  display: inline-block;
  margin-right: 0.6em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #454046;
}
.charity-donors .user-details .username .user-details-twitch {
  display: inline-block;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  font-style: italic;
}
.charity-donors .user-details .username .user-details-twitch:hover {
  border-color: transparent;
}
.charity-donors .user-details .user-details-social {
  background: #212526;
  margin-top: 1em;
  width: 100%;
  padding: 1em 3em;
  margin-bottom: 2em;
  margin-left: -3em;
  margin-right: -4em;
}
.charity-donors .user-details .user-details-social a {
  color: #ffffff;
  margin-right: 0.4em;
}
.charity-donors .user-details .user-details-social a:last-of-type {
  margin-right: 0;
}
.charity-donors .user-details .user-details-social a:hover {
  color: #475052;
}
.charity-donors .charity-info {
  position: relative;
  background: #3d4547;
  padding: 2em;
  flex-basis: 33.3333%;
}
.charity-donors .charity-info img {
  margin-bottom: 1.5em;
}
.charity-donors .charity-info p {
  color: #ffffff !important;
}
.charity-donors .charity-info p:last-of-type {
  border-bottom: 1px solid #554f56;
  padding-bottom: 2em;
  color: #0083c2;
}
.charity-donors .charity-info h4 {
  color: #ffffff;
}
.charity-donors .charity-info .charity-link {
  color: #ffffff;
  margin-right: 12px;
  border-bottom: 1px dotted #ffffff;
}
.charity-donors .charity-info .charity-link:last-of-type {
  margin-right: 0;
}
.charity-donors .charity-info .charity-link:hover {
  border-color: transparent;
}
.charity-donors .donor-info {
  position: relative;
  background: #343a3c;
  padding: 2em;
  flex-basis: 33.3333%;
}
.charity-donors .donor-info .donor-list ul {
  -moz-column-width: 45%;
  -moz-column-count: 2;
  -moz-column-gap: 5%;
  -moz-column-rule-color: transparent;
  -moz-column-rule-style: none;
  -moz-column-rule-width: 0;
  -webkit-column-width: 45%;
  -webkit-column-count: 2;
  -webkit-column-gap: 5%;
  -webkit-column-rule-color: transparent;
  -webkit-column-rule-style: none;
  -webkit-column-rule-width: 0;
  column-width: 45%;
  column-count: 2;
  column-gap: 5%;
  column-rule-color: transparent;
  column-rule-style: none;
  column-rule-width: 0;
  padding-left: 0;
  color: #ffffff;
  margin-top: 1.5em;
}
.charity-donors .donor-info h4 {
  color: #ffffff;
}
footer {
  padding-bottom: 2em;
  background: #1c2021;
  padding-top: 2em;
}
footer .powered {
  text-align: center;
  text-transform: uppercase;
  color: #554f56;
}
footer .tandc {
  margin-top: 0 !important;
}
footer .tandc a {
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  border-bottom: 1px dotted #554f56;
  color: #554f56;
}
footer .tandc a:hover {
  border-color: transparent;
  color: #ffffff;
}
footer p {
  text-align: center;
  color: #554f56;
  margin-bottom: 0;
}
footer p a.icon-pullr {
  color: #ffffff;
  font-size: 1.2em;
  margin-left: 2px;
  position: relative;
  top: 3px;
}
footer p a.icon-pullr:hover {
  color: #1dbc9c;
}
footer p .flag {
  border-bottom: none;
}
footer p .flag:hover {
  color: #ffffff;
}
/* Arbitrary Breakpoints */
@media screen and (max-width: 1200px) {
  .featuredchat {
    min-height: 373px !important;
  }
}
@media screen and (max-width: 1089px) {
  .stream-controls {
    right: -60px !important;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    margin-top: 0;
    font-size: 1.8em;
    font-style: italic;
  }
  h2 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.3em;
  }
  .team-mates .team-mate-single .team-mate-single-social {
    line-height: 1.5em;
  }
  .stats .donor-stats {
    height: 180px;
  }
  .stats .donor-stats div {
    padding-bottom: 0.4em;
  }
  .stream-controls {
    display: none;
  }
  .featuredchat {
    min-height: 285px !important;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .right {
    text-align: center;
  }
  .feed-donate {
    margin-bottom: 2em;
  }
  .charity-donors .user-details,
  .charity-donors .charity-info,
  .charity-donors .donor-info {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    margin-top: 0;
    font-size: 2.8em;
    font-style: italic;
  }
  h2 {
    font-size: 2.0em;
    color: #0083c2;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
}
