@import "elements.less";
@import "palette.less";
@import "type.less";



* {
	box-sizing: border-box;
}

/* Base Styles */

html {
	-webkit-font-smoothing: antialiased;
	height: 100%;
	text-rendering:optimizeLegibility; 
	-moz-osx-font-smoothing: grayscale;
}


body {
	font-size: 16px;
	.gradient(#0f1015, @body_bg_color, #0f1015);
	.secondary();
	
}

a, a:link, a:visited, a:active, li, :before {
	-webkit-transition-duration: 0.33s;
	-webkit-transition-property: color, background, background-image, text-shadow, border, opacity, text-decoration, background-size, fill;
	-moz-transition-duration: 0.33s;
	-moz-transition-property: color, background, background-image, text-shadow, border, opacity, text-decoration, background-size, fill;
	-o-transition-duration: 0.33s;
	-o-transition-property: color, background, background-image, text-shadow, border, opacity, text-decoration, background-size, fill;
	transition-duration: 0.33s;
	transition-property: color, background, background-image, text-shadow, border, opacity, text-decoration, background-size, fill;
	text-decoration: none;
	
}

.cf:before,
.cf:after {
    content: " "; 
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



img {
	max-width: 100%;
	height: auto;
}


.center {text-align: center;}
.right {text-align: right;}



.btn {
  	border: @c1 2px solid;
  	background-image: -moz-linear-gradient( 90deg, rgba(14,89,74,0.2) 0%, rgba(29,188,156,0.2) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgba(14,89,74,0.2) 0%, rgba(29,188,156,0.2) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgba(14,89,74,0.2) 0%, rgba(29,188,156,0.2) 100%);
    .rounded(28px);
	color: @lightest;
	padding: 0.6em 2em;
	position: relative;
	font-size: 1em;
	font-weight: bold;
	display: inline-block;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	&:hover {
	color: @lightest;	
	background-image: -moz-linear-gradient( 90deg, rgba(14,89,74,0.6) 0%, rgba(29,188,156,0.6) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgba(14,89,74,0.6) 0%, rgba(29,188,156,0.6) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgba(14,89,74,0.6) 0%, rgba(29,188,156,0.6) 100%);
  	.inner-shadow();
	}
	&:active {
		top: 1px;
	}
}





.overlay-bg {
	min-height: 1000px;
	background: url(images/bg.png) no-repeat #212526;
	background-size: 100%;
	
} 

header {
	z-index: 1;
	width: 100%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background: @nav_bg;
	overflow: hidden;
	position: relative;
	.head { overflow: hidden;
	
	top: 0;
	left: 0;
	
		.logo {
			height: 54px;
			font-size: 36px;
			line-height: 54px;
			color: @lightest;
			
		&:hover {
			color: @c1;
			cursor: pointer;
	
			}	
		}		
				
			
		}
		.menu-actions {
			position: absolute;
			top: 0;
			right: 0;
			a {
				display: inline-block;
				color: @lightest;
				font-weight: 500;
				line-height: 60px;
				text-transform: uppercase;
				padding: 0 2em 0 1.4em;
				background: transparent;
				&:hover {
					color:  @c1;
					&:before {
					background: transparent;
					}	
					}
				
			&:before {
				content: '';
				position: absolute;
				top: -4px;
				bottom: -4px;
				left: -16px;
				display: inline-block;
				width: 28px;
				background: transparent;
				transform: rotate(15deg);
				-ms-transform: rotate(15deg);
				-webkit-transform: rotate(15deg);
				border-left: 1px solid lighten(@c1, 5%);
				.transition(0.33);
				}
			}
		}
	}	

     
.mc-hammer {
	z-index: 2;
	position: relative;

}

.stats {
	margin-top: 2.5em;
	.feed-details {
		img {
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
	.donor-stats {
		background-image: -moz-linear-gradient( 90deg, rgb(38,42,43,1) 26%, rgb(0,0,0) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(38,42,43,1) 26%, rgb(0,0,0) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(38,42,43,1) 26%, rgb(0,0,0) 100%);
		position: relative;
		padding: 0.6em 0;
		margin-top: 1.8em;
		height: 100%;
		display: block;
		height: 70px;
		margin-left: 15px;
		margin-right: 15px;
		 &:after {
			 .box-shadow(0 36px 24px #000);
			 width: 100%;
			 z-index: -1;
			 position: absolute;
			 content: "";
			 height: 0.6em;
			 box-shadow: 0 48px 24px #000;
			 top: 3.6em;
			 left: 0;
		 }
		.col-md-4 {
			position: relative;
			border-right: 1px solid #323232;

		}
		.icon-holder {
			display: inline-block;
			height: 100%;
			float: left;
			padding-top: 0.2em;
			
			[class^="icon-"], [class*=" icon-"] {
				color: @c1;
				font-size: 2.6em;
				margin-right: 0.4em;
				padding-top: 0;
			}
		}
		span {
			display: inline-block;
			margin-right: 0.8em;
			line-height: 1.1em;
			color: @lightest;
			padding-top: 0.4em;
		}
		h1 {
			color: @c2;
			display: inline-block;
			font-style: italic;
			text-align: right;
			position: absolute;
			right: 0.4em;
			
		}
 	}
	.amount-progress {	
		text-align: center;
		
		width: 100%;
		
		z-index: 9999;
		background: transparent;
		.project-progress {
			position: relative;
			content: '';
			
			height: 6px;
			width: 100%;
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
			z-index: 10;
			background: @c2;
			
			.project-progressbar {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 0;
				background: @c1;
				-webkit-transition: width 0.7s ease-in-out;
				transition: width 0.7s ease-in-out;
				}
			span {
				display: block;
				position: absolute;
				top: -44px;
				left: 0;
				opacity: 0;
				color: #FFF;
				font-weight: 600;
				margin-left: -30px;
				-webkit-transition: opacity 0.7s;
				transition: opacity 0.7s;
				-webkit-transition-delay: 0.7s;
				transition-delay: 0.7s;
				}	
			}
		.project-progress.status .project-progressbar {
			width: 45%;
			}
			
		}	
		.progress-marker {
				left: 45%;
				height: 20px;
				width: 20px;
				.rounded(50%);
				border: 4px solid @lightest;
				background: @c1;
				position: relative;
				top: -7px;
			}
}

.feed {
	margin-top: 4.5em;
	.feed-details {
			
		
		.sharing {display: inline-block;
		position: relative;
		right: 0;
		float: right;
			button {
				background: lighten(@body_bg_color,20%);
				border: none;
				color: @lightest;
				padding: 4px 8px;
				margin-top: 8px;
				.rounded(4px);
			}
		.dropdown-menu {
		background: lighten(@body_bg_color,20%) !important;
		right: 0;
		left: auto;
		
		li {
			a {
				color: @lightest;
				&:hover {
					background: darken(@c2, 5%)
				}
			}
				
				
				}
		}
		}
		
	}
	.feed-meta {
			margin-top: 1em;
			.feed-meta-viewers {
				p {
					margin-top: 0;
				}
			}
		}
	.feed-donate {
		.btn {
			width: 100%;
			padding: 1em 3em;
			max-width: 300px;
		}
	}
	
	.stream { 	
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
	
		.feed #stream {
			transition: .2s linear;
			-webkit-transition: .2s linear;
			}
		#stream {
			position: relative;
			margin: 0 auto;
			width: 100%;
			max-width: 1200px;
			border-radius: 3px;
			z-index: 10;
			
			#featured {
				position: relative;
				overflow: hidden;
		
				.featuredstreamcontainer {
					position: relative;
					float: left;
					width: 100%;
					transition: width .2s linear;
					-webkit-transition: width .2s linear;
					z-index: 10;
					}
				.featuredchat {
					position: absolute;
					top: 0;
					right: 0;
					display: none;
					height: 100%;
					width: 35%;
					min-width: 300px;
					z-index: 1;
					padding-bottom: 32%;
					min-height: 452px;
					
					iframe {
						height: 100%;
						width: 100%;
						min-height: 335px;
						}
					}
						
				.biggerFeaturedStream {
					width: 65%;
					}
				}
				.stream-controls {
					position: absolute;
					top: 0;
					right: -75px;
					bottom: 0;
					text-align: center;
					padding: 1.2em 0;
					clear: both;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
		
					.togglechat {
						display: block;
						color: #FFF;
						width: 60px;
						font-weight: 400;
						line-height: 1.2em;
						text-align: center;
						padding-top: 4px;
						margin: .4em .4em 2em .4em;
						background-position: top center;
						background-repeat: no-repeat;
						opacity: .5;
						font-size: 1.2em;
						&:hover, .chaton {
							opacity: 1 !important;
							}
						
						}
					}
				
			}
			
	}	
	}	



.charity-donors { 
				 .flex-display();
				 flex-direction: row;
				 flex-wrap: wrap;
				 margin-top: 2em;
				
	.user-details { 
		position: relative; 
		flex-basis: 33.3333%;
		background: lighten(@body_bg_color, 16%);
		padding: 2em;
			.username {display: inline-block;
				.user-details-avatar {
					width: 2em !important;
					display: inline-block;
					margin-right: 0.6em;
					.rounded(50%);
					border: 1px solid @c3;
				}
				.user-details-twitch {
					display: inline-block;
					color: @lightest;
					border-bottom: 1px solid @lightest;
					font-style: italic;
					&:hover {
						border-color: transparent;
					}
				}
				}
				.user-details-social {
					background: @body_bg_color;
					margin-top: 1em;
					width: 100%;
					padding: 1em 3em;
					margin-bottom: 2em;
					margin-left: -3em;
					margin-right: -4em;

					a { color: @lightest;
					margin-right: 0.4em;
					 	&:last-of-type {
						 	margin-right: 0;
					 	}
						&:hover {
						color: lighten(@body_bg_color, 16%);;
						}
					}
				}
			}
	

	.charity-info {
		position: relative;
		background: lighten(@body_bg_color, 12%);
		padding: 2em;
		flex-basis: 33.3333%;
			img {
				margin-bottom: 1.5em;
				}
		p {
			color: @lightest !important;
			&:last-of-type {
				border-bottom: 1px solid lighten(@c3, 6%);
				padding-bottom: 2em;
				color: @c2;
			}
		}
		h4 {
			color: @lightest;
		}
		
		.charity-link {
			color: @lightest;
			margin-right: 12px;
			border-bottom: 1px dotted @lightest;
			&:last-of-type {
				margin-right: 0;
			}
			&:hover {
				border-color: transparent;
			}
		}
	}
	
	.donor-info {
		position: relative;
		background: lighten(@body_bg_color, 8%);
		padding: 2em;
		flex-basis: 33.3333%;
			.donor-info-title {
			}
		.donor-list {
			ul {
			.columns (45%,2,5%, transparent, none, 0);
			padding-left: 0;
			color: @lightest;
			margin-top: 1.5em;

			}
		}
		h4 {
			color: @lightest;
		}
	}
}

footer {padding-bottom: 2em;background: darken(@body_bg_color,2%);padding-top: 2em;
	.powered {
	text-align: center;
	text-transform: uppercase;
	color:  lighten(@c3, 6%);
	}
	.tandc { margin-top: 0 !important;
		a {
			margin-left: 6px;
			margin-right: 6px;
			position: relative;
			border-bottom: 1px dotted lighten(@c3, 6%);
			color: lighten(@c3, 6%);		
					&:hover {
						border-color: transparent;
						color: @lightest;
					}

		}
	}
	p {text-align: center;
		color:  lighten(@c3, 6%);
		margin-bottom: 0;
	
		a.icon-pullr {
			color: @lightest;
			font-size: 1.2em;
			margin-left: 2px;
			position: relative;
			top: 3px;
			&:hover {
				color: @c1;
			}
	}
	.flag {
		border-bottom: none;
		&:hover {
			color: @lightest;
		}
	}

	}
}
	



/* Arbitrary Breakpoints */

@media screen and (max-width: 1200px) {

.featuredchat {
		min-height: 373px !important;

		}

}


@media screen and (max-width: 1089px) {
	.stream-controls {
		right: -60px !important;
		.togglechat {
			
		}
	}
}

@media screen and (max-width: 992px) {

h1 {
  margin-top: 0;
  font-size: 1.8em;
  font-style: italic;
}

h2 {font-size: 2.1em;
	
}

h3 {font-size: 1.6em;}

h4 {font-size: 1.3em;}

.team-mates .team-mate-single .team-mate-single-social {
		line-height: 1.5em;
		

}
.stats {
	.donor-stats {
		height: 180px;
		& div {
			padding-bottom: 0.4em;
		}
	}
}

.stream-controls {
	display: none;
}
.featuredchat {
		min-height: 285px !important;

		}


}

@media screen and (max-width: 768px) {

body {
		font-size: 14px;
	}
	
	.right {
		text-align:center;
	}
	
	.feed-donate {
		margin-bottom: 2em;
	}
	
	

.charity-donors {
	.user-details, .charity-info, .donor-info {
	flex-basis: 100%;
	}
}



}



@media screen and (max-width: 600px) {

	

}

@media screen and (max-width: 480px) {
	h1 {
  margin-top: 0;
  font-size: 2.8em;
  font-style: italic;
}

h2 {font-size: 2.0em;
	color: @c2;
}

h3 {font-size: 1.4em;}

h4 {font-size: 1.2em;}



}

@media screen and (max-width: 320px) {

}