slider {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 100px;
  top: 10px;
  left: 10px;
}
slider .bubble.limit.floor,
slider .bubble.limit.ceiling,
slider .bubble.low {
  display: none !important;
}
slider span.bar {
  height: 50%;
  z-index: 0;
  background: #eee;
  left: 0;
  top: 25%;
  cursor: pointer;
  margin-right: 10px;
}
slider span.bar.selection {
  background: #0a0;
  opacity: 0.5;
}
slider span.bar.unselected {
  width: auto;
  background: #a00;
  opacity: 0.5;
}
slider span.pointer {
  cursor: pointer;
  width: 15px;
  top: 0;
  bottom: 0;
  background-color: #00a;
}
slider span.bubble {
  font-size: 0.7em;
  line-height: 1.4em;
  font-family: sans-serif;
  text-align: center;
  text-shadow: none;
  top: -1.3em;
  cursor: pointer;
}
slider span.bubble.selection,
slider span.bubble.limit {
  top: 25%;
}
::-ms-tooltip {
  display: none;
}
