body{
    padding: 20px;
}
#pullr-channels{
     
}
.team-member{
    background-color: #ddd;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    float: left;
    min-width: 200px;
    width: 32%;
}
@media (max-width: 970px){
    .team-member{
        width: 48%;
    }
}

@media (max-width: 510px){
    .team-member{
        margin: 5px 0px;
        width: 100%;
    }
}

#pullr-channels .team-member{
    height: 140px;
}
.team-member.online{
    background-color: green;
}
.thumbnail{
    float: left;
    padding: 0px;
    margin: 5px;
}
.membername{
    font-weight: bold;
    display: block;
}
.viewers{
    display: block;
}

.thumbnail{
    width: 50px;
    height: 50px;
}