/* Editor */

.trumbowyg-box,
.trumbowyg-editor {
	margin: 0;
	width: 100%;
	.border-radius;
	overflow: hidden;
}
.trumbowyg-modal-box .trumbowyg-modal-button {
	font-family: @mainfont;
	line-height: 1;
}
.trumbowyg-button-pane {
	background: @gray75;
}
.trumbowyg-textarea {
	&:focus {
		border: 0;
	}
}
.trumbowyg-modal {
	input[type="text"] {
		min-height: 25px;
	}
	label .trumbowyg-input-infos span {
		margin-left: 1px;
	}
}
.trumbowyg-modal-box .trumbowyg-modal-button {
	.border-radius;

	&.trumbowyg-modal-submit {
		background: @accent;
	}
}