/* -- Modal -- */
.cke_dialog_background_cover {
	background-color: @maingray !important;
}
.cke_dialog_body,
.cke_dialog_contents {
	background: @white !important;
	border: 0 !important;
	.border-radius !important;
	box-shadow: none !important;
	overflow: hidden;
}
.cke_dialog_title,
.cke_dialog_footer {
	outline: 0 !important;
	text-shadow: none !important;
	padding: 1em 1.8em !important;
	background: @gray72 !important;
	border: 0 !important;
	box-shadow: none !important;
}
.cke_dialog_close_button {
	top: 12px !important;
	right: 10px !important;
	line-height: 40px !important;
}
.cke_dialog_footer {
	padding: .6em 1.8em !important;
}
.cke_dialog_contents_body {
	padding: @gutter+@halfgutter @gutter @halfgutter !important;
	min-width: 460px;
}
.cke_dialog_tabs {
	display: block !important;
	left: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	height: 35px !important;
	background: @offwhite !important;

	a.cke_dialog_tab {
		color: @gray60 !important;
		font-weight: 600 !important;
		margin: 0 !important;
		padding: .8em 2em;
		background: @offwhite !important;
		border: 0 !important;
		border-right: solid 1px @gray75 !important;
		border-radius: 0 !important;
		text-decoration: none !important;
	}
	a.cke_dialog_tab_selected {
		color: @gray20 !important;
		background: @white !important;
	}
}
.cke_dialog .ImagePreviewBox {
	border: solid 2px @gray75 !important;
}
.cke_dialog_ui_html {
	margin: 0 !important;
	width: auto !important;

	a {
		float: right !important;
	}
}
.cke_dialog .cke_resizer_ltr {
	position: absolute;
	right: 6px;
	bottom: 6px;
	margin: 0 !important;
	box-shadow: none !important;
	border-width: 8px 8px 0 0 !important;
	border-color: transparent @gray60 transparent transparent !important;
}

/* Forms */
input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password,
textarea.cke_dialog_ui_input_textarea {
	padding: .6em 1em !important;
	min-width: 100px;
	border: 2px solid @gray75 !important;
}
.cke_dialog_body label {
	color: @gray60 !important;
	font-weight: 600 !important;
}

/* Buttons */
a.cke_dialog_ui_button_ok:focus,
a.cke_dialog_ui_button_ok:active,
a.cke_dialog_ui_button_cancel:focus,
a.cke_dialog_ui_button_cancel:active {
	border-width: 0 !important;
	padding: 3px 1px !important;
}
a.cke_dialog_ui_button,
a.cke_dialog_ui_button_ok {
	color: @white !important;
	border: 0 !important;
	box-shadow: none !important;
	text-decoration: none !important;
	.trans;

	span {
		text-shadow: none !important;
	}
}
a.cke_dialog_ui_button {
	background: @gray60 !important;
	&:hover {
		background: @gray50 !important;
	}
}
a.cke_dialog_ui_button_ok {
	background: @accent !important;
	&:hover {
		background: @accenthover !important;
	}
}

/* -- Main Editor -- */
.cke_chrome {
	border: solid 1px @gray75 !important;
	box-shadow: none !important;
	.border-radius;
	overflow: hidden;
}
.cke_top {
	background: @gray75 !important;
	border: 0 !important;
	box-shadow: none !important;
}