/* Editor */

.trumbowyg-box,
.trumbowyg-editor {
	width: 100%;
	.border-radius;
	overflow: hidden;
}
.trumbowyg-button-pane {
	background: @gray75;
}
.trumbowyg-textarea {
	&:focus {
		border: 0;
	}
}
.trumbowyg-modal-box .trumbowyg-modal-button {
	.border-radius;

	&.trumbowyg-modal-submit {
		background: @accent;
	}
}