/* Buttons/Submits */
/* ------------------------------------------------- */
/* General */
button,
input[type="submit"] {
	color: #FFF;
	font-size: 1.2em;
	font-weight: 600;
	border: 0;
	.border-radius;
	background: @accent;
	&:hover {
		background: @accenthover;
	}
}
/* Standard Action */
a.btn,
button.btn {
	display: inline-block;
	color: #FFF;
	font-family: @mainfont;
	font-size: @smalltext;
	font-weight: 700;
	text-align: center;
	padding: .8em 1.2em;
	background: @accent;
	outline: 0;
	border: 0;
	.border-radius;
	&:hover {
		background: @accenthover;
	}
}
/* Stamp Out Buttons */
a.stamp {
	color: @gray40;
	background: transparent !important;
	box-shadow: inset 0 0 1px 1px @gray40;
	&:hover {
		color: #FFF;
		box-shadow: inset 0 0 1px 1px #FFF;
	}
}

/* Main Components */
/* ------------------------------------------------- */

.main-wrapper {
    padding: 100px 70px;
    max-width: 100%;
    overflow: hidden;
   	.slowtrans;
}

.freeze {
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

.content {
	padding-bottom: 2em;
}
	.content h5 {
		color: @gray80;
		padding-bottom: .8em;
		border-bottom: solid 1px @gray5
	}

/* Right Sidebar */

.sidepanel {
	position: fixed;
	top: 0;
	right: -@sidepanelwidth;
	width: @sidepanelwidth;
	height: 100%;
	max-height: 100%;
	z-index: 20;
	.slowtrans;
	background: @gray5;
	overflow: auto;

	input, .form-control	{
		width: 90%;
		display: inline-block;
		margin-right: 5px;
	}

	input.form-control, select.form-control {
		padding: 15px 20px;
		border-radius: 3px;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background: #3a3c40;	
		border: 0px;
		height: auto;	
	}

	label {
		margin: 10px 0px;
	}

	&.open {
		right: 0px;

		.sidepanel-head {
			right: 0px;

			&.scroll {
				box-shadow: 0 0 10px rgba(34,35,37,.5);
			}
		}

		&.expand {
			right: @sidepanelwidth;

			.sidepanel-head {
				width: @sidepanelexpand;
			}
		}
	}

	.sidepanel-head {
		position: fixed;
		top: 0;
		right: -@sidepanelwidth;
		width: @sidepanelwidth;
		background: @gray10;
		z-index: 900;
		.slowtrans;

	}

	h4.section-header {
		color: #FFF;
		font-size: 1em;
		font-weight: 600;
		line-height: 76px;
		text-transform: uppercase;
		padding: 0 4em 0 1.8em;
		margin-bottom: 0;
		background: @accent;
		margin-top: 0px;
		.box-shadow;	
	}

	/* Sidebar Navigation Tabs */

	ul.nav-tabs {
		width: 100%;
		margin-top: 76px;
		.slowtrans;
		border: 0px;

		li {
			text-align: center;

			a {
				display: inline-block;
				color: @gray70;
				font-size: 18px;
				font-weight: 500;
				padding: 10px 20px;
				width: 100%;
				background: @gray10;
				border: 0px;
				border-radius: 0px;

				&:hover {
					background: @gray12;
					border: 0px;
				}

				&:before {
					display: block;
					color: #fff;
					line-height: 1;
				}

				span {
					display: none;
				}

			}

			&.active a {
				background: @gray12;
				border: 0px;	
			}

		}

		&.two-tabs {

			li {
				width: 50%;
				width: -webkit-cal(100% / 2);
				width: calc(100% / 2);
			}

		}

		&.three-tabs {

			li {
				width: 33.33%;
				width: -webkit-cal(100% / 3);
				width: calc(100% / 3);				
			}

		}

		&.four-tabs {

			li {
				width: 25%;
				width: -webkit-cal(100% / 4);
				width: calc(100% / 4);				
			}

		}

	}


}

/* Extra Content Side Panel */

#sidepaneltwo, #sidepanelthree {
	top: 76px;
	padding-top: 0;
	background: @bgcolor;
	z-index: 20;
}

#sidepaneltwo.expand, #sidepanelthree.expand {
	right: 0;
	width: 70%;
}

#sidepaneltwo.hide, #sidepanelthree.hide {
	right: -@sidepanelwidth;
}

#sidepanel.open.expand {
	right: 70%;
}

.tab-content {
	overflow: auto;
	height: 100%;
}
.sidepanel .tab-content {
	padding: 2.4em 2em;
}
#sidepaneltwo .tab-content {
	padding: 50px 2em 2.4em;
}
#sidepanel.open.expand .tab-content {
	overflow: hidden;
}
.tab-content .tab-pane {
    display: none;
}
.tab-content .tab-pane.active {
    display: block;
}


/* Modules */
/* ------------------------------------------------- */
.module {
	position: relative;
	padding-bottom: 1em;
	margin-bottom: 2em;
	.border-radius;
	border-bottom: solid 1px @dkgray;
}
	.module h3 {
		float: left;
		display: inline-block;
		line-height: 1.5em;
		margin: 0 1em 2em 0;
	}
	

/* Statsboard */
/* ------------------------------------------------- */
a.dashboard.show:before {
	color: #FFF !important;
}
.statsboard {
	height: 0;
	overflow: hidden;
	.slowtrans;
}
	.statsboard .container {
		padding: 100px 2em 30px;
	}
	.statsboard.show {
		background: @dkgray;
		height: 400px;
		width: 100%;
	}
	.statsboard .widget {
		text-align: center;
		float: left;
		padding: 0 2em;
		width: 33.33%;
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
		.statsboard .widget span.icon {
			display: inline-block;
			color: @gray5;
			font-size: 1.4em;
			padding: 0 5%;
			background: @dkgray;
		}
		.statsboard .widget hr {
			margin: -0.6em 0 1.6em;
			height: 1px;
			background: @bgcolor;
			border: 0;
		}

	/* Overview */


	/* Twitch Love */


	/* Activity Feed */
	.activity-feed ul li {
		color: #FFF;
		font-size: @smalltext;
		text-align: left;
		padding: .2em 0;
		border-bottom: solid 1px @bgcolor;
	}