/* Modals */
/* ------------------------------------------------- */
.popup {
	color: @white;
	position: relative;
	padding: 4em;
	width: @width;
	max-width: 480px;
	margin: 0 auto;

	h2 {
		color: @white;
		text-align: center;
	}
	.field {
		padding: .2em 0;
		width: 100%;
	}
}
.modal {
	text-align: center;

	.modal-dialog {
		position: relative;
		top: 40px;
		display: inline-block;
		margin: 0 auto 2em;
		width: 100%;
		background: @white;
		.border-radius;
		box-shadow: 0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22);
		z-index: 9999;

		.modal-content {
			text-align: left;
			background: transparent;
			border: 0;
			border-radius: 0;
			box-shadow: none;

			.modal-body {
				padding: @gutter @gutter @halfgutter;
			}
			.modal-footer {
				text-align: center;
				border: 0;
			}
		}
		button.close {
			position: absolute;
			top: 0;
			right: 0;
			line-height: 50px;
			text-align: center;
			text-shadow: none;
			width: 58px;
		}
	}
	.module {
		margin: 0;

		h5.module-title {
			text-align: left;
		}
	}
}
.modal-backdrop {
	background: @gray10;
	z-index: 1002;
	&.in {
		opacity: .3;
		filter: alpha(opacity=3);
	}
}

/* Charity Modal */
#modalCharity {
	.microPhoto {
		max-width: 150px;
		max-height: 150px;
	}
	.select-charity-container {
		cursor: pointer;
		padding: 10px 0px;
		&:hover {
			background: @gray75;
		}
	}
}

/* Themes Modal */
#modalThemes{
	.modal-dialog {
		text-align: center;
		max-width: 740px;
	}
	.modal-body {
		padding: 0;
		min-height: 300px;
	}
}

/* No Themes */
.noThemes {
	line-height: 300px;
}

/* Deactivate Modal */
#deactivateModal,
#deactivateproModal,
#goproModal,
#manualDonationModal{
	.modal-dialog {
		max-width: 400px;
	}
}

/* Social Modal (from Multstream Layout) */
#modal-social-link {
	.modal-dialog {
		max-width: 400px;
	}
}