/* Modals */
/* ------------------------------------------------- */
.popup {
	color: @white;
	position: relative;
	padding: 4em;
	width: @width;
	max-width: 480px;
	margin: 0 auto;

	h2 {
		color: @white;
		text-align: center;
	}
	.field {
		padding: .2em 0;
		width: 100%;
	}
}
.modal {
	text-align: center;

	.modal-dialog {
		position: relative;
		display: inline-block;
		margin: 6em auto 3em;
		width: 100%;
		background: @white;
		.border-radius;
		z-index: 1050;

		.modal-content {
			background: transparent;
			border: 0;
			border-radius: 0;
			box-shadow: none;

			.modal-header {
				border: 0;
			}
			.modal-footer {
				text-align: center;
				border: 0;
			}
		}
	}
}
.modal-backdrop {
	background: @maingray;
	z-index: 1000;
}

/* Themes Modal */
#modalThemes{
	.modal-dialog {
		text-align: center;
		max-width: 660px;
	}
	.modal-body{
		min-height: 300px;
	}
}
/* No Themes */
.noThemes {
	line-height: 300px;
}

/* Deactivate Modal */
#deactivateModal,
#deactivateproModal,
#goproModal {
	.modal-dialog {
		max-width: 400px;
	}
}

/* Social Modal (from Multstream Layout) */
#modal-social-link {
	.modal-dialog {
		max-width: 400px;
	}
}