/* Modals */
/* ------------------------------------------------- */
.popup {
	color: #FFF;
	position: relative;
	padding: 4em;
	width: @width;
	max-width: 480px;
	margin: 0 auto;

	h2 {
		color: #FFF;
		text-align: center;
	}
	.field {
		padding: .2em 0;
		width: 100%;
	}
}
.modal-dialog {
	position: absolute;
	top: 10%;
	left: 7.5%;
	bottom: 10%;
	right: 5.5%;
	margin: 0;
	width: auto;
	background: #FFF;
	.element-radius;
}
.modal-content {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}
.modal-backdrop {
	background: @maingray;
	z-index: 1000;
}