/* Main Layout View */
/* ------------------------------------------------- */
/* Streaming Service Filters */
.layout {
	position: relative;
	display: none;
	float: left;
	opacity: 0;
	overflow: hidden;
	color: #777;
	width: 48%;
	width: -webkit-calc(96% / 2);
	width: calc(96% / 2);
	margin: 0 .8% .96em;
	height: 160px;
	.border-radius;
	background: @gray10;
}
	.layout a {
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
	}
	.layout img {
		width: 100%;
	}
	.layout .details {
		text-align: center;
		padding: 1em 0;
	}
	.layout .details a {
		display: block;
		font-size: 1.4em;
		line-height: 1.4em;
		padding: 0 .1em;
		margin: 0 auto;
	}
	.layout .mosaic-backdrop {
		display: none;
    	position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 60px;
		background: @gray5;
	}
	.layout .mosaic-overlay {
		display: none;
		z-index: 5;
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background: @gray10;
		background-image: url(../images/test-theme.png);
		.background;
	}
		.layout .mosaic-overlay span {
			color: #FFF;
			font-weight: 500;
			width: 80%;
		}
	.layout .layoutTitle {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1em;
		width: 100%;
		background: @bgblackfade;
	}


/* Side Panel Layouts */
/* ------------------------------------------------- */

/* Player List */
.sidepanel ul.player-list {
	margin-bottom: 1em;
}
	.sidepanel ul.player-list li {
		color: @gray40;
		padding: .4em 0;
		border-bottom: solid 1px @gray10;
	}
		.sidepanel ul.player-list li a {
			float: right;
		}

/* Theme Browser */
.theme-wrap {
	display: block;
	position: relative;
	margin-bottom: .8em;
	width: 100%;
	height: 160px;
	background-color: @gray20;
	background-image: url(../images/test-theme.png);
	.background;
}
	.theme-wrap span {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		color: #FFF;
		.smallcaps;
		line-height: 160px;
		text-align: center;
		width: 100%;
		background: @bgblackfade;
	}
	.theme-wrap:hover span {
		display: block;
	}