/* Dark Styles (if opted) */
/* ------------------------------------------------- */
html.dark,
html.dark body {
	background: @base;
}
/* Progress Bar */
html.dark .form-progress .totals {
	color: #53555a;
}
html.dark .form-progress-wrap {
	background: #3a3c40;
}
html.dark div.separation > div.separation-left,
html.dark div.separation > div.separation-right {
	background: #222325;
}
html.dark div.separation > div.separation-left:after,
html.dark div.separation > div.separation-right:after {
	border-bottom: 60px solid #222325;
}
/* General */
html.dark h1.campaign-name {
	color: @white;
}
/* Forms */
html.dark input,
html.dark textarea {
	color: @white;
	border: 0;
	background: #2e3032;
}
html.dark .events-form #donation-amount .fieldamount label {
	color: #85888e;
	background: #2e3032;
}
html.dark .events-form #donation-amount .fieldamount label:hover {
	background: #3a3c40;
}
html.dark .events-form #donation-amount #other {
	background: #2e3032;
	border: solid 1px #2e3032;
}
html.dark .events-form #donation-amount #other a.closethis {
	color: #6b6e75;
}
html.dark .events-form #donation-amount #other a.closethis:hover {
	color: @white;
}
html.dark .events-form #donation-amount #other span.dollar-sign {
	color: #6b6e75;
}
/* Footer */
html.dark h5 {
	color: #3a3c40;
}
html.dark footer a.logo:before {
	color: #3a3c40;
}
html.dark footer a.logo:hover:before {
	color: @white;
}