/* Base Imports */
/* ------------------------------------------------- */
@import "../../base.less";
@import "../../variables.less";
@import "../../type.less";
@import "../../forms.less";
@import "../../common.less";


/* General */
/* ------------------------------------------------- */
html,
body {
	font-size: 14px;
	height: auto;
	background: @white;
}


/* Hide script until load */
/* ------------------------------------------------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}


/* Forms */
/* ------------------------------------------------- */
label {
	display: block;
	color: @gray70;
	font-size: 0.9em;
	font-weight: 600;
	margin-bottom: .4em;
}

.form-wrapper {
	margin: 0 auto;
	padding: 3em 7.5% 1em;
	width: 100%;
	max-width: 660px;

	.form-group {
		margin: 0;
	}
	.field {
		position: relative;
		margin-bottom: .6em;
		width: 100%;

		input[type="text"],
		textarea,
		select {
			font-size: 1.4em;
			padding: @halfgutter;
			width: 100%;
			max-width: 100%;
		}
		textarea {
			min-height: 140px;
		}
		&.comments {
			margin-bottom: 2em;

			span.counter {
				float: right;
				color: @gray60;
				font-size: .8em;
			}
		}
	}
}
.btn:not(.btn-xs):not(.btn-sm):not(.bnt-lg) {
	font-size: 1.4em;
	font-weight: 700;
	margin: .3em auto .6em;
	padding: .4em 2em;
	height: auto;
}
.help-block {
	bottom: -45px;
	font-size: 1.1em;
}
a.close {
	display: block;
	margin-bottom: 2em;
	line-height: 45px;
}


/* Icon Fonts */
/* ------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:url('../../../fonts/icomoon.eot?u7owa9');
	src:url('../../../fonts/icomoon.eot?#iefixu7owa9') format('embedded-opentype'),
	url('../../../fonts/icomoon.woff?u7owa9') format('woff'),
	url('../../../fonts/icomoon.ttf?u7owa9') format('truetype'),
	url('../../../fonts/icomoon.svg?u7owa9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Typography */
/* ------------------------------------------------- */
h1,
h2,
h3,
h4 {
	font-family: @secfont;
}


/* Donation Form Header */
/* ------------------------------------------------- */
.donation-form-header {
	margin: 0 auto;
	padding: 5.6em 10% 0;
	max-width: 800px;
}

/* Campaign Title */
h2.main-title {
	color: @gray20;
	font-size: 3em;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -1px;
	padding: 0 5%;
	margin: 0;
}

/* Charity Info */
h3.charity-name {
	color: @gray50;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-top: .8em;

	a.approved {
		position: relative;

		i {
			display: inline-block;
			color: @accent;
			font-size: 1.1em;
			font-weight: 600;
			height: 20px;
			width: 20px;
		}
		&:hover .approved-info {
			display: block;
		}
		.approved-info {
			display: none;
			position: absolute;
			top: 32px;
			left: 50%;
			color: @white;
			font-size: @fineprint;
			line-height: 1.2em;
			margin-left: -60px;
			padding: @halfgutter;
			width: 120px;
			background: @accent;
			.border-radius;
			z-index: 1000;
			
			&:before {
				.arrow-up;
				top: -8px;
				left: 50%;
				margin-left: -8px;
				border-width: 0 8px 8px 8px;
				border-color: transparent transparent @accent transparent;
			}
		}
	}
}


/* Progress Bar */
/* ------------------------------------------------- */
.form-progress {
	text-align: center;

	.totals {
		color: @gray60;
		font-size: 1.1em;
		font-weight: 400;
		padding: .3em 0;

		span.total {
			color: @accent;
		}
	}
}
.form-progress-wrap {
	position: relative;
	text-align: center;
	height: 8px;
	width: 100%;
	background: @gray75;

	.progress {
		height: 100%;
		width: 0;
		max-width: 100%;
		background: @accent;
		.animate-bar;
		.slowtrans;
	}
}


/* Footer */
/* ------------------------------------------------- */
footer {
	text-align: center;
	padding-bottom: 3em;

	h5 {
		color: @gray70;
		font-size: .6em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: .2em;
	}
	a.logo {
		&:before {
			color: @gray70;
			font-size: 2em;
		}
		&:hover:before {
			color: @gray20;
		}
	}
}


/* Personal Donation Form */
/* ------------------------------------------------- */
.tip-jar {
	text-align: center;

	/* Donation Input */
	.donation-amount {
		input {
			padding: 1em 3.2em 1em 2em;
			text-indent: 25px;
		}
		span {
			position: absolute;
			top: 0;
			line-height: 57px;
			color: @gray40;
			&.preamt {
				left: 1.2em;
			}
			&.currency {
				right: 1.2em;
			}
		}
	}
}

/* Events Donation Form */
/* ------------------------------------------------- */
.events-form {
	text-align: center;

	/* Amount Selections */
	#donation-amount {
		position: relative;
		margin-bottom: 2em;
		min-height: 90px;

		.fieldamount {
			position: relative;
			float: left;
			display: inline-block;
			text-align: center;
			margin: 0 .5%;
			width: 16%;
			width: -webkit-calc(15.66666667%);
			width: calc(15.66666667%);
			overflow: hidden;
			-webkit-transition: linear .1s;
			transition: linear .1s;

			label {
				color: @gray30;
				font-size: 1.8em;
				font-weight: 600;
				line-height: 90px;
				letter-spacing: -1px;
				margin: 0;
				width: 100%;
				background: @gray75;
				.border-radius;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				-webkit-transition: linear 0.08s;
				transition: linear 0.08s;
				cursor: pointer;
				&:hover {
	  				background: #d4d5d8;
				}
				&.active {
					color: @white !important;
					background: @accent !important;
				}
				&.other {
					font-size: 1em;
					text-transform: uppercase;
					letter-spacing: 0;
				}
			}

			input[type="radio"] {
				position: absolute;
				left: -999px;
			}
		}

		#other {
			position: absolute;
			top: 0;
			left: .5%;
			right: 17%;
			background: @white;
			.border-radius;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: solid 2px @gray75;
			overflow: hidden;

			a.closethis {
				position: absolute;
				top: 0;
				right: 32px;
				color: #d4d5d8;
				font-size: 1.8em;
				line-height: 90px;
				z-index: 100;
				&:hover {
					color: #53555a;
				}
			}

			span.dollar-sign {
				position: absolute;
				left: 6.5%;
				color: #53555a;
				z-index: 900;
				font-size: 2em;
				line-height: 90px;
			}

			.field {
				position: relative;
				margin: 0;
				padding: .4em 10%;

				input {
					font-size: 2em;
					line-height: 46px;
					width: 100%;
					border: 0;
					text-indent: 5px;
					background: @white;
				}
			}
		}
	}
}


/* FG Form */
/* ------------------------------------------------- */
#fg-form {
	height: 1000px;
}


/* Loader */
/* ------------------------------------------------- */
.spinner {
	margin: 30% auto;
}


/* Thank You Page */
/* ------------------------------------------------- */
.thankyou {
	text-align: center;
	padding-top: 9em;
}


/* Responsive */
/* ------------------------------------------------- */
@media only screen and (max-width: 540px) {
	.events-form #donation-amount .fieldamount {
		margin: .12em .5%;
		width: 33%;
		width: -webkit-calc(32.33333333%);
		width: calc(32.33333333%);
	}
	.events-form #donation-amount #other {
		right: .5%;
	}
}
@media only screen and (max-width: 480px) {
	h1.campaign-name {
		font-size: 2.4em;
	}
	h3.charity-name {
		font-size: 1em;
	}
	button.donate {
		width: 100%;
	}
}