/* Header */
header {
	background: @white;

	.logo {
		a {
			color: @gray15;
		}
	}
	.menu-actions {
		a {
			color: @gray15;
			background: @gray75;

			&:hover {
				background: @gray70;
				&:before {
					border-bottom-color: @gray70;
				}
			}
			&:before {
				border-bottom-color: @gray75;
			}
		}
	}
}

/* Main Stats */
.stats {
	background: @gray15;

	.numbers {
		span {
			color: @gray50;
		}
		h1 {
			color: @white;
		}
	}
}

/* User Bar */
.user-bar {
	background: @white;

	.avatar {

		a {
			color: @gray15;
		}
	}

	/* Social Links */
	.user-details-social {
		background: @offwhite;

		a {

		}
	}
}

/* Campaign Info */
.info {
	h2 {
		color: @gray15;
	}
	h5 {
		color: @gray50;
	}
}

/* Stream */
.stream-wrap {

	#stream {
		a.togglechat {
			color: @gray15;
			
			&:hover {
				color: @gray60;
			}
			&.chaton {
				color: @gray60;
			}
		}
	}
}

/* Footer */
footer {

	h5 {
		color: @gray60;
	}
	a.logo {
		color: @gray60;
		&:hover {
			color: @gray15;
		}
	}
	span.copy {
		color: @gray60;

		a {
			color: @gray60;
			&:hover {
				color: @gray15;
			}
		}
	}
}