/* Team Stream Layout */
.team-content {
	padding: 0 @halfgutter;

	.team-wrap {
		padding: .5%;
		margin-top: @halfgutter;
		.border-radius;

		.team-members {
			position: relative;
			float: left;
			display: inline-block;
			width: 12.5%;
			width: -webkit-calc(100% / 8);
			width: calc(100% / 8);
			padding: .5%;

			img {
				width: 100%;
				height: auto;
			}
			.team-member {
				cursor: pointer;

				&.offline img {
					opacity: .3;
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					filter: gray;
					filter: grayscale(100%);
					.trans;
					&:hover {
						opacity: 1;
						-webkit-filter: grayscale(0%);
						-moz-filter: grayscale(0%);
						filter: grayscale(0%);
					}
				}
				.team-member-stats {
					display: none;
					position: absolute;
					bottom: 80%;
					left: 50%;
					color: @white;
					padding: @halfgutter;
					margin-left: -100px;
					width: 200px;
					background: @base;
					.border-radius;
					.box-shadow;
					z-index: 1001;
					&:after {
						.arrow-down;
						bottom: -10px;
						left: 50%;
						margin-left: -10px;
						border-color: @base transparent transparent transparent;
					}
					h4 {
						font-size: 1.1em;
						font-weight: 600;
						margin-bottom: .3em;
					}
					h5 {
						font-size: 1em;
					}
					.game {
						display: block;
						color: @gray30;
						line-height: 1;
						padding: .3em 0;
					}
					.viewers {
						margin-right: 5px;
					}
					.viewers,
					.followers {
						font-size: @smalltext;
						i {
							color: @gray30;
							font-size: 12px;
							margin-top: .3em;
						}
					}
				}
				&:hover {
					.team-member-stats {
						display: block;
					}
				}
			}
		}
	}
}