/* Campaign Edit Tabs */
/* ------------------------------------------------- */
.campaign-edit-wrap {
	margin: 0 auto;

	.module {
		background: @white;

		.module-inner {
			padding: @gutter+@halfgutter @gutter+@gutter+@halfgutter;
			&:first-child {
				margin: 0;
			}

			h5 {
				text-align: center;

				i {
					display: block;
					top: 5px;
					color: @gray72;
					font-size: 30px;
					margin: 0 auto @halfgutter;
					width: 48px;
					height: 48px;
					line-height: 48px;
					border: solid 2px @gray72;
					border-radius: 50%;
				}
			}
		}
	}
	.view-actions {
		margin: 0 0 @gutter;
	}
	.tab-content {
		position: relative;
		margin: 0 auto @gutter;
		max-width: 800px;

		h3 {
			text-align: center;
			color: @gray60;
			font-weight: 400;
			margin: @halfgutter 0 @gutter+@halfgutter;
		}
	}
	.social {
		
		.module-inner {
			padding: @halfgutter @gutter+@gutter+@halfgutter !important;
			margin: 0 !important;

			&.first {
				padding-top: @gutter+@halfgutter !important;
			}
			&.last {
				padding-bottom: @gutter+@halfgutter !important;
			}

			h5 {
				margin-bottom: @halfgutter;
			}
			.network {
				padding: @gutter+10px @gutter @gutter;
				background: @gray75;

				.form-group {
					margin: 0;
				}
			}
			.form-group {
				text-align: center
			}
			label {
				text-align: center;
			}
		}
	}
	.col-sm-4,
	.col-md-4,
	.col-md-6 {
		padding: 0;
	}
}


/* Special Fields */
/* ------------------------------------------------- */

/* Start/End Dates */
.field-campaign-startdate,
.field-campaign-enddate {
	float: left;
	width: 50%;
}
.field-campaign-startdate {
	padding-right: 2%;
}

/* Team */
#campaignEdit[data-campaigntype="Charity Fundraiser"] {
    #teamQuestion {
      display: block;
    }
    p.team-notice {
    	display: none;
    }
}
#teamInvites,
#teamQuestion,
#tieCampaignContainer {
	display: none;
}
#campaignEdit[data-campaigntype="Charity Fundraiser"].team-enabled {
	#teamInvites,
	#teamQuestion,
	#tieCampaignContainer {
		display: block;
	}
	#teamInvites {
		padding-top: 0;
	}
}
p.team-notice {
	text-align: center;
}
.team {
	label {
		text-align: center;
	}
}

/* Hide Toggle Switch Checkboxes */
.field-campaign-enabledonorcomments,
.field-campaign-enabledonationprogressbar,
.field-campaign-enablethankyoupage,
.field-campaign-thankyoupagetext,
.field-campaign-teamenable,
.field-campaign-tiedtoparent,
.field-campaign-twitterenable,
.field-campaign-youtubeenable,
.field-campaign-facebookenable,
.field-campaign-formvisibility {
	.checkbox {
		> label {
			margin-bottom: @halfgutter;
			height: 30px !important;
			overflow: hidden;
		}
		label {

			&:before {
				display: none;
			}
		}
	}
	.bootstrap-switch {
		position: relative;
		right: -18px;
		display: block !important;
		margin: 0 auto;
	}
	label.control-label {
		display: none !important;
	}
}
.field-campaign-enabledonorcomments,
.field-campaign-enabledonationprogressbar,
.field-campaign-formvisibility {

	.bootstrap-switch {
		margin: 0;
		right: 0;
	}
}


/* General Campaign Edit */
/* ------------------------------------------------- */
#campaignEdit {

	.highlight-wrap {
		position: relative;
		padding: @gutter;
		margin-bottom: @halfgutter;
		background: @offwhite;
		.border-radius;
		&:before {
			.arrow-up;
			top: -9px;
			left: 50%;
			margin-left: -10px;
			border-color: transparent transparent @offwhite transparent;
		}
		input[type="text"],
		input.form-control {
			border-color: @gray70;
		}
		h5 {
			display: inline-block;
			color: @gray60;
			font-size: 1.1em;
			text-align: center;
			margin: 0 0 @halfgutter;
			background: transparent;
		}

		.form-group:last-child {
			margin: 0;
		}
	}
	.field-campaign-twittername,
	.field-campaign-youtubeurl,
	.field-campaign-facebookurl {
		&:before {
			left: 50%;
			margin-left: -10px;
		}
	}
	.logo {
		max-width: 100px;
		max-height: 100px;
		margin: 10px;
	}
	.form-group.thankyoutext {
		display: none;
	}
	#collapseThree {
		input[type=color]{
			float: right;
			margin-right: 15px;
		}
		.user-images{
			margin-top: 10px;
		}
	}
	#collapseFour {
		.field-campaign-twittername,
		.field-campaign-youtubeurl,
		.field-campaign-facebookurl {
			display: none;
		}
	}
	#collapseFour.twitterEnable {
		.field-campaign-twittername {
			display: block;
		}
	}
	#collapseFour.youtubeEnable {
		.field-campaign-youtubeurl {
			display: block;
		}
	}
	#collapseFour.facebookEnable {
		.field-campaign-facebookurl {
			display: block;
		}
	}
	.campaign-type {
		margin-bottom: @gutter;
	}
	.theme-color-picker {
		.col-md-6 {
			position: static;
		}
	}

	/* Team List (for team fundraising and multichannel teams) */
	.team-list {

		ul {
			li {
				color: @gray30;
				font-size: @inputtextsize;
				font-weight: 500;
				line-height: 40px;
				border-bottom: 1px dashed @gray72;
				&:first-child {
					margin-top: @halfgutter;
				}

				a {
					display: inline-block;
					float: right;
					color: @gray60;
					line-height: 40px;
					margin-left: .3em;
					&:hover {
						color: @gray20;
					}
					&.active {
						color: @accent;
					}
					&.icon-bubble {
						display: none;
					}
				}
			}
		}
	}

	/* Social Links */
	.socialenable {
		.module {

			.form-group {
				margin-bottom: @halfgutter;
			}
			h5 {
				margin: 0;
			}
			label {
				i {
					font-size: 1.1em;
				}
			}
		}
			
	}
}


/* Charity Search */
/* ------------------------------------------------- */
.select2-drop.charitydrop {
	&.select2-drop-active {
		margin-top: 20px;
		background: @white;

		&:before {
			.arrow-up;
			left: 50%;
			top: -10px;
			margin-left: -10px;
			border-color: transparent transparent @white transparent;
		}
	}
	&.select2-drop-active,
	&.select2-drop-above.select2-drop-active {
		padding-bottom: 6px;
		.border-radius;
	}
	&.select2-drop-above.select2-drop-active {
		margin-top: -@gutter;
		&:before {
			display: none;
		}
		&:after {
			.arrow-down;
			left: 50%;
			bottom: -10px;
			margin-left: -10px;
			border-color: @gray72 transparent transparent transparent;
		}
	}
	.select2-search {
		input {
			color: @gray40;
			background: @gray75;
		}
	}
	.select2-results {
		.select2-no-results,
		.select2-searching,
		.select2-selection-limit {
			color: @gray60;
		}
		.select2-highlighted {
			background: @gray75;
		}
		.select2-result-label {
			&:hover {
				background: @gray70;
			}
			span {
				display: block;
			}
			br {
				display: none;
			}
		}
	}
}


/* Editor */
/* ------------------------------------------------- */
@import "../../app-styles/dialog.less";