#campaignEdit{
	.pf-paypal {
		display: none;
	}
	#tieCampaignContainer {
		display: none;
	}
	.module.team {
		display: none;
	}
}

#campaignEdit[data-campaignType="Personal Fundraiser"] {
	.pf-paypal {
		display: block;
	}
	#startEndContainer {
		display: none;
	}

	#donationDestination {
		display: none;
	}
}

#campaignEdit[data-campaigntype="Charity Fundraiser"] {
	.field-campaign-parentcampaignid {
		display: none;
	}
	.module.team {
		display: block;
	}
	#tieCampaignContainer {
		display: block;
	}

	.isTied{
		.field-campaign-parentcampaignid {
			display: block;
		}

		#notTiedCampaignContainer {
			display: none;
		}
	}
}
[data-donationDestination='Partnered Charities'] {
	.customCharity{
		display: none;
	}
}

[data-donationDestination='Custom Fundraiser'] {
	.preapprovedCharity{
		display: none;
	}
}

#modalCharity .microPhoto {
	max-width: 150px;
	max-height: 150px;
}
#modalCharity .select-charity-container {
	cursor: pointer;
	padding: 10px 0px 10px 0px;
}
#modalCharity .select-charity-container:hover {
	background-color: #ccc;
}
#campaign-edit-team, #campaign-edit-team-li, #teamQuestion {
	display: none;
}