#campaignEdit {
	.pf-paypal {
		display: none;
	}
	#tieCampaignContainer {
		display: none;
	}
	.team {
		display: none;

		.bootstrap-switch {
			display: inline-block !important;
		}
	}
}

#campaignEdit[data-campaignType="Personal Fundraiser"] {
	.pf-paypal {
		display: block;
	}
	#startEndContainer {
		display: none;
	}

	#donationDestination {
		display: none;
	}
}

#campaignEdit[data-campaigntype="Charity Fundraiser"] {
	.field-campaign-parentcampaignid {
		display: none;

		&.highlight-wrap {
			&:before {
				left: 50%;
				margin-left: -10px;
			}
		}
	}
	.team {
		display: block;
	}
	#tieCampaignContainer {
		display: block;
	}
}
[data-donationDestination='Partnered Charities'] {
	.customCharity{
		display: none;
	}
}

[data-donationDestination='Custom Fundraiser'] {
	.preapprovedCharity{
		display: none;
	}
}