#campaignEdit{

	#campaign-channelname,
	#campaign-channelteam,
	#campaign-multichannels{
		display: none;
	}
	[data-campaign-layoutType=SingleStream] #campaign-channelname {
		display: block;
	}
	[data-campaign-layoutType=TwitchTeam] #campaign-channelteam {
		display: block;
	}
	[data-campaign-layoutType=MultiStream] #campaign-multichannels {
		display: block;
	}
}

/* Theme Selection */
.theme-selection {
	text-align: center;

	button {
		display: block;
		margin: 0 auto;
	}
	.selected-theme {
		position: relative;
		display: inline-block;
		color: @gray60;
		padding: .4em 1em;
		margin: .6em 0 1.4em;

		label {
			margin-bottom: 0;
		}
		span {
			display: block;
			color: @gray30;
			font-weight: 500;
		}
	}
}

/* Background Image */
#logo-container {
	.input-group {
		display: block;

		.form-control {
			height: 46px;

			&:first-child {
				.border-radius;
			}
		}
		span.kv-caption-icon,
		.file-caption-name {
			display: block;
			line-height: 20px;
			margin: 0;
		}
	}
	.file-input {
		overflow: hidden;
	}
	.input-group-btn {
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		font-size: .8em;
		text-align: center;
		margin: 0;
		width: 50px;
		z-index: 1000;

		button {
			display: none !important;
		}
		.btn.btn-file {
			color: @gray30;
			font-size: 1.2em;
			line-height: 50px;
			padding: 0;
			height: 50px;
			width: 50px;
			min-width: 50px;
			background: transparent;
			box-shadow: none;
		}
	}
}
.image-upload-preview,
.file-preview {
	position: relative;
	text-align: center;
	padding: @halfgutter;
	margin-bottom: @halfgutter;
	background: @gray75;
	border: 0;
	.border-radius;
	&:before {
		.arrow-down;
		bottom: -10px;
		left: 50%;
		margin-left: -10px;
		border-color: @gray75 transparent transparent transparent;
	}
	&:hover {
		.fileinput-remove {
			opacity: 1;
		}
	}
	.file-preview-frame {
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		height: auto;
		border: 0;
		box-shadow: none;
	}
	.fileinput-remove,
	.fileinput-remove a {
		position: absolute;
		top: @halfgutter;
		left: @halfgutter;
		right: @halfgutter;
		bottom: @halfgutter;
		text-align: center;
		text-shadow: none;
		background: @bgblackfade;
		.trans-opacity;
		opacity: 0;

		&:before,
		a:before {
			content: '×';
		}
		&:before {
			position: absolute;
			top: 50%;
			color: @white;
			font-size: 2.6em;
			font-weight: 300;
			line-height: 35px;
			margin-top: -18px;
			margin-left: -18px;
			height: 35px;
			width: 35px;
		}
	}
	img {
		height: auto !important;
		width: 100% !important;
	}
}

@import "themes.less";