/* Campaigns Sidebar */
/* ------------------------------------------------- */

.large-menu-toggled .campaigns-list-wrap {
	left: @primary-nav-lg-width;
}

.small-menu-toggled .campaigns-list-wrap {
	left: @primary-nav-width;
}

.campaigns-list-wrap {
	height: 100%;
	position: fixed;
	top: 0;
	width: @sidepanelwidth;
	padding-top: @top-menu-height;
	background-color: @dkaccent;
	overflow: auto;

	.main-info {
		padding-left: 36px;
		padding-right: 36px;
	}

	h2 {
		font-size: 24px;
		color: @accent;
		line-height: @top-menu-height;
		padding-left: 15px;
		padding-right: 15px;
		font-weight: normal;       
	}
}

/* Campaigns QuickNav */
/* ------------------------------------------------- */
.campaign-quicknav {
	width: 100%;
	line-height: 50px;
	height: 50px;
	background: @base;

	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: center;
		width: 100%;

		li {
			float: left;
			width: 33.33%;

			a {
				display: block;
				color: @gray30;
				font-size: 14px;
				line-height: 50px;
				width: 100%;

				&.active {
					color: @white;
					background: @dkaccent;
				}
				&:hover {
					background: @gray3;
				}
			}
		}
	}
}

/* Campaign Items (Sidebar) */
/* ------------------------------------------------- */
/* Campaign Search */
.list-search {
	padding: 18px 36px;
	input[type='search'] {
		background-color: @dkaccent9;
		border-color: transparent;
	}
}

/* Campaign Listings */
.campaign-item {
	padding: 18px 0;
	margin: 0px;
	position: relative;
	display: block;
	width: 100%;
	border-bottom: solid 1px @dkaccent9;
	&.active h3 {
		color: @white;
	}
	&.active {
		background: @accent !important;
	}
	&.active:before {
		.arrow-left;
		margin-top: -10px;
		right: 0px;
		top: 50%;
	}
	&:hover {
		background: @dkaccent3;
	}
	h3,
	h4 {
		color: @white;
	}
	h3 {
		margin: 0px;
		padding: 0 0 2px 0;
		font-size: 17px;
		font-weight: 400;
		line-height: 1.1em;
	}
	h4 {
		font-size: 14px;
	}
	p {
		color: @dkaccent20;
		font-weight: 700;
		margin-top: 2px;
		margin-bottom: 0px;
	}
}

/* Main Campaigns View */
/* ------------------------------------------------- */

/* Campaign View Navigation */
.campaign-actions {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50px;
	background: @gray75;

	.campaign-nav {
		padding-left: 0px;
		padding-right: 0px;
	}
		ul {
			li {
			display: block;
			float: left;
			&.active .icon {
					color: @base;
			}
				a {
				display: block;
				float: left;
				height: 50px;
				color: @gray40;

					.icon {
						font-size: 18px;
						line-height: 50px;
						color: @gray40;
					}
				}

				a:hover, a:hover .icon {
					color: @base;
				}
			}
		}
		.campaign-quick-links {
			list-style: none;
			text-align: left;
			padding-right: 0px;
			padding-left: 0px;
					
			li {
				a {
					width: 50px;
					border-right: 1px solid @white;
					text-align: center;
				}
			}

			li.active a {
				background: #FFF;
			}

			li.active .icon {

			}
		}
		.campaign-buttons {
			list-style: none;
			text-align: right;
			padding-right: 0;
			padding-left: 0;
			float: right;
			margin-bottom: 0;

			li {
				a {
					color: @white;
					font-weight: 400;
					position: relative;
					padding-right: 20px;
					padding-left: 10px;
					text-align: center;
					line-height: 50px;
					background: @accent;
					&:hover, {
						color: @white;
						background: @accenthover;
					}

					&:before {
						height: 0px;
						width: 0px;
						content: "";
						display: block;
						position: absolute;
						border-bottom: 50px solid @accent;
						border-left: 30px solid transparent;
						left: -30px;	
					}
					&:hover:before {
						border-bottom: 50px solid @accenthover;
					}
				}
			}
		}
}

/* Top Donor/Donation */
.top-donor,
.top-donation {
	padding: 1.6em 2em;
	border-top: solid 1px @gray75;
}
.top-donor {
	border-left: 0 !important;
}