#campaignEdit{
	.pf-paypal {
		display: none;
	}
	#tieCampaignContainer{
		display: none;
	}
}

#campaignEdit[data-campaignType="Personal Tip Jar"]{
	.pf-paypal {
		display: block;
	}
	#startEndContainer{
		display: none;
	}

	#donationDestination{
		display: none;
	}
}

#campaignEdit[data-campaigntype="Charity Event"]{
	.field-campaign-parentcampaignid{
		display: none;
	}

	#tieCampaignContainer{
		display: block;
	}

	.isTied{
		.field-campaign-parentcampaignid{
			display: block;
		}

		#notTiedCampaignContainer{
			display: none;
		}
	}
}
[data-donationDestination='Pre-approved Charities']{
	.customCharity{
		display: none;
	}
}

[data-donationDestination='Custom Fundraiser']{
	.preapprovedCharity{
		display: none;
	}
}

#modalCharity .microPhoto{
	max-width: 150px;
	max-height: 150px;
}

#modalCharity .select-charity-container{
	cursor: pointer;
	padding: 10px 0px 10px 0px;
}

#modalCharity .select-charity-container:hover{
	background-color: #ccc;
}

#campaign-edit-team, #campaign-edit-team-li {
	display: none;
}