/* Campaign Edit Tabs */
/* ------------------------------------------------- */
.campaign-edit-wrap {
	margin: 0 auto;
	padding: 0 @gutter+@gutter;

	.module {
		margin: 0 auto @gutter+@gutter;
		max-width: 680px;
		border-top-left-radius: 0;
		-moz-border-radius-topleft: 0;
	}
	.tab-content {
		padding: @halfgutter+@gutter @gutter+@gutter;
	}
	ul.content-nav {
		margin: @gutter+@gutter auto 0;
		max-width: 680px;
	}
}


/* Special Fields */
/* ------------------------------------------------- */

/* Start/End Dates */
.field-campaign-startdate,
.field-campaign-enddate {
	float: left;
	width: 50%;
}
.field-campaign-startdate {
	padding-right: 2%;
}
#campaignEdit[data-campaigntype="Charity Fundraiser"]{
    #teamQuestion{
      display: block;
    }
}

#campaignEdit[data-campaigntype="Charity Fundraiser"].team-enabled{
  #campaign-edit-team-li {
    display: inline-block;
  }
  #campaign-edit-team{
    display: block;
  }
}


/* General Campaign Edit */
/* ------------------------------------------------- */
#campaignEdit {
	#collapseTwo {
		#layoutTeams {
			ol {
				padding: 0px;
				li {
					border-bottom: 1px solid #000;
				}
				li:first-child {
					margin-top: 10px;
				}
			}
		}
	}
	.highlight-wrap,
	.field-campaign-twittername,
	.field-campaign-youtubeurl,
	.field-campaign-facebookurl {
		position: relative;
		padding: 20px 30px;
		margin: 20px 0;
		background: @gray75;
		.element-radius;
		&:before {
			.arrow-up;
			top: -10px;
			left: 50%;
			margin-left: -10px;
			border-color: transparent transparent @gray75 transparent;
		}

		h4 {
			color: @white;
			text-align: center;
			padding: 16px 0;
		}
	}
	.logo {
		max-width: 100px;
		max-height: 100px;
		margin: 10px;
	}
	.file-preview-image {
		max-width: 200px;
	}
	#collapseThree {
		input[type=color]{
			float: right;
			margin-right: 15px;
		}
		.user-images{
			margin-top: 10px;
		}
	}
	#collapseFour {
		.field-campaign-twittername, .field-campaign-youtubeurl, .field-campaign-facebookurl{
			display: none;
		}
	}
	#collapseFour.twitterEnable {
		.field-campaign-twittername{
			display: block;
		}
	}
	#collapseFour.youtubeEnable {
		.field-campaign-youtubeurl{
			display: block;
		}
	}
	#collapseFour.facebookEnable {
		.field-campaign-facebookurl{
			display: block;
		}
	}
}