#campaignEdit{

	#campaign-channelname, #campaign-channelteam, #campaign-multichannels{
		display: none;
	}
	[data-campaign-layoutType=SingleStream] #campaign-channelname{
		display: block;
	}
	[data-campaign-layoutType=TeamStream] #campaign-channelteam{
		display: block;
	}
	[data-campaign-layoutType=MultiStream] #campaign-multichannels{
		display: block;
	}
	
	#campaign-multichannels{
		margin-bottom: 10px;
		padding: 5px;

		div.label-danger{
			display: block;
			margin-bottom: 5px;
		}
		input{
			margin-left: 5px;
		}
		background-color: #ddd;
		
		ol {
			padding-left: 20px;
			list-style-type: none;
			
			li {
				padding-right: 10px;
				
				a {
					margin-right: 5px;
					float: right;
					&.active {
						color: red;
					}
				}
			}
		}
	}
}

#modalThemes{
	@select-theme-height: 50px;
	.select-theme{
		min-height: @select-theme-height;
		background-color: #ccc;
		padding-top: @select-theme-height / 2 - 10px;
	}
	.select-theme-container{
		a{
			display: none;
		}
	}
	.select-theme-container:hover{
		a{
			display: inline;
		}
	}
	.modal-body{
		min-height: 200px;
	}
}