/* Campaigns QuickNav */
/* ------------------------------------------------- */
ul.campaign-quicknav {
	position: fixed;
	top: 0;
	width: @sidepanelwidth;

	li {
		width: 33.33%;
		&:first-child {
			border: 0;
		}
		a {
			background: @gray15;
		}
	}
}


/* Campaign Items (Sidebar) */
/* ------------------------------------------------- */

/* Campaign Listings */
.campaigns-list {
	&.addpad {
		padding-top: @top-menu-height;
	}
}
.campaign-item {
	padding: 26px 0;
	margin: 0px;
	position: relative;
	display: block;
	width: 100%;
	border-bottom: solid 1px @gray12;
	.trans;
	&.active h3,
	&.active p {
		color: @white;
	}
	&.active {
		background: @gray12;
		&:after {
			.arrow-left;
			top: 50%;
			right: 0;
			margin-top: -10px;
			border-color: transparent @gray75 transparent transparent;
		}
	}
	&:hover {
		h3,
		p {
			color: @white;
		}
	}
	&:last-child {
		border: 0;
	}
	h3 {
		color: @gray40;
		margin-bottom: 2px;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.2em;
	}
	h4 {
		display: none;
		color: @bgwhitefade;
		font-size: 14px;
		margin-top: 2px;
	}
	p {
		color: @gray40;
		font-weight: 300;
		margin-top: 2px;
		margin-bottom: 0px;
	}
}
body.archive .campaigns-list,
body.trash .campaigns-list {
	padding-top: 119px;

	.list-search {
		top: @top-menu-height + @sidenavheight;
	}
}


/* Main Campaigns View */
/* ------------------------------------------------- */

/* Campaign View Navigation */
.campaign-actions {
	position: relative;
	display: block;
	margin-bottom: @gutter;
	padding: 0px;
	height: 60px;
	width: 100%;
	background: @gray72;
	.element-radius;
	.box-shadow;
	z-index: 1000;

	.campaign-nav {
		position: absolute;
		left: 0;
		padding: 0;
		.slowtrans;

		.dropdown {
			&.drop {
				ul {
					top: 55px;
					left: @halfgutter;
				}
				a.actions-toggle {
					color: @gray20;
					&:after {
						border-color: @gray20 transparent transparent transparent;
					}
				}
			}
			ul {
				top: 45px;
				left: -5000px;
				&:before {
					left: @halfgutter;
				}
			}
		}

		/* Toggle Button */
		a.actions-toggle {
			display: inline-block;
			position: relative;
			color: @gray60;
			font-size: 18px;
			line-height: 60px;
			padding: 0 @gutter;
			width: auto;
			transition: none;
			&:after {
				.arrow-down;
				top: 50%;
				right: 18px;
				margin-top: -1px;
				border-width: 4px 4px 0 4px;
				border-color: @gray60 transparent transparent transparent;
			}
			&:hover {
				color: @maingray;
				&:after {
					border-color: @gray20 transparent transparent transparent;
				}
			}

		}
	}
	h4 {
		color: @gray20;
		font-weight: 600;
		line-height: 60px;
		text-align: center;

		span {
			display: inline-block;
			width: 60%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	/* View Campaign */
	a.view-campaign {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		color: @white;
		font-size: 22px;
		font-weight: 400;
		padding-right: 20px;
		padding-left: 6px;
		text-align: center;
		line-height: 60px;
		width: auto;
		background: @gray60;
		.element-radius;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		&:hover {
			color: @white;
			background: @accent;
			&:before {
				border-bottom: 60px solid @accent;
			}
		}
		&:before {
			height: 0px;
			width: 0px;
			content: "";
			position: absolute;
			border-bottom: 60px solid @gray60;
			border-left: 30px solid transparent;
			left: -30px;
		}
	}
}

/* Child Campaigns */
.campaign-view-childs {

	td.raised {
		text-align: right;
	}
	.child-totals {
		float: right;
		color: @white;
		padding: 0 .6em;
		background: @accent;
		.round-radius;
	}
}