#modalThemes {

	.select-theme-container {
		background-color: @gray75;
		.background;
		overflow: hidden;
		.trans;
		&:hover {
			background-color: @gray72;
		}
		a {
			display: block;
			width: 100%;
			height: 260px;
		}
		h5 {
			color: @gray30;
			line-height: 120px;
		}
	}
	[data-name=Default] {
		display: none;
	}

	/* Basic */
	/* ------------------------------------------------- */

	/* Dark Single Theme */
	[data-id='2'] {
		background-image: url(/images/themes/b-dark.jpg);
	}
	/* Light Single Theme */
	[data-id='5'] {
		background-image: url(/images/themes/b-light.jpg);
	}
	/* Dark Team Theme */
	[data-id='3'] {
		background-image: url(/images/themes/b-dark.jpg);
	}
	/* Light Team Theme */
	[data-id='6'] {
		background-image: url(/images/themes/b-light.jpg);
	}
	/* Dark Multi Theme */
	[data-id='1'] {
		background-image: url(/images/themes/b-dark.jpg);
	}
	/* Light Multi Theme */
	[data-id='4'] {
		background-image: url(/images/themes/b-light.jpg);
	}

	/* Pro */
	/* ------------------------------------------------- */

	/* Rooster Theme */
	[data-id='8'] {
		background-image: url(/images/themes/p-rooster.jpg);
	}

}