#modalThemes {

	.select-theme-container {
		display: block;
		margin-bottom: @halfgutter;
		width: 100%;
		height: 120px;
		background: @gray75;
		overflow: hidden;
		.trans;
		&:hover {
			background: @gray72;
		}

		h5 {
			color: @gray30;
			line-height: 120px;
		}
	}
	[data-name=Default] {
		display: none;
	}

	/* Basic */
	/* ------------------------------------------------- */

	/* Default Theme */
	[data-id=2] {
		background-color: @gray10;
		background-image: url(/images/themes/test.jpg);
	}

	/* Pro */
	/* ------------------------------------------------- */

}