/* Hide script until load */
/* ------------------------------------------------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* Donation Form */
.meny-active {
	overflow: hidden;
}
.donation-form {
	position: fixed;
	top: 0;
	right: -580px;
}