.container {
	padding: 0 @halfgutter;
}

/* Buttons */
.btn {
	color: @white;
	position: relative;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 45px;
	width: auto;
	outline: 0 !important;
	background: @accent;
	border: 0;
	.border-radius;
	box-shadow: 0;
}

/* Social Links */
a.icon-twitch2 {
	color: @twitch-icon;
	&:hover {
		color: lighten(@twitch-icon, 10%) !important;
	}
}
a.icon-twitter {
	color: @twitter-icon;
	&:hover {
		color: lighten(@twitter-icon, 10%) !important;
	}
}
a.icon-youtube {
	color: @youtube-icon;
	&:hover {
		color: lighten(@youtube-icon, 10%) !important;
	}
}
a.icon-facebook {
	color: @facebook-icon;
	&:hover {
		color: lighten(@facebook-icon, 10%) !important;
	}
}

/* Info */
.info {
	h4 {
		color: @accent;
	}
}

/* Dark Overlay */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: @bglightblackfade;
	z-index: 0;
}