/* Buttons */
.btn {
	color: @white;
	position: relative;
	font-weight: 600;
	font-size: 1em;
	text-transform: uppercase;
	padding: 0.4em 2em;
	outline: 0 !important;
	border: 0;
	.border-radius;
	box-shadow: 0;
}