footer {
	text-align: center;
	padding: 2em 0;

	/* Powered */
	h5 {
		color: @gray70;
		font-size: .7em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: .4em;
	}
	a.logo {
		font-size: 2em;
	}

	span.copy {
		display: block;
		padding: 1em 0;
	}
}