footer {
	text-align: center;
	padding: 1.6em 0;

	/* Powered */
	h5 {
		color: @gray70;
		font-size: .6em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: .8em;
	}
	a.logo {
		&:before {
			color: @gray70;
			font-size: 2em;
		}
		&:hover:before {
			color: @gray20;
		}
	}

	span.copy {
		display: block;
		padding: 1em 0;
	}
}