footer {
	text-align: center;
	padding: 2em 0;

	h5 {
		color: @gray70;
		font-size: .6em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: .2em;
	}

	a.logo {
		&:before {
			color: @gray70;
			font-size: 2em;
		}
		&:hover:before {
			color: @gray20;
		}
	}

	.powered {
		text-align: center;
		text-transform: uppercase;
	}
	.tandc {
		margin-top: 0 !important;

		a {
			position: relative;
			margin: 0 6px;
		}
	}
	p {
		text-align: center;
		margin-bottom: 0;
	
		a.icon-pullr {
			color: @white;
			font-size: 1.2em;
			margin-left: 2px;
			position: relative;
			top: 3px;
			&:hover {
			}
		}
	}
}