header {
	width: 100%;
	overflow: hidden;
	
	/* Logo */
	.logo {
		float: left;

		a {
			height: @headerheight;
			font-size: 2em;
			line-height: @headerheight;
			&:hover {
				cursor: pointer;
			}
		}
	}

	/* Right Menu */
	.menu-actions {
		position: absolute;
		top: 0;
		right: 0;

		a {
			position: relative;
			display: inline-block;
			font-weight: 500;
			line-height: @headerheight;
			padding: 0 1.6em 0 1.3em;
			background: transparent;
			
			&:before {
				height: 0;
				width: 0;
				content: "";
				display: block;
				position: absolute;
				border-left: 24px solid transparent;
				border-bottom: 56px solid transparent;
				top: 0;
				left: -24px;
				.trans;
			}
		}
	}
}

/* Slidedown Menu */
.slidestats {
	position: fixed;
	top: -@headerheight;
	height: @headerheight;
	width: 100%;
	z-index: 1001;
	.slowtrans;
	&.show {
		top: 0;
	}
}