header {
	position: relative;
	width: 100%;
	padding: 0;
	.box-shadow;
	overflow: hidden;
	z-index: 1;

	.head {
		overflow: hidden;
	
		/* Logo */
		.logo {
			float: left;

			a {
				height: @headerheight;
				font-size: 2.2em;
				line-height: @headerheight;
				&:hover {
					cursor: pointer;
				}
			}
		}		
	}

	/* Right Menu */
	.menu-actions {
		float: right;

		a {
			position: relative;
			display: inline-block;
			font-weight: 500;
			line-height: @headerheight;
			padding-left: 1.4em;
			background: transparent;
			&:hover {

				&:before {
					background: transparent;
				}	
			}
			
			&:before {
				content: '';
				position: absolute;
				top: -4px;
				bottom: -4px;
				left: -16px;
				display: inline-block;
				width: 28px;
				background: transparent;
				transform: rotate(15deg);
				-ms-transform: rotate(15deg);
				-webkit-transform: rotate(15deg);
			}
		}
	}
}	