/* ------------------------------------------------- */
/* Modals */
/* ------------------------------------------------- */

/* Donor Wall */
#donorModal {
	position: relative;
	color: @gray30;
	text-align: left;
	margin: @gutter+@gutter auto;
	padding: 20px @gutter;
	max-width: 400px;
	background: @white;
	.border-radius;

	h4 {
		color: @gray30;
		margin-bottom: 1.4em;
	}
	.dw-donor {
		padding: .6em 0;
		border-top: solid 1px @gray75;

		h5.dw-name {
			float: left;
			font-size: 1.1em;
			margin: 0;
		}
		span.dw-amount {
			float: right;
		}
	}
}

/* Fades */
.mfp-fade.mfp-bg {
	background: @base;
	opacity: 0;
	.slowtrans;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	.slowtrans;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	margin-bottom: 100px;
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
.mfp-iframe-holder .mfp-content {
	max-width: 680px !important;
}
.mfp-iframe-scaler iframe {
	margin-bottom: 100px;
}