@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

/* Max 1024px */
@media only screen and (max-width:1024px) {
	.stream-controls a.togglechat,
	#featured .featuredchat {
		display: none !important;
	}
	#featured .biggerFeaturedStream {
		width: 100%;
	}
}

/* Max 900px */
@media (min-width: 992px) {

	.container {
		width: 1024px;
	}
}

/* Max 768px */
@media screen and (max-width: 768px) {

	.container {
		width: 800px;
	}
	.stream-wrap #stream #featured .featuredstreamcontainer {
		width: 100% !important;
	}
	#stream {
		padding: .3em;
		
		.stream-controls {
			position: static;
			float: left;
			clear: both;
			width: 100%;
			padding: .8em 0;

			a {
				display: inline-block;
				vertical-align: top;
				margin-bottom: 0;
			}
		}
	}
}

/* Max 600px */
@media screen and (max-width: 600px) {

	.container {
		width: 600px;
	}
}

/* Max 480px */
@media screen and (max-width: 480px) {
}