.stream-wrap {
	padding: @gutter @halfgutter;
	.trans;

	#stream {
		position: relative;
		margin: 0 auto;
		padding: 10px;
		z-index: 10;

		#featured {
			position: relative;
			overflow: hidden;

			.featuredstreamcontainer {
				position: relative;
				float: left;
				width: 65%;
				z-index: 10;
				.slowtrans;
			}
			.featuredchat {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 35%;
				min-width: 300px;
				z-index: 1;

				iframe {
					height: 100%;
					width: 100%;
					min-height: 335px;
				}
			}
			.biggerFeaturedStream {
				width: 100%;
				.slowtrans;
			}
		}
		a.togglechat {
			position: absolute;
			top: -30px;
			right: @halfgutter;
			display: block;
			font-size: @smalltext;
			font-weight: 400;
			line-height: 30px;
			text-align: center;
		}
	}
	.user-details {
		padding: 1em @halfgutter;
	}
}