.team-content {
	overflow: hidden;
	padding: .6em;
	height: 120px;
	background: @gray70;
	.element-radius;

	.team-wrap {

		.team-members {
			float: left;
			display: inline-block;

			img {
				width: 120px;
				height: auto;
			}
		}
	}
}