/* Sounds/Graphics Tabs */
ul.library-tabs {
	padding: @halfgutter;
	background: @gray15;
	border-bottom: solid 1px @gray10;

	li {
		text-align: center;
		&.active a {
			color: @white;
		}

		a {
			display: block;
			float: left;
			color: @gray30;
			font-size: @smalltext;
			width: 50%;

			i {
				display: block;
				font-size: 1.6em;
			}
		}
	}
	&.library {
		padding: @streamboardgutter 0;
	}
}

/* Media List */
.media-item {
	color: @gray30;
	font-size: @smalltext;
	padding: @streamboardgutter @halfgutter;
	cursor: pointer;

	&.selected {
		color: @white;
		background: @gray20;

		i {
			color: @white;
			cursor: pointer;
		}
	}
	&.images {
		text-align: center;
	}
	.mediaActions {
		float: right;

		i {
			font-size: 1.2em;

			&:hover {
				color: @white;
			}
		}
	}
}

/* File Upload */
.uploader {
	text-align: center;
	padding: @gutter @halfgutter;
	border: dashed 1px @gray20;

	&.uploader-drag-over {
		background: @gray15;
	}
	span {
		color: @gray30;
		font-size: @smalltext;
	}
}