/* Main */
#campaign-bar {
	overflow: hidden;
	height: 120px;
	width: 680px;
	background-size: cover;

	/* Alerts */
	.bar-alert {
		
		.bar-alert-wrap {
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 10;
		}
	}

	/* Current Total */
	.current-total {
		text-align: center;

		span {
			display: block;
			font-size: 140%;
			font-weight: 600;
			line-height: 1;
		}
	}

	/* Rotating Messages */
	.campaign-rotating-message{
		display: inline-block;
	}

	/* Progress Bar */
	.progress {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 6px;
		background: @gray20;
	}
}

/* Settings */

	/* Timers */
	.campaign-timers {
		.timerType {
			margin-bottom: @halfgutter;
		}

		/* Countdown */
		a.dropdown-toggle {
			position: relative;
			display: block;

			input[type="text"] {
				padding-right: @gutter;
			}
			i {
				position: absolute;
				top: 14px;
				right: 8px;
			}
		}
		ul.dropdown-menu {
			position: relative !important;
			background: @maingray;
			border: 0;
			.border-radius;
			.box-shadow;

			.datetimepicker table tr td.past,
			.datetimepicker table tr td.future {
				color: @gray20;
			}
			.datetimepicker td,
			.datetimepicker th {
				color: @gray30;
			}
			.datetimepicker table tr td.active.active,
			.datetimepicker table tr td.day:hover,
			.datetimepicker thead tr:first-child th:hover,
			.datetimepicker tfoot tr:first-child th:hover,
			.datetimepicker table tr td span:hover {
				color: @white;
				background: transparent;
			}
		}

		/* Countup */
		.timer-controls {
			.btn {
				float: left;
				margin: 0;

				&.start,
				&.pause {
					margin-right: 2%;
					width: 48%;
					background: @accent;
				}
				&.reset {
					margin-left: 2%;
					width: 48%;
				}
			}
		}
	}