@import "../../variables.less";

body {
  background: @maingray;
  height: auto;
  overflow: visible;
}

.source-wrap {
	padding: @streamboardgutter;

	.module {
		span {
			color: @white !important;
		}

		&:last-child {
			margin: 0;
		}
	}
}