/* Slidepanel Adjustments */
@media only screen and (max-height : 700px) {
	#sidepanel {
		.slidepanel.pane {
			bottom: -400px;
			height: 400px;
		}
	}
}
@media only screen and (max-height : 640px) {
	#sidepanel {
		.slidepanel.pane {
			bottom: -320px;
			height: 320px;

			h4.panel-title {
				&.selected {
					bottom: 370px;
				}
			}
		}
	}
}
@media only screen and (max-height : 540px) {
	#sidepanel {
		.slidepanel.pane {
			bottom: -260px;
			height: 260px;

			h4.panel-title {
				&.selected {
					bottom: 310px;
				}
			}
		}
	}
}
@media only screen and (max-height : 480px) {
	#sidepanel {
		.slidepanel.pane {
			bottom: -140px;
			height: 140px;

			h4.panel-title {
				&.selected {
					bottom: 190px;
				}
			}
		}
	}
}