@import "../../variables.less";
@import "../../scrollbars.less";

/* Base */
/* ------------------------------------------------- */
body, html {
	font-weight: 400;
	background: @base;
}
label {
	color: @gray70;
}
[draggable] {
	position: absolute !important;
	cursor: move !important;
}


/* Typography */
/* ------------------------------------------------- */
h5 {
	color: @gray30;
	.smallcaps;
	line-height: 1.4em;
}

/* Region Numbers */
&.region1:before {
	content: "\e804";
	font-family: 'icons';
}
&.region2:before {
	content: "\e805";
	font-family: 'icons';
}


/* Forms */
/* ------------------------------------------------- */
@import "streamboard-forms.less";


/* Components & Elements */
/* ------------------------------------------------- */
@import "streamboard-shared.less";

/* Sliders */
slider {
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	
	span.bar {
		top: 50%;
		height: 2px;
		margin: 0;
		background: @streamboardshadow;
	}
	span.pointer {
		top: 3px;
		height: 15px;
		.round-radius;
		background: @gray20;
		cursor: pointer;
		.box-shadow;
		&.active {
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}
span.slider-value {
	float: right;
}


/* Sidepanel (Sidebar) */
/* ------------------------------------------------- */
#sidepanel {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;	
	width: @sidepanelwidth;
	max-width: 50%;
	min-width: @sidepanelwidth;
	background: @streamboardgray;
	z-index: 900;

	.sidepanel-head {
		position: relative;
		height: @sidenavheight;
		width: 100%;
		.slowtrans;
		z-index: 1000;

		/* Sidepanel Tab Menu */
		ul.panel-nav {
			top: 0;
			border-top: 0;
			border-bottom: solid 1px @streamboardshadow;

			li {
				&.active a,
				a:hover {
					color: @white;
				}
				&.active a {
					-webkit-box-shadow: inset 0 -4px 0 0 @accent;
					-moz-box-shadow: inset 0 -4px 0 0 @accent;
					box-shadow: inset 0 -4px 0 0 @accent;
				}

				a {
					color: @gray30;
					line-height: @sidenavheight;
					height: @sidenavheight;
					background: @streamboardgray;
				}
			}
		}
	}

	/* Tab Content */
	.tab-content,
	.tab-pane {
		position: relative;
		top: 0;
		bottom: 50px;
		height: 100%;
	}
	.tab-content {

		.addpadd {
			top: @sidenavheight;
		}
	}
	.tab-pane {
		
		.pane {
			position: absolute;
			width: 100%;
			bottom: @sidenavheight+@sidenavheight;
			&.adv {
				top: @sidenavheight;
			}
		}
		> .pane {
			top: 0;
		}
		.donations-list.pane {
			bottom: @sidenavheight;
		}
		.settings.pane {
			top: @sidenavheight;
		}
		.settings-wrap {
			min-height: 400px;
		}
		.module {
			border-bottom: solid 1px @streamboardshadow;
		}
	}
	.paddingBottom {
		padding-bottom: @sidenavheight - 2px;
	}
	.region {
		&.pane {
			position: absolute;
		}
	}
	.panel-head {
		position: fixed;
		top: @sidenavheight;
		right: 0;
		line-height: @sidenavheight;
		width: @sidepanelwidth;
		max-width: 50%;
		min-width: @sidepanelwidth;
		color: @white;
		padding: 0 @streamboardgutter;
		background: @streamboardgray;
		border-bottom: solid 1px @streamboardshadow;
		z-index: 1001;

		span {
			float: right;

			a {
				display: inline-block;
				color: @gray30;
				margin-left: @halfgutter;

				&.active {
					color: @white;
				}
			}
		}
	}

	/* Slideup Panel */
	.slidepanel.pane {
		position: absolute;
		bottom: -440px;
		right: 0;
		width: 100%;
		height: 440px;
		background: @streamboardgray;
		z-index: 1001;
		.slowtrans;
		&.selected {
			bottom: @sidenavheight;
		}
		.module {
			display: inline-block;
			width: 100%;
			background: @streamboardgray;
			border-bottom: solid 1px @streamboardshadow;
			opacity: 1 !important;
			&:last-child {
				border: 0;
			}
			&.show {
				a.settingtoggle {
					padding-bottom: 2px;
					background: @streamboardactive;
				}
			}
			&.media-manager {
				&.show {
					a.settingtoggle {
						background: @streamboardactive;
					}
				}			
			}
			.module-settings {
				background: @streamboardactive;

				.form-group {
					border-bottom: solid 1px @streamboardgray;
					&:first-child {
						padding-top: 2px;
					}
					&:last-child {
						border: 0;
					}
				}
			}
			h5 {
				margin-bottom: 4px;
			}
			slider span.bar {
				/*background: @streamboardgray;*/
			}
			span.total_amountRaised {
				font-weight: 400;
			}
		}
		h4.panel-title {
			position: fixed;
			bottom: -440px;
			right: 0;
			color: @white;
			font-size: 1em;
			line-height: @sidenavheight;
			padding: 0 @streamboardgutter;
			margin-top: -@sidenavheight;
			width: @sidepanelwidth;
			max-width: 50%;
			min-width: @sidepanelwidth;
			background: @streamboardgray;
			border-bottom: solid 1px @streamboardshadow;
			z-index: 1001;
			.slowtrans;
			&.selected {
				bottom: 490px;
			}
			button {
				float: right;
				margin: .6em 0;
				min-width: 60px;
			}
		}

	}
	.streamboard-settings-header {
		position: relative;
		padding: 8px @streamboardgutter;
		height: @sidenavheight;
		background: @streamboardgray;
		border-bottom: solid 1px @streamboardshadow;

		button {
			margin: 0;
			width: 100%;
		}
	}
}

/* General Module Styles */
.module {
	border-radius: 0;
	overflow: visible;
	.slowtrans;

	&.last {
		margin: 0;
	}
	.module-title {
		padding: @halfgutter @halfgutter 0;
	}
	.module-settings {
		display: none;
		background: @streamboardactive;

		.form-group {
			border-bottom: solid 1px @streamboardgray;
			&:last-child {
				border: 0;
			}
		}
	}
	a.settingtoggle {
		display: block;
		color: @gray30;
		.smallcaps;
		padding: @halfgutter @streamboardgutter;
		transition: none;

		i {
			display: block;
			float: right;
			font-size: 1.2em;
			font-weight: 700;
			line-height: 16px;
		}
	}
	&.show {
		a.settingtoggle {
			color: @white;
			padding-bottom: 2px;
			background: @streamboardactive;

			i {
				transform:rotate(180deg);
				-ms-transform:rotate(180deg);
				-webkit-transform:rotate(180deg);
			}
		}
		.module-settings {
			display: block;
		}
	}
}


/* Other */
.sidetoggle {
	position: absolute;
	bottom: 0;
	left: -46px;
	color: @white;
	padding: @halfgutter;
	opacity: .6;
	&:hover {
		color: @white;
		opacity: 1;
	}
}
.veil {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	min-width: @sidepanelwidth;
	max-width: 50%;
	background: @base;
	z-index: 900;
	opacity: .95;
}
.value {
	color: @white;
}
.border {
	border-bottom: solid 1px @maingray;
}
.commaAfter:not(:last-child):after {
	content: ',';
	position: relative;
	margin-left: -2px;
}
.hint, [data-hint] {
	width: 100%;
}


/* Side Panel Navigation */
/* ------------------------------------------------- */
ul.panel-nav {
	position: relative;
	line-height: @sidenavheight;
	height: @sidenavheight;
	background: @gray10;

	li {
		&:last-child {
			border: 0;
		}
		a {
			line-height: @sidenavheight;
		}

		/* Stats Panel Nav */
	    	&.stats {
	    		width: 100%;
	    		a {
	    			font-size: 16px;

	        		i {
	        			font-size: 18px;
	        			margin-right: @iconspace;
	        		}
	    		}
	    		span {
	    			font-size: @smalltext;
	    		}
	    	}
		&:first-child:nth-last-child(1) {
			width: 100%;
		}
		&:first-child:nth-last-child(2),
		&:first-child:nth-last-child(2) ~ li {
			width: 50%;
		}
		&:first-child:nth-last-child(3),
		&:first-child:nth-last-child(3) ~ li {
			width: 33.3333%;
		}
		&:first-child:nth-last-child(4),
		&:first-child:nth-last-child(4) ~ li {
			width: 25%;
		}
		&:first-child:nth-last-child(5),
		&:first-child:nth-last-child(5) ~ li {
			width: 20%;
		}
		&.active a {
			color: @white;
		}
	}
}


/* Donation Panel */
/* ------------------------------------------------- */
#donations {
	position: relative;

	.donations-list {
		background: @base;
		.slowtrans;

		span {
			display: block;
			font-size: @fineprint;
		}
		.donation {
			position: relative;
			display: block;
			color: @gray30;
			margin: 0;
			background: @maingray;
			border-bottom: solid 1px @streamboardshadow;

			.donation-wrap {
				padding: @gutter @streamboardgutter;
				background: @streamboardgray;
			}
			h3.list-title {
				font-size: 15px;
				margin-bottom: .2em;
			}
			&.wasRead {
				.donation-wrap {
					opacity: .1;
				}
				a.markread {
					background: transparent !important;
					&:hover {
						i {
							&:before {
								content: '\e8e4';
								font-family: 'icons';
							}
						}
					}
					i {
						&:before {
							content: '\e8e4';
							color: @gray30;
							font-family: 'icons';
						}
					}
				}
			}
			&:last-child {
				border: 0;
			}
			.donation-wrap {
				.slowtrans;
			}
			h3.list-title,
			p.list-total {
				display: block;
				color: @white;
				width: auto;
			}
			p.list-total {
				display: inline-block;
				font-size: @smalltext;
				font-weight: 600;
				padding: 0 .6em;
				margin-bottom: .3em;
				width: auto;
				background: @gray15;
				.round-radius;
			}
			.donation-comments {
				color: @gray70;
				font-size: 14px;
				padding: 1em 0;
				margin: 0;
			}
			a.toggleview {
				position: relative;
				top: 2px;
				color: @gray30;
				font-size: 1em;
				margin-left: .2em;
				&:hover {
					color: @white;
				}
			}
			a.markread {
				position: absolute;
				bottom: 0;
				right: 0;
				display: block;
				color: @white;
				text-align: center;
				line-height: @gutter + 20px;
				height: @gutter + 20px;
				width: @gutter + 20px;
				&:hover {
					i {
						&:before {
							content: '\e8e4';
							font-family: 'icons';
						}
					}
				}
			}
		}
	}
}

/* Media */
/* ------------------------------------------------- */
@import "streamboard-media.less";


/* Panel Footer Navigation */
/* ------------------------------------------------- */
.right-side-footer {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: @sidepanelwidth;
	height: @sidenavheight;
	max-width: 50%;
	min-width: @sidepanelwidth;
	z-index: 9999;

	ul.panel-nav {
		background: @streamboardgray;
		border-top: solid 1px @streamboardshadow;
		z-index: 9999;

		li {

			&.active a {
				box-shadow: none;
			}
			a {
				font-size: 12px;
				line-height: 16px;
				padding: 8px 0;

				i {
					display: block;
					font-size: 18px;
				}
			}
		}
	}
}


/* Regions */
/* ------------------------------------------------- */
.regionsContainer{
	height: 100%;

	&.regionsNumber1 {
		.region {
			height: 100%;
		}
	}
	.region {
		position: relative;
		top: 0 !important;
		height: 50%;
		background-color: green;

		/* Resizable Items */
		[resizable] {
			&:hover,
			&:active {
				outline: dashed 1px @gray10;
			}
			&:hover {
				.ui-resizable-handle {
					display: block !important;
				}
			}
			.ui-resizable-handle {
				display: none !important;
			}
			img {
				width: 100%;
				height: 100%;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.campaign-conatiner{
			[resizable] {
				&:hover,
				&:active {
					outline: dashed 1px white;
				}
				&:hover {
					.ui-resizable-handle {
						display: block !important;
					}
				}				
			}
		}
  	}
}


/* Widgets */
/* ------------------------------------------------- */

/* Alerts */
.widget-alerts {
	text-align: center;	
	display: inline-block;

	img {
		width: 100%;
		height: 100%;	
	}
}
.fontUppercase {
	text-transform: uppercase;
}
.textShadow {
    text-shadow: 0px 3px 3px #000000;
}
.alert-image-preview {
	max-width: 100px;
	max-height: 50px;
}

.widget-alerts-message,
.widget-tags-message {
	height: auto !important;
	word-wrap: break-word;
}

@import "streamboard-campaignbar.less";
@import "streamboard-activityfeed.less";


/* Sidebar */
/* ------------------------------------------------- */
.capture-link {
	position: relative;
	top: 16px;
	display: block;
	float: right;
	color: @gray40;
	font-size: @fineprint;
	text-align: center;
	line-height: 20px;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	background: @streamboardformgray;
	.round-radius;
	&:hover {
		color: @white;
	}
}


/* Loader */
/* ------------------------------------------------- */
.spinner-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: @base;

	.sb-logo,
	.spinner {
		position: absolute;
		left: 0;
		text-align: center;
		width: 100%;
		opacity: 1;
		cursor: default;
		pointer-events: none;
		.animInitialHeader;
	}

	/* Logo */
	.sb-logo {
		top: 0;
		height: 100%;
		-webkit-transform: translate3d(0,40%,0);
		transform: translate3d(0,40%,0);

		i {
			color: @white;
			font-size: 3.6em;
		}
	}
	.spinner {
		top: auto;
		bottom: 35%;
		margin: 0 auto;
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;

		div {
			background: @gray20;
		}
	}
	&.powered {
		.sb-logo {
			-webkit-transform-origin: 50% 0;
			transform-origin: 50% 0;
			.animLoadedLogo;
		}
		.spinner {
			.animLoadedLoader;
		}
	}
}


/* Settings */
/* ------------------------------------------------- */
#copied-clipboard-tooltip {
	display: none;
	width: 200px;
}


/* Responsive */
/* ------------------------------------------------- */
@import "streamboard-responsive.less";