/* Main */
#campaign-bar {
	overflow: hidden;
	background-size: cover;

	/* Progress Bar */
	.progress {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 6px;
		background: @gray20;
	}
}

/* Timer Module */
.timer-module{
   min-height: 450px;
}
.timerType{
  margin-bottom: 10px;
}