@import "../../variables";
@import "../../scrollbars";


/* Base */
/* ------------------------------------------------- */
body, html {
	background: @bgcolor;
}

label {
	color: @gray80;
}

#sidepanel {
	background: @gray5;
	position: fixed;
	top: 0;
	bottom: 0;
	padding-top: 50px;
	max-width: 50%;
	z-index: 900;

	.sidepanel-head {
		margin-top: -50px;
		height: 50px;
	}

	.tab-content {
		height: 100%;
	}

	.tab-pane {
		height: 100%;
	}

	h4.section-header {
		color: @white;
		font-size: 1em;
		font-weight: 600;
		line-height: 69px;
		text-transform: uppercase;
		padding: 0 4em 0 1.8em;
		margin-bottom: 0;
		background: #1dbc9c;
	}

	/* Sidepanel Tab Menu */
	ul.nav-tabs {
		height: 50px;
		overflow: hidden;
		width: 100%;
		border-bottom: 0;
		-webkit-transition: all ease-in-out 0.2s;
		transition: all ease-in-out 0.2s;

		li {
			position: relative;
			float: left;
			text-align: center;
			&.active a {
				background: @gray5;
			}

			a {
				display: inline-block;
				color: @white;
				font-size: 1.2em;
				font-weight: 500;
				padding: .8em 1.2em;
				width: 100%;
				background: @dkgray;
				&:hover {
					background: @bgcolor;
				}
				&:before{
					display: block;
					color: @white;
					line-height: 1;
				}
			}
		}
	}

	ul.two-tabs li {
		width: 50%;
		width: -webkit-calc(50%);
		width: calc(50%);
	}

	ul.three-tabs li {
		width: 33.33%;
		width: -webkit-calc(33.33333333%);
		width: calc(33.33333333%);
	}

	ul.four-tabs li {
		width: 25%;
		width: -webkit-calc(25%);
		width: calc(25%);
	}
}

/* Statsboard */
/* ------------------------------------------------- */
a.dashboard.show:before {
	color: #FFF !important;
}

.statsboard {
	height: 0;
	overflow: hidden;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.statsboard .container {
	padding: 100px 2em 30px;
}

.statsboard.show {
	background: #1d1e20;
	height: 400px;
	width: 100%;
}

.statsboard .widget {
	text-align: center;
	float: left;
	padding: 0 2em;
	width: 33.33%;
	width: -webkit-calc(33.33333333%);
	width: calc(33.33333333%);
}

.statsboard .widget span.icon {
	display: inline-block;
	color: #2e3032;
	font-size: 1.4em;
	padding: 0 5%;
	background: #1d1e20;
}

.statsboard .widget hr {
	margin: -0.6em 0 1.6em;
	height: 1px;
	background: #222325;
	border: 0;
}

/* Side Panel */
/* ------------------------------------------------- */
.sidepanel {
	right: 0;
	padding-top: 54px;
	width: 280px;
}

#sidepanel .sidepanel-head {
	position: absolute;
	right: 0;
	width: 100%;
}

/* Slidepanel */
/* ------------------------------------------------- */
.slidepanel {
	position: absolute;
	bottom: -400px;
	right: 0;
	width: 100%;
	height: 400px;
	background: @dkgray;
	z-index: 1000;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.slidepanel.selected {
	bottom: 0;
}

.slidepanel a.close {
	display: block;
	float: right;
	text-align: center;
	padding: 1em;
	margin-bottom: 2em;
}

.slidepanel a.close:before {
	color: #FFF;
}

.sidepanel ul.nav-tabs {

	margin-top: 0px;
}

.campaigns_list_panel input[type=checkbox] {
	width: 18px;
}

.campaigns_list_panel {
	label {
		font-weight: normal;
		font-size: 1em;
	}
}

.stats_panel {

	padding: 20px;

	label {
		font-weight: normal;
		font-size: 1em;
		display: block;
	}

	span {
		color: @accent;
	}
}

.campaigns_list {
	float: left;
	margin: 20px;
}

/* Donation Panel */
/* ------------------------------------------------- */
.donations-list {
	height: 100%;
	padding-bottom: 50px;
	overflow-y: scroll;

	span {
		display: block;
	}

	a.toggleview {
		color: @gray40;
		font-size: .8em;
		margin-left: .2em;
		&:hover {
			color: @white;
		}
	}
	
	a.markread {
		float: right;
	}
}
.donation {
	display: block;
	width: 100%;
	border-bottom: solid 1px @bgcolor;
	padding: 15px 36px;

	h3.donation-name {
		margin: 0px;
		padding: 0px 0px 2px 0px;
		font-size: 18px;
		font-weight: 400;
		color: @white;
	}
	.donation-amount {
		margin-top: 4px;
		color: @accent;
		margin-bottom: 0px;
	}
	.donation-comments {
		font-size: 14px;
		color: @gray70;
		padding: .4em 0;
	}
	.donation-date {
	font-style: italic;
	}
}
.donation.wasRead {
	opacity: .3;
	background-color: @dkgray;
}
#donations {
	position: relative;
	padding-bottom: 50px;
	overflow: hidden;
}
#donations-header {
	padding: 10px 0px;
	border-bottom: 1px solid @bgcolor;
}
#donations-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
}
.bottom-panel-nav {
	position:relative;
	z-index: 1001;
	background-color: @dkgray;
	margin: 0px;
	height: 50px;
	list-style: none;
	padding: 0px;

	li {
		display: block;
		width: 100%;
		text-align: center;

		a {
			display: block;
			line-height: 50px;
			font-size: 1.1em;
			
			i {
				margin-right: .4em;
			}
		}
	}
}

.streamboard-settings-header {
  padding: 10px 0px;
  border-bottom: 1px solid @bgcolor;
}

/* Settings Panel */
/* ------------------------------------------------- */

#settingsTab {
	ul.nav-tabs {
		
		li {
			width: 33.33%;
			width: -webkit-calc(33.33333333%);
			width: calc(33.33333333%);

			a {
				display: block;
				font-size: .9em;
				line-height: normal;
				padding: 16px 0px;
			}
		}
	}
}

#settings-footer {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
}

/* Source View */
.source {
	background: @gray5;
}

/* Tab Overwrites */
/* ------------------------------------------------- */
.nav-tabs > li > a {
	background: @gray70;
	border-radius: 0px;
	color: @gray20;
	border-width: 0px;
}

.nav-tabs > li > a:before {
	padding-right: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	background: @gray5;
	border-color: @bgcolor;
	border-radius: 0px;
	color: @white;
	border-width: 0px;
}

.nav-tabs>li>a:hover {
	background: @gray20;
	border-radius: 0px;
	border-color: transparent;
	color: @white;
	border-width: 0px;
}

.nav-tabs {
	border-color: transparent;
}

/* Loader */
/* ------------------------------------------------- */
.spinner-wrap,
.spinner {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #222325;
	z-index: 9999;	
}
.spinner {
	width: 32px;
	height: 32px;
	margin: auto;
}
.cube1, .cube2 {
	background-color: #333;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: cubemove 1.8s infinite ease-in-out;
	animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
	25% { -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
	25% { 
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
		/* Hack to make FF rotate in the right direction */
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}