/* Main Region */
.donation-stream-scroll {
	width: 420px;
	white-space: nowrap;

	.activityfeedwrap {
		position: relative;
		overflow: hidden;
	}

	/* Speeds */
	&.fast {

	}
}

/* Sidebar Options */
.scroll-options {
	padding-top: @halfgutter;
}