@import "../../variables.less";

body {
  background: @gray10;
  height: auto;
  overflow: visible;
}

.source-wrap {

	.module {
		font-size: @smalltext;
		border-bottom: solid 1px @maingray;

		h5 {
			font-size: @smalltext;
		}
		span {
			color: @gray50 !important;
		}

		&:last-child {
			margin: 0;
			border: 0;
		}
	}

	.sb-activity-feed {
		color: @white;
	}
}

@import "streamboard-shared.less";