/* Main Region */
.donation-stream-scroll {
	white-space: nowrap;
	overflow: hidden;

	.activityfeedwrap {
		position: relative;
		overflow: hidden;
	}

	/* Speeds */
	&.fast {

	}
}

/* Sidebar Options */
.module.scrolling {
	.form-group {
		border: 0;
		margin: 0;
	}
}
.scroll-options {
	padding-top: @halfgutter;
}