/* Modules (Main Config & Slidepanels) */
.module {
	.border-radius;
	.form-group {
		margin: 0;
		padding: @halfgutter @streamboardgutter;
		border-bottom: solid 1px @streamboardshadow;
		&:last-child {
			border-bottom: 0;
		}
		&.red {
			padding: 8px @streamboardgutter;

			h5 {
				font-size: @smalltext;
			}
		}
	}
	.panel-group {
		margin: 0;
		padding: @halfgutter @streamboardgutter;
		border-bottom: solid 1px @streamboardgray;
		&:last-child {
			border-bottom: 0;
		}
		&.red {
			padding: 8px @streamboardgutter;

			h5 {
				font-size: @smalltext;
			}
		}
		&.volume, {
			background: @gray15;
		}
	}
}