/* Miscellaneous */
.form-group {
	.slowtrans;
}
.panel-group {
	margin-bottom: @halfgutter;
}

/* Color Picker */
input[type="color"] {
	float: right;
}
h3 input[type="color"] {
	top: 9px;
}
h5 input[type="color"] {
	top: 0;
}

/* Selects */
