/* Modules (Main Config & Slidepanels) */
.module {
	.border-radius;
	.form-group {
		margin: 0;
		padding: @halfgutter @streamboardgutter;
		border-bottom: solid 1px @streamboardshadow;
		&:last-child {
			border-bottom: 0;
		}
	}
	.panel-group {
		margin: 0;
		padding: @halfgutter @streamboardgutter;
		border-bottom: solid 1px @streamboardshadow;
		&:last-child {
			border-bottom: 0;
		}
		&.volume {
			background: @gray15;
		}
	}
}