/* Sounds/Graphics Tabs */
ul.library-tabs {
	padding: @halfgutter;
	background: @streamboardactive;
	border-bottom: solid 1px @streamboardgray;

	li {
		float: left;
		text-align: center;

		&:first-child:nth-last-child(1) {
			width: 100%;
		}
		&:first-child:nth-last-child(2),
		&:first-child:nth-last-child(2) ~ li {
			width: 50%;
		}
		&:first-child:nth-last-child(3),
		&:first-child:nth-last-child(3) ~ li {
			width: 33.3333%;
		}
		&.active a {
			color: @white;
		}

		&.span2{
			width: 50% !important;	
		}
		a {
			display: block;
			float: left;
			color: @gray30;
			font-size: @smalltext;
			width: 100%;

			i {
				display: block;
				font-size: 1.6em;
			}
		}
	}
	&.library-switch {
		padding: 10px 0;
		border: 0;
		border-bottom: solid 1px @streamboardgray;
	}
}

/* Media List */
.files-container {
	> div {
		border-bottom: solid 1px @streamboardgray;
		&:last-child {
			border: 0;
		}
	}
	.media-item {
		position: relative;
		color: @gray30;
		font-size: @smalltext;
		padding: @halfgutter;
		cursor: pointer;

		&.selected {
			color: @white;
			background: @streamboardlgray;

			i {
				color: @white;
				cursor: pointer;
			}
		}
		&.images {
			text-align: center;
		}
		.mediaActions {
			float: right;

			i {
				font-size: 1.1em;

				&:hover {
					color: @white;
				}
			}
		}
	}
}

/* File Upload */
.uploader {
	text-align: center;
	padding: @gutter @halfgutter;
	margin: @streamboardgutter 0;
	border: dashed 1px @streamboardformgray;

	&.uploader-drag-over {
		background: @streamboardformgray;
	}
	span {
		color: @gray30;
		font-size: @smalltext;
	}
}