@import "../../variables";
@import "../../scrollbars";


/* Base */
/* ------------------------------------------------- */
body, html {
	background: @base;
}
label {
	color: @gray80;
}
.mute {
	opacity: .2;
	.trans;
}


/* Components */
/* ------------------------------------------------- */
#region_1,
#region_2,
#settingsTab #settings-downloads {
	padding: 30px;
}


/* Sidepanel (Sidebar) */
/* ------------------------------------------------- */
#sidepanel {
	background: @maingray;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	padding-top: 50px;
	width: 280px;
	max-width: 50%;
	z-index: 900;

	.sidepanel-head {
		position: absolute;
		right: 0;
		margin-top: -50px;
		height: 50px;
		width: 100%;
	}

	.tab-content,
	.tab-pane {
		height: 100%;
	}

	h3,
	h4 {
		color: @white;
	}

	h4.section-header {
		color: @white;
		font-size: 1em;
		font-weight: 600;
		line-height: 69px;
		text-transform: uppercase;
		padding: 0 4em 0 1.8em;
		margin-bottom: 0;
		background: #1dbc9c;
	}

	/* Sidepanel Tab Menu */
	ul.nav-tabs {
		height: 50px;
		overflow: hidden;
		width: 100%;
		border-bottom: 0;
		-webkit-transition: all ease-in-out 0.2s;
		transition: all ease-in-out 0.2s;

		li {
			position: relative;
			float: left;
			text-align: center;
			&.active a {
				background: @maingray !important;
			}
			&:first-child:nth-last-child(1) {
				width: 100%;
			}
			&:first-child:nth-last-child(2),
			&:first-child:nth-last-child(2) ~ li {
				width: 50%;
			}
			&:first-child:nth-last-child(3),
			&:first-child:nth-last-child(3) ~ li {
				width: 33.3333%;
			}
			&:first-child:nth-last-child(4),
			&:first-child:nth-last-child(4) ~ li {
				width: 25%;
			}

			a {
				display: inline-block;
				color: @white;
				font-size: 1.2em;
				font-weight: 500;
				padding: .8em 1.2em;
				width: 100%;
				background: @dkgray;
				&:hover {
					background: @base;
				}
				&:before{
					display: block;
					color: @white;
					line-height: 1;
				}
			}
		}
	}
}

/* Slideup Panel */
.slidepanel {
	position: absolute;
//	bottom: -400px;
	right: 0;
	padding: 30px;
	width: 100%;
//	height: 400px;
	background: @gray10;
	z-index: 1000;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	&.selected {
		bottom: 0;
	}

	a.close {
		display: block;
		float: right;
		text-align: center;
		padding: 1em;
		margin-bottom: 2em;
		&:before {
			color: #FFF;
		}
	}
}


/* Statsboard */
/* ------------------------------------------------- */
a.dashboard.show:before {
	color: #FFF !important;
}

.statsboard {
	height: 0;
	overflow: hidden;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	&.show {
		background: #1d1e20;
		height: 400px;
		width: 100%;
	}

	.container {
		padding: 100px 2em 30px;
	}

	.widget {
		text-align: center;
		float: left;
		padding: 0 2em;
		width: 33.33%;
		width: -webkit-calc(33.33333333%);
		width: calc(33.33333333%);

		span.icon {
			display: inline-block;
			color: #2e3032;
			font-size: 1.4em;
			padding: 0 5%;
			background: @gray10;
		}

		hr {
			margin: -0.6em 0 1.6em;
			height: 1px;
			background: @base;
			border: 0;
		}
	}
}


/* Donation Panel */
/* ------------------------------------------------- */
.donations-list {
	overflow-y: scroll;

	span {
		display: block;
	}

	a.toggleview {
		color: @gray40;
		font-size: .8em;
		margin-left: .2em;
		&:hover {
			color: @white;
		}
	}
	a.markread {
		display: block;
		color: @gray40;
		font-size: 13px;
		text-align: center;
		padding: 4px 16px;
		margin: 12px auto 0;
		max-width: 140px;
		background: @gray3;
		.round-radius;
		&:hover {
			color: @white;
		}

		i {
			margin-right: 4px;
		}
	}
}
.donation {
	position: relative;
	display: block;
	width: 100%;
	border-bottom: solid 1px @base;
	padding: 20px 30px;

	h3.donation-name {
		margin: 0px;
		padding: 0px 0px 2px 0px;
		font-size: 18px;
		font-weight: 400;
		color: @white;
	}
	h4.donation-amount {
		color: @accent !important;
		margin-bottom: 0px;
	}
	.donation-comments {
		font-size: 14px;
		color: @gray70;
		padding: 6px 0;
		margin-bottom: 6px;
	}
	.donation-date {
		font-style: italic;
	}
}
.donation.wasRead {
	opacity: .2;
	background-color: @dkgray;

	.markread {
		background: transparent !important;
	}
}
#donations {
	position: relative;
	padding-bottom: 50px;
	overflow: hidden;
}
#donations-header {
	padding: 10px 0px;
	border-bottom: 1px solid @base;
}

.right-side-footer{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
}

.bottom-panel-nav {
	position:relative;
	z-index: 1001;
	margin: 0px;
	height: 50px;
	list-style: none;
	padding: 0px;
	background-color: @gray10;

	li {
		display: block;
		text-align: center;
        	float: left;
        	&.stats {
        		width: 100%;
        	}

		a {
			display: block;
			color: @white;
			font-size: 1em;
			line-height: 50px;
			
			i {
				margin-right: .4em;
			}
		}
	}
}
.streamboard-settings-header {
	padding: 10px 0px;
	border-bottom: 1px solid @base;
}


/* Settings Panel */
/* ------------------------------------------------- */

#settingsTab {
	ul.nav-tabs {
		
		li {
			width: 33.33%;
			width: -webkit-calc(33.33333333%);
			width: calc(33.33333333%);

			a {
				display: block;
				font-size: .9em;
				line-height: normal;
				padding: 16px 0px;
			}
		}
	}
}

/* Other Elements */
/* ------------------------------------------------- */
slider {
	cursor: pointer;
	
	span.bar {
		height: 1px;
		background: @base;
	}
	span.pointer {
		height: 15px;
		.round-radius;
		background: @gray20;
	}
}


/* Loader */
/* ------------------------------------------------- */
.spinner-wrap,
.spinner {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: @base;
	z-index: 9999;	
}
.spinner {
	width: 32px;
	height: 32px;
	margin: auto;
}
.cube1,
.cube2 {
	background-color: @gray30;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: cubemove 1.8s infinite ease-in-out;
	animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
	25% { -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
	25% { 
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
		/* Hack to make FF rotate in the right direction */
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}
/*that is css fix for duplication of angular-bootstrap-select
can be removed in future, after plugin update*/
.btn-group.bootstrap-select:not(.ng-pristine){
  display: none;
}
/*that is for alerts editing*/
.sound-container, .images-container{
  overflow-y: scroll;
  max-height: 400px;
  padding-right: 5px;
  .media-item{
    min-height: 25px;
    overflow: hidden;
    .mediaActions{
      float:right;
      i{
        cursor: pointer;
        &:hover{
          color: @accenthover;
        }
      }
    }
  }
  .media-item.selected{
    background-color: @accent;
  }
}
