/* Base */
/* ------------------------------------------------- */
/* Accents */
/* */
/* Base */
/* Main Accent */
/* Primary accent */
/* Primary accent hover state */
/* Other Colors */
/* Twitch purple */
/* Twitch hover state */
/* Twitch purple */
/* Gray Sets */
/* 3% darker than background */
/* 10% gray background */
/* 12% gray background */
/* 15% gray background */
/* 20% gray background */
/* 25% gray background */
/* 30% gray background */
/* 40% gray background */
/* 50% gray background */
/* 60% gray background */
/* 70% gray background */
/* 72% gray background */
/* 78% gray background */
/* Faded light background */
/* Faded light background */
/* Faded dark background */
/* Faded dark background */
/* Social Icons */
/* Structure */
/* Typography */
.smallcaps {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}
/* Icons */
/* Lists */
.ulist {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Borders & Box shadows */
/* Arrows */
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.arrow-up {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}
.arrow-down {
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}
.arrow-left {
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.arrow-right {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* Transitions/Animations */
/* Progress Bar Animations */
/* ------------------------------------------------- */
/* Animate Bar */
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
/* Fade In */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Adjust Hue */
@-webkit-keyframes adjustHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
  }
  50% {
    -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
  75% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  100% {
    -webkit-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
  }
}
/* Resets
/* ------------------------------------------------- */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-weight: 400;
  -webkit-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  animation: fadein 0.3s;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
/* Common UI Elements */
a,
button {
  outline: 0;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
a,
a:before,
a:after {
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
a:hover,
a:focus,
a:active,
input,
input:focus,
button,
button:active {
  outline: 0;
}
input,
button,
textarea,
select {
  margin: 0;
  outline: 0;
  box-shadow: none !important;
}
iframe {
  width: 100%;
  min-height: 100%;
  border: 0;
  background: transparent;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
::-moz-selection {
  text-shadow: none;
}
::selection {
  text-shadow: none;
}
/* Placeholder styling */
/* Color swatch styling */
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-color-swatch {
  border: none;
}
/* Headings */
small,
.font_small {
  font-size: 0.618em;
}
/* Icons */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?7zw7ol');
  src: url('../fonts/icomoon.eot?#iefix7zw7ol') format('embedded-opentype'), url('../fonts/icomoon.woff?7zw7ol') format('woff'), url('../fonts/icomoon.ttf?7zw7ol') format('truetype'), url('../fonts/icomoon.svg?7zw7ol#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  position: relative;
  top: 1px;
  margin-right: 3px;
}
.icon-add:before {
  content: "\e600";
}
.icon-add2:before {
  content: "\e601";
}
.icon-announcement:before {
  content: "\e602";
}
.icon-archive:before {
  content: "\e603";
}
.icon-archivebox:before {
  content: "\e604";
}
.icon-arrowbottom:before {
  content: "\e605";
}
.icon-arrowbottom2:before {
  content: "\e607";
}
.icon-arrowbottom3:before {
  content: "\e608";
}
.icon-arrowleft:before {
  content: "\e609";
}
.icon-arrowleft2:before {
  content: "\e60a";
}
.icon-arrowleft3:before {
  content: "\e60b";
}
.icon-arrowright:before {
  content: "\e60c";
}
.icon-arrowright2:before {
  content: "\e60d";
}
.icon-arrowright3:before {
  content: "\e60e";
}
.icon-arrowtop:before {
  content: "\e60f";
}
.icon-arrowtop2:before {
  content: "\e610";
}
.icon-arrowtop3:before {
  content: "\e611";
}
.icon-attachment:before {
  content: "\e612";
}
.icon-award:before {
  content: "\e613";
}
.icon-award2:before {
  content: "\e614";
}
.icon-award3:before {
  content: "\e615";
}
.icon-bargraph:before {
  content: "\e616";
}
.icon-browser:before {
  content: "\e617";
}
.icon-browser2:before {
  content: "\e618";
}
.icon-browsercheck:before {
  content: "\e619";
}
.icon-browserremove:before {
  content: "\e61a";
}
.icon-brush:before {
  content: "\e61b";
}
.icon-calendar:before {
  content: "\e61c";
}
.icon-campaigns:before {
  content: "\e61d";
}
.icon-cash:before {
  content: "\e61e";
}
.icon-charity:before {
  content: "\e61f";
}
.icon-chat:before {
  content: "\e620";
}
.icon-chatblock:before {
  content: "\e621";
}
.icon-chatblock2:before {
  content: "\e622";
}
.icon-chatblocks:before {
  content: "\e623";
}
.icon-chatbubble:before {
  content: "\e624";
}
.icon-chatbubble2:before {
  content: "\e625";
}
.icon-chatbubbles:before {
  content: "\e626";
}
.icon-check:before {
  content: "\e627";
}
.icon-check2:before {
  content: "\e628";
}
.icon-clipboard:before {
  content: "\e629";
}
.icon-clock:before {
  content: "\e62a";
}
.icon-clock2:before {
  content: "\e62b";
}
.icon-code:before {
  content: "\e62c";
}
.icon-coin:before {
  content: "\e62d";
}
.icon-coins:before {
  content: "\e62e";
}
.icon-console:before {
  content: "\e62f";
}
.icon-console2:before {
  content: "\e630";
}
.icon-controller:before {
  content: "\e631";
}
.icon-creditcard:before {
  content: "\e632";
}
.icon-csv:before {
  content: "\e633";
}
.icon-dashboard:before {
  content: "\e634";
}
.icon-dots:before {
  content: "\e635";
}
.icon-download:before {
  content: "\e636";
}
.icon-edit:before {
  content: "\e637";
}
.icon-enlarge:before {
  content: "\e638";
}
.icon-file:before {
  content: "\e639";
}
.icon-flag:before {
  content: "\e63a";
}
.icon-flag2:before {
  content: "\e63b";
}
.icon-folder:before {
  content: "\e63c";
}
.icon-fullscreen:before {
  content: "\e63d";
}
.icon-fullscreen2:before {
  content: "\e63e";
}
.icon-gamecontroller:before {
  content: "\e63f";
}
.icon-gridthumb:before {
  content: "\e640";
}
.icon-heart:before {
  content: "\e641";
}
.icon-image:before {
  content: "\e642";
}
.icon-lab:before {
  content: "\e643";
}
.icon-layout:before {
  content: "\e644";
}
.icon-layout2:before {
  content: "\e645";
}
.icon-link:before {
  content: "\e646";
}
.icon-list:before {
  content: "\e647";
}
.icon-listrow:before {
  content: "\e648";
}
.icon-lock:before {
  content: "\e649";
}
.icon-logout:before {
  content: "\e64a";
}
.icon-mail:before {
  content: "\e64b";
}
.icon-mailopen:before {
  content: "\e64c";
}
.icon-maintenance:before {
  content: "\e64d";
}
.icon-mic:before {
  content: "\e64e";
}
.icon-minus:before {
  content: "\e64f";
}
.icon-minus2:before {
  content: "\e650";
}
.icon-mobile:before {
  content: "\e651";
}
.icon-monitor:before {
  content: "\e652";
}
.icon-mute:before {
  content: "\e653";
}
.icon-pause:before {
  content: "\e654";
}
.icon-piechart:before {
  content: "\e655";
}
.icon-piechart2:before {
  content: "\e656";
}
.icon-play:before {
  content: "\e657";
}
.icon-playlist:before {
  content: "\e658";
}
.icon-popout:before {
  content: "\e659";
}
.icon-power:before {
  content: "\e65a";
}
.icon-pullr:before {
  content: "\e65b";
}
.icon-pullrsupport:before {
  content: "\e65c";
}
.icon-recover:before {
  content: "\e65d";
}
.icon-refresh:before {
  content: "\e65e";
}
.icon-remove:before {
  content: "\e65f";
}
.icon-remove2:before {
  content: "\e660";
}
.icon-resizefull:before {
  content: "\e661";
}
.icon-resizefull2:before {
  content: "\e662";
}
.icon-resizenormal:before {
  content: "\e663";
}
.icon-search:before {
  content: "\e664";
}
.icon-settings:before {
  content: "\e665";
}
.icon-share:before {
  content: "\e666";
}
.icon-stack:before {
  content: "\e667";
}
.icon-star:before {
  content: "\e668";
}
.icon-stream:before {
  content: "\e669";
}
.icon-streamboard:before {
  content: "\e66a";
}
.icon-support:before {
  content: "\e66b";
}
.icon-template:before {
  content: "\e66c";
}
.icon-timer:before {
  content: "\e66d";
}
.icon-trash:before {
  content: "\e66e";
}
.icon-twitch:before {
  content: "\e66f";
}
.icon-twitter:before {
  content: "\e670";
}
.icon-unlock:before {
  content: "\e671";
}
.icon-upload:before {
  content: "\e672";
}
.icon-user:before {
  content: "\e673";
}
.icon-useradd:before {
  content: "\e674";
}
.icon-usercheck:before {
  content: "\e675";
}
.icon-usergroup:before {
  content: "\e676";
}
.icon-userremove:before {
  content: "\e677";
}
.icon-view:before {
  content: "\e678";
}
.icon-volume:before {
  content: "\e679";
}
.icon-warning:before {
  content: "\e67a";
}
.icon-windows:before {
  content: "\e67b";
}
.icon-twitch2:before {
  content: "\e606";
}
.icon-facebook:before {
  content: "\e67d";
}
.icon-youtube:before {
  content: "\e67e";
}
.icon-help:before {
  content: "\e67c";
}
/* ------------------------------------------------- */
/* Hide Angular template until data is loaded */
/* ------------------------------------------------- */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/* Donation Form */
.meny-active {
  overflow: hidden;
}
.donation-form {
  position: fixed;
  top: 0;
  right: -580px;
}
/* ------------------------------------------------- */
/* Modals */
/* ------------------------------------------------- */
.mfp-fade.mfp-bg {
  background: #222225;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  margin-bottom: 100px;
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.mfp-iframe-holder .mfp-content {
  max-width: 680px !important;
}
.mfp-iframe-scaler iframe {
  margin-bottom: 100px;
}
/* Components */
/* ------------------------------------------------- */
header {
  width: 100%;
  overflow: hidden;
  /* Logo */
  /* Right Menu */
}
header .logo {
  float: left;
}
header .logo a {
  height: 48px;
  font-size: 2em;
  line-height: 48px;
}
header .logo a:hover {
  cursor: pointer;
}
header .menu-actions {
  position: absolute;
  top: 0;
  right: 0;
}
header .menu-actions a {
  position: relative;
  display: inline-block;
  font-weight: 500;
  line-height: 48px;
  padding: 0 1.6em 0 1.3em;
  background: transparent;
}
header .menu-actions a:before {
  height: 0;
  width: 0;
  content: "";
  display: block;
  position: absolute;
  border-left: 24px solid transparent;
  border-bottom: 56px solid transparent;
  top: 0;
  left: -24px;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
.container {
  padding: 0 15px;
}
/* Buttons */
.btn {
  color: #ffffff;
  position: relative;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 45px;
  width: auto;
  outline: 0 !important;
  background: #1dbc9c;
  border: 0;
  border-radius: 6px;
  background-clip: padding-box;
  box-shadow: 0;
}
/* Social Links */
a.icon-twitch2 {
  color: #643ca8;
}
a.icon-twitch2:hover {
  color: #7d55c2 !important;
}
a.icon-twitter {
  color: #50abf1;
}
a.icon-twitter:hover {
  color: #7fc2f5 !important;
}
a.icon-youtube {
  color: #cf1c11;
}
a.icon-youtube:hover {
  color: #ed3126 !important;
}
a.icon-facebook {
  color: #3c5690;
}
a.icon-facebook:hover {
  color: #4b6cb4 !important;
}
/* Info */
.info h4 {
  color: #1dbc9c;
}
/* Dark Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 15, 17, 0.3);
  z-index: 0;
}
footer {
  text-align: center;
  padding: 2em 0;
  /* Powered */
}
footer h5 {
  color: #d4d4d8;
  font-size: .7em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .4em;
}
footer a.logo {
  font-size: 2em;
}
footer span.copy {
  display: block;
  font-size: 0.8em;
  padding: 1em 0;
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* Max 1024px */
@media only screen and (max-width: 1024px) {
  .stream-controls a.togglechat,
  #featured .featuredchat {
    display: none !important;
  }
  #featured .biggerFeaturedStream {
    width: 100%;
  }
}
/* Max 900px */
@media (min-width: 992px) {
  .container {
    width: 1024px;
  }
}
/* Max 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 800px;
  }
  .stream-wrap #stream #featured .featuredstreamcontainer {
    width: 100% !important;
  }
  #stream {
    padding: .3em;
  }
  #stream .stream-controls {
    position: static;
    float: left;
    clear: both;
    width: 100%;
    padding: .8em 0;
  }
  #stream .stream-controls a {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
  }
}
/* Max 600px */
@media screen and (max-width: 600px) {
  .container {
    width: 600px;
  }
}
/* Max 580px */
@media screen and (max-width: 580px) {
  .donation-form {
    width: 100% !important;
  }
}
/* Max 480px */
