/* ------------------------------------------------- */
/* Modals */
/* ------------------------------------------------- */
/* Donor Wall */
#donorModal {
  position: relative;
  color: #6b6b75;
  text-align: left;
  margin: 60px auto;
  padding: 20px 30px;
  max-width: 400px;
  background: #ffffff;
  border-radius: 6px;
  background-clip: padding-box;
}
#donorModal h4 {
  color: #6b6b75;
  margin-bottom: 1.4em;
}
#donorModal .dw-donor {
  padding: .6em 0;
  border-top: solid 1px #efeff0;
}
#donorModal .dw-donor h5.dw-name {
  float: left;
  font-size: 1.1em;
  margin: 0;
}
#donorModal .dw-donor span.dw-amount {
  float: right;
}
/* Fades */
.mfp-fade.mfp-bg {
  background: #222225;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  margin-bottom: 100px;
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.mfp-iframe-holder .mfp-content {
  max-width: 680px !important;
}
.mfp-iframe-scaler iframe {
  margin-bottom: 100px;
}