/* Base */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/variables.less";
@import "../../../../global/themes/css/less/dark/dark.less";
@import "palette.less";

/* Type */
/* ------------------------------------------------- */
@import "type.less";

body {
	.secondary();
	background-color: @maingray;
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Buttons */
.btn {
	background: @accent;

	&:hover {
		opacity: .9;
	}
}

/* Main Stats */
.stats {
	background: @base url(../img/stats-back.jpg);
	overflow: hidden;

	.numbers {
		padding: 3em @halfgutter 1.6em;
	}

	.amount-progress {
		position: relative;
		text-align: center;
		width: 100%;
		height: 45px;
		overflow: hidden;
		background: transparent;

		.project-progress {
			position: absolute;
			bottom: 0;
			content: '';
			margin-bottom: -70px;
			height: 91px;
			width: 100%;
			z-index: 10;
			-webkit-transform: rotate(-1.5deg);
			-ms-transform: rotate(-1.5deg);
			transform: rotate(-1.5deg);
			
			.project-progressbar {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 0;
				-webkit-transition: width 0.7s ease-in-out;
				transition: width 0.7s ease-in-out;
			}
		}
	}	
}

/* Campaign Info & Actions */
.info {
	padding: 6em 0 3em;
	width: 100%;

	h4 {
		margin-bottom: .6em;
	}

	/* Donate Button */
	.donate-wrap {
		float: right;

		.btn {
			font-size: 1.4em;
		}
	}
}

/* Layout */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/singlestream.less";

.stream-wrap {
	.user {
		display: inline-block;
		padding: .6em;
		.round-radius;

		.avatar {

			img {
				height: 30px;
				width: 30px;
				overflow: hidden;
				.round-radius;
			}
			a {
				.main();
			}
		}
	}
}


/* Responsive */
/* ------------------------------------------------- */
@import "responsive.less";