/* Base */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/variables.less";
@import "../../../../global/themes/css/less/dark/dark.less";

/* Type */
/* ------------------------------------------------- */
@import "type.less";

body {
	.secondary();
	background-color: @maingray;
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Buttons */
.btn {

	&:hover {
		opacity: .9;
	}
}

/* Header */
header {
	position: relative;

	.container {
		padding: 0 @gutter;
	}
}

/* Main Stats */
.stats {
	position: relative;
	min-height: 160px;
	overflow: hidden;

	.numbers {
		padding: 3.6em @halfgutter;
	}

	.amount-progress {
		position: absolute;
		top: 0;
		text-align: center;
		width: 100%;
		height: 45px;
		overflow: hidden;
		background: transparent;

		.project-progress {
			position: absolute;
			top: 0;
			content: '';
			height: 4px;
			width: 100%;
			background: @bglightblackfade;
			z-index: 10;
			
			.project-progressbar {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 0;
				-webkit-transition: width 0.7s ease-in-out;
				transition: width 0.7s ease-in-out;
			}
		}
	}	
}

/* User */
.user-bar {

	.container {
		position: relative;
		height: 55px;
	}
	.user {
		float: left;
		padding: 0 @halfgutter;

		.avatar {
			float: left;

			img {
				position: relative;
				float: left;
				top: -24px;
				height: 76px;
				width: 76px;
				background: @dkgray;
				border: solid 6px @dkgray;
				border-radius: 50%;
			}
			a {
				float: left;
				display: inline-block;
				.secondary();
				font-size: 1.2em;
				font-weight: 600;
				line-height: 55px;
				padding: 0 .6em;
			}
		}

		/* Social Links */
		.user-details-social {
			float: left;
			margin: 14px 4px;
			.round-radius;
			overflow: hidden;

			a {
				position: relative;
				display: inline-block;
				font-size: 15px;
				line-height: 25px;
				text-align: center;
				padding: 0 .3em;
				width: 35px;
				&:hover {
					color: @white;
				}

				&.icon-twitch2 {
					font-size: 13px;
				}
				&.icon-twitter,
				&.icon-youtube,
				&.icon-facebook {
					&:after {
						content: '';
						position: absolute;
						display: inline-block;
						top: -4px;
						bottom: -4px;
						left: -2px;
						width: 2px;
						background: @dkgray;
						transform: rotate(15deg);
						-ms-transform: rotate(15deg);
						-webkit-transform: rotate(15deg);
					}
				}
			}
		}
	}
}

/* Campaign Info & Actions */
.info {
	padding: 3.8em 0 1em;
	width: 100%;

	h5 {
		margin-bottom: .2em;
	}

	/* Donate Button */
	.donate-wrap {
		float: right;

		.btn {
			font-size: 1.4em;
		}
	}
}

/* Layout */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/singlestream.less";

.stream-wrap {
	#stream {
		background: @dkgray;
		.element-radius;
	}
}

/* Campaign Description */
.campaign-description {

	p {
		float: left;
		color: @gray50;
		font-size: 1.2em;
		padding: 0 @halfgutter;
		width: 90%;
		max-width: 640px;
	}
}

/* Footer */
footer {
	span.copy {
		font-size: @fineprint;
	}
}

/* Responsive */
/* ------------------------------------------------- */
@import "responsive.less";