/* Max 1200px */
@media screen and (max-width: 1200px) {
	.featuredchat {
		min-height: 373px !important;
	}
}

/* Max 1089px */
@media screen and (max-width: 1089px) {
	.stream-controls {
		right: -60px !important;
		.togglechat {
			
		}
	}
}

/* Max 992px */
@media screen and (max-width: 992px) {

	h1 {
		margin-top: 0;
		font-size: 3.2em;
	}
	h2 {
		font-size: 2.1em;	
	}
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.3em;
	}

	.team-mates .team-mate-single .team-mate-single-social {
		line-height: 1.5em;
	}
	.stream-controls {
		display: none;
	}
	.featuredchat {
		min-height: 285px !important;
	}
}

/* Max 768px */
@media screen and (max-width: 768px) {

	body {
		font-size: 16px;
	}
	.container {
		width: 800px;
	}
	.right {
		text-align:center;
	}
	.feed-donate {
		margin-bottom: 2em;
	}
	.charity-info {
		margin-bottom: 4em;
	}
	.team-mates {
		padding-left: 0;

		.team-mate-single-social {
			display: none !important;
		}
	}
}

/* Max 600px */
@media screen and (max-width: 600px) {

	.container {
		width: 600px;
	}
}

/* Max 480px */
@media screen and (max-width: 480px) {
	h1 {
  		margin-top: 0;
  		font-size: 2.8em;
	}
	h2 {
		font-size: 2.0em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.2em;
	}
	.featuredchat {
		min-height: 373px;
	}
}