/* Main Fonts */
.main() {
	font-family: 'Roboto Slab', serif;
}
.secondary() {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	.main();
	margin: 0.6em 0 0.5em;
}
h1,
h2,
h3,
h4 {
	color: @white;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 4.2em;
}
h2 {
	font-size: 3.2em;
	color: @c2;
}
h3 {
	font-size: 2.1em;
}
h4 {
	font-size: 1.6em;
}

p,
ol,
ul,
blockquote,
pre,
code {
	color: @white;
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;   
	line-height: 1.5em;
}

p,
ol,
ul,
blockquote {
	.secondary();
}