/* Header */
header {
	background: @maingray;
	.box-shadow;

	.logo {
		a {
			color: @white;
		}
	}
	.menu-actions {
		a {
			color: @white;

			&:before {
				border-left: 1px solid @gray10;
			}
		}
	}
}

/* Main Stats */
.stats {
	.numbers {
		span {
			color: @gray30;
		}
		h1 {
			color: @white;
		}
	}
	.project-progress {
		background: @bglightblackfade;
	}
}

/* Campaign Info */
.info {
	h5 {
		color: @gray30;
	}
}

/* Single Stream */
.user {
	background: @dkgray;

	.avatar {
		a {
			color: @white;
		}
	}
}

/* Footer */
footer {
	h5 {
		color: @gray30;
	}
	span.copy {
		color: @gray30;
		font-size: @fineprint;

		a {
			color: @gray30;
			&:hover {
				color: @white;
			}
		}
	}
}