/* Header */
header {
	background: @maingray;

	.logo {
		a {
			color: @white;
		}
	}
	.menu-actions {
		a {
			color: @white;
			background: @dkgray;

			&:hover {
				background: @gray10;
				&:before {
					border-bottom-color: @gray10;
				}
			}
			&:before {
				border-bottom-color: @dkgray;
			}
		}
	}
}

/* Slidedown Menu */
.slidestats {
	background: @maingray;
}

/* Main Stats */
.stats {
	background-color: @base;

	/* Campaign Info */
	.campaign-info {
		h5 {
			color: @white;
		}
	}
	
	/* Numbers */
	.numbers {
		span {
			color: @gray30;
		}
		h1 {
			color: @white;
		}
	}
}

/* User Bar */
.user-bar {
	background: @dkgray;

	.avatar {
		a {
			color: @white;
		}
	}

	/* User Stats */
	.user-details {
		span {
			color: @gray30;
		}
	}

	/* Social Links */
	.user-details-social {
		background: @maingray;
	}
}

/* Campaign Info */
.info {
	h5 {
		color: @gray30;
	}
}

/* Stream */
.stream-wrap {

	#stream {
		a.togglechat {
			color: @white;
			
			&:hover {
				color: @white;
			}
			&.chaton {
				color: @gray30;
			}
		}
	}
}

/* Footer */
footer {

	h5 {
		color: @gray20;
	}
	a.logo {
		color: @gray20;
		&:hover {
			color: @white;
		}
	}
	span.copy {
		color: @gray15;

		a {
			color: @gray15;
			&:hover {
				color: @white;
			}
		}
	}
}