/* Header */
header {
	background: @base;

	.head {
		.logo {
			a {
				color: @white;
			}
		}
	}
	.menu-actions {
		a {
			color: @white;

			&:before {
				border-left: 1px solid @gray10;
			}
		}
	}
}

/* Main Stats */
.stats {
	h1 {
		color: @white;
	}
}