/* Base */
/* ------------------------------------------------- */
/* Accents */
/* */
/* Base */
/* Main Accent */
/* Primary accent */
/* Primary accent hover state */
/* Other Colors */
/* Twitch purple */
/* Twitch hover state */
/* Twitch purple */
/* Gray Sets */
/* 3% darker than background */
/* 10% gray background */
/* 12% gray background */
/* 15% gray background */
/* 20% gray background */
/* 25% gray background */
/* 30% gray background */
/* 40% gray background */
/* 50% gray background */
/* 60% gray background */
/* 70% gray background */
/* 72% gray background */
/* 78% gray background */
/* Faded light background */
/* Faded light background */
/* Faded dark background */
/* Faded dark background */
/* Social Icons */
/* Structure */
/* Typography */
.smallcaps {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}
/* Icons */
/* Lists */
.ulist {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Borders & Box shadows */
/* Arrows */
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.arrow-up {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}
.arrow-down {
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}
.arrow-left {
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.arrow-right {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* Transitions/Animations */
/* Progress Bar Animations */
/* ------------------------------------------------- */
/* Animate Bar */
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
/* Fade In */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Adjust Hue */
@-webkit-keyframes adjustHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
  }
  50% {
    -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
  75% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  100% {
    -webkit-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
  }
}
/* Header */
header {
  background: #2e2e32;
}
header .logo a {
  color: #ffffff;
}
header .menu-actions a {
  color: #ffffff;
  background: #29292d;
}
header .menu-actions a:hover {
  background: #3a3a40;
}
header .menu-actions a:hover:before {
  border-bottom-color: #3a3a40;
}
header .menu-actions a:before {
  border-bottom-color: #29292d;
}
/* Slidedown Menu */
.slidestats {
  background: #2e2e32;
}
/* Main Stats */
.stats {
  background-color: #222225;
  /* Campaign Info */
  /* Numbers */
}
.stats .campaign-info h5 {
  color: #ffffff;
}
.stats .numbers span {
  color: #6b6b75;
}
.stats .numbers h1 {
  color: #ffffff;
}
/* User Bar */
.user-bar {
  background: #29292d;
  /* User Stats */
  /* Social Links */
}
.user-bar .avatar a {
  color: #ffffff;
}
.user-bar .user-details span {
  color: #6b6b75;
}
.user-bar .user-details-social {
  background: #2e2e32;
}
/* Campaign Info */
.info h5 {
  color: #6b6b75;
}
/* Stream */
.stream-wrap #stream a.togglechat {
  color: #ffffff;
}
.stream-wrap #stream a.togglechat:hover {
  color: #ffffff;
}
.stream-wrap #stream a.togglechat.chaton {
  color: #6b6b75;
}
/* Footer */
footer h5 {
  color: #53535a;
}
footer a.logo {
  color: #53535a;
}
footer a.logo:hover {
  color: #ffffff;
}
footer span.copy {
  color: #47474d;
}
footer span.copy a {
  color: #47474d;
}
footer span.copy a:hover {
  color: #ffffff;
}
/* Type */
/* ------------------------------------------------- */
/* Main Fonts */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  margin: 0;
  margin-bottom: .2em;
}
h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-weight: inherit;
}
h1 {
  margin-top: 0;
  font-size: 3.6em;
  font-weight: 100;
  letter-spacing: -1px;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
p,
ol,
ul,
blockquote,
pre,
code {
  color: #ffffff;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
p,
ol,
ul,
blockquote {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #2e2e32;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Buttons */
.btn:hover {
  opacity: .9;
}
/* Header */
header {
  position: relative;
}
header .container {
  padding: 0 30px;
}
/* Main Stats */
.stats {
  position: relative;
  min-height: 160px;
  overflow: hidden;
  /* Campaign Info */
  /* Numbers */
  /* Progress Bar */
}
.stats .campaign-info {
  text-align: center;
  padding: 6em 5% 4em;
}
.stats .campaign-info h4 {
  margin-bottom: .6em;
}
.stats .numbers {
  position: relative;
  padding: 3em 0;
  background: rgba(14, 15, 17, 0.3);
}
.stats .numbers:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-color: transparent transparent rgba(14, 15, 17, 0.3) transparent;
}
.stats .numbers h1 {
  margin: 0;
}
.stats .project-progress {
  position: absolute;
  top: 0;
  height: 4px;
  width: 100%;
  background: rgba(14, 15, 17, 0.3);
  z-index: 1;
}
.stats .project-progress .project-progressbar {
  height: 100%;
  width: 0;
  -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
}
/* User */
.user-bar {
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.15);
  /* Social Links */
}
.user-bar .container {
  position: relative;
  height: 55px;
}
.user-bar .user {
  float: left;
  padding: 0 15px;
  /* User Stats */
}
.user-bar .user .avatar {
  float: left;
}
.user-bar .user .avatar img {
  position: relative;
  float: left;
  top: -12px;
  left: -10px;
  height: 78px;
  width: 78px;
  background: #29292d;
  border: solid 4px #29292d;
  border-radius: 50%;
  z-index: 10;
}
.user-bar .user .avatar a {
  float: left;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 55px;
  padding-right: .6em;
}
.user-bar .user .user-details {
  float: left;
  margin: 12px 4px;
}
.user-bar .user .user-details span {
  display: inline-block;
  line-height: 30px;
  padding: 0 .2em;
}
.user-bar .user-details-social {
  float: right;
  margin: 12px 4px;
  border-radius: 30px;
  background-clip: padding-box;
  overflow: hidden;
}
.user-bar .user-details-social a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  padding: 0 .3em;
  width: 30px;
}
.user-bar .user-details-social a:hover {
  color: #ffffff;
}
.user-bar .user-details-social a.icon-twitch2 {
  font-size: 13px;
}
.user-bar .user-details-social a.icon-twitter:after,
.user-bar .user-details-social a.icon-youtube:after,
.user-bar .user-details-social a.icon-facebook:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: -4px;
  bottom: -4px;
  left: -2px;
  width: 2px;
  background: #29292d;
  transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
}
/* Campaign Info & Actions */
.info {
  padding: 3.8em 0 1em;
  width: 100%;
  /* Donate Button */
}
.info h5 {
  margin-bottom: .4em;
}
.info .donate-wrap {
  float: right;
}
.info .donate-wrap .btn {
  font-size: 1.4em;
}
/* Layout */
/* ------------------------------------------------- */
.stream-wrap {
  padding: 30px 15px;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
.stream-wrap #stream {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  z-index: 10;
}
.stream-wrap #stream #featured {
  position: relative;
  overflow: hidden;
}
.stream-wrap #stream #featured .featuredstreamcontainer {
  position: relative;
  float: left;
  width: 65%;
  z-index: 10;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.stream-wrap #stream #featured .featuredchat {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  min-width: 300px;
  z-index: 1;
}
.stream-wrap #stream #featured .featuredchat iframe {
  height: 100%;
  width: 100%;
  min-height: 335px;
}
.stream-wrap #stream #featured .biggerFeaturedStream {
  width: 100%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.stream-wrap #stream a.togglechat {
  position: absolute;
  top: -32px;
  right: 15px;
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.stream-wrap .user-details {
  padding: 1em 15px;
}
.team-content {
  padding: 0 15px;
}
.team-content .team-wrap {
  padding: .6%;
  border-radius: 10px;
}
.team-content .team-wrap .team-members {
  position: relative;
  float: left;
  display: inline-block;
  width: 16.66%;
  width: calc(14.28571429%);
  padding: .6%;
}
.team-content .team-wrap .team-members img {
  width: 100%;
  height: auto;
}
.team-content .team-wrap .team-members .team-member {
  cursor: pointer;
}
.team-content .team-wrap .team-members .team-member.offline img {
  opacity: .3;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
.team-content .team-wrap .team-members .team-member.offline img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
.team-content .team-wrap .team-members .team-member .team-member-stats {
  display: none;
  position: absolute;
  bottom: 80%;
  left: 50%;
  color: #ffffff;
  padding: 15px;
  margin-left: -100px;
  width: 200px;
  background: #2e2e32;
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.15);
  z-index: 9999;
}
.team-content .team-wrap .team-members .team-member .team-member-stats:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-color: #2e2e32 transparent transparent transparent;
}
.team-content .team-wrap .team-members .team-member .team-member-stats h4 {
  font-weight: 600;
}
.team-content .team-wrap .team-members .team-member .team-member-stats .game {
  display: block;
  color: #6b6b75;
  line-height: 1;
  padding: .3em 0;
}
.team-content .team-wrap .team-members .team-member .team-member-stats .viewers {
  margin-right: 5px;
}
.team-content .team-wrap .team-members .team-member .team-member-stats .viewers i,
.team-content .team-wrap .team-members .team-member .team-member-stats .followers i {
  color: #6b6b75;
  font-size: 12px;
}
.team-content .team-wrap .team-members .team-member:hover .team-member-stats {
  display: block;
}
.stream-wrap #stream {
  background: #29292d;
  border-radius: 10px;
}
/* Multichannel */
.team-content .team-wrap {
  background: #29292d;
}
/* Footer */
footer span.copy {
  font-size: 0.8em;
}
/* Responsive */
/* ------------------------------------------------- */
/* Max 1200px */
@media screen and (max-width: 1200px) {
  .featuredchat {
    min-height: 373px !important;
  }
}
/* Max 1089px */
@media screen and (max-width: 1089px) {
  .stream-controls {
    right: -60px !important;
  }
}
/* Max 992px */
@media screen and (max-width: 992px) {
  h1 {
    margin-top: 0;
    font-size: 3.2em;
  }
  h2 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.3em;
  }
  .team-mates .team-mate-single .team-mate-single-social {
    line-height: 1.5em;
  }
  .stream-controls {
    display: none;
  }
  .featuredchat {
    min-height: 285px !important;
  }
}
/* Max 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .right {
    text-align: center;
  }
  .feed-donate {
    margin-bottom: 2em;
  }
  .charity-info {
    margin-bottom: 4em;
  }
  .team-mates {
    padding-left: 0;
  }
  .team-mates .team-mate-single-social {
    display: none !important;
  }
}
/* Max 480px */
@media screen and (max-width: 480px) {
  h1 {
    margin-top: 0;
    font-size: 2.8em;
  }
  h2 {
    font-size: 2.0em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  .featuredchat {
    min-height: 373px;
  }
}
