/* Base */
/* ------------------------------------------------- */
/* Accents */
/* */
/* Base */
/* Main Accent */
/* Primary accent */
/* Primary accent hover state */
/* Other Colors */
/* Twitch purple */
/* Twitch hover state */
/* Twitch purple */
/* Gray Sets */
/* 3% darker than background */
/* 10% gray background */
/* 12% gray background */
/* 15% gray background */
/* 20% gray background */
/* 25% gray background */
/* 30% gray background */
/* 40% gray background */
/* 50% gray background */
/* 60% gray background */
/* 70% gray background */
/* 72% gray background */
/* 78% gray background */
/* Faded light background */
/* Faded light background */
/* Faded dark background */
/* Faded dark background */
/* Structure */
/* Typography */
.smallcaps {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}
/* Lists */
.ulist {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Borders & Box shadows */
/* Arrows */
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.arrow-up {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}
.arrow-down {
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}
.arrow-left {
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.arrow-right {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* Transitions/Animations */
/* Progress Bar Animations */
/* ------------------------------------------------- */
/* Animate Bar */
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
/* Fade In */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Adjust Hue */
@-webkit-keyframes adjustHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
  }
  50% {
    -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
  75% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  100% {
    -webkit-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
  }
}
/* Header */
header {
  background: #2e2e32;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.15);
}
header .logo a {
  color: #ffffff;
}
header .menu-actions a {
  color: #ffffff;
}
header .menu-actions a:before {
  border-left: 1px solid #3a3a40;
}
/* Main Stats */
.stats .numbers span {
  color: #6b6b75;
}
.stats .numbers h1 {
  color: #ffffff;
}
.stats .project-progress {
  background: rgba(9, 10, 12, 0.2);
}
/* Campaign Info */
.info h5 {
  color: #6b6b75;
}
/* Single Stream */
.user {
  background: #29292d;
}
.user .avatar a {
  color: #ffffff;
}
/* Footer */
footer h5 {
  color: #6b6b75;
}
footer span.copy {
  color: #6b6b75;
  font-size: 0.8em;
}
footer span.copy a {
  color: #6b6b75;
}
footer span.copy a:hover {
  color: #ffffff;
}
/* Palette Styling */
/* Type */
/* ------------------------------------------------- */
/* Main Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  margin: 0.6em 0 0.5em;
}
h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 4.2em;
}
h2 {
  font-size: 3.2em;
  color: #373737;
}
h3 {
  font-size: 2.1em;
}
h4 {
  font-size: 1.6em;
}
p,
ol,
ul,
blockquote,
pre,
code {
  color: #ffffff;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
p,
ol,
ul,
blockquote {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #2e2e32;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Buttons */
.btn {
  background: #1dbc9c;
  color: #ffffff;
}
.btn:hover {
  background: #20d2ae;
}
/* Main Stats */
.stats {
  margin-top: 2.5em;
}
.stats .amount-progress {
  text-align: center;
  padding-top: 2em;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  background: transparent;
}
.stats .amount-progress .project-progress {
  position: relative;
  content: '';
  margin-bottom: -70px;
  height: 91px;
  width: 100%;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  z-index: 10;
  background: rgba(9, 10, 12, 0.7);
}
.stats .amount-progress .project-progress .project-progressbar {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #1dbc9c;
  -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
}
.stats .amount-progress .project-progress span {
  display: block;
  position: absolute;
  top: -44px;
  left: 0;
  opacity: 0;
  color: #FFF;
  font-weight: 600;
  margin-left: -30px;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.stats .amount-progress .project-progress.status .project-progressbar {
  width: 45%;
}
/* Campaign Info & Actions */
.info {
  width: 100%;
  margin-top: 4.5em;
}
.info .container {
  width: 88% !important;
  max-width: 1170px;
}
.info .feed-details .feed-details-title {
  display: inline-block;
}
.info .feed-details .sharing {
  display: inline-block;
  position: relative;
  right: 0;
  float: right;
}
.info .feed-details .sharing button {
  background: #373737;
  border: none;
  color: #ffffff;
  padding: 4px 8px;
  margin-top: 8px;
}
.info .feed-details .sharing .dropdown-menu {
  background: #373737 !important;
  right: 0;
  left: auto;
}
.info .feed-details .sharing .dropdown-menu li a {
  color: #ffffff;
}
.info .feed-details .sharing .dropdown-menu li a:hover {
  background: #2a2a2a;
}
.info .feed-donate {
  float: right;
}
.info .feed-donate .btn {
  width: 100%;
  padding: 1em 3em;
  max-width: 300px;
}
/* Layout */
/* ------------------------------------------------- */
.stream-wrap {
  overflow: hidden;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
.stream-wrap #stream {
  position: relative;
  margin: 0 auto;
  padding: 0.3em 15px;
  z-index: 10;
}
.stream-wrap #stream #featured {
  position: relative;
  overflow: hidden;
}
.stream-wrap #stream #featured .featuredstreamcontainer {
  position: relative;
  float: left;
  width: 100%;
  z-index: 10;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
.stream-wrap #stream #featured .featuredchat {
  position: absolute;
  top: 0;
  right: 0;
  /*display: none;*/
  height: 100%;
  width: 35%;
  min-width: 300px;
  z-index: 1;
  padding-bottom: 32%;
}
.stream-wrap #stream #featured .featuredchat iframe {
  height: 100%;
  width: 100%;
  min-height: 335px;
}
.stream-wrap #stream #featured .biggerFeaturedStream {
  width: 65%;
}
.stream-wrap #stream .stream-controls {
  position: absolute;
  top: 0;
  right: -75px;
  bottom: 0;
  text-align: center;
  padding: 1.2em 0;
  clear: both;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.stream-wrap #stream .stream-controls a {
  display: block;
  color: #FFF;
  width: 60px;
  font-size: .7em;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  padding-top: 35px;
  margin: .4em .4em 2em .4em;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: .5;
}
.stream-wrap .user-details {
  padding: 1em 15px;
}
/* Responsive */
/* ------------------------------------------------- */
/* Max 1200px */
@media screen and (max-width: 1200px) {
  .featuredchat {
    min-height: 373px !important;
  }
}
/* Max 1089px */
@media screen and (max-width: 1089px) {
  .stream-controls {
    right: -60px !important;
  }
}
/* Max 992px */
@media screen and (max-width: 992px) {
  h1 {
    margin-top: 0;
    font-size: 3.2em;
  }
  h2 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.3em;
  }
  .team-mates .team-mate-single .team-mate-single-social {
    line-height: 1.5em;
  }
  .stream-controls {
    display: none;
  }
  .featuredchat {
    min-height: 285px !important;
  }
}
/* Max 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .right {
    text-align: center;
  }
  .feed-donate {
    margin-bottom: 2em;
  }
  .charity-info {
    margin-bottom: 4em;
  }
  .team-mates {
    padding-left: 0;
  }
  .team-mates .team-mate-single-social {
    display: none !important;
  }
}
/* Max 480px */
@media screen and (max-width: 480px) {
  h1 {
    margin-top: 0;
    font-size: 2.8em;
  }
  h2 {
    font-size: 2.0em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  .featuredchat {
    min-height: 373px;
  }
}
