/* Palette Styling */

@body_bg_color:						#222325;
@c1:								#1dbc9c;
@c2:								#373737;
@c3:								#454046;
@c4:								#2d292e;
@lightest:							#ffffff;
@nav_bg:							darken(@body_bg_color, 2%);