/*
                 ____    
    ____  __  __/ / /____
   / __ \/ / / / / / ___/
  / /_/ / /_/ / / / /    
 / .___/\__,_/_/_/_/     
/_/

App: Pullr
App Website: http://www.pullr.io

*/
/* Resets */
/* ------------------------------------------------- */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html,
body {
  padding: 0;
  margin: 0;
  background: #222325;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #444;
  -webkit-animation: fadein 0.3s;
  animation: fadein 0.3s;
}
.hidden{
    display: none;
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
/* Misc */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  width: 100%;
}
a,
button {
  cursor: pointer;
}
input,
textarea,
button,
select {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  outline: 0;
}
/* Selection */
::-moz-selection {
  background: #1dbc9c;
  color: #FFF;
  text-shadow: none;
}
::selection {
  background: #1dbc9c;
  color: #FFF;
  text-shadow: none;
}
/* Placeholder */
::-webkit-input-placeholder {
  color: #6b6e75;
}
:-moz-placeholder {
  color: #6b6e75;
}
::-moz-placeholder {
  color: #6b6e75;
}
:-ms-input-placeholder {
  color: #6b6e75;
}
/* Colors */
/* ------------------------------------------------- */
/* Primary accent */
/* Primary accent hover state */
/* Gray Sets */
/* 5% gray background */
/* 8% gray background */
/* 10% gray background */
/* 12% gray background */
/* 20% gray background */
/* 30% gray background */
/* 40% gray background */
/* 50% gray background */
/* 60% gray background */
/* 70% gray background */
/* 80% gray background */
/* 90% gray background */
/* white background */
/* 2% darker than background */
/* Backgrounds */
/* ------------------------------------------------- */
/* Main Background */
/* background color */
.background {
  /* Default background set */
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
/* Transparent Backgrounds */
/* Faded light background */
/* Faded dark background */
/* Inputs */
/* Background for inputs */
/* Typography */
/* ------------------------------------------------- */
/* Roboto */
/* Small text  */
.smallcaps {
  /* Small text in all caps */
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* For lesser important text */
/* Links */
/* ------------------------------------------------- */
/* Link color for white on dark */
/* Hover state for white on dark */
/* Borders & Box shadows */
/* ------------------------------------------------- */
/* Arrows */
/* ------------------------------------------------- */
.arrow-up {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid;
}
.arrow-down {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid;
}
.arrow-left {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-right: 12px solid;
}
.arrow-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 12px solid;
}
/* Transitions/Animations */
/* ------------------------------------------------- */
/* General */
/* ------------------------------------------------- */
/* Default width */
/* Default width */
/* Width of the slideout sidebar */
/* Adding two sidebars next to each other */
/* Lists */
/* ------------------------------------------------- */
.ulist {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Icon fonts */
/* ------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-udazva');
  src: url('../fonts/icomoon.eot?#iefix-udazva') format('embedded-opentype'), url('../fonts/icomoon.woff?-udazva') format('woff'), url('../fonts/icomoon.ttf?-udazva') format('truetype'), url('../fonts/icomoon.svg?-udazva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon', 'proxima-nova', Helvetica, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pullr-support:before {
  content: "\e650";
}
.icon-pullr:before {
  content: "\e651";
}
.icon-mobile:before {
  content: "\e603";
}
.icon-mail:before {
  content: "\e604";
}
.icon-pencil:before {
  content: "\e605";
}
.icon-paperclip:before {
  content: "\e606";
}
.icon-reply:before {
  content: "\e607";
}
.icon-reply-all:before {
  content: "\e608";
}
.icon-forward:before {
  content: "\e609";
}
.icon-user:before {
  content: "\e60a";
}
.icon-users:before {
  content: "\e60b";
}
.icon-user-add:before {
  content: "\e60c";
}
.icon-vcard:before {
  content: "\e60d";
}
.icon-export:before {
  content: "\e60e";
}
.icon-heart:before {
  content: "\e60f";
}
.icon-heart2:before {
  content: "\e657";
  font-weight: 600;
}
.icon-star:before {
  content: "\e610";
}
.icon-thumbsup:before {
  content: "\e611";
}
.icon-thumbsdown:before {
  content: "\e612";
}
.icon-chat:before {
  content: "\e613";
}
.icon-comment:before {
  content: "\e614";
}
.icon-popup:before {
  content: "\e615";
}
.icon-search:before {
  content: "\e616";
}
.icon-bell:before {
  content: "\e617";
}
.icon-link:before {
  content: "\e618";
}
.icon-flag:before {
  content: "\e619";
}
.icon-cog:before {
  content: "\e61a";
}
.icon-trophy:before {
  content: "\e61b";
}
.icon-megaphone:before {
  content: "\e61c";
}
.icon-palette:before {
  content: "\e61d";
}
.icon-lifebuoy:before {
  content: "\e61e";
}
.icon-eye:before {
  content: "\e61f";
}
.icon-calendar:before {
  content: "\e620";
}
.icon-briefcase:before {
  content: "\e621";
}
.icon-gauge:before {
  content: "\e622";
}
.icon-rocket:before {
  content: "\e623";
}
.icon-cone:before {
  content: "\e624";
}
.icon-browser:before {
  content: "\e625";
}
.icon-publish:before {
  content: "\e626";
}
.icon-code:before {
  content: "\e627";
}
.icon-screen:before {
  content: "\e628";
}
.icon-light-bulb:before {
  content: "\e629";
}
.icon-creditcard:before {
  content: "\e62a";
}
.icon-clipboard:before {
  content: "\e62b";
}
.icon-box:before {
  content: "\e62c";
}
.icon-uniE62C:before {
  content: "\e62d";
}
.icon-statistics:before {
  content: "\e62e";
}
.icon-pie:before {
  content: "\e62f";
}
.icon-bars:before {
  content: "\e630";
}
.icon-graph:before {
  content: "\e631";
}
.icon-lock:before {
  content: "\e632";
}
.icon-lock-open:before {
  content: "\e633";
}
.icon-logout:before {
  content: "\e634";
}
.icon-login:before {
  content: "\e635";
}
.icon-checkmark:before {
  content: "\e636";
}
.icon-cross:before {
  content: "\e637";
}
.icon-plus:before {
  content: "\e655";
}
.icon-plus2:before {
  content: "\e638";
}
.icon-help:before {
  content: "\e639";
}
.icon-list:before {
  content: "\e63a";
}
.icon-add-to-list:before {
  content: "\e63b";
}
.icon-layout:before {
  content: "\e63c";
}
.icon-list2:before {
  content: "\e63d";
}
.icon-text:before {
  content: "\e63e";
}
.icon-archive:before {
  content: "\e63f";
}
.icon-trash:before {
  content: "\e640";
}
.icon-bookmark:before {
  content: "\e641";
}
.icon-play:before {
  content: "\e642";
}
.icon-pause:before {
  content: "\e643";
}
.icon-record:before {
  content: "\e656";
}
.icon-arrow-left:before {
  content: "\e644";
}
.icon-arrow-down:before {
  content: "\e645";
}
.icon-arrow-up:before {
  content: "\e646";
}
.icon-arrow-right:before {
  content: "\e647";
}
.icon-arrow-left2:before {
  content: "\e648";
}
.icon-arrow-down2:before {
  content: "\e649";
}
.icon-arrow-up2:before {
  content: "\e64a";
}
.icon-arrow-right2:before {
  content: "\e64b";
}
.icon-arrow-left3:before {
  content: "\e64c";
}
.icon-arrow-down3:before {
  content: "\e64d";
}
.icon-arrow-up3:before {
  content: "\e64e";
}
.icon-arrow-right3:before {
  content: "\e64f";
}
.icon-arrow-left4:before {
  content: "\e652";
}
.icon-arrow-right4:before {
  content: "\e653";
}
.icon-ellipsis:before {
  content: "\e654";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-facebook:before {
  content: "\e600";
}
.icon-googleplus:before {
  content: "\e602";
}
/* Headings */
/* ------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  color: #FFF;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
h1 {
  color: #FFF;
  font-size: 3.6em;
  font-weight: 100;
  letter-spacing: -1px;
  line-height: 1em;
  margin-bottom: .1em;
}
h2 {
  font-size: 1.8em;
  font-weight: 300;
}
h3 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 1.2em;
}
h4 {
  color: #85888e;
  font-size: 1.1em;
  font-weight: 400;
}
h5 {
  color: #53555a;
  /* Small text in all caps */
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .6em;
}
p {
  color: #85888e;
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}
p.info {
  font-size: 0.8em;
}
a,
a:before {
  color: #1dbc9c;
  text-decoration: none;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
a:hover,
a:before:hover {
  color: #2ddfbb;
}
a:hover,
a:focus,
a:active,
input,
input:focus,
button,
button:active {
  outline: 0;
}
/* Donation Form Specific */
/* Donation Forms */
/* ------------------------------------------------- */
/* General */
form {
  padding-top: 2em;
}
input,
textarea {
  color: #53555a;
  font-size: 1.1em;
  font-weight: 500;
  padding: 1em;
  width: 100%;
  border: solid 1px #d4d5d8;
  outline: 0;
  background: #FFF;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input:focus,
textarea:focus {
  border: solid 1px #53555a;
}
textarea {
  max-width: 100%;
  min-height: 160px;
  max-height: 220px;
}
label {
  display: inline-block;
  color: #53555a;
  /* Small text in all caps */
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .4em;
}
select {
  position: relative;
  color: #FFF;
  font-size: 0.9em;
  padding-right: 2em;
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  z-index: 1;
  cursor: pointer;
}
button.donate {
  font-size: 1.4em;
  margin: .3em 0;
}
/* Form Containers */
.field {
  position: relative;
  margin-bottom: .6em;
  width: 100%;
}
.field.comments span.counter {
  float: right;
  color: #53555a;
  font-size: .8em;
}
/* Form Validation */
/* Resets */
/* ------------------------------------------------- */
html,
body {
  background: #ffffff;
}
/* Buttons/Submits */
/* ------------------------------------------------- */
/* General */
button,
input[type="submit"] {
  color: #FFF;
  font-size: 1.2em;
  font-weight: 600;
  border: 0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #1dbc9c;
}
button:hover,
input[type="submit"]:hover {
  background: #2ddfbb;
}
/* Standard Action */
a.btn,
button.btn {
  display: inline-block;
  color: #FFF;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  padding: .7em 2em;
  background: #1dbc9c;
  outline: 0;
  border: 0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
a.btn:hover,
button.btn:hover {
  background: #2ddfbb;
}
/* Stamp Out Buttons */
a.stamp,
button.stamp {
  color: #85888e;
  background: transparent !important;
  -webkit-box-shadow: inset 0 0 1px 1px #85888e;
  box-shadow: inset 0 0 1px 1px #85888e;
}
a.stamp:hover,
button.stamp:hover {
  color: #FFF;
  -webkit-box-shadow: inset 0 0 1px 1px #FFF;
  box-shadow: inset 0 0 1px 1px #FFF;
}
/* Name */
/* ------------------------------------------------- */
h1.campaign-name {
  color: #6b6e75;
  font-size: 3.4em;
  margin-bottom: .2em;
}
h3.charity-name {
  color: #6b6e75;
  font-size: 1.3em;
  margin-bottom: 0;
}
span.approved {
  display: inline-block;
  color: #FFF;
  font-size: .6em;
  line-height: 16px;
  text-align: center;
  padding: .1em;
  margin-left: .6em;
  height: 16px;
  width: 16px;
  background: #1dbc9c;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* Progress Bar */
/* ------------------------------------------------- */
.form-progress {
  text-align: center;
}
.form-progress .totals {
  color: #6b6e75;
  font-size: 1.1em;
  font-weight: 400;
  padding: .3em 0;
}
.form-progress .totals span.total {
  color: #1dbc9c;
}
.form-progress-wrap {
  position: relative;
  text-align: center;
  height: 24px;
  width: 100%;
  background: #efeff0;
}
.form-progress-wrap .progress {
  height: 100%;
  max-width: 100%;
  background: #1dbc9c;
  -webkit-animation: animate-bar 1s 1 ease;
  animation: animate-bar 1s 1 ease;
}
/* Separators */
.separation {
  position: absolute;
  bottom: 0;
  height: 10px;
  overflow: hidden;
  width: 100%;
}
div.separation > div.separation-left,
div.separation > div.separation-right {
  position: absolute;
  width: 50%;
  height: 30px;
  top: 0;
  left: 0;
  background: #ffffff;
  margin-left: -12px;
}
div.separation > div.separation-right {
  left: 50%;
  margin-left: 12px;
}
div.separation > div.separation-left:after,
div.separation > div.separation-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: -90px;
  height: 0;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 60px solid #ffffff;
}
div.separation > div.separation-right:after {
  left: -90px;
}
/* Footer */
/* ------------------------------------------------- */
footer {
  text-align: center;
  padding-bottom: 2em;
}
footer h5 {
  color: #d4d5d8;
  font-size: .6em;
  margin-bottom: .1em;
}
footer a.logo:before {
  color: #d4d5d8;
  font-size: 2.4em;
}
footer a.logo:before:hover:before {
  color: #53555a;
}
footer a.logo:hover:before {
  color: #53555a;
}
/* Responsive */
/* ------------------------------------------------- */
@media only screen and (max-width: 480px) {
  h1.campaign-name {
    font-size: 2.4em;
  }
  h3.charity-name {
    font-size: 1em;
  }
  button.donate {
    width: 100%;
  }
}
/* Tip Jar Donation Form */
/* ------------------------------------------------- */
.tip-jar {
  text-align: center;
  padding: 6em 5% 2em;
}
.tip-jar form {
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
}
/* Donation Input */
.tip-jar .donation-amount input {
  padding: 1em 3.2em 1em 2em;
}
.tip-jar .donation-amount span {
  position: absolute;
  top: 1.25em;
  color: #53555a;
}
.tip-jar .donation-amount span.preamt {
  position: absolute;
  left: 1.2em;
}
.tip-jar .donation-amount span.currency {
  position: absolute;
  right: 1.2em;
}
/* Events Donation Form */
/* ------------------------------------------------- */
.events-form {
  text-align: center;
  padding: 6em 5% 2em;
}
.events-form form {
  margin: 0 auto;
  width: 100%;
  max-width: 680px;
}
/* Amount Selections */
.events-form #donation-amount {
  position: relative;
  margin: 2em auto 3em;
}
.events-form #donation-amount .fieldamount {
  position: relative;
  float: left;
  display: inline-block;
  text-align: center;
  margin: 0 .5%;
  width: 16%;
  width: -webkit-calc(15.66666667%);
  width: calc(15.66666667%);
  overflow: hidden;
  -webkit-transition: linear .1s;
  transition: linear .1s;
}
.events-form #donation-amount .fieldamount label {
  color: #6b6e75;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: -1px;
  margin: 0;
  width: 100%;
  background: #efeff0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
  cursor: pointer;
}
.events-form #donation-amount .fieldamount label:hover {
  background: #d4d5d8;
}
.events-form #donation-amount .fieldamount label.active {
  color: #FFF !important;
  background: #1dbc9c !important;
}
.events-form #donation-amount .fieldamount label.other {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0;
}
.events-form #donation-amount .fieldamount input[type="radio"] {
  position: absolute;
  left: -999px;
}
.events-form #donation-amount #other {
  position: absolute;
  top: 0;
  left: .5%;
  right: 17%;
  background: #FFF;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #d4d5d8;
  overflow: hidden;
}
.events-form #donation-amount #other a.closethis {
  position: absolute;
  top: 0;
  right: 32px;
  color: #d4d5d8;
  font-size: 1.4em;
  line-height: 100px;
  z-index: 100;
}
.events-form #donation-amount #other a.closethis:hover {
  color: #53555a;
}
.events-form #donation-amount #other span.dollar-sign {
  position: absolute;
  left: 6.5%;
  color: #53555a;
  z-index: 900;
  font-size: 2em;
  line-height: 100px;
}
.events-form #donation-amount #other .field {
  position: relative;
  margin: 0;
}
.events-form #donation-amount #other .field input {
  font-size: 2em;
  width: 100%;
  padding: .86em 10% !important;
  border: 0;
  text-indent: 6%;
}
/* Responsive Styles */
@media only screen and (max-width: 540px) {
  .events-form #donation-amount .fieldamount {
    margin: .12em .5%;
    width: 33%;
    width: -webkit-calc(32.33333333%);
    width: calc(32.33333333%);
  }
  .events-form #donation-amount #other {
    right: .5%;
  }
  .events-form #donation-amount #other .field input {
    text-indent: 18%;
    padding: .9em 10% !important;
  }
  .form-wrapper {
    padding: 0;
  }
}
/* Dark Styles (if opted) */
/* ------------------------------------------------- */
html.dark,
html.dark body {
  background: #222325;
}
/* Progress Bar */
html.dark .form-progress .totals {
  color: #53555a;
}
html.dark .form-progress-wrap {
  background: #3a3c40;
}
html.dark div.separation > div.separation-left,
html.dark div.separation > div.separation-right {
  background: #222325;
}
html.dark div.separation > div.separation-left:after,
html.dark div.separation > div.separation-right:after {
  border-bottom: 60px solid #222325;
}
/* General */
html.dark h1.campaign-name {
  color: #FFF;
}
/* Forms */
html.dark input,
html.dark textarea {
  color: #FFF;
  border: 0;
  background: #2e3032;
}
html.dark .events-form #donation-amount .fieldamount label {
  color: #85888e;
  background: #2e3032;
}
html.dark .events-form #donation-amount .fieldamount label:hover {
  background: #3a3c40;
}
html.dark .events-form #donation-amount #other {
  background: #2e3032;
  border: solid 1px #2e3032;
}
html.dark .events-form #donation-amount #other a.closethis {
  color: #6b6e75;
}
html.dark .events-form #donation-amount #other a.closethis:hover {
  color: #FFF;
}
html.dark .events-form #donation-amount #other span.dollar-sign {
  color: #6b6e75;
}
/* Footer */
html.dark h5 {
  color: #3a3c40;
}
html.dark footer a.logo:before {
  color: #3a3c40;
}
html.dark footer a.logo:hover:before {
  color: #FFF;
}
/* Animations */
/* ------------------------------------------------- */
/* Fade */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animate Progress Bars */
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}