.frontend-right-widget{
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
}
.pullr-table{
    display: table;
    width: 100%;
}

.pullr-table-row{
    display: table-row;
}

.pullr-table-row > div{
    display: table-cell;
    float: none;
}

.plan-show-base{
    .plan-pro-advertisement{

    }
    .payment{
        display: none;
    }
    .plan-pro{
        display: none;
    }
}

.plan-show-payment{
    .plan-pro-advertisement{
        display: none;
    }

    .payment{
        select{
            color: #000;
        }
    }
    .plan-pro{
        display: none;
    }
}

.plan-show-pro{
    .plan-pro-advertisement{
        display: none;
    }
    .payment{
        display: none;
    }
    .plan-pro{
    }
}


.layout-edit{
    color: #000;
    h4{
        color: #fff;
    }
    #layout-channelname, #layout-channelteam, #layout-multichannels{
        display: none;
    }

    [data-layout-type=SingleStream] #layout-channelname{
        display: initial;
    }

    [data-layout-type=TeamStream] #layout-channelteam{
        display: initial;
    }

    [data-layout-type=MultiStream] #layout-multichannels{
        display: block;
    }
    #layout-multichannels{
        padding: 5px;
        div.label-danger{
            display: block;
            margin-bottom: 5px;
        }
        input{
            margin-left: 5px;
            /*margin-top: 10px;*/
            /*margin-bottom: 5px;*/
        }
        background-color: #ddd;
        ol{
            padding-left: 20px;
            list-style-type: none;
            li {
                padding-right: 20px;
                a{
                    float: right;
                }
            }
        }
    }
    
    #collapseTwo{
        .field-layout-chattoggle{
            display: none;
        }
    }
    
    #collapseTwo.chatOn{
        .field-layout-chattoggle{
                display: block;
        }
    }
}

