.account-plan{
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
}
.account-settings{
    display: table;
    width: 100%;
}
.account-settings-row{
    display: table-row;
}

.account-settings-row > div{
    display: table-cell;
    float: none;
}

.plan-show-base{
    .plan-pro-advertisement{
        
    }
    .payment{
        display: none;
    }
    .plan-pro{
        display: none;
    }
}

.plan-show-payment{
    .plan-pro-advertisement{
        display: none;
    }
    
    .payment{
        select{
            color: #000;
        }
    }
    .plan-pro{
        display: none;
    }
}

.plan-show-pro{
    .plan-pro-advertisement{
        display: none;
    }
    .payment{
        display: none;
    }
    .plan-pro{
    }
}