html,
body {
	height: 100%;
        background-color: #2C2D2F;
}

/* testing CSS */

.page-wrapper{
    position: relative;
    top: 50px;
    
}

.page-sidebar{
    padding-top: 50px;
    position: absolute;
    width:80px;
    background-color: #222;
    top: 0px;
    bottom: 0px;
    color: white;
    min-height: 800px;
}

.page-sidebar ul{
    padding-left: 15px;
    list-style-type: none;
}
.page-container{
    margin-left: 80px;
    color: white;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

.top-menu .smallPhoto{
    width: 20px;
    height: 20px;
}