/*
                 ____
    ____  __  __/ / /____
   / __ \/ / / / / / ___/
  / /_/ / /_/ / / / /
 / .___/\__,_/_/_/_/
/_/

App: Pullr
App Website: http://www.pullr.io

*/
/* Resets */
/* ------------------------------------------------- */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
  background: #222325;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #444;
  -webkit-animation: fadein 0.3s;
  animation: fadein 0.3s;
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
/* Misc */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  width: 100%;
}
a,
button {
  cursor: pointer;
}
input,
button,
select {
  margin: 0;
  outline: 0;
}
iframe {
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
}
/* Selection */
::-moz-selection {
  background: #1dbc9c;
  color: #FFF;
  text-shadow: none;
}
::selection {
  background: #1dbc9c;
  color: #FFF;
  text-shadow: none;
}
/* Placeholder */
::-webkit-input-placeholder {
  color: #6b6e75;
}
:-moz-placeholder {
  color: #6b6e75;
}
::-moz-placeholder {
  color: #6b6e75;
}
:-ms-input-placeholder {
  color: #6b6e75;
}
/* Colors */
/* ------------------------------------------------- */
/* Primary accent */
/* Primary accent hover state */
/* Gray Sets */
/* 5% gray background */
/* 8% gray background */
/* 10% gray background */
/* 12% gray background */
/* 20% gray background */
/* 30% gray background */
/* 40% gray background */
/* 50% gray background */
/* 60% gray background */
/* 70% gray background */
/* 80% gray background */
/* 90% gray background */
/* white background */
/* 2% darker than background */
/* Backgrounds */
/* ------------------------------------------------- */
/* Main Background */
/* background color */
.background {
  /* Default background set */
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
/* Transparent Backgrounds */
/* Faded light background */
/* Faded dark background */
/* Inputs */
/* Background for inputs */
/* Typography */
/* ------------------------------------------------- */
/* Roboto */
/* Small text  */
.smallcaps {
  /* Small text in all caps */
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* For lesser important text */
/* Links */
/* ------------------------------------------------- */
/* Link color for white on dark */
/* Hover state for white on dark */
/* Borders & Box shadows */
/* ------------------------------------------------- */
/* Arrows */
/* ------------------------------------------------- */
.arrow-up {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid;
}
.arrow-down {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid;
}
.arrow-left {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-right: 12px solid;
}
.arrow-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 12px solid;
}
/* Transitions/Animations */
/* ------------------------------------------------- */
/* General */
/* ------------------------------------------------- */
/* Default width */
/* Default width */
/* Width of the slideout sidebar */
/* Adding two sidebars next to each other */
/* Width of Streamboard sidebar */
/* Lists */
/* ------------------------------------------------- */
.ulist {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Icon fonts */
/* ------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-udazva');
  src: url('../fonts/icomoon.eot?#iefix-udazva') format('embedded-opentype'), url('../fonts/icomoon.woff?-udazva') format('woff'), url('../fonts/icomoon.ttf?-udazva') format('truetype'), url('../fonts/icomoon.svg?-udazva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon', 'proxima-nova', Helvetica, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pullr-support:before {
  content: "\e658";
}
.icon-pullr:before {
  content: "\e659";
}
.icon-twitch:before {
  content: "\e65a";
}
.icon-mail:before {
  content: "\e600";
}
.icon-pencil:before {
  content: "\e601";
}
.icon-user:before {
  content: "\e602";
}
.icon-users:before {
  content: "\e603";
}
.icon-user-add:before {
  content: "\e604";
}
.icon-heart:before {
  content: "\e605";
}
.icon-heart2:before {
  content: "\e606";
}
.icon-star:before {
  content: "\e607";
}
.icon-star2:before {
  content: "\e608";
}
.icon-comment:before {
  content: "\e609";
}
.icon-popup:before {
  content: "\e60a";
}
.icon-search:before {
  content: "\e60b";
}
.icon-bell:before {
  content: "\e60c";
}
.icon-link:before {
  content: "\e60d";
}
.icon-flag:before {
  content: "\e60e";
}
.icon-cog:before {
  content: "\e60f";
}
.icon-trophy:before {
  content: "\e610";
}
.icon-lifebuoy:before {
  content: "\e611";
}
.icon-eye:before {
  content: "\e612";
}
.icon-clock:before {
  content: "\e613";
}
.icon-calendar:before {
  content: "\e614";
}
.icon-gauge:before {
  content: "\e615";
}
.icon-rocket:before {
  content: "\e616";
}
.icon-brush:before {
  content: "\e617";
}
.icon-cone:before {
  content: "\e618";
}
.icon-browser:before {
  content: "\e619";
}
.icon-publish:before {
  content: "\e61a";
}
.icon-sun:before {
  content: "\e61b";
}
.icon-code:before {
  content: "\e61c";
}
.icon-screen:before {
  content: "\e61d";
}
.icon-creditcard:before {
  content: "\e61e";
}
.icon-database:before {
  content: "\e61f";
}
.icon-cart:before {
  content: "\e620";
}
.icon-uniE621:before {
  content: "\e621";
}
.icon-statistics:before {
  content: "\e622";
}
.icon-graph:before {
  content: "\e623";
}
.icon-lock:before {
  content: "\e624";
}
.icon-lock-open:before {
  content: "\e625";
}
.icon-checkmark:before {
  content: "\e626";
}
.icon-cross:before {
  content: "\e627";
}
.icon-minus:before {
  content: "\e628";
}
.icon-plus:before {
  content: "\e629";
}
.icon-cross2:before {
  content: "\e62a";
}
.icon-minus2:before {
  content: "\e62b";
}
.icon-plus2:before {
  content: "\e62c";
}
.icon-info:before {
  content: "\e62d";
}
.icon-help:before {
  content: "\e62e";
}
.icon-warning:before {
  content: "\e62f";
}
.icon-cycle:before {
  content: "\e630";
}
.icon-list:before {
  content: "\e631";
}
.icon-add-to-list:before {
  content: "\e632";
}
.icon-layout:before {
  content: "\e633";
}
.icon-list2:before {
  content: "\e634";
}
.icon-text:before {
  content: "\e635";
}
.icon-pictures:before {
  content: "\e636";
}
.icon-video:before {
  content: "\e637";
}
.icon-music:before {
  content: "\e638";
}
.icon-folder:before {
  content: "\e639";
}
.icon-archive:before {
  content: "\e63a";
}
.icon-trash:before {
  content: "\e63b";
}
.icon-install:before {
  content: "\e63c";
}
.icon-upload:before {
  content: "\e63d";
}
.icon-bookmark:before {
  content: "\e63e";
}
.icon-play:before {
  content: "\e63f";
}
.icon-pause:before {
  content: "\e640";
}
.icon-record:before {
  content: "\e641";
}
.icon-stop:before {
  content: "\e642";
}
.icon-volume:before {
  content: "\e643";
}
.icon-sound:before {
  content: "\e644";
}
.icon-arrow-left:before {
  content: "\e645";
}
.icon-arrow-down:before {
  content: "\e646";
}
.icon-arrow-up:before {
  content: "\e647";
}
.icon-arrow-right:before {
  content: "\e648";
}
.icon-arrow-left2:before {
  content: "\e649";
}
.icon-arrow-down2:before {
  content: "\e64a";
}
.icon-arrow-up2:before {
  content: "\e64b";
}
.icon-arrow-right2:before {
  content: "\e64c";
}
.icon-arrow-left3:before {
  content: "\e64d";
}
.icon-arrow-down3:before {
  content: "\e64e";
}
.icon-arrow-up3:before {
  content: "\e64f";
}
.icon-arrow-right3:before {
  content: "\e650";
}
.icon-arrow-left4:before {
  content: "\e651";
}
.icon-arrow-down4:before {
  content: "\e652";
}
.icon-arrow-up4:before {
  content: "\e653";
}
.icon-arrow-right4:before {
  content: "\e654";
}
.icon-twitter:before {
  content: "\e655";
}
.icon-facebook:before {
  content: "\e656";
}
.icon-paypal:before {
  content: "\e657";
}
/* Headings */
/* ------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  color: #FFF;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
h1 {
  color: #FFF;
  font-size: 3.6em;
  font-weight: 100;
  letter-spacing: -1px;
  line-height: 1em;
  margin-bottom: .1em;
}
h2 {
  font-size: 2em;
  font-weight: 300;
}
h3 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 1.2em;
}
h4 {
  color: #85888e;
  font-size: 1.1em;
  font-weight: 400;
}
h5 {
  color: #53555a;
  /* Small text in all caps */
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .6em;
}
p {
  color: #85888e;
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}
p.info {
  font-size: 0.8em;
}
a,
a:before {
  color: #1dbc9c;
  text-decoration: none;
  -webkit-transition: linear 0.08s;
  transition: linear 0.08s;
}
a:hover,
a:before:hover {
  color: #2ddfbb;
}
a:hover,
a:focus,
a:active,
input,
input:focus,
button,
button:active {
  outline: 0;
}
a:hover:before {
  color: #2ddfbb;
}
/* Forms */
/* ------------------------------------------------- */
/* General */
input {
  color: #FFF;
  font-size: .9em;
  font-weight: 500;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
}
label {
  display: inline-block;
  color: #53555a;
  /* Small text in all caps */
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .4em;
}
select {
  position: relative;
  color: #FFF;
  font-size: 0.9em;
  padding-right: 2em;
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  z-index: 1;
  cursor: pointer;
}
/* Form Containers */
.field {
  position: relative;
  display: inline-block;
  margin-bottom: 1.2em;
  min-width: 160px;
  overflow: hidden;
}
.field a.stamp {
  display: block;
}
/* Text Inputs and Select */
.field-input {
  padding: .8em 1em;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #3a3c40;
}
.field-input:before {
  position: absolute;
  top: 50%;
  right: 1em;
  color: #6b6e75;
  margin-top: -6px;
  z-index: 0;
}
/* Buttons */
.field-cta {
  display: inline-block;
  padding: 1em 0;
  margin-top: 1em;
  width: 100%;
  border-top: solid 1px #3a3c40;
}
/* Option Buttons */
.field a.option-btn {
  display: block;
}
/* Add Input */
.field-add {
  padding-right: 3.6em;
}
.field-add button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 44px;
  padding: 0 .6em;
  border-radius: 0;
}
/* Switch Buttons */
/* Buttons/Submits */
/* ------------------------------------------------- */
/* General */
button,
input[type="submit"] {
  color: #FFF;
  font-size: 1.2em;
  font-weight: 600;
  border: 0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #1dbc9c;
}
button:hover,
input[type="submit"]:hover {
  background: #2ddfbb;
}
/* Standard Action */
a.btn,
button.btn {
  display: inline-block;
  color: #FFF;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  padding: .8em 1.2em;
  background: #1dbc9c;
  outline: 0;
  border: 0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
a.btn:hover,
button.btn:hover {
  background: #2ddfbb;
}
/* Stamp Out Buttons */
a.stamp {
  color: #85888e;
  background: transparent !important;
  -webkit-box-shadow: inset 0 0 1px 1px #85888e;
  box-shadow: inset 0 0 1px 1px #85888e;
}
a.stamp:hover {
  color: #FFF;
  -webkit-box-shadow: inset 0 0 1px 1px #FFF;
  box-shadow: inset 0 0 1px 1px #FFF;
}
/* Main Components */
/* ------------------------------------------------- */
.freeze {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  position: relative;
  padding: 180px 5% 4em 5%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.container.clip {
  margin-left: 240px;
}
.container.open {
  opacity: .3;
  margin-left: -50% !important;
  margin-right: 50% !important;
}
.container.open.expand {
  margin-left: -100% !important;
  margin-right: 100% !important;
}
.content {
  padding-bottom: 2em;
}
.content h5 {
  color: #efeff0;
  padding-bottom: .8em;
  border-bottom: solid 1px #2e3032;
}
/* Right Sidebar */
.sidepanel {
  position: fixed;
  top: 0;
  right: -50%;
  padding-top: 120px;
  width: 50%;
  height: 100%;
  max-height: 100%;
  z-index: 900;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.sidepanel .field {
  width: 100%;
}
/* Main Add/Edit Panel */
#sidepanel {
  background: #2e3032;
}
#sidepanel.open {
  right: 0;
}
#sidepanel.open.expand {
  right: 50%;
}
#sidepanel .sidepanel-head {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  background: #3a3c40;
  z-index: 900;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#sidepanel.open .sidepanel-head {
  right: 0;
}
#sidepanel.open.expand .sidepanel-head {
  width: 100%;
}
#sidepanel.open .sidepanel-head.scroll {
  -webkit-box-shadow: 0 0 10px rgba(34, 35, 37, 0.5);
  box-shadow: 0 0 10px rgba(34, 35, 37, 0.5);
}
#sidepanel h4.section-header {
  color: #FFF;
  font-size: 1em;
  font-weight: 600;
  line-height: 69px;
  text-transform: uppercase;
  padding: 0 4em 0 1.8em;
  margin-bottom: 0;
  background: #1dbc9c;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
/* Extra Content Side Panel */
#sidepaneltwo {
  top: 69px;
  padding-top: 0;
  background: #222325;
  z-index: 1000;
}
#sidepaneltwo.expand {
  right: 0;
}
#sidepaneltwo.hide {
  right: -50%;
}
/* Modules */
/* ------------------------------------------------- */
.module {
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: solid 1px #1d1e20;
}
.module h3 {
  float: left;
  display: inline-block;
  line-height: 1.5em;
  margin: 0 1em 2em 0;
}
/* Tabs */
/* ------------------------------------------------- */
/* Main Tab Styles */
.tabs ul.nav-tabs {
  display: inline-block;
  text-align: center;
  margin-bottom: 2.4em;
  border: solid 1px #1d1e20;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.tabs ul.nav-tabs li {
  float: left;
  border-right: solid 1px #1d1e20;
}
.tabs ul.nav-tabs li:last-child {
  border: 0;
}
.tabs ul.nav-tabs li a {
  display: inline-block;
  color: #53555a;
  font-weight: 500;
  text-align: center;
  padding: .6em 1.2em;
  min-width: 60px;
}
.tabs ul.nav-tabs li a:hover {
  color: #6b6e75;
}
.tabs ul.nav-tabs li.active a {
  color: #FFF;
  position: relative;
}
.tabs ul.nav-tabs li.active a:before {
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  color: #53555a;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid;
}
/* Sidepanel Tab Menu */
.sidepanel ul.nav-tabs {
  height: 50px;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.sidepanel.expand ul.nav-tabs {
  width: 50%;
}
.sidepanel ul.nav-tabs li {
  position: relative;
  float: left;
  text-align: center;
}
.sidepanel ul.two-tabs li {
  width: 50%;
  width: -webkit-calc(50%);
  width: calc(50%);
}
.sidepanel ul.three-tabs li {
  width: 33.33%;
  width: -webkit-calc(33.33333333%);
  width: calc(33.33333333%);
}
.sidepanel ul.four-tabs li {
  width: 25%;
  width: -webkit-calc(25%);
  width: calc(25%);
}
.sidepanel ul.nav-tabs li a {
  display: inline-block;
  color: #d4d5d8;
  font-size: 1.2em;
  font-weight: 500;
  padding: .8em 1.2em;
  width: 100%;
  background: #3a3c40;
}
.sidepanel ul.nav-tabs li a:hover {
  background: #3f4145;
}
.sidepanel ul.nav-tabs li a:before {
  display: block;
  color: #FFF;
  line-height: 1;
}
.sidepanel ul.nav-tabs li.active a {
  background: #3f4145;
}
/* Tab Containers */
.tabs {
  text-align: center;
}
.tab-content {
  overflow: auto;
  height: 100%;
}
.sidepanel .tab-content {
  padding: 2.4em 2em;
}
#sidepaneltwo .tab-content {
  padding: 50px 2em 2.4em;
}
#sidepanel.open.expand .tab-content {
  overflow: hidden;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .tab-pane.active {
  display: block;
}
/* Grid */
/* ------------------------------------------------- */
.col {
  float: left;
}
.col20 {
  width: 20%;
}
.col30 {
  width: 30%;
}
.col40 {
  width: 40%;
}
.col50 {
  width: 50%;
}
.col60 {
  width: 60%;
}
.col70 {
  width: 70%;
}
.col80 {
  width: 80%;
}
/* Statsboard */
/* ------------------------------------------------- */
a.dashboard.show:before {
  color: #FFF !important;
}
.statsboard {
  height: 0;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.statsboard .container {
  padding: 100px 2em 30px;
}
.statsboard.show {
  background: #1d1e20;
  height: 400px;
  width: 100%;
}
.statsboard .widget {
  text-align: center;
  float: left;
  padding: 0 2em;
  width: 33.33%;
  width: -webkit-calc(33.33333333%);
  width: calc(33.33333333%);
}
.statsboard .widget span.icon {
  display: inline-block;
  color: #2e3032;
  font-size: 1.4em;
  padding: 0 5%;
  background: #1d1e20;
}
.statsboard .widget hr {
  margin: -0.6em 0 1.6em;
  height: 1px;
  background: #222325;
  border: 0;
}
/* Overview */
/* Twitch Love */
/* Activity Feed */
.activity-feed ul li {
  color: #FFF;
  font-size: 0.9em;
  text-align: left;
  padding: .2em 0;
  border-bottom: solid 1px #222325;
}
/* Side Panel */
/* ------------------------------------------------- */
.sidepanel {
  right: 0;
  padding-top: 54px;
  width: 280px;
}

#sidepanel .sidepanel-head {
  position: absolute;
  right: 0;
  width: 100%;
}
/* Slidepanel */
/* ------------------------------------------------- */
.slidepanel {
  position: fixed;
  bottom: -400px;
  right: 0;
  width: 280px;
  height: 400px;
  background: #3a3c40;
  z-index: 1000;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.slidepanel.selected {
  bottom: 0;
}
.slidepanel a.close {
  display: block;
  float: right;
  text-align: center;
  padding: 1em;
  margin-bottom: 2em;
}
.slidepanel a.close:before {
  color: #FFF;
}
/* Tabs */
/* ------------------------------------------------- */
ul.bottom-panel-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 280px;
  background: #3a3c40;
  z-index: 9999;
}
ul.bottom-panel-nav li {
  float: left;
  text-align: center;
}
ul.bottom-panel-nav li a {
  display: inline-block;
  color: #FFF;
  font-size: 0.9em;
  padding: .6em 0;
  width: 100%;
}
ul.bottom-panel-nav li a:hover {
  background: #3f4145;
}
ul.bottom-panel-nav li a.selected {
  background: #3f4145;
}
/* Animations */
/* ------------------------------------------------- */
/* Fade */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animate Progress Bars */
@-webkit-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@-ms-keyframes animate-bar {
  0% {
    width: 0%;
  }
}
@keyframes animate-bar {
  0% {
    width: 0%;
  }
}

.sidepanel ul.nav-tabs {

margin-top: 0px;
}

.campaigns_list_panel input[type=checkbox] {
  width: 18px;
}

.campaigns_list {
  float: left;
  margin: 20px;
}
