/* Base */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/variables.less";
@import "../../../../global/themes/css/less/light/light.less";

/* Type */
/* ------------------------------------------------- */
@import "type.less";

body {
	.secondary();
	background-color: @gray75;
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Buttons */
.btn {

	&:hover {
		opacity: .9;
	}
}

/* Header */
header {
	position: relative;

	.container {
		padding: 0 @gutter;
	}
}

/* Main Stats */
.stats {
	position: relative;
	min-height: 160px;
	overflow: hidden;

	/* Campaign Info */
	.campaign-info {
		text-align: center;
		padding: 4.8em 5% 3em;

		h4 {
			margin-bottom: .6em;
		}
	}

	/* Numbers */
	.numbers {
		position: relative;
		padding: 3em 0;
		background: @bglightblackfade;
		&:before {
			.arrow-up;
			top: -10px;
			left: 50%;
			margin-left: -10px;
			border-color: transparent transparent @bglightblackfade transparent;
		}
	}

	/* Progress Bar */
	.project-progress {
		position: absolute;
		top: 0;
		height: 4px;
		width: 100%;
		background: @bglightblackfade;
		z-index: 1;
		
		.project-progressbar {
			height: 100%;
			width: 0;
			-webkit-transition: width 0.7s ease-in-out;
			transition: width 0.7s ease-in-out;
		}
	}	
}

/* Campaign Info & Actions */
.info {
	padding: 3.8em 0 1em;
	width: 100%;

	h5 {
		margin-bottom: .4em;
	}

	/* Donate Button */
	.donate-wrap {
		float: right;

		.btn {
			font-size: 1.4em;
		}
	}
}

/* Layout */
/* ------------------------------------------------- */
@import "../../../../global/themes/css/less/singlestream.less";
@import "layout.less";

.stream-wrap {
	#stream {
		background: @gray70;
		.element-radius;
	}
}

/* Multichannel */
.team-content {
	.team-wrap {
		background: @gray70;
	}
}


/* Footer */
footer {
	span.copy {
		font-size: @fineprint;
	}
}

/* Responsive */
/* ------------------------------------------------- */
@import "responsive.less";